[2020-05-18 20:39] ian-howell commented on #194
Closing as this is a duplicate of https://github.com/airshipit/airshipctl/issues/190

[2020-05-18 20:39] #194 closed

[2020-05-18 20:44] ian-howell commented on #77
@pramchan is this still valid? If so, could you please provide further details as to what still needs to be done?

[2020-05-18 20:46] ian-howell commented on #84
@demonCoder95 have you made any progress on this issue?

[2020-05-18 20:52] ian-howell commented on #158
This is blocked by https://github.com/airshipit/airshipctl/issues/163

[2020-05-18 20:54] ian-howell commented on #185
blocked by https://github.com/airshipit/airshipctl/issues/177

[2020-05-18 20:54] ian-howell commented on #184
blocked by #177

[2020-05-18 20:55] ian-howell commented on #183
blocked by #177

[2020-05-18 20:55] ian-howell commented on #182
blocked by #177

[2020-05-18 20:55] ian-howell commented on #181
blocked by #177

[2020-05-18 21:03] ian-howell commented on #163
[PS](https://review.opendev.org/#/c/720280/)

[2020-05-18 21:37] kozhukalov commented on #218
I am trying to summarize all the refactoring work here  https://etherpad.opendev.org/p/Airship_Config

[2020-05-18 22:45] kozhukalov opened #246 "Implement baremetal isogen as phase."
**Problem description (if applicable)**
Phase mechanism looks the right way to implement all the actions since it is the place where sane defaults are provided and there is clear way to customize defaults.

At the moment phase apply uses k8s client to make things done, but it is possible to use local/docker/etc. clients/actors to perform actions like building iso image.

**Proposed change**
This f

[2020-05-18 22:48] kozhukalov commented on #246
Please assign this to me

[2020-05-19 02:50] sirajyasin commented on #128
All the above mentioned issues are fixed in this commit.
https://review.opendev.org/#/c/720301/

A separate help command to get help on any given command/subcommand is also available now.
So this issue can be marked closed

[2020-05-19 02:53] sirajyasin commented on #21
Now that we have option to import config and separate commands to configure/override individual sections of the config, the need for interactive mode is not a desired solution. so we can close this issue and abandon the respective PS.

[2020-05-19 03:48] demonCoder95 commented on #84
Yes, there's been a lot of progress.

The metal3-docs spec PR #63 that is referenced was merged a couple or so weeks ago. Also, the development work on RAID configuration is going well, and should have some functionality very soon.
 I've started working on implementation of BIOS configuration as well, after the spec was merged.

[2020-05-19 03:50] demonCoder95 commented on #84
We're waiting for the RAID spec to be merged, then this issue can be closed. I'll open another issue that tracks AIR-91, which is the implementation of RAID and BIOS.

[2020-05-19 06:39] raliev12 commented on #243
You can assign this to me

[2020-05-19 13:44] ian-howell commented on #242
@sb464f could you add code formatting to your post? None of the indentation came through, which is pretty important for reading YAML.

At a glance, it appears that your config file is using a deprecated structure. The `remoteDirect` field was modifed in https://review.opendev.org/#/c/720304

It seems there's still testdata and templates lingering in the repo which also have this deprecated structu

[2020-05-19 13:59] vladiskuz commented on #244
@sb464f It's so difficult to read yaml file without formatting

[2020-05-19 14:34] drewwalters96 commented on #244
Confirmed bug. I will take this one. Thanks for reporting, @sb464f !

[2020-05-19 14:35] drewwalters96 commented on #236
Pausing on this one, as the direction may change if we choose to use another library for wait functionality. Additionally, this is low priority. This issue is open again for a future developer when the time is right to implement it.

[2020-05-19 14:37] noskovao commented on #241
https://review.opendev.org/729289

[2020-05-19 14:44] drewwalters96 commented on #243
Thanks @raliev12. Assigned

[2020-05-19 16:17] teoyaomiqui commented on #243
@drewwalters96 , @raliev12 we have decisded to keep render, and it is different from what we are doing in with phase apply. Closing this issue

[2020-05-19 16:18] #243 closed

[2020-05-19 16:51] ak3216 opened #247 "Move render subcommand from airshipctl document to airshipctl phase"
**Problem description (if applicable)**
With the current design approach, the render sub-command is being implemented in `airshipctl phase`. This issue is to ensure that the render sub-command is removed from `airshipctl document`.

**Potential impacts**
Ensures that deprecated code is removed from the `document` command and moved to the `phase` command.

[2020-05-19 16:57] raliev12 commented on #247
I'd like to pickup this one.

[2020-05-19 18:49] slfletch commented on #229
Can someone assign this issue to me.

[2020-05-19 23:45] #244 closed

[2020-05-20 03:31] #148 closed

[2020-05-20 04:41] #214 closed

[2020-05-20 13:18] sreejithpunnapuzha commented on #229
@slfletch all yours..

[2020-05-20 14:04] drewwalters96 commented on #118
This was done in e34edc0ce21a3f69c507e0111f1d3934bd062c13

[2020-05-20 14:04] #118 closed

[2020-05-20 14:14] dukov commented on #247
https://review.opendev.org/#/c/698658/

[2020-05-20 14:19] lb4368 commented on #216
I agree.  This can be closed as invalid

[2020-05-20 14:31] alanmeadows commented on #241
Can someone explain why we need cloud-init from the unstable repository in the first place? Can someone articulate why  cloud-init from the stable repository work for our needs?

[2020-05-20 14:33] jezogwza commented on #237
Waiting for WWT or Foundry lab to host this.

[2020-05-20 14:36] teoyaomiqui commented on #241
@alanmeadows it has 18 version, which fails to consume openstack style network data. So we used 20.1 which works. Right now @noskovao is working on looking into all possible solutions, including getting version 18 from stable to work

[2020-05-20 14:42] jezogwza commented on #231
Merged already

[2020-05-20 14:42] #231 closed

[2020-05-20 14:46] #213 closed

[2020-05-20 14:48] #216 closed

[2020-05-20 14:57] jezogwza commented on #219
Will create a new repo named TBD. Will be discussed in the IRC meeting.

[2020-05-20 15:15] intlabs commented on #241
this simplest here would be to base the image off testing aka bullseye - which is what ubuntu 18.04 is a snapshot of - and contains v20.1 of cloud-init.

[2020-05-20 15:52] r-schroder commented on #205
Can someone assign this issue to me?

[2020-05-20 16:17] sreejithpunnapuzha commented on #205
@r-schroder all yours...

[2020-05-20 18:28] vetbijaya commented on #19
Can you please assign this issue to me?

[2020-05-21 15:56] sirajyasin commented on #222
Sreejith can you please assign this to me. I will start looking into it while you are completing the bash scripts.

[2020-05-21 17:49] #58 closed

[2020-05-27 13:11] ak3216 opened #248 "Integrate ImageBuilder into airshipctl"
**Problem description (if applicable)**
To provide a declarative interface for building images, integrate the ImageBuilder patchset with isogen.yaml to support airshpctl image generation.

**Proposed change**
Patchset https://review.opendev.org/#/c/730777 has been created to provide the ImageBuilder command set. It's currently supporting ubuntu based airship hosts.

[2020-05-27 13:18] ak3216 opened #249 "Define Manifest representation of Image intentions"
**Proposed Change**
To support #248 Image Builder integration, need to define manifests that declare image intentions. This would include variables like partition layouts, package repositories, file systems, k8s version, etc.

**Potential impacts**
This will move the declarations from configuration to manifests.

**Acceptance Criteria**
At a minimum, the following parameters should be supported at

[2020-05-27 13:24] lb4368 opened #250 "Multi Distro support for Image Builder"
**Problem description**
Image builder currently only supports Ubuntu

**Proposed change**
Build on issues #248 and #249 to provide support for additional image distributions (e.g. Red Hat).  Identify a new distro and path to configure image builder for it.

[2020-05-27 13:31] lb4368 opened #251 "Refactor baremetal isogen to airshipctl image build"
**Problem description (if applicable)**
Current airshipctl baremetal isogen command is too specific to baremetal ISO.  Need a more generic image builder command.

**Proposed change**
With the integration of Image Builder issue #248 , refactor airshipctl baremetal isogen command to airshipctl image build (or something else).

[2020-05-27 13:51] #97 closed

[2020-05-27 13:51] #95 closed

[2020-05-27 13:51] #94 closed

[2020-05-27 13:52] #93 closed

[2020-05-27 13:54] jezogwza opened #252 "Identify Dual Stack IPV6 information for infrastructure and gating needs upstream"
In order to support dual stack

- We need to identify the ipv6 configuration we  need for the gating
- We also need to verify if Dual Stack is supported on the NodePools VM's.

[2020-05-27 14:15] sirajyasin commented on #251
I can work on this issue if no one has started yet.

[2020-05-27 14:17] sreejithpunnapuzha commented on #251
@sirajyasin all yours..

[2020-05-27 18:48] abailey011 commented on #135
I think this can be closed.  After discussing with Sai, it seems this wasn't a bug.  Metal3 was waiting for coredns to remove that taint so the node is ready to be scheduled.

[2020-05-27 19:14] abailey011 commented on #163
Additional patchset [here. ](https://review.opendev.org/#/c/726423/) Can this issue please be assigned to Pavel since he's working it?

[2020-05-27 19:52] ian-howell opened #253 "Add `go lint` as a non-voting gate."
**Problem description**
Issue #58 proposed adding `go lint` to the linting toolchain. As @sirajyasin noted in https://review.opendev.org/#/c/729645, the implementation of `go lint` included in `golangci-lint` has some slight variations on linting requirements. This causes various warnings from `go lint` to be suppressed (mostly missing documentation). While not required, it would be useful to be n

[2020-05-27 20:18] abailey011 commented on #219
This was discussed in the IRC meeting on 5/26/2020.  There was no concern with creation of this new project.  @mattmceuen will take ownership of this.

[2020-05-27 20:25] abailey011 commented on #30
Can this please be assigned to @jgu17

[2020-05-27 20:38] drewwalters96 commented on #198
Adding blocked label until we have treasuremap docs

[2020-05-27 20:43] drewwalters96 commented on #31
Since this is a duplicate, closing.

[2020-05-27 20:43] #31 closed

[2020-05-27 20:49] mattmceuen commented on #219
Project creation request:  https://review.opendev.org/#/c/731236/

After that goes through, I'll make an initial commit to set up the project, add the core team, and it'll be open for business.

[2020-05-27 20:53] drewwalters96 commented on #77
This issue has become stale. I am adding the stale label and adding it to the etherpad for the next flight plan call. This issue appears to be important, but the details are not clear.

[2020-05-27 20:56] drewwalters96 commented on #64
Any updates on this? This is not really an airshipctl issue and should probably be tracking in the metal3-io repo.

[2020-05-27 21:12] #247 closed

[2020-05-28 10:08] kozhukalov opened #254 "Move bootstrapInfo from config to manifests"
**Problem description (if applicable)**
This is a part of config refactoring activity (moving most config parameters to manifests) and "everything is a phase" activity.

**Proposed change**
Get rid of boostrapInfo section in the airshipctl config file and move this section to manifests.

**Potential impacts**
Potential security or performance related impacts.

[2020-05-28 14:38] drewwalters96 commented on #98
This was superceded by #177. Closing unless we need this.

[2020-05-28 14:38] #98 closed

[2020-05-28 14:39] drewwalters96 commented on #135
Thanks @abailey011. Closing.

[2020-05-28 14:39] #135 closed

[2020-05-28 14:49] drewwalters96 commented on #252
Our Zuul workers support [IPv6](https://zuul.opendev.org/t/openstack/build/1d8356cecb1f48ee9e54ffaad0df9c7e/log/zuul-info/host-info.primary.yaml#324) and IPv4.

Do we need to document this information anywhere?

[2020-05-28 16:44] seaneagan commented on #177
This depends on having a basic target cluster deployment in place first:  #221

[2020-06-01 15:36] #239 closed

[2020-06-01 16:53] #253 closed

[2020-06-01 21:12] #35 closed

[2020-06-03 15:20] ak3216 opened #255 "Config Refactor: Config Manifest Updates"
**Proposed change**
To support the config refactor effort, update the config manifest for the following:
- Remove the SubPath entry
- Add a metadata path entry to point to the generic metadata info

With these changes, enusre commands like `config init` reflect the manifest changes (i.e. remove SubPath, add metadata path).

[2020-06-03 15:31] ak3216 opened #256 "Config Refactor: document init redesign to support phases"
**Proposed change**
As part of the phase implementation design changes, there needs to be a redesign of the `document init` command to support initializing a document set for a phase.

One item to consider is retaining any existing phase documents when `document init phasex` is run.

Another consideration would be support for generating phase documents for an individual phase, multiple phases or a

[2020-06-03 15:55] ak3216 opened #257 "Config Refactor: airshipctl phase error when phase document not found"
**Proposed change**
When the `airshipctl phase` command is run & no phase document is found, the default behavior should be to issue an error and recommend the user run `document init` for the phase in question.

Reference #256 for design changes needed to support `document init phase`

[2020-06-03 16:00] michael-beaver commented on #66
Sorry it has been a while since I was assigned this, had a bunch of other stuff come up and just recently was able to circle back to this, threw up a change for this here: https://review.opendev.org/#/c/733190/

[2020-06-03 16:03] ak3216 opened #258 "Config Refactor: PhasePlan management for GF/BF scenarios"
**Proposed change**
There needs to be a method for managing phase plan documents as it relates to greenfield vs. brownfield deployments.

One approach would be to have different phase plan documents for each deployment type. Another approach would be to just manage what's applicable for GF vs. BF vs. both within a single phase plan document via a deployment-type indicator.

[2020-06-03 16:15] ak3216 opened #259 "Config Refactor: Define Executor Options Config Files"
**Proposed change**
The phase executors (e.g. clusterctl-init, kubernetes-apply, clusterctl-move, etc.) will have their options defined within executor option config files.

Need to define the structure of these files as well as the location of where the files will be located as well.

https://go.gliffy.com/go/publish/13297704 provides a diagram view of the executor/phase framework.

[2020-06-03 18:53] lb4368 opened #260 "Config Refactor: Define Phase Document"
Design a "phase" manifest document that will describe attributes about a phase that can be used by airshipctl to know how to apply it.  Attributes should include the phase name, reference to the phase documents, and a reference to the configured executor that will be run to apply the phase.

Example:
    kind: phase
    entryPoint: ephemeral/initinfra
    name: initinfra-ephemeral
    executorName

[2020-06-03 18:54] lb4368 opened #261 "Config Refactor: Define Phase Plan Document"
Proposed change
Design a "phase plan" manifest document which can reference a list of phase documents (#260) to indicate phase apply sequence for deployment type(s).  Eventually, this phase plan can be used to view phase sequence or run a sequence of phases at once.

[2020-06-03 19:13] lb4368 opened #262 "Config Refactor: airshipctl phase plan Command"
**Proposed change**
Implement an _airshipctl phase plan_ command which will reference the current phase plan document (#261) to display the phase sequence information.

[2020-06-03 19:54] lb4368 opened #263 "Config Refactor: Design Metadata File Format"
**Proposed change**
Design generic metadata file format to be referenced by airship config (#255) for metadata information about the manifests.

See https://go.gliffy.com/go/publish/13297704.

Would this contain a reference to a phase plan (#261)

[2020-06-03 20:27] lb4368 opened #264 "Config Refactor: Move kubeconfig to Document Set"
**Proposed change**
As part of the airship config refactoring, update airshipctl so that kubeconfig files are no longer specified in the airship config and are instead included in the manifest document set and use kustomize to include the cluster and user information.

There are still some gaps related to how secure artifacts are handled that will be addressed with later design.

[2020-06-03 20:43] lb4368 opened #265 "Config Refactor: Refactor airshipctl config to remove clusters, users"
**Proposed change**
The refactored airshipctl config no longer will specify clusters or users.  Remove clusters and users from the config.

[2020-06-03 20:49] lb4368 opened #266 "Config Refactor: Design for airshipctl config import"
**Problem description**
Since kubeconfig will now be included as part of document set (#264 & #265), there is a need to determine impacts to **airshipctl config import** command.

[2020-06-04 08:25] vladiskuz commented on #264
I started working on it. Can someone assign this issue to me?

[2020-06-05 15:48] alanmeadows commented on #219
Closing this as the repo now exists.

[2020-06-05 15:48] #219 closed

[2020-06-05 17:04] sirajyasin opened #267 "`airshipctl config set-cluster` unable to set certificate-authority"
**Describe the bug**
Unable to set certificate-authority using airshipctl config set-cluster option.
With the current default value for insecure-skip-tls-verify being true and a validation that prevents "certificate-authority" and "insecure-skip-tls-verify" not to be passed at the same time, we can never set certificate-authority.

Also the help document has invalid flags "--client-certificate" in

[2020-06-05 20:09] sb464f opened #268 "Implement airshipctl cluster update to perform update actions on capi components."
Airshipctl cluster init deploys capi components, where as there is no mechanism to update the capi components with new document set. as doing cluster init will result in error saying capi is already present in env.

`
"2020/06/03 21:50:37 Setting up airshipctl provider Components client", "Provider type: InfrastructureProvider, name: metal3", "2020/06/03 21:50:37 Getting airshipctl provider compon

[2020-06-08 14:07] vamsisavaram commented on #228
1. Should we have both the existing gating tests using one node
and new multi-node gating tests running in parallel?
  - Should I re-use the site "test-site"?
  - Or should I create a new one called test-multinode-site?

2. General questions
  - How many target VMs should I create?
  - Should I deploy ephemeral VM into the target cluster in the end?
  - How to decide how many VMs end up on each no

[2020-06-08 15:04] seaneagan commented on #259
Should be consistent between command line names and document names, for example:

1. `airshipctl phase run` / `PhaseRunner`
2. `airshipctl phase execute` / `PhaseExecutor`

Personally I like 1.

[2020-06-08 15:28] dukov opened #269 "Move clisterctl api definitions to global api module"
**Problem description (if applicable)**
Currently all Go structs for clusterctl client defined under pkg/clusterctl/api/v1alpha1/ directory.
Airshipctl is going to introduce a number of custom resources (e.g Phase, PhasePlan e.t.c). It seems like reasonable place for all such resources is pkg/api/v1alpha1 directory

**Proposed change**
Move pkg/clusterctl/api/v1alpha1/ to pkg/api/v1alpha1/

**Pote

[2020-06-08 22:03] #269 closed

[2020-06-08 23:16] realsystem commented on #230
@teoyaomiqui I have a few questions about the usage of this feature. I have done implementation and need to know how to wrap it.

Did you mean to have a new CLI option for extracting target kubeconfig? Or just an internal function in some airshipctl Go pkg to be used as part of the phase applying?

Are we going to create a target cluster in default namespace on the ephemeral cluster all the time?

[2020-06-09 01:20] realsystem commented on #230
Looks like I found an answer for the last question:
apiVersion: cluster.x-k8s.io/v1alpha3
kind: Cluster
metadata:
  name: capi-quickstart
  **namespace: default**
...

[2020-06-09 17:01] teoyaomiqui commented on #230
@realsystem I think we should definitely make it a package, as for command line, i think it may be a part of future phase concept expansion, but for now i'd say we make command for that. And later deprecate it in favor of phase executor.

[2020-06-11 05:46] dukov opened #270 "Document validation job does not consider that some CRDs may not be a part of phase"
**Describe the bug**
Some CRDs are delivered as a part of `airshipctl cluster init` command so airshipctl apply --dry-run will fail if init was not executed.

**Steps To Reproduce**
Reproduced in gating for control plane deployment phase https://review.opendev.org/#/c/714758/91

**Expected behavior**
Test should pass

[2020-06-11 15:46] #270 closed

[2020-06-11 16:05] gorshunovr commented on #188
Unless we would ever require to define different owner:group & octal unix file permissions for different files and directories, what we need is to ensure that current umask setting fits our (security) needs. Umask would allow us to control permissions for files and directories being created while airshipctl is being run. User:group would always be same as user:group of a user who runs airshipctl (

[2020-06-11 16:57] #221 closed

[2020-06-11 21:56] noskovao commented on #268
Could you please assign this issue to me, I'd like to work on this issue.

[2020-06-12 09:38] raliev12 opened #271 "Build gate task fails with multiple errors"
**Describe the bug**
Build gate task fails with the following errors:
`TASK [clone document model] ***************************************************************************************
fatal: [primary]: FAILED! => {"changed": true, "cmd": ["git", "clone", "-q", "https://review.opendev.org/airship/ai
rshipctl", "/tmp/airship/airshipctl"], "delta": "0:00:00.002804", "end": "2020-06-12 02:44:16.707

[2020-06-12 15:44] michael-beaver commented on #255
This can be done independently of #263 right? If so I can take this one, can someone assign it to me?

[2020-06-12 16:31] raliev12 commented on #257
I can pick up this one.

[2020-06-12 21:01] pramchan commented on #64
/close

[2020-06-12 22:18] drewwalters96 opened #272 "Make baremetal power commands Metal Kubed aware"
**Problem description (if applicable)**
If a user executes `airshipctl baremetal poweroff`, the node will be powered on by metal3. Airshipctl is unaware, and the desired power state is not reached.

**Proposed change**
Operators may desire to override Metal Kubed in order to force a baremetal host to a desired power state. If we determine that this is a valid use case, Airshipctl should be able to

[2020-06-14 18:25] ak3216 commented on #248
See https://github.com/airshipit/images/issues/1 for Image Builder itself.

[2020-06-15 10:16] #271 closed

[2020-06-15 13:54] ak3216 opened #273 "Create a build pipeline process for images with latest or master for version"
Some images are not providing the version number in their tag, just latest or master. Those without specific version numbers are overwriting the existing image so that image is no longer available. This can cause issues if rollback required because the older image is no longer there.

This feature would create a build pipeline process for "versionless" images to extract & assign a version number.

[2020-06-15 14:44] ak3216 opened #274 "Where does HostProfile Information live in Airship 2.0"
Need to flesh out the design of the host profile as it relates to various configuration parameters (grub, CPU & memory resource allocation, networking & local storage configuration, kubernetes node selector, etc.)

[2020-06-16 11:41] ak3216 commented on #274
There are several other RDM9 issues from Craig A that are likely dependent on this one

[2020-06-16 11:43] ak3216 opened #275 "Install TLS Certificate on DEX Provider URL"
Install a trusted CA-signed TLS certificate at the DEX provider service url to avoid security warnings in browser.

[2020-06-16 11:44] ak3216 commented on #275
Reference https://github.com/alanmeadows/rdm9/issues/104

[2020-06-16 16:17] ak3216 commented on #275
Per @intlabs there's a better approach underway so closing.

[2020-06-16 16:17] #275 closed

[2020-06-16 19:55] teoyaomiqui opened #276 "Extend testutil/k8sutil package with more generic FakeFactory object"
**Problem description (if applicable)**
k8sutil/factory helpers right now can handle only replication controller. When developing new modules that use factory, there is a need to handle various resources in kubernetes, configmaps, namespaces etc...

**Proposed change**
Develop more generic interface that would allow to inject handlers for each API call, as an inspiration for this came during integ

[2020-06-16 21:05] teoyaomiqui opened #277 "Move mock document file system to testutils"
**Problem description (if applicable)**
Right now mock file system is used only by kubectl package, however there is a need for other modules to use it as well

**Proposed change**
Move the [mock filesystem](https://github.com/airshipit/airshipctl/blob/master/pkg/k8s/kubectl/kubectl_test.go#L39-L59) to testutils pakage in root of the repository

[2020-06-16 21:09] teoyaomiqui commented on #277
relates to https://github.com/airshipit/airshipctl/issues/238

[2020-06-16 21:13] aschiefe opened #278 "General cli usability / more detail please"
**Problem description**
The general problem is knowing how to sit down and use a product with little to know prior knowledge and how does one who is new to this environment, or who has forgotten since the last time, sit down and go through the CLI with a guided helping hand so that they have all the information they need to shoot themselves in the foot with.

The general ask for this:
1.  When run

[2020-06-16 21:17] teoyaomiqui opened #279 "Add new constructor for document.Document interface from bytes"
**Problem description (if applicable)**
While implementing #238 issue, it is very convenient to be able to create a document object from bytes and them use it for writing out to disk

**Proposed change**
Implement constructor function in document package, that will enable this functionality

[2020-06-17 14:34] ak3216 opened #280 "Create airshipctl user guide documentation structure"
**Proposed change**
Create a file/directory structure to to support more detailed user guide command documentation. This structure would be referenced within the code and will enable the documentation to be automatically generated at merge time.

[2020-06-17 14:39] ak3216 opened #281 "Generate user guide command links"
**Proposed change**
Generate links within the command & sub-command go code which will point the user to the more detailed command user guide from --help

Dependent on #280

[2020-06-17 17:03] demonCoder95 commented on #157
I've started working on this stale issue, will be sending a patch soon.

[2020-06-18 14:43] #277 closed

[2020-06-18 14:43] #279 closed

[2020-06-18 15:24] sb1975 opened #282 "airshipctl to support the kernel updates and Operating system upgrade of machines"
**Problem description (if applicable)**
A description of the problem or background information that illustrates the need
for a new feature.

As an operator I would like airshipctl to support the two use cases of update and upgrade of the individual machines which are part of the cluster:

1. Update the kernel updates
2. Upgrade the operating system running on the baremetal machines on the cluster.

[2020-06-18 20:48] realsystem commented on #230
now it's really ready for review @teoyaomiqui

[2020-06-18 20:50] realsystem commented on #146
@drewwalters96 Would you, please, check the latest PS and provide your thoughts on that.

[2020-06-19 17:23] #223 closed

[2020-06-19 17:23] #224 closed

[2020-06-19 17:23] #225 closed

[2020-06-19 17:23] #226 closed

[2020-06-19 17:23] #227 closed

[2020-06-22 21:25] ak3216 commented on #21
Closing this out per the above comments & abandoned patch set.

[2020-06-22 21:25] #21 closed

[2020-06-22 21:32] lb4368 commented on #249
Per 6/22/2020 SIG-YAML call, the Phase Image Definition manifest needs to be designed to feed image builder.  Image definitions can be split as ephemeral or target.  See https://go.gliffy.com/go/publish/13315097.

[2020-06-23 13:43] ak3216 commented on #274
Additional requirements from the  6/23 design call. There was a question of whether or not RAID/BIOS should be part of the Host Profile (Raised by Noor Muhammad)
- The agreed upon direction is this is considered HostProfile type information & should leverage the host generator approach to inject the profile data into the host catalogue document.
-- Could the HostProfile be essentially thought out

[2020-06-23 14:11] sirajyasin commented on #251
The issue is fixed in this PS https://review.opendev.org/#/c/731597/ and the same is already merged. Not sure why the bot did not autoclose this issue.
This is can be marked closed.

[2020-06-23 14:13] sirajyasin commented on #222
PS https://review.opendev.org/#/c/734705/ is merged where two new zuul jobs which uses bash scripts are added. After observing the stability of the new zuul jobs which uses bash scripts, the old zuul jobs can be replaced with new jobs.

[2020-06-23 22:30] rkjain opened #283 "Airshipctl Cluster Move - Failing"
**Bug Description**
 Arishipctl clustectl move is failing to move resource definitions to target management cluster using docker as infrastructure provider.  @Arvinderpal

**Steps To Reproduce**
Create a kind cluster initialized  with CAPI and CAPD components. Deploy a target workload cluster, and intitailize it with CAPI and CAPD provider components. Finally, perform an airshipctl cluster move wi

[2020-06-23 22:43] Arvinderpal commented on #283
/assign

[2020-06-24 14:03] pramchan commented on #274
Metal uses hardware profile refer.
https://github.com/metal3-io/baremetal-operator/blob/master/pkg/hardware/profile.go

[2020-06-24 14:18] demonCoder95 commented on #274
@ak3216 Thank you for recording the summary here Andrew!

[2020-06-24 14:19] jezogwza commented on #265
However, do we need to define a process for managing users and contexts . Removing the ability of airshipctl config to manage clusters, users make sense since we moved the dat a to the kustomize managed kubeconfig for an individual cluster.
It does leave some questions about user and context management.

[2020-06-24 14:20] demonCoder95 commented on #177
@seaneagan Since #221 was closed a couple weeks ago, I think we can resume this work and remove the blocked label.

[2020-06-24 14:25] sirajyasin commented on #266
I can start looking into this issue. Please assign this to me.

[2020-06-24 14:45] jezogwza commented on #267
With the refactoring of the config file, cluster management from the airshipctl config module will be deprecated

[2020-06-24 14:45] #267 closed

[2020-06-24 14:46] jezogwza commented on #218
This sparked part of the reasoning behind refactoring kubeconfig aspects into the document set. There are plenty if issues to capture the work for the refactoring will close this one,.

[2020-06-24 14:46] #218 closed

[2020-06-24 17:29] intlabs commented on #183
This should be delivered by the Prometheus operator, which in turn is encapsulated in a helm chart ideally. Though I wonder if this is really an airshipctl issue?

[2020-06-24 18:40] sshiba opened #284 "Variable Substitution not working during execution of "airshipctl cluster init""
**Describe the bug**
The Azure `manifest/function/capz/<version>default/credentials.yaml` file includes four Azure subscription credential variables: `AZURE_SUBSCRIPTION_ID_B64`, `AZURE_TENANT_ID_B64`,` AZURE_CLIENT_ID_B64`, and `AZURE_CLIENT_SECRET_B64`. @KALYNOVSKYI, KOSTIANTYN

In the Cluster API, the values for these variables can be provided through environment variables or config file.
The i

[2020-06-25 06:40] jingvar opened #285 "Network Data should not depend on system naming of interfaces"
**Problem description (if applicable)**
We have hardcoded naming of interfaces.
manifests/site/test-site/shared/baremetalhost/node02/networkData
" ...
- id: enp0s3
  name: enp0s3"
...
"
This works for Debian, but some distributions may use different naming.
If we try to use real bare metal for gating tests, we must take care of the names for the environment.
My expectation is an user just have to

[2020-06-25 07:17] jingvar opened #286 "Update Kubernetes version"
**Problem description (if applicable)**

**Proposed change**
 manifests/function/ephemeral/secret.yaml

- curl -L https://github.com/flanksource/konfigadm/releases/download/v0.6.0-10-gcdaa775/konfigadm
Current konfigadm release is v0.7.3 , but there is binary for 0.6.0-10.

- kubectl --kubeconfig /etc/kubernetes/admin.conf apply -f https://docs.projectcalico.org/v3.15/manifests/calico.yaml

kubern

[2020-06-25 07:32] jingvar opened #287 "Optimize memory usage for gating"
**Problem description (if applicable)**
Some Linux distributions and Kubernetes versions use more RAM.

**Proposed change**
Add to manifests/function/ephemeral/secret.yaml

    - mkdir -p /mnt/vda/var/lib/kubelet/ /var/lib/kubelet/
    - mount --bind /mnt/vda/var/lib/kubelet/ /var/lib/kubelet/

A detailed description of the new, requested behavior.

**Potential impacts**
Potential security or perf

[2020-06-25 17:02] teoyaomiqui commented on #284
thank you for this issue. Currently this is not bug, we deliberately disabled variable substitution, so that our document set is one and only source of truth.

@jezogwza Has advised to discuss this on a design call, however recent design calls have dense discussion queue.
So it would be great if we can have this discussion here.
When implementing clusterctl integration, these variables greatly int

[2020-06-25 18:04] ak3216 commented on #16
@dukov with moving render to the phase command, should we close this issue out? Thanks

[2020-06-25 20:38] #203 closed

[2020-06-25 20:38] #207 closed

[2020-06-25 20:38] #208 closed

[2020-06-25 20:38] #209 closed

[2020-06-25 20:38] #210 closed

[2020-06-25 20:38] #211 closed

[2020-06-25 20:38] #212 closed

[2020-06-25 21:28] #262 closed

[2020-06-25 21:28] #260 closed

[2020-06-25 21:28] #261 closed

[2020-06-26 07:42] raliev12 commented on #278
@aschiefe  I can work on this one, you can assign it to me.

[2020-06-26 10:57] jingvar commented on #285
Please assign to me

[2020-06-26 14:14] muly commented on #40
@rezroo: question.. is there a patch set associated to this issue?

[2020-06-28 14:43] rezroo commented on #40
@muly - I haven't had time to work on it, and don't see the situation improving.

[2020-06-29 11:50] dukov commented on #16
Yes. Let's close it.

[2020-06-29 11:50] #16 closed

[2020-06-29 14:19] sirajyasin commented on #266
Looking at the way kubeconfig is getting into document, we might need to depreciate the config import command. But I will wait for the functionalities related to kubeconfig in document to be implemented and re-analyze the change required for config import.

[2020-06-29 15:24] #115 closed

[2020-06-29 21:15] #257 closed

[2020-07-01 03:20] teoyaomiqui commented on #284
@sshiba at one of the design calls, we have decided that in airshipctl, document model, manifests, will still continue to be source of truth for what is being delivered to the k8s cluster.

In the future, we will provide a special way of handling and encrypting secrets, so they can be safely stored in the document system in user provided place on a filesystem.

For now as a workaround, these crede

[2020-07-01 10:29] Ashughorla commented on #78
Hardware classification controller manifest PR raised.
Kindly review @mattmceuen
Link : https://review.opendev.org/#/c/738410/

[2020-07-01 14:14] jezogwza commented on #285
I believe this falls also under the umbrella of the Host Profile diffused into the document set. Either this MAC approach or been able to declarative define the names for interfaces for the machines as part of the declarative that the HostTemplate Generator uses,

[2020-07-01 16:05] sreejithpunnapuzha opened #288 "Enhance Gates to deploy target cluster"
Currently in airship gate, we are deploying ephemeral node and provisioning target node.

Enhance the target node to deploy metal3 and capi components.

[2020-07-01 21:48] ak3216 commented on #44
Should this issue be closed in lieu of #256?

[2020-07-02 12:14] ak3216 commented on #15
@dukov with the delivery of #247, can we go ahead and close this one out? Thanks.

[2020-07-02 14:41] dukov commented on #15
yes

[2020-07-02 14:41] #15 closed

[2020-07-03 04:22] demonCoder95 opened #289 "Update CONTRIBUTING.md for policy against too large Gerrit Patches"
**Problem description (if applicable)**
Currently, there's quite a bit of changes in Gerrit that are just TOO LARGE; 1000s of lines in dozens of files. All of these are providing too many components/features within a single change. This makes the review process extremely challenging, and also goes against the [opendev development guidelines](https://wiki.openstack.org/wiki/GitCommitMessages).

**P

[2020-07-03 04:22] demonCoder95 commented on #289
Assign his to me

[2020-07-06 13:24] Arvinderpal commented on #283
`airshipctl move` in its current state has some temporary code to support moving BMHs for metal3. There is upstream work in the metal3 community that will allow for `clusterctl move` to accomplish this directly. IMO, we should leverage that work.

For the time being, for other providers like CAPD, users should use `clusterctl move` directly.

[2020-07-06 17:29] ak3216 commented on #251
Closing per Siraj

[2020-07-06 17:29] #251 closed

[2020-07-06 17:47] drewwalters96 commented on #287
Closing as this has merged

[2020-07-06 17:47] #287 closed

[2020-07-06 17:47] drewwalters96 commented on #285
@jingvar assigned!

[2020-07-06 23:54] #289 closed

[2020-07-07 15:54] teoyaomiqui commented on #284
@sshiba I will add the requested functionality, and make it disabled by default, so you will be able to enable this specifically for capz provider.

[2020-07-07 19:09] mattmceuen commented on #186
Note: when this is implemented it shouldn't be in airshipctl, since it's not related to airshipctl functionality.  It should probably go in the openstack-helm umbrella (if we use an openstack-helm chart for it) or in treasuremap (if we use a stock, generic chart for it).

[2020-07-07 19:09] mattmceuen commented on #185
Note: when this is implemented it shouldn't be in airshipctl, since it's not related to airshipctl functionality.  It should probably go in the openstack-helm umbrella (if we use an openstack-helm chart for it) or in treasuremap (if we use a stock, generic chart for it).

[2020-07-07 19:09] mattmceuen commented on #184
Note: when this is implemented it shouldn't be in airshipctl, since it's not related to airshipctl functionality.  It should probably go in the openstack-helm umbrella (if we use an openstack-helm chart for it) or in treasuremap (if we use a stock, generic chart for it).

[2020-07-07 19:11] mattmceuen commented on #183
+1 to Pete's comment; when this is implemented it shouldn't be in airshipctl, since it's not related to airshipctl functionality.  It should probably go in the openstack-helm umbrella (if we use an openstack-helm chart for it) or in treasuremap (if we use a stock, generic chart for it).  Most likely the latter, since AFAIK there is no OSH helm chart for the Prometheus operator.

[2020-07-07 19:12] mattmceuen commented on #182
Note: when this is implemented it shouldn't be in airshipctl, since it's not related to airshipctl functionality.  It should probably go in the openstack-helm umbrella (if we use an openstack-helm chart for it) or in treasuremap (if we use a stock, generic chart for it).

[2020-07-07 19:13] mattmceuen commented on #181
Note: when this is implemented it shouldn't be in airshipctl, since it's not related to airshipctl functionality.  It should probably go in the openstack-helm umbrella (if we use an openstack-helm chart for it) or in treasuremap (if we use a stock, generic chart for it).  Most likely the latter, since AFAIK there is no OSH helm chart for the Prometheus operator.

[2020-07-08 16:26] realsystem opened #290 "airshipctl config use-context doesn't switch current context in kubeconfig"
**Describe the bug**
When I run "airshipctl config use-context <cluster_name>" the current context is not switched in kubeconfig. I need to run any other config command which is internally running the config reconcile function to update kubeconfig. The problem is in the use-context CLI command, it calls airconfig.PersistConfig() and updates only airship config file. kubeconfig should be updated re

[2020-07-09 01:28] demonCoder95 opened #291 "Host Generator hardware-profile for BMH Firmware Config"
**Problem description (if applicable)**
In order to generate the BMH documents with the required firmware (BIOS) settings, according to the metal3 specification [here](https://github.com/metal3-io/metal3-docs/blob/master/design/baremetal-operator/bios-config.md), the host generator needs to be patched with some replacement rules.
Also, need to setup a ``default`` firmware profile to be used in typ

[2020-07-09 01:33] demonCoder95 commented on #291
Matt is already working on this, he'll update the patch commit message to drive this issue.

[2020-07-09 13:28] niharikabhavaraju commented on #188
I would like to work on this issue, please assign it to me.

[2020-07-09 13:29] niharikabhavaraju commented on #188
I would like to work on this issue, please assign to me.

[2020-07-09 14:27] demonCoder95 opened #292 "Redfish Emulator Documentation - Stale Issue"
**Problem description (if applicable)**
I'm picking up this stale issue, abandoned in April regarding Redfish emulator documentation. The abandoned patchset is [here](https://review.opendev.org/#/c/686389)
It contains a lot of documentation regarding a Redfish emulator environment setup and was desired to become part of the ``airshipctl/docs`` dir, but was later abandoned by the committer.

**Prop

[2020-07-09 14:27] demonCoder95 commented on #292
Assign this to me

[2020-07-09 16:24] muly commented on #40
i'll pick this issue

[2020-07-10 15:35] alanmeadows commented on #283
I think we should have parallel tracks here.  I think it is a trivial change to support that BMH objects may not be found or be listable,  We should modify `airshipctl cluster move` approach for the interim to support not using the metal3-io provider while in parallel looking to uplift to newer `clusterctl move` that handles all cases.

[2020-07-10 16:19] sreejithpunnapuzha commented on #292
@demonCoder95 all yours

[2020-07-10 16:52] Arvinderpal commented on #283
Sounds good. I'll make the interim change for now.

[2020-07-10 17:43] demonCoder95 commented on #292
Thanks @sreejithpunnapuzha :)

[2020-07-10 21:24] udayruddarraju commented on #283
Hey @Arvinderpal would you mind taking a look at https://review.opendev.org/#/c/738238/ that is intended to fix this issue? I took a quick stab at this to unblock myself a week back. Thanks.

[2020-07-10 22:13] Arvinderpal commented on #283
Great! Thanks.

[2020-07-10 22:20] teoyaomiqui commented on #276
closing this issue, as it was reopened by mistake

[2020-07-10 22:20] #276 closed

[2020-07-10 22:22] teoyaomiqui commented on #240
closing this issue, as it was implemented, design of metadata will be extended further, for more information see issue #263

[2020-07-10 22:22] #240 closed

[2020-07-13 08:53] jingvar opened #293 "Move from the konfigadm"
**Problem description (if applicable)**
The last release of the konfigam was on May 6.
There is no binary file. I requested this and I have no answer to date.
Installation the kubernetes with latest available konfigadm binary v0.6.0-10-gcdaa775 on Ubuntu Focal was fail because it tried use wrong Docker version.
The konfigadm supports Ubuntu / Debian/Centos / Fedora / Redhat.
We probably need to su

[2020-07-13 14:08] seaneagan commented on #177
This is waiting on initinfra for target cluster (which the helm-controller will be part of), which is being implemented here: https://review.opendev.org/#/c/738291

[2020-07-14 09:46] jingvar commented on #293
Please assign to me

[2020-07-14 18:30] seaneagan commented on #186
I can work on this. Assuming we would like to use the [stable repo chart]() if feasible. There is also a [grafana operator]() if that's something we're interested in.

[stable repo chart]: https://github.com/helm/charts/tree/master/stable/grafana
[grafana operator]: https://github.com/integr8ly/grafana-operator

[2020-07-15 14:14] drewwalters96 commented on #128
This was completed in 720301

[2020-07-15 14:14] #128 closed

[2020-07-15 14:17] drewwalters96 commented on #290
Since we will be storing the context in the document set, we should remove this subcommand. We will replace with a new issue per the flightplan call

[2020-07-15 14:17] #290 closed

[2020-07-15 15:11] sirajyasin commented on #222
The old ansible based gates are already removed and the bash based gates are currently used. So this issue can be marked closed now

[2020-07-15 19:44] ak3216 opened #294 "Exclude kubeconfig from airshipctl config use-context update"
**Proposed change**
When airshipctl config use-context is executed, the specified context should be switched in airshipconfig only. Per issue #264, kubeconfig has moved to the manifest document set and would be updated through kustomize and should not be included in the use-context update. This change should ensure kubeconfig is not part of use-context switching.

[2020-07-15 19:44] ak3216 commented on #294
This issue was opened based on 7/15 Flightplan call in lieu of #290.
Dependencies #264 & #230

[2020-07-15 20:45] ak3216 commented on #222
Closing per Siraj's input.

[2020-07-15 20:45] #222 closed

[2020-07-15 23:09] teoyaomiqui opened #295 "CurrentContextManifestMetadata ignores target path"
**Describe the bug**
Metadata is not used anywhere yet, however in method config.CurrentContextManifestMetadata path targetPath value of manifest should be taken in account when reading metadata.yaml here:
https://github.com/airshipit/airshipctl/blob/master/pkg/config/config.go#L1091

**Steps To Reproduce**
try to use CurrentContextManifestMetadata method with targetPath specify and get error

**E

[2020-07-16 19:23] lb4368 opened #296 "Support a Phase YAML Explorer"
**Problem description (if applicable)**
As an operator using the airshipctl command line or airshipui I would like to be able to get a summarized tree view of of the manifest documents related to a phase so that at a glance I could see kustomizations/functions/composite/etc. associated to a selected phase.

**Proposed change**
Would like a command line option where a phase is specified and the out

[2020-07-16 19:31] sb1975 opened #297 "airshipctl should provide ability to provide service mesh features(application security,tracing,traffic management)"
**Problem description (if applicable)**
A description of the problem or background information that illustrates the need
for a new feature.
Airshipctl should integrate with service Mesh features to selectively apply towards a specific namespace and deployments.

The following features are highly desirable and ability to manage them holistically will be very helpful.

1. As an SRE I would like to h

[2020-07-17 09:21] jingvar opened #298 "Install airshipctl as kustomize plugins"
**Problem description (if applicable)**
We can't use airshipctl's  features of substitution and generation and with 'manifests'.

**Proposed change**
Add wrappers for ReplacementTransformer and Templater.

**Potential impacts**
Potential security or performance related impacts.

[2020-07-17 09:22] jingvar commented on #298
`
`~/airshipctl# ./tools/gate/20_run_gate_runner.sh `
TASK [airshipctl-run-script : Run script ./tools/deployment/24_build_ephemeral_iso.sh] ******************************************************************************************************
fatal: [primary]: FAILED! => {"changed": true, "cmd": "set -xe;\n./tools/deployment/24_build_ephemeral_iso.sh\n", "delta": "0:00:00.242849", "end": "2020-07

[2020-07-17 09:28] jingvar commented on #298
https://review.opendev.org/#/c/740703

[2020-07-17 10:21] jingvar opened #299 "Replace hardcoded values in Ephemeral function with ReplacementTransformer Variable Catalogue"
**Problem description (if applicable)**
We have hardcoded and dependent values in manifests and their scripts.
Should use airshipctl's features to store site specific values in VariableCatalogue kind  and render documents with ReplacementTransformer.

**Proposed change**
Solve https://github.com/airshipit/airshipctl/issues/298
Refactoring manifests.

**Potential impacts**
Potential security or per

[2020-07-18 14:46] sumitjadhav1 opened #300 "Need clarification for Real Node Introspection using Airship Setup"
**Describe the bug**
Real Node introspection fails using Airship setup on Dell PowerEdge servers. Node Remains in Inspecting state forever due to incomplete DHCP transaction (DORA not complete, only DO happens & not RA)

**Steps To Reproduce**
1. i) Changes done in provisioning network configuration : 10.23.24.x -> 192.168.121.x
1. ii) Add physical interface in Provisioing bridge (prov_br)
2. Appl

[2020-07-20 14:30] ak3216 opened #301 "Remove standalone cert-manager function"
**Proposed change**
A standalone cert-manager function is no longer needed as each function (capi, capbk, etc.) that requires certificates has a cert-manager sub-function embedded in it.

As a result, the manifests\function\cert-manager function/directory can be removed from the code base.

[2020-07-20 15:25] ak3216 commented on #301
capi, capbk, etc. all have cert-manager functionality included so the standalone function can be removed.

[2020-07-20 15:39] jezogwza commented on #300
Attached is an example baremetalhost definition files from a downstream lab
Missing is the Secret containing the bmc credentials.

[rdm9r006o001.tar.gz](https://github.com/airshipit/airshipctl/files/4948674/rdm9r006o001.tar.gz)

[2020-07-20 16:17] ak3216 opened #302 "Create a function to deploy Calico CNI"
**Proposed change**

As an operator, I need the ability to deploy a Container Network Interface (CNI) so containers & their applications have the ability to communicate with each other & outside entities.

The default CNI for Airship is Calico. A function needs to be created within airshipctl/manifests/function to support the deployment of Calico.

The Calico function in the lab is structured as f

[2020-07-20 18:38] abailey011 commented on #77
@drewwalters96 did anything come from the discussion in the flight plan call?  This issue still looks stale.

[2020-07-20 18:55] #64 closed

[2020-07-20 18:56] drewwalters96 commented on #77
@abailey011 It looks like we intended to close this issue and create a new one that detailed the scope for airshipctl. It has been a while, we should probably discuss this one again to be safe.

[2020-07-20 19:06] lb4368 commented on #4
Treasuremap issue (https://github.com/airshipit/treasuremap/issues/19) has been created to deliver Dex helm chart.  Do we still need this issue in airshipctl?

[2020-07-20 19:41] #295 closed

[2020-07-20 22:04] ak3216 opened #303 "Modify the k8scontrol function to deploy Calico via function"
**Proposed change**
As a deployment engineer, I want to be able to deploy the Calico CNI in a consistent & declarative fashion by leveraging the Calico function defined in manifests/function/calico.

Update the k8scontrol/controlplane.yaml to no longer apply the internet version of Calico & instead leverage the Calico function.

This issue is dependent on #302 which creates the Calico function

[2020-07-20 22:09] muly commented on #40
created https://review.opendev.org/#/c/742034/

[2020-07-21 00:39] teoyaomiqui commented on #241
The appropriate commits were merged, and issue can be closed now

[2020-07-21 00:39] #241 closed

[2020-07-21 06:02] raliev12 commented on #199
This bug can be closed since bugfix was successfully merged in this patchset as well https://review.opendev.org/#/c/740533/.

[2020-07-21 12:09] ak3216 opened #304 "Modify the ephemeral function to deploy Calico via function"
**Proposed change**
As a deployment engineer, I want to be able to deploy the Calico CNI in a consistent & declarative fashion by leveraging the Calico function defined in manifests/function/calico.

Update the ephemeral/secret.yaml to no longer apply the internet version of Calico & instead leverage the Calico function.

This issue is dependent on #302 which creates the Calico function

[2020-07-21 13:04] drewwalters96 commented on #199
Thanks @raliev12

[2020-07-21 13:04] #199 closed

[2020-07-21 14:25] sumitjadhav1 commented on #300
[https://review.opendev.org/#/c/742196/](url)

As requested, please find the list of changes in above patch-set.

Let us know if any additional information is required.

[2020-07-22 01:48] raliev12 opened #305 "airshipctl-roles-test gate job fails"
**Describe the bug**
airshipctl-roles-test gate job became permanently failed starting from Jul 21. Zuul prints the following error:

`primary: Reload apache2 service
Unable to reload service apache2: Job for apache2.service failed because the control process exited with error code.
See "systemctl status apache2.service" and "journalctl -xe" for details.`

Detailed investigation of this error show

[2020-07-22 01:49] raliev12 commented on #305
Please assign it to me.

[2020-07-22 12:28] ak3216 opened #306 "Airship 2.0 Kubernetes Conformance Certification"
**Proposed change**
As a participant in the Cloud iNfrastructure Telco Task Force (CNTT), Airship needs to have Kubernetes Conformance Certification so it can meet the requirements of CNTT Reference Architecture v2.

Per @jgu17, the distribution/installer needs to get this list: https://docs.google.com/spreadsheets/d/1LxSqBzjOxfGx3cmtZ4EbB_BGCxT_wlxW_xgHVVa23es/edit#gid=0 once it has been certifie

[2020-07-22 14:09] jezogwza commented on #306
Moving to Treasuremap where perhaps we can have a periodic gate/test that enables the certification for the i.e CNTT Type.

[2020-07-22 14:18] jgu17 commented on #306
CNTT RA-2 (k8s) spec chapter 2 reference: https://cntt-n.github.io/CNTT/doc/ref_arch/kubernetes/chapters/chapter02.html.

[2020-07-22 14:28] sirajyasin commented on #301
I can take up this issue.

[2020-07-22 14:29] sreejithpunnapuzha commented on #301
All yours @sirajyasin

[2020-07-22 14:36] jezogwza commented on #297
Need to recreate this in treasuremap. And discuss a proper type or site type where we would want this instantiated.

[2020-07-22 14:40] #305 closed

[2020-07-22 16:44] #245 closed

[2020-07-23 09:31] Ashughorla commented on #300
[logs.tar.gz](https://github.com/airshipit/airshipctl/files/4964958/logs.tar.gz)

Network changes :  IP address 10.23.24.x to 192.168.121.x
Added new documents for baremetal node.(baremetalhost.yaml and networkdata.yaml)

[2020-07-23 15:19] ian-howell commented on #205
I'm not sure it makes sense to scan the resulting docker image with a container scanner like Clair - container scanners (or at least, the scanners I've found) only support scanning OS packages. Since the Airshipctl image isn't based on an OS package, it can't be scanned.

We're already performing a security scan (which covers CVEs) on the Go code via [gosec](https://github.com/securego/gosec), whi

[2020-07-23 17:25] mattmceuen commented on #300
@sb464f could you please take a look at the logs above, and the issue problem description, in case you've seen this issue before?

[2020-07-23 18:55] alexander-hughes opened #307 "Syntax error: manifest-schema.json"
**Describe the bug**
There is a mismatch of opening and closing braces in airshipctl/bin/treasuremap/tools/deployment/seaworthy-virt/airship_gate/manifest-schema.json

**Steps To Reproduce**
Grep for opening and closing braces, listing counts of each.

[code]

**Expected behavior**
Opening braces should have matched closing braces to be considered a correct document.

**Environment**
- airshipctl

[2020-07-23 19:30] alexander-hughes opened #308 "Code style issue: Error string should not be capitalized or end with punctuation."
**Describe the bug**
By convention, Golang errors should not begin with capitalization, nor should they end with punctuation.
See https://github.com/golang/go/wiki/CodeReviewComments#error-strings

Multiple files do not conform to this rule, example:

- cmd/config/get_manifest_test.go
- pkg/k8s/utils/utils_test.go

**Steps To Reproduce**
From airshipctl directory, `grep -r 'fmt\.Errorf' .`

**Expe

[2020-07-23 19:33] alexander-hughes opened #309 "Code Style Issue: Unused constant"
**Describe the bug**
Unused code is present in airshipctl, if it is not part of future planned work it should be removed.

At the time of this writing ApplyPhaseSelector is unused.

**Steps To Reproduce**
If using Goland, run a code inspection and search for Declaration Redundancy/Unused Constant errors.

When a variable appears only a single time, it is either incorrectly being used or initialize

[2020-07-23 19:40] alexander-hughes opened #310 "Declaration redundancy: Unused exported function"
**Describe the bug**
Unused code if not planned for future work should be removed.

The following functions are exported, but never used:

- pkg/k8s/client/fake/fake.go:WithTypedObjects
- pkg/k8s/client/fake/fake.go:WithKubectl
- testutil/testconfig.go:DummyKubeAuthInfo

**Steps To Reproduce**
Using Goland, you can run a code inspection against airshipctl and search for Declaraction Reundancy:Unus

[2020-07-23 20:07] alexander-hughes opened #311 "YAML: Duplicated YAML keys"
**Describe the bug**
Duplicate YAML keys for some linters will warn, for others they will throw an error. It is incorrect to duplicate a YAML key.

**Steps To Reproduce**
Tools like https://github.com/adrienverge/yamllint can be used to scan for YAML linting errors, including duplicate keys.

At the time of creating this issue there is only one duplicate key:
cmd/cluster/testdata/statusmap/legacy-

[2020-07-23 20:16] alexander-hughes opened #312 "Internationalization: Non-ASCII characters"
**Describe the bug**
This inspection warns you of the code accidentally written in the wrong encoding. For example,
Non-ASCII characters used in the names/strings/comments or
Identifiers written in different languages (e.g. when in the variable "myCollection" the letter C written in Cyrillic) or
Unicode symbols used in comments or strings (e.g. long dashes and arrows in the comment "// a → !a — pl

[2020-07-23 21:43] ak3216 opened #313 "POC for Airship in a Pod"
**Problem Statement**
As an Airship user, I may want to test or experiment with Airship 2.0 in a virtual environment so that I can gain a better understanding of how Airship 2.0 works.

**Proposed change**
Develop virtual airship in a pod which will allow for Airship 2 to be brought up in a Kubernetes pod that runs multiple images:
   Sushy
   Libvirt
   Virsh
   Docker in Docker
   Runner

and us

[2020-07-24 09:09] niharikabhavaraju commented on #307
I would like to work on this please assign to me.

[2020-07-24 12:41] alexander-hughes commented on #307
Thanks for picking this up!

[2020-07-24 12:46] vetbijaya commented on #308
Can someone assign this issue to me?

[2020-07-24 12:58] vetbijaya commented on #309
I can work on this one. Please assign this issue to me.

[2020-07-24 13:11] alexander-hughes commented on #307
This work is not valid, the bin directory locally was not removed prior to running this test. After deleting the bin directory and running through the make targets I can not reproduce this file.

[2020-07-24 13:11] #307 closed

[2020-07-24 13:13] alexander-hughes commented on #308
Done!  Thanks for picking this up!

[2020-07-24 13:14] niharikabhavaraju commented on #311
I would like to work on this, please assign to me.

[2020-07-24 16:51] sb464f commented on #300
So looking at logs DHCP range looks good. but the /etc/dnsmasq.conf seems to be having different values for DHCP_RANGE.
to troubleshoot a bit further worth trying to modify dnsmasq.conf with below entrypoint.
[code]

[2020-07-24 18:01] muly commented on #310
please assign this to me

[2020-07-24 18:23] sb464f commented on #300
Looks like the dnsmasq.conf is from /shared/dnsmasq.conf and looks to be using correct config from https://opendev.org/airship/airshipctl/src/branch/master/manifests/function/baremetal-operator/config-file/dnsmasq.conf

[2020-07-27 13:34] niharikabhavaraju commented on #312
I would like to work on this , please assign this to me

[2020-07-27 15:38] vetbijaya commented on #312
The PS is ready for review: https://review.opendev.org/#/c/742933/

[2020-07-27 16:35] raliev12 commented on #278
Features of improvements for image build command:
1. Fixed the output of docker logs itself: previously all the messages was printed to stdout without proper handling of 8 bytes header in each line, now logs is printed properly.
2. Existing log lines also modified: the end used right now informed that image build command could take a while.
3. Added --progress option for image build command, which

[2020-07-27 18:33] aschiefe commented on #278
I was able to get this working and do see output from the docker image.  This is great for the CLI but the output would not be much help to the UI if it is used for rendering such a thing.

What I would like to see is something like the encapsulation of these steps which are known before the command execution into some for of step 1 of 9 etc completed and have an initial message sent on a channel

[2020-07-27 20:10] raliev12 commented on #278
It could be possible to encapsulate all the steps for particular command if we would know exact amount of operations to be executed. The main issue about _image build_ command is the following: the most amount of time takes ISO generation inside of docker container and we don't know for sure how many packages will be installed there and how many iterations it should take. So, the number of steps a

[2020-07-27 20:51] aschiefe commented on #278
Thanks, let me finish up this POC with what I'm thinking and lets uses it as the basis for a discussion.  It'd probably be easier to understand if I can demonstrate it via working code than describe it, I'm not sure I have the language facilities to accurately describe what I'm wanting in my head so being able to see it in a working, albeit POC env, will help.

[2020-07-27 22:40] sb1975 opened #314 "Documentation of a quickstart Guide for trying out airshipctl"
**Describe the bug**

As it stands its not very easy if anyone wants to run airshipctl and build a simple cluster on either CAPD,Azure or GCP.
It would be nice and help grow the interest if we can include a quick start guide to quickly onboard anyone willing to check how it works..

**Steps To Reproduce**
Minimal steps to reproduce the issue.

**Expected behavior**
Documentation for quickstart of

[2020-07-28 15:26] sirajyasin commented on #302
I have started working on this issue. If it is ok, can you please assign this to me.

[2020-07-29 14:04] drewwalters96 commented on #314
Some of the existing patches have READMEs. Please see those before starting work on this one

[2020-07-29 14:28] drewwalters96 commented on #4
@lb4368 I don't think so. Closing

[2020-07-29 14:28] #4 closed

[2020-07-29 14:32] ian-howell commented on #163
This has been satisfied by [this commit](https://review.opendev.org/#/c/736054/). However, `cli-utils` has some limitations, so we may need to fall back on the original model. Closing this for now - if problems arise with the current implementation it should get a new issue.

[2020-07-29 14:32] #163 closed

[2020-07-29 20:49] ak3216 opened #315 "Deduplication of network definitions"
**Problem description (if applicable)**
As an operator, I need the ability to specify common networking information at various levels of specificity while also being able to override & specify specific values down to the site & sub-type level.

The different levels of specificity could be:
- global
- type (common across clusters of a similar type, e.g. DNS servers)
- clusters (e.g. gateway IP addr

[2020-07-29 21:00] ak3216 opened #316 "Develop common version catalogs"
**Problem description (if applicable)**
As an operator, I would like to have a mechanism for specifying software/component versions in a common place so I can manage the platform in a consist fashion. Additionally, I would like to have the ability to override a version value at a lower type/site level.

**Proposed change**
1. Identify all function instances where software/component versions are be

[2020-07-29 21:05] ak3216 opened #317 "Develop an airshipctl endpoints catalog"
**Problem description (if applicable)**
As an operator, I would like to have a mechanism for specifying non-OpenStack-Helm software/component endpoints for in a common place so I can manage the platform in a consist fashion. Additionally, I would like to have the ability to override an endpoint value at a lower type/site level.

**Proposed change**
1. Identify all function instances where software

[2020-07-30 20:32] ak3216 opened #318 "HTTP_PROXY variable not being set in 21_systemwide_executable.sh & 22_test_configs.sh"
**Describe the bug**
The 21_systemwide_executable.sh & 22_test_configs.sh scripts in airshipctl\tools\deployment\ appear to be setting HTTPS_PROXY twice vs. setting HTTPS_PROXY & HTTP_PROXY.

Here's the code snippet. Believe the 2nd entry should be HTTP_PROXY
[code]

**Environment**
- airshipctl Version: betav1

[2020-07-31 18:59] mattmceuen commented on #315
There are a number of 10.x.x.x IP addresses that are are coded in the airshipctl function definitions.  Those will need to be turned into placeholders or defaults, with replacement rules defined at the function level and exercised at the site level.

The ironic provisioning_ip, dhcp_range, and provisioning_interface are currently patched at the site level in the ephemeral phase.  We need to determ

[2020-08-02 22:29] #284 closed

[2020-08-03 17:28] vetbijaya commented on #256
If nobody is working on this issue, I can work. Can someone please assign this issue to me?

[2020-08-03 20:39] michael-beaver commented on #318
Was running into some ephemeral node timeouts myself and this seems to have resolved my issue with that, will go ahead and upload a quick fix.

[2020-08-04 18:43] teoyaomiqui opened #319 "CICD Enable UEFI support in gate tests"
**Problem description (if applicable)**
Recently baremetal operator changed to use UEFI boot mode as default. That has lead to failing gates in airshipctl because we use upstream BMO image.

Right now, there is patchset to set legacy boot mode to be used in gates.

**Proposed change**
Add UEFI support in gates by installing additional packages and configuring libvirt/qemu appropriately with nvram

[2020-08-04 18:47] teoyaomiqui opened #320 "CICD: sushy logs disappeared after being move behind apache"
**Describe the bug**
When sushy was running as standalone application we could see it's logs in artifacts in zuul and in local environments.
However after it has been moved behind apache, those logs have disapeared

**Steps To Reproduce**
1. Deploy dev lab or make new gerrit patchset
2. check apache logs

**Expected behavior**
See sushy generated logs in apache logs

**Actual behavior**
Only acces

[2020-08-04 21:27] #318 closed

[2020-08-04 23:40] noskovao commented on #320
Please assign this to me.

[2020-08-05 13:07] muly commented on #314
i'd like to start working on this issue. could you please assign this to me?

[2020-08-05 13:21] drewwalters96 commented on #314
@muly All yours!

[2020-08-05 14:56] jezogwza commented on #319
Once this is implemented, will need to enhance gating to run both types.

[2020-08-05 14:59] noskovao commented on #319
Please assign it on me

[2020-08-05 15:31] mattmceuen commented on #19
Do we have any notes on how we expect this command to be used -- e.g.
- should it integrated with phases, or run on a full site at once?  Or on arbitrary functions too?
- is this expected to call kustomize (and be run on unrendered docs), or on pre-rendered YAML?  I'd think the former would be best
- what's the "user story" for this in terms of when this command will be run, and why?

Airshipctl (

[2020-08-05 15:50] realsystem commented on #320
@noskovao what is the plan to fix it? Revert back or something new?

[2020-08-05 16:52] noskovao commented on #320
First of all, I'll try all the possible ways to enable the logs. Can't say that I want to revert this, but if there won't be any ways to fix it, I'd consider reverting it.

[2020-08-05 21:18] drewwalters96 commented on #285
@airshipbot indeed it has. Thanks!

[2020-08-05 21:18] #285 closed

[2020-08-05 21:43] #312 closed

[2020-08-05 23:30] mattmceuen commented on #319
@noskovao if we want to make this configurable, it may make sense to specify it in a hardware profile catalogue (example below), and then to set the new key in the default hardware profile (in the hostgenerator-m3) function to be whichever option we thing represents the "normal case".  What do you think?

https://review.opendev.org/#/c/740132/2/manifests/function/hardwareprofile-example/hardwarepr

[2020-08-06 14:55] shashipratap opened #321 "manifest line getting deleted from airship config on doing airshipctl cluster init"
**Describe the bug**
following the steps as listed in the https://review.opendev.org/#/c/737864/42/docs/azure/azure-integration.md and decided to use the default config file with the repo details put in place.

On running “airshipctl cluster init”, the config document (config_FirstCreate) was changed automatically to reflect the “Kind” cluster details. However within this block
      contexts:

[2020-08-06 16:24] ian-howell commented on #310
I don't think the `WithTypeObjects` or `WithKubectl` functions should be removed - they're part of the `fake` library, which is used exclusively for tests. It seems silly to remove functions which provide additional testing capabilities.

However, I don't see the `DummyKubeAuthInfo` object ever being used, since it acts as a fake instance of an upstream object. We should be ok to remove it. I thin

[2020-08-06 18:48] mattmceuen commented on #19
Notes from the design meeting today:  kubeval has some restrictions on its (in)ability to validate CRs, making it of limited use in an airshipctl context.  An alternate approach was proposed, which would
1. leverage (in-progress) work that will start a containerized k8s distribution for cluster bootstrap purposes
2. start the cluster^ via a containerized interface, perform doc validation against i

[2020-08-07 14:23] vetbijaya commented on #296
If anyone is not working on this issue, I can work on it. Can someone assign this issue to me?

[2020-08-07 14:38] lb4368 commented on #296
Thanks @vetbijaya .

[2020-08-07 15:43] niharikabhavaraju commented on #321
I would like to work on this, please assign it to me

[2020-08-07 16:06] muly commented on #310
thanks @ian-howell for the clarification. I'll remove the changes I did to linter and will implement the cleanup manually.

[2020-08-07 20:19] muly commented on #40
@drewwalters96 , the patchset is merged, how to close this issue?

[2020-08-07 20:27] lb4368 commented on #321
@niharikabhavaraju - You are assigned.  Thanks!

[2020-08-10 18:22] #293 closed

[2020-08-11 12:02] #188 closed

[2020-08-11 12:19] #291 closed

[2020-08-11 14:45] ak3216 opened #322 "leverage kpt-functions for replacement and templater transformers"
As an airship 2.0 designer, I want to leverage the new kustomize function model in kustomize v3.8.0/kyaml v0.4.2, so I can simplify the use of kustomize by airshipctl and remove kustomize calling airship plugins for transformation & replacement.

1. Modify replacement transformers and templators to leverage the kpt-functions vs. airshipctl > kustomize plugin > airshipctl plugin that's in use today

[2020-08-11 16:34] jezogwza opened #323 "Need an airshipctl list clusters based on the document set"
With the move of the kubeconfig file out into the specific phase or type of cluster we have lost the ability to have the equivalent of airshipctl config get-cluster which returned a list of all clusters

A possible path would be a command that given the Manifest entry point can identify all clusters , maybe walking through the documents, or perhaps some smarter means driven by how or where the kub

[2020-08-11 16:36] jezogwza opened #324 "Airshipctl should support Worker or Workload cluster type"
We have a use case for achieving Multitenancy by managing multiple clusters given a single target cluster. This can be a combination of bare-metal clusters or vm's on bare metal.
This is mainly due to the precarious state of soft multitenancy and some unassailable problems like CRD management.

Currently, Airshipctl supports the notion of Ephemeral and Target only.

[2020-08-12 14:15] jezogwza commented on #323
**airshipctl cluster list**

The output should be something that makes it easy to iterate through the list.
When is this valuable, for multiple sites under the document, or only for multiple clusters under the document set,

[2020-08-12 14:31] jezogwza commented on #324
This issue is really about what this annotation/label/type is named.

[2020-08-12 15:34] lb4368 opened #325 "Upgrade kustomize and kyaml package versions"
**Problem description**
As an Airship developer, I need to upgrade package versions for kustomize and kyaml in order to take advantages of new features to implement kpt functions (KRM config function) as plugins for kustomize.

**Proposed change**
Upgrade kustomize/api to v0.5.1 in airshipctl which will switch kustomize version to v3.8.1 and kyaml to v0.4.1.

[2020-08-12 20:45] sb1975 commented on #314
Simple steps could be as below :
git clone https://review.opendev.org/airship/airshipctl
cd airshipctl

Gate deployment steps:
1. ./tools/gate/00_setup.sh
2. ./tools/gate/10_build_gate.sh
3. sudo ./tools/deployment/01_install_kubectl.sh
4. sudo ./tools/deployment/21_systemwide_executable.sh
5. sudo ./tools/deployment/22_test_configs.sh
=> After this change the targetPath to path to airshipctl dir

[2020-08-12 21:38] mattmceuen commented on #256
Summarizing a few thoughts from last week's design meeting and adding a few more:

I think the most valuable goal for a "doc init" type of functionality would be to automatically create a new Site definition in a user-defined location (e.g. their own project) which is based upon and points back to a Type definition that lives in a different repo (e.g. Treasuremap).  This will solve for at least a

[2020-08-12 22:09] jezogwza commented on #256
I think I have a concern regarding this: **_The airshipctl subcommand would git clone the repo (e.g. treasuremap) to be right "next to" the user's project for the new Site._**  I think we should find a way to leverage the airshipctl document pull.

Could be a combination of a message to the user suggesting to use document pull, you need to pull, and by the way here's the manifest definition you ne

[2020-08-12 23:22] mattmceuen commented on #316
I've started documenting our versions catalogue approach (as well as the rest of laying strategy, since folks have been asking) [here](https://review.opendev.org/#/c/745974/1).  The unique tasks for bootstrapping versions substitution are:

1. Create a `versions-airshipctl.yaml` in a new function `catalogues-airshipctl` in the airshipctl project
2. Extrapolate all container versions from airshipct

[2020-08-13 03:33] noskovao commented on #319
Hi @mattmceuen, as far as I can see "bootMode" is already in the template https://github.com/airshipit/airshipctl/blob/master/manifests/function/hostgenerator-m3/hosttemplate.yaml#L41.

[2020-08-13 03:39] noskovao commented on #319
@jezogwza

Do you want to add additional tests like **airship-airshipctl-gate-script-runner-test-UEFI** and **airship-airshipctl-gate-script-runner-test-legacy**?
I'm just worried it will increase the test twice.

[2020-08-13 13:54] mattmceuen commented on #44
@ak3216 I think so

[2020-08-14 14:19] ak3216 commented on #256
@jezogwza & @mattmceuen, if this is really more about initializing a document set for full site as Matt points out in bullet 4, then should we go ahead & update this issue back to being 'document init' vs. 'phase init?'  I think this had come up on a Flight Plan call when we were reviewing the "Needs Design" issues. At that time, there was some discussion about doing this down at the phase level,

[2020-08-17 07:07] Ashughorla opened #326 "Incorporate HWCC into the deployment gate."
Please provide any user guide for this task if any else steps to be followed.

**Proposed change**
We like to incorporate Hardware classification controller into deployment gate.

**Potential impacts**
No potential impact.

[2020-08-17 07:27] digambar15 commented on #326
@mattmceuen can you profile any doc/resource on how to integrate HCC in deployment gate ?

[2020-08-17 12:01] sumitjadhav1 commented on #314
Additionally how to make use of all configuration files for real hardware (like Dell PowerEdge Servers).
Currently we are unable to introspect/onboard real nodes. Please refer [Issue#300](https://github.com/airshipit/airshipctl/issues/300)

[2020-08-17 13:01] ak3216 commented on #166
@jezogwza should we move this to Treasuremap or would dual stack be something that we enable out of the box in AS2.0? Also think you were going to add some more info here on what actually needs to be done based on lab learnings. https://github.com/airshipit/treasuremap/issues/22 exists for the Calico dual stack settings. This issue is for the k8s components settings.

[2020-08-17 15:56] mattmceuen commented on #300
Can we try running this script to get the namespaced objects and their configurations?  https://github.com/airshipit/treasuremap/blob/master/tools/gate/debug-report.sh

[2020-08-17 20:42] #308 closed

[2020-08-17 21:44] mattmceuen commented on #316
A changeset addressing 1-6 above: https://review.opendev.org/#/c/746608

[2020-08-18 00:56] teoyaomiqui opened #327 "Refactor CMD module to use Lazy config loading"
**Problem description (if applicable)**
right now, we have two functions that load and initialize config:
[environment.AirshipCTLsettings.InitConfig()](https://github.com/airshipit/airshipctl/blob/master/pkg/environment/settings.go#L69-L80) and [config.Config.EnsureComplete()](https://github.com/airshipit/airshipctl/blob/master/pkg/config/config.go#L371-L415)
Using them in [cmd](https://github.com

[2020-08-18 01:56] ak3216 opened #328 "Develop Airshipctl Troubleshooting Guide"
As an operator, I need an Airshipctl troubleshooting guide, so that I can resolve issues that occur when deploying & managing a site using Airship.

This will be an evolving issue where given a known list of errors coming of airshipctl, things to check & possible solutions can be developed given the error. The troubleshooting guide may live in the Airshipctl documentation site.

As a basis for gat

[2020-08-18 02:02] ak3216 commented on #314
@sumitjadhav1, @lb4368 & I have started a patchset that provides a framework for developing a quickstart guide/flow documentation. I think that as the beta release gets delivered with some of the major refactoring changes to config, phases & the document set, we can start building out the details. Happy to discuss if you're interested.
https://review.opendev.org/#/c/735399/

[2020-08-18 11:09] #319 closed

[2020-08-18 12:36] #149 closed

[2020-08-18 13:12] #325 closed

[2020-08-18 16:11] raliev12 commented on #327
@teoyaomiqui you can assign this task to me.

[2020-08-18 17:16] teoyaomiqui commented on #327
as a side note, instead of making this a function is my example, which was fastest way to demonstrate the approach, we can use interface as well.
[code]
One method interface is considered to be good practice, so that's an alternative approach.

[2020-08-19 15:01] jezogwza commented on #299
Need to discuss this on the YAML Call. There is potential overlap with some of this information might belong on other more generic catalogues. i.e. Versions of Kubelet, Calico etc . Moving to the v2 Milestone.

[2020-08-19 15:03] jezogwza commented on #169
This was merged sometime ago.

[2020-08-19 15:03] #169 closed

[2020-08-19 15:05] jezogwza commented on #133
This is no longer needed given that we got this for free with the integration with cli-utils.

[2020-08-19 15:05] #133 closed

[2020-08-19 15:30] sirajyasin commented on #322
I can start working on this issue. Could someone assign this issue to me

[2020-08-19 21:12] #292 closed

[2020-08-19 22:00] mattmceuen commented on #326
@digambar15 I think a good place to start would be to piggyback on top of the existing deployment gate scripts, so that HWCC is tested as part of a normal deployment.  Perhaps

1) define a couple of profiles inside the test-site site, one that we expect will match all the (nested VM) hosts, and another one we expect to match none of the hosts.  The profiles could have something like "a very small

[2020-08-20 05:01] #294 closed

[2020-08-20 20:17] teoyaomiqui commented on #143
Unfortunately, there is no way we can effect http(s)-proxy behavior of kubectl and clusterctl packages. They only can be effected via HTTP_PROXY env variables.

I will close this issue for now, if something changes we will open a new one

[2020-08-20 20:17] #143 closed

[2020-08-20 20:17] #238 closed

[2020-08-20 20:19] teoyaomiqui commented on #263
For now we have designed a basic metadata format, that hold two items only, it will be extended if needed in the future:
[code]

Closing the issue, as this simple design is sufficient. It's extension should be defined in new issue if needed.

[2020-08-20 20:19] #263 closed

[2020-08-20 20:23] teoyaomiqui commented on #127
this can be closed as we have merged integration with cli-utils, which allows us to wait for resources.

[2020-08-20 20:23] #127 closed

[2020-08-20 20:26] teoyaomiqui commented on #123
@alexander-hughes should this issue be closed now? It seems like exploration has been extensively done?

[2020-08-20 20:28] teoyaomiqui commented on #320
@ak3216  i think this can be safely moved out of beta, there are some logs available (not all) and this is very low priority.

[2020-08-20 20:31] teoyaomiqui commented on #302
Change related to this issue has been merged and can be closed

[2020-08-20 20:31] #302 closed

[2020-08-20 20:35] teoyaomiqui commented on #229
this can be closed now, control plane is being deployed in CICD

[2020-08-20 20:35] #229 closed

[2020-08-20 20:41] teoyaomiqui commented on #228
issue is blocked by the fact that 16G and 32G nodes are not stable, and 8GB nodes don't have nested virt enabled.

[2020-08-25 15:49] #264 closed

[2020-08-25 17:57] slfletch commented on #314
I would look at the airship in a pod patchset that has already been started. @ian-howell is currently continuing development on it.

It's to the point of running the following scripts in a Kubernetes pod.
/tools/gate/00_setup.sh
./tools/gate/10_build_gate.sh
sudo ./tools/deployment/01_install_kubectl.sh
sudo ./tools/deployment/21_systemwide_executable.sh
sudo ./tools/deployment/22_test_configs.sh

[2020-08-25 18:58] mattmceuen commented on #158
@sirajyasin @ian-howell  - based on the conversation in the design call this morning, I believe our strategy for determining target cluster readiness will be to invoke kubectl against its apiserver (whatever we're doing down in RDM9 today).  Does that make this issue superfluous?  Or do you want to make your change under this one, Siraj?

[2020-08-25 21:02] sirajyasin commented on #158
It has been added recently in a PS (@sreejithpunnapuzha )still in review stage
https://review.opendev.org/#/c/738696/33/tools/deployment/33_cluster_move_target_node.sh

@mattmceuen - is this sufficient  to check target cluster state ?

[2020-08-25 21:59] mattmceuen commented on #158
@sirajyasin I think that is good enough for now.  It's a bit unfortunate to have to use kubectl for this instead of being able to rely on airshipctl wait, but I think we'll need to wait (pun intended) to see whether CAPI is willing to provide additional statusing when a node is in "ready for CNI deployment" state.

[2020-08-26 14:06] #311 closed

[2020-08-26 14:06] #309 closed

[2020-08-26 14:06] #278 closed

[2020-08-26 14:08] #259 closed

[2020-08-26 14:14] #177 closed

[2020-08-26 14:14] #150 closed

[2020-08-26 14:31] jezogwza commented on #165
Will close this appears to have become irrelevant with the move of config's to the document set,s

[2020-08-26 14:31] #165 closed

[2020-08-26 14:34] drewwalters96 commented on #123
This has been completed

[2020-08-26 14:34] #123 closed

[2020-08-26 14:35] drewwalters96 commented on #283
Evaluated on the flight plan call; this is still relevant

[2020-08-26 14:37] drewwalters96 commented on #298
This one is likely completed

[2020-08-26 14:41] drewwalters96 commented on #266
We will close this one and create a more specific issue for the remaining functionality (cleanup of config import). @lb4368 @ak3216

[2020-08-26 14:41] #266 closed

[2020-08-26 14:43] drewwalters96 commented on #265
Blocked by ongoing phase work

[2020-08-26 14:48] drewwalters96 commented on #286
This was merged in an unlinked change

[2020-08-26 14:48] #286 closed

[2020-08-26 14:50] drewwalters96 commented on #242
@ian-howell will follow-up on this

[2020-08-26 14:52] drewwalters96 commented on #24
No longer relevant

[2020-08-26 14:53] drewwalters96 commented on #152
Duplicate issue

[2020-08-26 14:53] #152 closed

[2020-08-26 15:10] lb4368 opened #329 "Remove import from airshipctl config"
**Problem description (if applicable)**
As a result of investigation from issue #266, it is determined that the config import command will no longer be needed as a result of the config refactoring effort.

**Proposed change**
Cleanup and remove import subcommand from airshipctl config.

[2020-08-26 15:11] lb4368 commented on #329
There is an in-progress patchset at https://review.opendev.org/740719.

[2020-08-26 15:18] sirajyasin commented on #329
I can follow-up on my open PS and take it forward as per the review comments.

[2020-08-26 15:21] sirajyasin commented on #303
The related PS (https://review.opendev.org/743763) is merged. This issue can be closed now.

[2020-08-26 15:21] sirajyasin commented on #304
The related PS (https://review.opendev.org/743763) is merged. This issue can be closed now.

[2020-08-26 15:23] sreejithpunnapuzha commented on #304
closing this as ps is merged

[2020-08-26 15:23] #304 closed

[2020-08-26 15:23] sreejithpunnapuzha commented on #303
closing this as ps is merged

[2020-08-26 15:23] #303 closed

[2020-08-26 16:12] #310 closed

[2020-08-26 17:24] ian-howell opened #330 "Phase Validation"
**Problem description (if applicable)**
Currently, the only way to assert that a phase is valid is to actually run the phase.

**Proposed change**
We would like to add an `airshipctl phase validate <my_phase>` command, which would validate that the phase contains the required documents to run the phase. For example, [this phase document](https://github.com/airshipit/airshipctl/blob/a3200e8d62907f0

[2020-08-26 17:57] muly commented on #330
please assign this to me

[2020-08-26 20:07] seaneagan opened #331 "Resolve helm wait limitations"
**Problem description (if applicable)**

In Airship 1, Armada implemented its own wait logic on top of that provided by helm itself, adding some additional functionalities. In Airship 2 we are using the Helm Operator which relies solely on the Helm wait logic. This helm wait functionality has some limitations that were not present in Armada, see https://github.com/helm/helm/issues/8660 and https:/

[2020-08-27 05:21] digambar15 commented on #326
Perfect! Liked the approach. Will work on it and submit the upstream patch at earliest after our internal testing.

[2020-08-27 09:56] sharajat commented on #79
@ian-howell
https://review.opendev.org/#/c/738410/
Kindly review

[2020-08-27 14:30] ak3216 opened #332 "Airshipctl Auditing/Logging"
As an operator deploying or managing a site using Airshipctl, I want to ensure that log files contain all the necessary information to diagnose and resolve problems, track deployment progress, verify security integrity, and provide a clear audit trail.

There are several areas where logging/traceability may be necessary including Airshipctl commands & API calls, kubernetes logging, CAPI, Metal3/Ir

[2020-08-27 14:43] drewwalters96 opened #333 "CI: DNS for ingress"
Much like the seaworthy-virt framework in Airship 1, we need DNS configured in the continuous-integration pipelines to stimulate accessing dashboards from outside the cluster. Ideally, this would be a role that could be used by airshipit/treasuremap as well.

[2020-08-27 15:03] digambar15 opened #334 "Develop end to end node provisioning mechanim with HWCC & Metal3"
**Problem description (if applicable)**
Hardware-classification controller classifies hosts based on filtering. We get right match hosts, now next step is to provision the host as and when it matches to the requirement. Currently there isn't any automated mechanism in place, so develop workflow template engine to execute end to end provisioning.

**Proposed change**
There will be two way approach.

[2020-08-27 18:03] mattmceuen commented on #296
Here is some proposed output, based on the current contents of the treasuremap (v2) repo.  The contents of it look like:

[code]

This example shows a basic display of the Kustomization *resource* tree:
[code]
Note that in the above, I showed relative paths to the current working directory, not the paths inside kustomization.yaml.  Those are the same but have many more "../../.."s in them.

The ne

[2020-08-28 07:44] Ashughorla commented on #326
@mattmceuen @dukov
Patchset raised. Kindly review.
https://review.opendev.org/#/c/748421/

[2020-08-28 13:56] Arvinderpal commented on #283
This was a temporary workaround until metal3 added support for the move operation. That support now exists.
The code change is small -- we remove the custom logic and just do a plain clusterctl move. I'll put out a PS for that.

[2020-08-28 17:35] lb4368 opened #335 "Design a Method to Capture Manifest Version Information During Phase Deployment"
**Problem description (if applicable)**
As an operator I need a way to be able to view the manifests that were used to deploy a site so that the information is available as needed for troubleshooting root cause for issues.

**Proposed change**
Design a way to capture information about the specific manifest versions applied to a site during deployment of phases or phase groups so that it could be r

[2020-08-28 18:59] noskovao commented on #320
Since Sushy Emulator is running as a WSGI application, no matter if it is behind apache or systemd, it is not reporting any useful logs except access logs or `500 INTERNAL SERVER ERROR `.
Clients like go-redfish in airshipctl or client inside the baremetal-operator are returning detailed error messages like this:
`./primary/pod-logs/dummy_cluster/metal3/metal3-baremetal-operator-74765554c8-27w4n/b

[2020-08-28 20:54] lb4368 opened #336 "Substring replacement failing in ReplacementTranformer when target substring contains periods (.)"
**Describe the bug**
When using the ReplacementTransformer kustomize plugin to do a substring replacement on a target string that contains periods (.), the resulting transformation result is incorrect.

**Steps To Reproduce**
Define a ReplacementTransformer substring replacement similar to snippet below

- source:
    value: regexedtag
  target:
    objref:
      kind: VariableCatalogue
    fieldr

[2020-08-28 21:02] sirajyasin commented on #336
I can work on this issue.

[2020-08-31 12:01] demonCoder95 opened #337 "Extend the hostgenerator-m3 example hardwareprofile with RAID"
**Problem description (if applicable)**
An example hardware profile was created earlier to be consumed by hostgenerator-m3 function. This implemented the firmware plumbing for it. [Patch here](https://review.opendev.org/#/c/740132/)

**Proposed change**
This enhancement proposes to add RAID configuration to the same example profile. This will include all the supported RAID levels in metal3 BMO as

[2020-08-31 12:01] demonCoder95 commented on #337
Assign this to me

[2020-08-31 12:17] ak3216 commented on #337
@demonCoder95 done

[2020-08-31 13:40] demonCoder95 opened #338 "Add documentation for example hardwareprofile"
**Problem description (if applicable)**
A verbose guide for example hardwareprofile is needed. Highlighting the currently supported firmware and RAID configurations.

**Proposed change**
This proposes such a guide be created in official documentation.

**Potential impacts**
Potential security or performance related impacts.

[2020-08-31 13:40] demonCoder95 commented on #338
Assign this to me

[2020-08-31 14:01] nsaad3 opened #339 "Explore Telemetry for Deployments"
An an Operator, I want to have access to my cloud platform deployment metrics,
so that we can observe real-time and historical deployment performance and determine areas for improvement.

Possible areas for exploration include, but not limited, to:
Support collection of deployment metrics by suitable breakdown points (e.g., by site, PhasePlan, PhaseGroup, Phases)
   *real-time metrics by above bre

[2020-09-01 13:32] ak3216 commented on #332
For the deployment logging, there may be a tie in with https://github.com/airshipit/airshipctl/issues/335

[2020-09-01 14:22] #288 closed

[2020-09-01 16:28] dukov opened #340 "Rework ReplacementTransformer plugin implementation"
**Problem description (if applicable)**
Current version of ReplacementTransformer does not implement recent kustomize plugins features

**Proposed change**
Migrate new [implementation](https://github.com/aodinokov/noctl-airship-poc/tree/master/kpt-functions/replacement
) to airshipctl

**Potential impacts**
N/A

[2020-09-01 16:28] dukov commented on #340
Relates ot #322

[2020-09-01 16:32] dukov opened #341 "Implement container build for airshipctl document plugins"
**Proposed change**
- Introduce Dockerfile for plugin containers
- Extend Makefile with container build procedure

**Potential impacts**
N/A

[2020-09-01 16:32] dukov commented on #341
Relates to #322

[2020-09-01 17:09] #336 closed

[2020-09-01 18:58] #254 closed

[2020-09-01 22:58] lb4368 opened #342 "Associate Phase Operations to Kubernetes Clusters via Manifests"
**Problem description**
As an operator I want to be able to associate each airshipctl phase to the kubernetes cluster and associated kubeconfig on which the phase will be performed in a declarative manner so that phases can be managed across multiple clusters including worker clusters.

**Proposed change**
Provide a mechanism to associate a phase to a specific kubernetes cluster managed in the sit

[2020-09-01 23:00] lb4368 commented on #342
This was discussed on 8/27/2020 and 9/1/2020 design calls.

See proposed implementation here: https://review.opendev.org/#/c/748029/
Related diagram: https://go.gliffy.com/go/publish/13350794

[2020-09-01 23:40] ak3216 commented on #342
To determine which kubeconfig to use the following logic will be applied:

- File system flag = provide own kubeconfig flag just passed to the executor as is. Executor will look for the context set by cluster name
- With clusterctl move need 2 clusters/kubeconfig. Use the same kubeconfig with the cluster name for the phase apply, take the cluster map get the parent of the kubeconfig & use that to

[2020-09-02 13:21] sirajyasin commented on #341
@dukov , I have pushed a PS(WIP) in airship/images repo to create docker image for ktp-functions plugins ( templater ). The work is not complete. But wanted to know if i am moving in correct direction.

https://review.opendev.org/#/c/749406/

Please suggest if we should have those plugin code in airshipctl repo or images repo. I thought the plugin code is very independent of airshipctl, so tried t

[2020-09-02 14:00] ian-howell commented on #242
This is no longer relevant

[2020-09-02 14:00] #242 closed

[2020-09-02 14:16] seaneagan opened #343 "Update Helm Operator to v1.2.0"
**Problem description (if applicable)**

We are currently on v1.1.0.

**Proposed change**

Update to v1.2.0 which [includes](https://github.com/fluxcd/helm-operator/releases/tag/v1.2.0) `helm test` integration as well as several bug fixes.

**Potential impacts**

N/A

[2020-09-03 08:39] vladiskuz opened #344 "Add executors for isogen and remotedirect phases"
**Problem description (if applicable)**
During transition from legacy to phase approach we need to introduce executors for isogen and remotedirect phases.

**Proposed change**
Add executors for isogen and remotedirect phases.

[2020-09-03 08:41] vladiskuz commented on #344
Can someone assign this to me?

[2020-09-08 14:06] sirajyasin commented on #340
I can start working on this if no one has started yet.

[2020-09-09 06:55] Ashughorla commented on #326
@mattmceuen @roman
Updated the patchset according to review comments.
https://review.opendev.org/#/c/748421/

[2020-09-09 18:32] sb1975 opened #345 "airshipctl cleanup script"
**Problem description (if applicable)**
Once an airshipctl deployment is completed or even if its not completed and there is some error in deployment.

In any case, there it is necessity to clean up the deployment. The existing airshipctl deployment script doesn't have a cleanup script.

**Proposed change**
Addition of a cleanup script within the https://github.com/airshipit/airshipctl/tree/master

[2020-09-10 13:43] mattmceuen commented on #316
This one addresses 7-10: https://review.opendev.org/#/c/746764/

[2020-09-10 15:59] raliev12 commented on #327
@teoyaomiqui I believe this issue can be closed since all the related patches were merged successfully.

[2020-09-10 18:54] ian-howell commented on #327
agreed, closing

[2020-09-10 18:54] #327 closed

[2020-09-10 22:54] teoyaomiqui opened #346 "CI: Gather logs for different k8s clusters during gating"
**Problem description (if applicable)**
Right now we can gather only logs for single cluster, we need to be able to get them for both target and ephemeral clusters

**Proposed change**
Extend airship-gather-pod-logs role to get logs for all cluster defined in provided kubeconfig

[2020-09-11 11:39] Ashughorla opened #347 "BMH node Provisioning Status is empty"
After running last script 33_cluster_move_target_node.sh for setup, BMH node's Provisioning status is empty.
Should not be empty. Hardware Classification controller require at least 1 node in ready state.
Not able to run 34_apply_hwcc_profiles.sh from patch set.
https://review.opendev.org/#/c/748421/

**Steps To Reproduce**
1. Clone from https://github.com/airshipit/airshipctl.git
2. cd to airship

[2020-09-14 18:42] #345 closed

[2020-09-14 18:44] realsystem commented on #232
https://review.opendev.org/747804

[2020-09-14 18:44] #232 closed

[2020-09-14 19:11] ian-howell opened #348 "Can't delete fields using `config set-X`"
Given the below config file, there is currently no way to use the `airshipctl config` command to delete a field. In this case, a user may want to delete the `server` field, and might attempt to do so using the command `airshipctl config set-cluster --server=""`. Currently, this command would do nothing, since our code only checks for the empty string before setting a new value.

[code]

~I suggest

[2020-09-14 19:38] #316 closed

[2020-09-14 22:46] #346 closed

[2020-09-15 09:54] kozhukalov opened #349 "Get rid of cluster type"
**Problem description (if applicable)**
Since we are moving to phases the only thing that matters is
the phase entry point.

**Proposed change**
Remove everything related to cluster type (ephemeral/target).

**Potential impacts**
The structure of manifest documents will be changed.

[2020-09-15 18:50] sb464f opened #350 "cert-manager functions hardcoded, Not using manifests/global/functions."
Looks like clusterctl is hardcoded with cert-manager values and thus airshipctl which is using clusterctl getting hard coded values of cert-manager pods/images.

**Steps to Reproduce**
deploy ephemeral node by overriding image values of cert-manager functions in /manifests/global/functions/cert-manager but those values will not be effective it will still have hardcoded images

**Expected behavior*

[2020-09-15 20:16] mattmceuen commented on #316
This one wraps up #11 (Treasuremap): https://review.opendev.org/#/c/752101/

[2020-09-15 22:50] #329 closed

[2020-09-16 14:28] ak3216 opened #351 "Create gate script to deploy NGINX workload"
As a user testing Airship, I want a script that will deploy a simple workload, so that I can verify that software can be deployed by Airshipctl.

To deliver this capability, the following is required.
1. Create a NGINX helm release function: could leverage https://github.com/airshipit/treasuremap/issues/24
2. Create a workload phase that incorporates that function
3. Create a 35_xxx_xxx script tha

[2020-09-16 14:34] jezogwza commented on #230
using predefined kubeconfig which changes the story, we can discuss the need for this of not in the design call.

[2020-09-16 14:37] jezogwza commented on #116
No longer needed given that the document set includes the bootstrap expectation/information

[2020-09-16 14:37] #116 closed

[2020-09-16 14:40] jezogwza commented on #158
The introduction of airshipctl phase run includes waiting for an end condition, which implies the cluster is ready. This issues can be closed.

[2020-09-16 14:40] #158 closed

[2020-09-16 15:39] mf4716 commented on #19
Reached out offline to @vetbijaya (Bijaya) to check status.

[2020-09-16 16:21] jezogwza commented on #343
This was merged

[2020-09-16 16:21] #343 closed

[2020-09-16 20:13] mattmceuen commented on #315
https://review.opendev.org/#/c/749611/

[2020-09-17 13:03] vetbijaya commented on #19
@mf4716 @mattmceuen Need to abandon my earlier PS and will create new one based on new requirements. I'm working/finding on some alternative solution for validating CRs.

[2020-09-17 15:24] mf4716 commented on #19
thank you @vetbijaya

[2020-09-21 05:45] Ashughorla commented on #347
Found worker node in ready state.
Got resolved with latest commits.

[2020-09-21 05:45] #347 closed

[2020-09-21 05:48] Ashughorla commented on #326
@gorshunov
Kindly review changes. Updated patchset.
https://review.opendev.org/#/c/748421/

[2020-09-21 20:25] Ashughorla opened #352 "Worker node 'node03' not coming up in ready state"
**Describe the bug**
Create setup using 00_setup.sh , 10_build_gate.sh and 20_run_gate_runner.sh scripts.
At last script while deploying worker node using 34_deploy_worker_node.sh script. node03 is not coming up in ready state.

**Steps To Reproduce**
Deployed airshipctl setup with changes present at https://review.opendev.org/#/c/748421/

**Expected behavior**
Worker node should come up in ready

[2020-09-21 20:26] Ashughorla commented on #352
[air-worker-1-console.log](https://github.com/airshipit/airshipctl/files/5257968/air-worker-1-console.log)

Attaching logs of air-worker-1

[2020-09-22 14:15] Ashughorla commented on #352
Adding logs for success and fail air-worker-1 node.
[success_air-worker-1-console.log](https://github.com/airshipit/airshipctl/files/5262029/success_air-worker-1-console.log)
[failed_air-worker-1-console.log](https://github.com/airshipit/airshipctl/files/5262030/failed_air-worker-1-console.log)
Line number : 1503

[2020-09-22 15:05] Ashughorla commented on #352
BMH node03 yaml
[bmh.log](https://github.com/airshipit/airshipctl/files/5262356/bmh.log)

[2020-09-22 15:26] Ashughorla commented on #352
node03-bmc-secret
[Uploading node03-bmc-secret.log…]()

[2020-09-23 14:27] ak3216 opened #353 "Add beta tag to Airshipctl quay.io image"
Update the quay.io Airshipctl image to add the beta tag once all beta patchsets have been merged.

Dependent on merging the following patchsets:
-    https://review.opendev.org/#/c/753504/
-    https://review.opendev.org/#/c/752314/

Link to images can be found here:
https://quay.io/repository/airshipit/airshipctl?tab=tags

[2020-09-23 14:41] ak3216 opened #354 "Investigate post-beta release approach"
Need to investigate and propose an approach for releasing airship 2.0 code post-beta release.
- Including treatment of images and code
- Including cross-airship-project versioning
- Including release note strategy

Can possibly look at what cluster-api does for their releases:
- https://github.com/kubernetes-sigs/cluster-api/releases
- Generated from: https://github.com/kubernetes-sigs/cluster-api

[2020-09-23 15:16] seaneagan commented on #354
Ideally we wouldn't have to maintain our own release notes generation code etc, here is an example:

https://github.com/fluxcd/toolkit/blob/master/.github/workflows/release.yaml

[2020-09-23 18:43] realsystem commented on #352
@Ashughorla did you try to deploy without patchset that you mentioned in the description? I mean pure master of airshipctl. Need to have understanding is it in issue with this PS or some common issue.

[2020-09-23 18:46] realsystem opened #355 "Running gate behind the proxy"
As an operator, I would like to deploy clusters behind the corporate proxy. Right now not all places covered by PROXY environment variables and need some manual intervention to the scripts/manifests. Better to automate this.

Proposal: get the PROXY from env vars and drop it where it is needed in the code(scripts/manifests).

[2020-09-23 18:56] Ashughorla commented on #352
@realsystem yes, pure master of airshipctl works fine.
with the changes of https://review.opendev.org/#/c/748421/ patchset, I am facing issue.

[2020-09-23 18:57] realsystem commented on #355
The first draft is to use PROXY from env vars in the ironic pod definition via configMap generator: https://review.opendev.org/752625

The second part is for ephemeral secret: https://review.opendev.org/753514 and https://review.opendev.org/753515

But the same things can be done by replacement transformer in kustomize. Working on it.

[2020-09-24 14:47] mf4716 commented on #19
@vetbijaya , do we have a clear(er) path forward & new PS?  I see the prior PS is abandoned.

[2020-09-24 15:02] vetbijaya commented on #19
@mattmceuen, I'm following the dry run strategy, is it good approach?
@mf4716, yes Mike, I will try to upload WIP PS by end of the day.

[2020-09-28 13:43] niharikabhavaraju commented on #323
I would like to work on this, please assign it to me.

[2020-09-28 15:58] ak3216 opened #356 "Update Phases to set documentEntryPoint to the relative path"
**Proposed change**
Update Phase manifest so that specific site name is no longer required in the documentEntryPoint value.

Instead, use something like the relative path to the phase which will allow for phases to be generalized for type.

[2020-09-28 18:25] sb1975 opened #357 "Error in 24_build_ephemeral_iso.sh"
**Describe the bug**
Error running deployment scripts on a VM enabled with Nested Virtualization with 4 vCPUs and 20 GB RAM.
Ubuntu 18.04.

esudbat@airshipctl:~/airshipctl$ ./tools/deployment/24_build_ephemeral_iso.sh
+ export USER_NAME=esudbat
+ USER_NAME=esudbat
+ ISO_DIR=/srv/iso
+ CLEANUP_SERVE_DIR=false
+ SITE_NAME=test-site
+ sudo rm -rf /srv/iso
+ sudo mkdir -p /srv/iso
+ sudo chmod -R 755

[2020-09-28 18:32] teoyaomiqui commented on #357
is that a type in here with a dot `.`  ?

[2020-09-28 19:40] sb1975 commented on #357
Looks like there is fix in progress for this .. https://review.opendev.org/#/c/752595/

For the temporary workaround, I did the below as suggested by Kostiantyn Kalynovskyi.
export AIRSHIP_CONFIG_PRIMARY_REPO_NAME="."
and then the 22 script again.

[2020-09-28 20:29] sb1975 commented on #357
But now I have another error -
esudbat@airshipctl:~/airshipctl$ ./tools/deployment/25_deploy_ephemeral_node.sh
+ export TIMEOUT=3600
+ TIMEOUT=3600
+ export KUBECONFIG=/home/esudbat/.airship/kubeconfig
+ KUBECONFIG=/home/esudbat/.airship/kubeconfig
+ export KUBECONFIG_EPHEMERAL_CONTEXT=ephemeral-cluster
+ KUBECONFIG_EPHEMERAL_CONTEXT=ephemeral-cluster
+ echo 'Deploy ephemeral node using redfish wi

[2020-09-29 13:13] kozhukalov commented on #356
I'll implement this one.

[2020-09-29 13:23] ak3216 commented on #356
@kozhukalov Further discussion is going on right now on the Design call to determine the path forward. There should be updates to this issue coming out of that.

[2020-09-29 13:56] ak3216 commented on #356
Outcome of the 9/29 Design Call discussion:
- Change Airship Config Manifest , replace PrimaryRepositoryName for PhaseRepositoryName
- Introduce a new value in metadata.yaml called documentEntryPointRoot that will identify the kustomize entrypoint for the site where the phases can be found. **Phase run ** will use TargetPath + <PhaseRepositoryName> + documentEntryPointRoot to identify kustomizatio

[2020-09-29 16:20] ak3216 opened #358 "Introduce Phase List command to output phase list for Phase Plan"
**Proposed change**
As an operator, I want to have the ability to list the phases for a phase plan in my site, so that I can have an understanding of deployment flow and the steps being executed to deliver a plan.

Issue #262 introduced the phase plan sub-command which reads the phase plan document.  This issue would rename this command to 'airshipctl phase list' and have the new command take an a

[2020-09-29 16:59] teoyaomiqui commented on #358
@ak3216 I think output format can be input to phase plan. Right now it's more for visual understanding of the plan. But for example, if you want to run phases sequentially from the plan, you may need only name and namespaces of the phases, so you can call `phase run` afterwards?

Currently phase plan just dumps you the plan document in somewhat human readable output.

[2020-09-29 19:33] #351 closed

[2020-09-30 14:11] jezogwza commented on #353
Let's close this, someone is tagging as I type.

[2020-09-30 14:11] #353 closed

[2020-09-30 14:12] jezogwza commented on #342
All the patchsets associated with this has been merged.

[2020-09-30 14:12] #342 closed

[2020-09-30 14:15] jezogwza commented on #265
Close this issue, and for any remnants of cleanup will open new bugs when we see them or experience them.

[2020-09-30 14:15] #265 closed

[2020-09-30 14:16] mattmceuen commented on #353
[madgin@leviathan:~/airship2/airshipctl-master/manifests/site/test-site/target]$ docker pull **quay.io/airshipit/airshipctl:v2.0.0-beta.1**
v2.0.0-beta.1: Pulling from airshipit/airshipctl
88c9d56e246d: Pull complete
Digest: sha256:40646a74e99964d6a3be3ded01a52ed7f67d89e801d273c54f6356eb07a8c0c1
Status: Downloaded newer image for quay.io/airshipit/airshipctl:v2.0.0-beta.1
quay.io/airshipit/airship

[2020-09-30 14:30] sirajyasin commented on #357
I can help with this issue. I had similar issues with local deployment and got through it.

[2020-09-30 14:36] jezogwza commented on #349
This issue is ready to close.

[2020-09-30 14:42] jezogwza commented on #300
Close this is working now, reported by user.

[2020-09-30 14:42] #300 closed

[2020-09-30 14:58] sirajyasin commented on #357
For local setup we were invoking all the gate/deployment scripts manually. Now that document pull(23_pull_documents.sh) is added to Zuul's gate scripts, we have to follow the same for local deployment as well to get away with manipulating the ~/.airship/config manually for the targetPath.

From airshipctl Directory (test-site deployment):
1. ./tools/gate/00_setup.sh
2. ./tools/gate/10_build_gate.s

[2020-09-30 19:04] aschiefe opened #359 "Enhance baremetal sub command to expose hosts defined in the documents"
The UI will need to operate on the baremetal as defined in the manifests.  However the UI is blind to the manifests and needs to know which hosts are available for the baremetal actions to be run against.

In order to complete the UI integration there will need to be a way to expose the hosts to the UI  / command line to show which baremetal targets can be operated on.  It would be preferable that

[2020-09-30 19:16] ak3216 opened #360 "Update documentation for beta release include phase information"
As a user of Airship 2.0, I want documentation on the phases implementation, so that I can understand what phases do, how to run them, etc.

Documentation shall contain the following:
- General architecture of phases, and brief description of what phases are.
- A description of the phase execution engine.
- How to guide on phases with additional information on the following:
-- Phase Bundles
-- Ex

[2020-09-30 21:46] teoyaomiqui commented on #19
@mattmceuen maybe this should be part of `airshipctl phase validate --validate-schema` , i mean this heavily relies on phases, maybe it should belong to `phase` subcommand?

[2020-10-01 12:58] ak3216 commented on #360
https://review.opendev.org/#/c/755116/ is the first patch set for this issue.

[2020-10-01 13:35] sirajyasin commented on #350
I can work on this issue if no one has started yet.

[2020-10-01 13:35] sreejithpunnapuzha commented on #350
@sirajyasin all yours

[2020-10-01 18:15] aschiefe opened #361 "baremetal <action> --phase <string> requires a node name as well as the phase name"
**Describe the bug**
When running a baremetal operation against a particular phase the CTL will respond with "no hosts selected" unless a node name is given on the command line.  It would be nice to run against all nodes in a phase with the option of only specifying one.

[code]

**Steps To Reproduce**
Command:
airshipctl baremetal ejectmedia --phase workers-target
Should see:
no hosts selected

*

[2020-10-01 19:04] mattmceuen commented on #19
All else equal I would agree with you @teoyaomiqui .  However, the tricky thing for schema validation is that validating CRs in phase N depend on CRDs from phase (N-1).  So that may necessitate a "global" schema validation operation, which walks through the phases in order, and loads the CRDs into the "validating entity" (e.g. a kind API Server).  Ideally we would use the phase plan for the defini

[2020-10-02 07:48] raliev12 commented on #348
@ian-howell you can assign it to me, I'll fix it.

[2020-10-02 13:20] raliev12 commented on #361
I can pick up this one.

[2020-10-02 13:41] ian-howell commented on #348
thanks @raliev12 !

[2020-10-06 13:19] kozhukalov commented on #356
Work in progress.

[2020-10-06 13:38] mf4716 commented on #19
@vetbijaya , what is the current status?

[2020-10-06 13:57] vetbijaya commented on #19
@mf4716, working on refactoring my PS according to Matt's comment.

[2020-10-07 14:08] jezogwza commented on #357
USer to validate if this patchset fixes this.

[2020-10-07 14:27] jezogwza commented on #333
Lets move this issue to Treasuremap.

[2020-10-07 14:45] #361 closed

[2020-10-07 15:01] jezogwza commented on #246
Isogen as a phase was already merged.

[2020-10-07 15:01] #246 closed

[2020-10-07 15:04] jezogwza commented on #274
We can close this, there is an approach been discussed within the context of the Image Builder. manifest integration that overlaps with this.

[2020-10-07 15:04] #274 closed

[2020-10-07 15:07] jezogwza commented on #255
I think we can close, no longer relevant and replaced with #356

[2020-10-07 15:11] jezogwza commented on #356
Lets make sure this is happening in conjunction with #255

[2020-10-07 15:12] jezogwza commented on #159
This is no longer needed, we have paths forwards for this.. Using HostConfig, Image Builder, and delivering expected intentions via manifest.

[2020-10-07 15:12] #159 closed

[2020-10-07 15:59] lb4368 opened #362 "Implement baremetal remotedirect as a phase"
**Proposed change**
Similar to issue #246 where isogen command was implemented as a phase, similar update to implement baremetal remotedirect command as a phase.

[2020-10-07 16:00] lb4368 commented on #362
Patchset has been submitted for this...

Related Change #752363
Subject: Refactor remote direct to use phases
Link: https://review.opendev.org/752363

[2020-10-07 16:02] lb4368 commented on #362
@teoyaomiqui - Assigning this to you since you own initial patchset.

[2020-10-07 18:59] lb4368 opened #363 "Define a CRD/Schema Approach for the Variable Catalogues"
**Problem description (if applicable)**
In order to support validation of content in manifest variable catalogues, we need to define a CRD/schema for each type of catalogue.

**Proposed change**
Start with the Versions catalogue (https://github.com/airshipit/airshipctl/blob/master/manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml) to determine the ability of driving this with

[2020-10-07 19:00] lb4368 commented on #363
Notes from 10/7/2020 Flight Plan call:
    Do we need multiple Kind’s?
        Should try to keep the number of catalogues to a minimum.
        i.e. Versions vs Network is very different?
            So that is the reason why we need multiple.
    This should be define in the airshipctl/tree/master/pkg/api/v1alpha1 like other objects.
    Let’s start with the Versions catalogue (https://github.co

[2020-10-07 20:58] sb1975 commented on #357
Now  got error earlier
esudbat@airship:~/airshipctl$ ./tools/gate/10_build_gate.sh
+++ mktemp -u
++ dirname /tmp/tmp.oq2qNf9Vej
+ TMP_DIR=/tmp
+ ANSIBLE_HOSTS=/tmp/ansible_hosts
+ PLAYBOOK_CONFIG=/tmp/config.yaml
+ sudo ansible-playbook -i /tmp/ansible_hosts playbooks/airship-airshipctl-build-gate.yaml -e @/tmp/config.yaml
[WARNING]: Unable to parse /tmp/ansible_hosts as an inventory source
[WARNI

[2020-10-07 23:49] sb1975 commented on #357
Tried to run the below command
[code]
Failed after 30 try.

[code]

[2020-10-08 14:45] sirajyasin commented on #350
@sb464f , in airshipctl the images are not hardcoded and it is configurable through the variables.

https://review.opendev.org/gitweb?p=airship/airshipctl.git;a=blob;f=manifests/function/clusterctl/clusterctl.yaml;h=7380053a34ba4831dae3db319073981c4540d158;hb=refs/heads/master#l37

Please let us know if this solves your concern

[2020-10-08 14:51] sb464f commented on #350
@sirajyasin I am looking for jestatck cert-manager images. they seem to be hardcoded in clusterctl.

[2020-10-08 18:30] aodinokov commented on #179
kustomize allows to modify the plugin config just as a std resource and we're using this already to generate metal3 config.
nothing additional should be added - it's already OOB.

[2020-10-08 20:44] sirajyasin commented on #350
Thanks @sb464f . There is an issue for this upstream and looks like it is fixed and available in v0.3.10
https://github.com/kubernetes-sigs/cluster-api/pull/2558

With our recent uplift of cluster-api (https://review.opendev.org/#/c/756134/), the image override should be working. I will test and push a PS for the same

[2020-10-09 04:25] sb1975 commented on #357
ok so it didnt work in GCP Vm with nested virtualization but the steps worked in a Local VM.
Now the error came in the last step as below :
[code]

[2020-10-09 13:44] sirajyasin commented on #357
@sb1975 , Thanks for testing in local VM and confirming. There is a fix in review for the above mentioned shell issue.
https://review.opendev.org/#/c/755560/

While waiting for this PS to be merged, you can apply the fix and re-run just the last step (tools/deployment/35_deploy_workload.sh)

[2020-10-09 14:28] #338 closed

[2020-10-12 05:50] Ashughorla commented on #326
@mattmceuen @gorshunovr
Kindly review patchset https://review.opendev.org/#/c/748421/
Done with changes suggested by community.

[2020-10-12 10:27] Ashughorla commented on #352
Issue got resolved.
Got solution with updated BMO package version in HWCC.

[2020-10-12 10:27] #352 closed

[2020-10-12 14:14] aschiefe opened #364 "baremetal actions will now perform a phase action when no flags are provided"
**Describe the bug**
When running a CTL baremetal command you no longer have to provide a node name or a phase, the default will take the action on all nodes defined in a phase.  I'm not sure if this is the expected behavior, if it is the command help needs to tell the user that the default will be to operate on all nodes in the phase or require either a phase name or a node name to function.

**S

[2020-10-12 14:54] drewwalters96 opened #365 "Inaccurate output for incomplete phase documents"
**Steps To Reproduce**
When a user defines an incomplete phase document, e.g.

[code]

and the user performs a document render using `airshipctl phase render custom-phase-target`, the error output is `document filtered by selector No selection conditions specified found more than one document`.

**Expected behavior**
The error should inform the user that the phase document is missing required fiel

[2020-10-12 15:31] jezogwza commented on #317
We will have a single endpoint catalogue that will not be strongly typed.
Will allow for formated data that comply with the HelmToolkit expectations for endpoint definitions.
such as
  ceph_object_store:
      name: radosgw
      namespace: osh-infra
      hosts:
        default: ceph-rgw
        public: radosgw
      host_fqdn_override:
        default: null
      path:
        default: null

[2020-10-12 16:02] jezogwza commented on #323
Description for the implementation https://hackmd.io/3AGF1UHJTcOHHhSE0rnT9w

[2020-10-12 16:21] teoyaomiqui commented on #365
nice catch, i'll fix this

[2020-10-12 17:42] teoyaomiqui commented on #358
we have discussed the plan command with Nikarika and have decided that first step would be is to link to phase plan to actual phase documents because right now it's not connected, it is a simple list of phases that have no connection to actual phase documents.

Adding small diagram

![list](https://user-images.githubusercontent.com/17403294/95775659-71d80480-0c88-11eb-9a4e-2824ccc7a6c3.png)

[2020-10-12 18:15] niharikabhavaraju commented on #358
thank you @teoyaomiqui , please assign this issue to me.

[2020-10-12 18:40] mattmceuen commented on #19
Met with Ruslan and @vetbijaya to discuss how to replicate the `tools/validate_docs` functionality using an airshipctl->kind container interface.  Ruslan is going to dig in a bit and propose an approach.

[2020-10-12 21:29] rkjain opened #366 "airshipctl phase run not working with custom kubeconfig"
**Description**
The phase run --kubeconfig parameter is still reading kubeconfig from the phase directory instead of the passed kubeconfig

**Steps To Reproduce**

[code]

[2020-10-13 02:50] mattmceuen commented on #317
I think we need to split this into three issues:
1 OpenStack-Helm: Create an endpoints catalogue based essentially 1:1 from Airship 1 endpoint catalogue, i.e. "helm-toolkit format".

2 Airship: Explore/grep the functions, looking for URLs/endpoints that are not already cared for by the network or versions catalogues, and which we expect to be different from site to site.  If necessary, create an e

[2020-10-13 12:00] ak3216 opened #367 "Uplift cli-utils library to v0.20.x"
Uplift the cli-utils library to the latest version (0.20.4 as of 10/14/20 but a subsequent release is fine). Current version is v0.18.1.

https://github.com/kubernetes-sigs/cli-utils

[2020-10-13 13:09] ak3216 opened #368 "Migrate Calico function to deploy using Tigera Operator"
As an operator, I want to use Tigera Operator to deploy Calico CNI, so that I have the option of installing open source Calico CNI or Tigera Secure Enterprise Calico CNI using one tool.

This issue will migrate the Calico function in airshipctl to deploy the Tigera Operator, instead of raw manifests
Installation instructions can be found here.
https://docs.tigera.io/reference/installation/api#oper

[2020-10-13 14:12] ak3216 opened #369 "Create a container executor"
As an operator, I need a container executor added to phase executors to be able to run various binaries, currently we mostly take advantage of kubectl (get, wait etc...), but more can be needed in the future, like image builder, or extension of airshipctl in general. Also this can allow for easier version management of binaries such as kubectl.

This item needs further design discussion.

[2020-10-13 15:54] #366 closed

[2020-10-13 16:08] rkjain commented on #366
Thank you. This worked

[2020-10-13 16:10] aodinokov commented on #202
[here](https://docs.google.com/document/d/1qiao8ApYCavndwhVGuSE4588vAJLXyWmvfXQSOuxUJE/edit?usp=sharing) is more information on the possible options.

[2020-10-13 19:33] aschiefe opened #370 "airshipctl cluster status does not function correctly"
**Describe the bug**
When running the cluster status cli command the result is an error regardless of the targetPath in the ~/.airship/conf file.

Example
`$airshipctl cluster status`
`unable to find one of 'kustomization.yaml', 'kustomization.yml' or 'Kustomization' in directory '/home/ubuntu/workspace'`

**Steps To Reproduce**
Run airshipctl cluster status command

**Expected behavior**
An actua

[2020-10-13 20:33] bravinash82 opened #371 "airshipctl "make docker-image-test-suite" failing because of a hardcoded AT&T proxy"
**Describe the bug**
The command "make docker-image-test-suite" fails to download a go mod "github.com/Azure/go-autorest/autorest@v0.11.7" since it assumes the make env is behind a proxy.

**Steps To Reproduce**
As described in link "https://docs.airshipit.org/airshipctl/developers.html", I ran the command "make docker-image-test-suite"
I get the following error:

root@k8s:~/community/airshipctl#

[2020-10-14 02:46] aodinokov commented on #369
This is a really good feature,
although it seems like a duplicate of https://github.com/airshipit/airshipctl/issues/202 which was marked as Post2.0 issue to design.
The original issue contains some options how this can be done.

[2020-10-14 14:46] jezogwza commented on #364
This has to change because of the impact of the phase redesign.
We think that the proper approach would be to include a location for the inventory in the metadata file.
So that this command can :
1- IDentify metadata file
2- Get inventory entry point
3 - Find the host in the inventory bundle
4 - Work as it used to.

[2020-10-14 14:55] #337 closed

[2020-10-14 14:56] sirajyasin commented on #367
I can work on this to uplift cli-utils and test.

[2020-10-15 17:10] ak3216 commented on #249
Add image builder entries from https://docs.google.com/spreadsheets/d/1BQRadxOOzvRq8C6j3fe4xQ1f4AjSCfAyWG73U15pIho/edit#gid=0 as acceptance criteria

[2020-10-15 20:01] mattmceuen commented on #79
I think this one can probably be closed with Rajat's change above.  I think we should do follow-on work to get some production-grade hardware profiles added to Treasuremap, and integrated with a CICD-oriented site definition.

[2020-10-15 20:37] mattmceuen commented on #358
Note (per discussion in the slack channel):  the document validation script / gate is currently not functioning; the right fix requires this phase plan command to be in place.  Once this issue is complete, @raliev12 can follow on with a change to the validation script.

[2020-10-19 16:13] jezogwza commented on #335
Details of this discussion now live at https://hackmd.io/BbFyJRKGRQiuXYJduPhu4Q

[2020-10-19 20:10] seaneagan opened #372 "Migrate from helm operator to helm-controller and source-controller"
**Problem description (if applicable)**

Flux v1 and the Helm Operator are currently in maintenance mode, and will shortly be entering a 6 month migration period before support is removed, now that the GitOps Toolkit (includes helm-controller) is reaching feature parity. The new APIs (e.g. HelmRelease, HelmRepository, HelmChart) have reached beta status and any any further breaking changes to thes

[2020-10-19 21:24] drewwalters96 opened #373 "CI: Replace deprecated GitHub authentication method"
**Problem description (if applicable)**
An endpoint used in our post job [will no longer be supported in November](https://developer.github.com/changes/2020-02-14-deprecating-password-auth/). In order to ensure that our jobs run successfully, we need to update our authentication method for GitHub.

**Proposed change**
Change the password authentication in [update_github_issues.py](https://github.c

[2020-10-19 21:30] ak3216 opened #374 "New command airshipctl cluster get-kubeconfig (**) to retrieve kubeconfig from the cluster leveraging clusterctl"
As an operator, I want to retrieve a cluster's kubeconfig, so that I can have the needed secret information for the cluster.

Today, getting the kubeconfig is performed here:
https://github.com/airshipit/airshipctl/blob/master/pkg/k8s/kubeconfig/secret.go#L34

We would like to rework this to leverage the clusterctl get kubeconfig functionality as outlined here.
https://cluster-api.sigs.k8s.io/clus

[2020-10-19 21:47] ak3216 opened #375 "Update kubeconfig in manifests"
As an operator, I want the ability to inject a kubeconfig into the appropriate manifests, so that I can update/modify the kubeconfig for a cluster as needed.

The issue should provide the user command to specify a kubeconfig source & manifest location for the cluster to be updated. The specified kubeconfig is then updated in the manifests for appropriate cluster as needed. This may leverage a kube

[2020-10-20 12:01] ak3216 opened #376 "Add clusterapi name and namespaces to clustermap"
As an operator, I want the ability to associate namespaces with a cluster in the clustermap, so that I can indicate which namespaces go with which clusters.

Provide the ability for users to indicate what namespaces are associated with each cluster in the cluster map.

Acceptance criteria:
Validate users have the ability to associate namespaces with a cluster and that clustermap is updated with th

[2020-10-20 16:57] ak3216 commented on #374
This was created from the 10/19 YAML discussion

[2020-10-20 16:57] ak3216 commented on #375
This was created from the 10/19 YAML discussion

[2020-10-20 16:57] ak3216 commented on #376
This was created from the 10/19 YAML discussion

[2020-10-21 14:38] sirajyasin commented on #373
I can start looking into this issue if no one has started yet.

[2020-10-21 14:45] ak3216 commented on #357
Code has been merged, closing.

[2020-10-21 14:45] #357 closed

[2020-10-21 15:07] seaneagan commented on #372
https://review.opendev.org/#/c/758615/

[2020-10-21 18:42] vetbijaya commented on #376
I want to work on this one. Can someone assign this issue to me?

[2020-10-21 22:20] #367 closed

[2020-10-22 14:22] sirajyasin commented on #373
A [Related Change(Testing-Auth-Using-Usr-Pswd) was merged. This issue may be ready to close.

[2020-10-22 14:23] sirajyasin commented on #373
A [Related Change(Testing-Auth-Using-Token) was tested. This issue is WIP.

[2020-10-22 14:58] sirajyasin commented on #375
I can start working on this issue if no one has started yet.

[2020-10-22 20:24] teoyaomiqui commented on #356
Closing, all required functionality was merged.

[2020-10-22 20:24] #356 closed

[2020-10-23 14:17] ak3216 commented on #322
Closing with code merge per @sirajyasin

[2020-10-23 14:17] #322 closed

[2020-10-23 14:18] ak3216 commented on #341
Closing with code merge per @sirajyasin

[2020-10-23 14:18] #341 closed

[2020-10-23 16:04] realsystem commented on #355
https://review.opendev.org/755085

https://review.opendev.org/756601

[2020-10-26 05:28] Ashughorla commented on #326
@mattmceuen
Kindly review patchset https://review.opendev.org/#/c/748421/
Done with changes suggested by you.

[2020-10-26 18:47] #373 closed

[2020-10-27 13:41] jezogwza opened #377 "Define mechanism for managing lifecycle of Labels, Taints post deployment via BMH or provider artifacts"
The ability to update the BMH with some labels, that will be bubbled up to the Kubernetes nodes.

Watch for conflicts with CAPI managing labels, or other parties.
Might need to have specific prefixes to avoid race conditions.
Suggestion ...  is using **_Prefix Labels._**  And then automatically appending the prefix to any label this manages,

This is likely an extension to capm3.

This might belon

[2020-10-27 13:55] ak3216 opened #378 "GPG Sops integration issues with gate"
**Describe the bug**
The introduction of GPG Sops integration to handle secret encryption/decryption is now causing other patchsets to fail the gating tests at airship-airshipctl-lint-unit.

These are the patchsets causing the issue:
* https://review.opendev.org/#/c/758392
* https://review.opendev.org/#/c/758707

Example patchsets failing the gate:
* https://review.opendev.org/#/c/759763/
  * http

[2020-10-27 14:19] sirajyasin commented on #371
@bravinash82 , could you please let us know if you still have this issue. We do not see any hardcoded proxy in the scripts. So it might be from your environment variables or proxy settings in docker config. Kindly check your environment variables and try un-setting all proxy variables and re-retry. Let us know if you still have issues

[2020-10-27 14:23] teoyaomiqui commented on #376
@vetbijaya sorry, i had a patchset for it, as it was blocking us to move forward with kubeconfig for workload clusters

[2020-10-27 16:28] mf4716 commented on #378
@cloudstarz - Uday, please ack. receipt, add comment, and we can add you as an assignee.

[2020-10-27 16:55] lb4368 opened #379 "Refactor GPG Sops Implementation of Secret Encrypt/Decrypt"
**Problem description**
Current implementation of SOPS encrypt/decrypt (https://review.opendev.org/#/c/750604/) uses os/exec library to directly invoke gpg binary.  This creates an external dependency upon the gpg binary being installed.

**Proposed change**
Determine an approach to remove this hard dependency.  Suggestions include finding an applicable go library for gpg if one exists or invoking

[2020-10-27 16:57] lb4368 commented on #379
From design meeting chat:

    https://github.com/ProtonMail/gopenpgp
    https://console.cloud.google.com/gcr/images/kpt-functions/GLOBAL/sops?gcrImageListsize=30
    https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/master/functions/ts/src/sops.ts

[2020-10-27 18:10] Arvinderpal commented on #377
Ref metal3 issue: https://github.com/metal3-io/metal3-docs/issues/146

[2020-10-27 18:24] lb4368 commented on #379
Notes from @mattmceuen

In rough order of priority,

1.	The exec.Command dependency on gpg means that gpg is required on airshipctl’s host, even if a developer is only running unit tests.  Can we investigate whether using a pure-go library like gopenpgp or go-gpg can be used to remove that dependency?
2.	If not, we may want to consider follow-on work to delegate the gpg-interfacing code to a conta

[2020-10-27 21:08] cloudstarz commented on #378
Hey all, I am working on this right now. This is being a little tricky to investigate and is very flaky, but we believe an old gpg version is the culprit here and will keep this issue posted

[2020-10-27 22:39] #350 closed

[2020-10-27 23:33] raliev12 commented on #374
Please assign it to me.

[2020-10-28 15:55] teoyaomiqui opened #380 "Add support for custom kubeconfig contexts for clusters"
Currently we have a contract between kubeconfig and clusters managed by airshipctl, that cluster name **MUST** correspond to cluster name.

For easier management I propose that we allow users to specify kubeconfig context per cluster in ClusterMap object, and adding corresponding method to ClusterMap interface in pkg/cluster/clustermap

This would allow for easier merging of kubeconfig into docume

[2020-10-28 16:14] cloudstarz commented on #378
Work in progress patchset here: https://review.opendev.org/#/c/759918

[2020-10-28 16:34] vladiskuz commented on #369
I started working on this issue. Can someone assign it to me?

[2020-10-28 16:34] vladiskuz commented on #202
I started working on this issue. Can someone assign it to me?

[2020-10-28 19:22] teoyaomiqui commented on #376
It would the best if we change the method name and signature, to return Name and Namespace of clusterAPI cluster object, so we can query its kubeconfig from parent cluster.

This way we will decouple airshipctl cluster name and cluster-api object from each other and allow easier integration later as well

[2020-10-28 21:04] sb1975 opened #381 "Backup and Restore of Platform (Undercloud) Infrastructure Components using airshipctl(and possibly in AirshipUI)"
**Problem description (if applicable)**
As a SRE/Operations User, I need an ability to seamlessly Take Backup of my Kubernetes Cluster and Persistent Volumes.
This would help me to rebuild the Infrastructure Platform in case of
1. Disaster Recovery
2. In case there is a need to backup and restore statefulset. For example if there is a need to change the backend storage like change in storage pools

[2020-10-28 23:14] teoyaomiqui opened #382 "Broken gate - some manifests missing correct plugin annotations"
**Describe the bug**
Currently all gates are failing on master because of some missing annotations on manifests, [example build](https://zuul.opendev.org/t/openstack/build/16b6e4e8c7cc46e2beb58acea7d95cc1/console)

**Steps To Reproduce**
Push any patchset based on latest master

[2020-10-28 23:36] teoyaomiqui opened #383 "Enable airship-airshipctl-gate-script-runner during gating process"
Related issue #382

Each patchset is tested at minimum two times before being merged:

1. when u upload/update it
2. when it’s being merged

**In the first case:** the test are run against the patchset itself, so if you base in a branch that is 3 days old, its going to be tested against that, that is fine.
**In the second case:** and this is what really prevents breaking changes. the tests are run

[2020-10-29 10:04] cloudstarz commented on #378
Created https://github.com/mozilla/sops/pull/762 to be able to better understand the underlying issues with sops even better. The patchset linked above fixes one bug with the key cleanup that ha scaused the Decrypt tests to fail in the above patchsets.

[2020-10-29 13:28] #382 closed

[2020-10-30 14:05] #383 closed

[2020-10-30 18:02] teoyaomiqui opened #384 "Add controller-gen and generate-deepcopy targets to Makefile"
**Problem description (if applicable)**
In pkg/api airshipctl stores api objects, that need generated deep copy methods to operate, controller-gen code generator does that for us based on annotations.

It would be convenient to have two targets in Makefile, like in various k8s operators.

**Proposed change**
Add two targets to Makefile:

1. controller-gen

2. generate-deepcopy

Examples of make fi

[2020-11-02 15:38] bravinash82 commented on #371
I have double checked my environment for any proxies configured on the OS, APT, GO. There is none, in fact I can to a go get or a go download and they work just fine. Do you know any particular configuration I need to check?

[2020-11-02 16:11] jezogwza commented on #258
Given that we refactor phases and phase plans to exist or be defined within the type layer, the difference between a phaseplan for GF vs BF is essential for the existence of a different phase plan. This is a non-issue.  We. can defer the need for the creation of these phase plans until we see the need to articulate or have the use case for treasuremap.

[2020-11-02 16:11] #258 closed

[2020-11-02 16:14] jezogwza opened #385 "Ability to support multiple phaseplans within the same manifest context (airship plan list)"
*Currently a Phase Plan is assumed to be just one.
In the case that we want to articulate different phase plans for the same type or site, we need a way to define it. which one is active or contextual.

[2020-11-02 16:21] jezogwza commented on #324
Cluster Types is not an explicit flag or argument to airshipctll anymore, itz just a physical driectory entrypoint .
i.e

apiVersion: airshipit.org/v1alpha1
kind: Phase
metadata:
  **name: workload-workers
  clusterName: workoad-cluster**
config:
  cluster: target-cluster
  executorRef:
    apiVersion: airshipit.org/v1alpha1
    kind: KubernetesApply
    name: kubernetes-apply
  **_documentEntryPo

[2020-11-02 16:21] #324 closed

[2020-11-02 17:35] sirajyasin commented on #371
@bravinash82 , could you also please check your docker config for any proxy settings. Because from your Error Log, the proxy is used for `go mod download` within docker container.

or

[2020-11-02 18:24] teoyaomiqui opened #386 "[CI related] enable linter and copyright jobs to be run against all files"
**Describe the bug**
With our current CI setup lint checks run only when go files are modified, which allowed trailing whitespace to be merged into airshipctl, which essentially broke all jobs that had linter included in them.

**Proposed solution**
Add lint job to be run against all files, perhaps we could also split current lint-unit test job into separate smaller jobs, because we may not want t

[2020-11-02 20:29] teoyaomiqui opened #387 "[CI] Add a non-voting job to zuul, that would check if the commit is linked to github issue"
As discussed on PTG, we agreed that we need a check that verifies that a commit has link to an issue in a form of

[code]

for this to work properly, we should leverage same mechanism to parse commit message as our gerrit bot. @ianpittwood or @ian-howell can you help with details here, how that is implemented in the bot?

[2020-11-03 02:02] #380 closed

[2020-11-03 13:43] sirajyasin commented on #387
@teoyaomiqui , we already have a job to update the github issue status based on the tag(Relates-To, Closes) in the commit message. Because we are using credentials in the job to connect to GitHub we cannot have this job run anywhere other than promote or post stage. However if we just want to parse commit message for checking, we can use the same logic to parse commit message and pass/fail (Non-Vo

[2020-11-03 14:21] ak3216 commented on #349
@raliev12 can we go ahead & close this issue? I think the patchset you merged referenced this issue & reopened it. Thanks!

[2020-11-03 16:56] raliev12 commented on #349
I think so, we can close this one.

[2020-11-03 17:12] bravinash82 commented on #371
root@k8s:~# systemctl show docker --property Environment
**Environment=**
I am puzzled.

[2020-11-03 17:19] teoyaomiqui commented on #387
that sounds great, i would definitely would prefer to have it as separate job, without issue updates. just parse commit msg, and fail/success

[2020-11-03 17:28] ak3216 commented on #349
Closing per code merge

[2020-11-03 17:28] #349 closed

[2020-11-03 17:58] bravinash82 commented on #371
I think I found the problem:

root@k8s:~/community/airshipctl# docker image ls -a
REPOSITORY          TAG                 IMAGE ID            CREATED             SIZE
<none>              <none>              898d7e626c5a        14 minutes ago      763MB
<none>              <none>              c3ac435905d4        14 minutes ago      763MB
<none>              <none>              642fcffc5670        1

[2020-11-03 18:08] bravinash82 commented on #371
Thanks, I fixed it, the proxy was actually configured in here "~/.docker/config.json". I cleared and it started working. You can close this bug now.

[2020-11-03 18:08] #371 closed

[2020-11-04 12:21] Ashughorla commented on #326
We are done with changes as suggested.
Kindly review.

@mattmceuen @dukov

[2020-11-04 15:14] teoyaomiqui opened #388 "Allow to specifiy context in k8s client"
**Problem description (if applicable)**
We currently relay on specifying kubeconfig context when running phases, however if we will need to use k8s client integrated in airshipctl, it does not support context, and uses only current context.

**Proposed change**
Change k8s client to accept context as parameter
- [link to k8s client constructor](https://github.com/airshipit/airshipctl/blob/master/pk

[2020-11-04 15:16] teoyaomiqui commented on #388
**Note**
In parallel we should make all commands that use kubeconfig to be context aware as well, should we create a separate issue for that, or extend this one?

[2020-11-04 15:36] jezogwza commented on #386
**Proposed** : Separate lint job from the test, and lint will be always be executed for all changes. The Test will apply to the same changes as today,

[2020-11-04 15:46] jezogwza commented on #358
Keep track of the development for #385 , since it will have an impact on the implementation.
Essentially we sort of need a notion of Active or Current PhasePLan within the document sets.

[2020-11-04 15:56] sirajyasin commented on #386
I can start working on this issue

[2020-11-04 15:57] sreejithpunnapuzha commented on #386
all yours @sirajyasin

[2020-11-04 18:48] ak3216 commented on #377
this is different from #3 in that it's creating an operator independent of CAPI.

[2020-11-04 19:03] ak3216 commented on #255
re-closing

[2020-11-04 19:03] #255 closed

[2020-11-04 21:19] teoyaomiqui commented on #388
@sreejithpunnapuzha I have made this patchset before creating an issue, you can use it as a reference, if needed https://review.opendev.org/#/c/761232/

[2020-11-04 21:34] ak3216 commented on #344
@vladiskuz @teoyaomiqui do we still need an executor for remote direct? It looks like Vladislav's patchset covers the isogen executor, correct?

[2020-11-04 21:42] ak3216 commented on #362
@teoyaomiqui is there a dependency on #344 for a remote direct executor? Thanks!

[2020-11-05 00:37] mattmceuen opened #389 "Version Catalogue-based replacement doesn't work for clusterctl"
**Describe the bug**
A previous patchset was intended to accomplish a two-part substitution of container versions into CAPI components, to work around assumptions held by `clusterctl`:
(versions catalogue) --[ReplacementTransformer]-->  (Clusterctl YAML)  --[clusterctl library]-->  (CAPI manifests)

However, only the second leg (the hard part) worked right; the first part has gaps.

**Steps To Rep

[2020-11-05 16:16] jezogwza commented on #385
Discussed here https://hackmd.io/QiEksO4fRk-MnBjwBFaAkQ#Ability-to-support-multiple-phaseplans-within-the-same-manifest-context-385

[2020-11-05 16:45] jezogwza commented on #256
Probable should target :
- initialize a site/region
- initialize a phase
- initialize a workload cluster
- initialize a phase plan

[2020-11-05 18:05] teoyaomiqui commented on #378
related patchset https://github.com/airshipit/airshipctl/issues/378

[2020-11-05 21:02] ak3216 opened #390 "Github releases action POC"
As an Airship designer, I want to have a POC to prove out the github releases actions for documenting code changes, so that we can determine a path forward to support #354 which will define the post-beta release strategy.

Sample approach can be found here: https://github.com/fluxcd/flux2/blob/main/.github/workflows/release.yaml
Also compare with CAPI approach outlined in #354 which may complement

[2020-11-05 21:06] ak3216 commented on #390
This issue was created from the 11/5 Design Call.
https://hackmd.io/QiEksO4fRk-MnBjwBFaAkQ#Investigate-post-beta-release-approach-354-
Recording of the discussion can be found here: https://hackmd.io/CvuF8MzmR9KPqyAePnilPQ#Thursday-Nov-5-2020

[2020-11-06 04:59] guhaneswaran opened #391 "Adding feature to airshipctl to identify expirable entities in the cluster"
**Problem description (if applicable)**
Feature to check for checking the expirable entities in the cluster like TLS certificates and report in a readable way(either in yaml/json)

**Proposed change**
new command - `airshipctl cluster check-certificate-expiration` to check for TLS certificates, workload kubeconfig secret and also the node certificates

**Potential impacts**
nil

[2020-11-06 14:15] teoyaomiqui commented on #344
@ak3216 yes, unfortunately i was busy with something else. we need invenotry interface first.

[2020-11-06 16:28] drewwalters96 opened #392 "Missing plugin images are handled as document errors"
**Describe the bug**
If a plugin image is missing, airshipctl will not halt and display an error; it will continue to attempt to process documents, causing misleading Kustomize errors.

[code]

**Steps To Reproduce**
1. Remove local Docker images
2. Run `airshipctl phase run bootstrap`

**Expected behavior**
Airshipctl should produce a relevant, actionable error for the user. Something like "Plugi

[2020-11-06 16:30] drewwalters96 commented on #392
The output looks fairly clean above and does have a Docker error; however, in a terminal, it is easily missed by the last line wrapping several times. To a new user, it looks like a Kustomize error.

[2020-11-06 17:38] teoyaomiqui commented on #392
@drewwalters96 I think that it is very important to save original kustomize error, it can help debugging.
Would it be better to wrap errors produced by plugins into ErrDocumentPluginRun{} that would embed kustomize error, and print it in more informational and human readable way?

[2020-11-06 17:48] drewwalters96 commented on #392
@teoyaomiqui What information does the user need to extract from the Kustomize error? Kustomize errors are helpful when the user has a document error, but I thought this particular Kustomize error happened only because the templater did not execute.

[2020-11-06 18:22] #386 closed

[2020-11-06 18:30] #372 closed

[2020-11-06 19:44] lb4368 commented on #358
As a result of the design discussions for #385 introducing the concept of multiple phase plans and a design to develop airshipctl [phase|plan] [list|describe|run] command syntax, I updated the title and description for this to implement the 'airshipctl phase list' command with arguments to identify the selected phase plan.

[2020-11-06 19:59] lb4368 opened #393 "Introduce "Phase Describe" Command"
**Proposed change**
Add an 'airshipctl phase describe' command that take a phase name/namespace and return information that would give an operator insight into what is contained within the phase.

The command should return:

1. A description of the phase.  This would require a description field be added to the Phase document that could be populated by the phase creator to provide useful informatio

[2020-11-06 20:06] lb4368 commented on #385
Per design discussion from 11/5/20, it has been decided to support multiple name phase plans within a document set.  This issue then becomes delivering an 'airshipctl plan list' command that would output a simple list of phase plans contained within the document set.

[2020-11-06 20:18] lb4368 opened #394 "Introduce "Plan Describe" Command"
**Proposed change**
Add an 'airshipctl plan describe' command that take a phase plan name/namespace and return information that would give an operator insight into what is contained within the phase plan.

This issue is similar to #393 but is for phase plans rather than a single phase.

The command should return:

    1. A description of the phase plan. This would require a description field be ad

[2020-11-06 20:27] lb4368 opened #395 "Introduce "Plan Run" Command"
**Proposed change**
Add an 'airshipctl plan run' command that takes a phase plan name/namespace argument and runs the associated phases in the sequence specified in the plan document.

This issue will need analysis on existing gates in tools/deployment folder for wait conditions that would be necessary to handle during a plan sequentially running phases.

[2020-11-07 10:45] #387 closed

[2020-11-09 17:08] sb464f opened #396 "remotedirect redfish-dell type failing to get manager ID for node 'System.Embedded.1'. with 401 unauthorized"
**Describe the bug**
When using `redfish-dell` type while performing airshipctl baremetal remotedirect it is failing to get managerID with 401 unaithorized. Checked the debug log by enabling print of credentials it seems to use correct credentials but still failing with 401. It works when using type `redfish`.

[code]
**Expected behavior**

[code]

**Environment**
- airshipctl Version:
- Operating

[2020-11-09 18:58] ak3216 commented on #172
This may be ready to close

[2020-11-09 19:00] #389 closed

[2020-11-09 19:30] teoyaomiqui opened #397 "Develop inventory interface"
Develop an inventory interface, that would allow to manage remote hosts, in baremetal commands as well as in executors.

Right now airship manifest metadata has field "inventory" and path, that should be used to embed all BaremetalHost documents in it. The inventory interface should be build on top of this inventory entrypoint, and passed as interface to executors.

[2020-11-09 19:51] teoyaomiqui commented on #397
related issue #359

[2020-11-09 22:46] ak3216 commented on #40
Code was merged on July 30. Closing.

[2020-11-09 22:46] #40 closed

[2020-11-09 23:49] mf4716 commented on #330
@muly , can you please provide an update?

[2020-11-09 23:51] mf4716 commented on #358
@niharikabhavaraju - can you please provide status?

[2020-11-10 00:16] mf4716 commented on #376
@vetbijaya - can you provide a status?

[2020-11-10 00:17] mf4716 commented on #296
@vetbijaya - can you provide a status?

[2020-11-10 00:19] mf4716 commented on #19
@vetbijaya - can you please provide status?

[2020-11-10 01:43] #376 closed

[2020-11-10 08:45] SirishaGopigiri opened #398 "Refactoring masterpassphrase cmd to encrytionkey and adding regex support"
**Enhance Masterpassphrase command**
Current `airshipctl secret generate masterpassphrase` command is used to generate random passphrases only.

**Proposed Changes**
1. Refactoring the current implementation to add directory structure and also change the command to `airshipctl secret generate encryptionkey`.
2. Adding regex support to the `airshipctl secret generate encryptionkey --regex <regex>`

[2020-11-10 15:19] vetbijaya commented on #296
@mf4716 - I'm working with @niharikabhavaraju on this issue. Currently, we're addressing the review comments and got some unit-tests and print tree view error. Working on that.

[2020-11-10 15:21] vetbijaya commented on #19
@mf4716 - waiting for Ruslan's comments on this issue.

[2020-11-10 15:55] drewwalters96 opened #399 "Publish airshipctl images with commit SHA"
**Problem description (if applicable)**
In order to tag our releases in quay.io, our images in quay.io need to be tagged with the git commit SHA they correspond to.

**Proposed change**
Tag the airshipctl image with the commit SHA it was built from when publishing to quay.io. Example: `quay.io/airshipit/airshipctl:d90453a46bab12a4650e05bb9360454bc2f2f832`

Related #390

[2020-11-10 16:06] niharikabhavaraju commented on #358
@mf4716 Sure, currently we have a wip ps which lists phase names with phase groups( linked phase plan command with phase documents).

[2020-11-10 16:24] gorshunovr opened #400 "[CI] Make GitHub issue job voting in Zuul"
- Make GitHub issue job described in #387 voting in Zuul
- Merge it with existing linting job to save compute resources

[2020-11-10 17:08] sirajyasin commented on #368
I can start looking into this issue.

[2020-11-11 01:24] mattmceuen opened #401 "Ephemeral disk mounting isn't working for ram-backed disks"
This change added logic to set  up ephemeral disk mounts conditional upon how much RAM and what disks are available:  https://review.opendev.org/#/c/749096

However, it has a gap for the case where a bare metal host has lots of RAM (>16GB).  We need to add a file-backed ext4 filesystem for docker container use, because docker won't work on top of the overlayfs that is created in RAM.

[2020-11-11 05:58] Ashughorla commented on #326
@dukov
Kindly provide code-review at https://review.opendev.org/#/c/748421/14
Just done rebase.

[2020-11-11 12:20] Ashughorla commented on #326
Patchset is merged.

[2020-11-11 12:20] #326 closed

[2020-11-11 14:55] guhaneswaran opened #402 "Feature to generate certificates"
**Problem description (if applicable)**
To introduce a feature using which the operator can generate certificates

**Proposed change**
A new command `secret generate certificate` to be introduced which takes an input yaml for building the necessary certificates.

Design Document - https://hackmd.io/@sirishagopigiri/HkXlX-mLv (Also includes passphrase generation covered as part of different enhance

[2020-11-11 15:07] jezogwza commented on #172
This is already been done. We are delivering a custom ca through a function (See https://github.com/airshipit/airshipctl/blob/master/manifests/function/k8scontrol/cluster.yaml for an example).

Close this.

[2020-11-11 15:07] #172 closed

[2020-11-11 15:09] jezogwza commented on #78
This is accomplished via two aspects. the document set :

- Hardware Profile: see https://github.com/airshipit/airshipctl/tree/master/manifests/function/hardwareprofile-example
- Airship Image CR generated and consumed by Image Builder.

closing this.

[2020-11-11 15:09] #78 closed

[2020-11-11 15:13] jezogwza commented on #77
We do not understand what the next step for this would be.
- Is this about using CC on the gates *this appears to be done*
- Is this building the HCC itself

We will close this, we should open a new issue or reopen this if needed once we understand.

[2020-11-11 15:13] #77 closed

[2020-11-11 15:25] jezogwza commented on #230
This is now taken care of by the fact that we declare the CA we need.
Also, this issue generalizes this need #374 .

[2020-11-11 15:25] #230 closed

[2020-11-11 15:27] jezogwza commented on #66
Given that we are moving baremetal isogen/baremetal remotedirect under phases . This is no longer applicable.

[2020-11-11 15:27] #66 closed

[2020-11-11 15:39] jezogwza commented on #205
The airshipctl image is not scannable, because the way its build. Any other container images related to airship go to quay and therefore are automatically scanned there. Closing.

[2020-11-11 15:39] #205 closed

[2020-11-11 15:40] #206 closed

[2020-11-11 15:43] jezogwza commented on #44
closing this,  Issue #256 is driving the requirements for whatever feature is needed.

[2020-11-11 15:43] #44 closed

[2020-11-11 16:02] gorshunovr commented on #399
Related change: https://review.opendev.org/#/c/762164/

[2020-11-11 16:06] gorshunovr commented on #400
Pending decision to require GitHub issue to each patch set and related announcement & docs update.

[2020-11-11 16:09] gorshunovr commented on #399
Tag is already added by the build job [0] and those tags are visible [1]. This [3] patch adds labels to the image for the commit tag & date/time.
[0] https://opendev.org/airship/airshipctl/src/branch/master/roles/airshipctl-publish-images/tasks/main.yaml#L39-L45
[1] https://quay.io/repository/airshipit/airshipctl?tab=tags
[2] https://review.opendev.org/#/c/762164/

[2020-11-11 16:42] #396 closed

[2020-11-11 20:21] vetbijaya commented on #296
@mf4716 - current status- split the huge patch sets into smaller ones, now ready for review.

[2020-11-12 01:55] teoyaomiqui opened #403 "Allow phase rendering to be performed both by phase interface and by executor interface"
**Problem description (if applicable)**
Right now, when we run `airshipctl phase render` command, rendering is performed by the executor that is referenced
by phase.

In this scenario, if a phase performs an image build process, it may use document entrypoint simply to access baremetal hosts or extract some information from the documentset, so the document bundle that phase operates on may be diff

[2020-11-12 17:29] sb464f opened #404 "Ethernet_mac_address get null value if mac address is not passed in host catalogue causing network service to fail."
**Describe the bug**
Host-generator template is generating a null value like below when host catalogue is not having any mac value for the interface
[code]
which is causing network service to come up and logs says, `failed to rename  mac=<no value> `.

**Steps To Reproduce**
skip passing any value to ethernet_mac_address rebuild ephemeral iso with no value.

**Expected behavior**
Expected to not p

[2020-11-12 17:44] mattmceuen commented on #404
Hey Sai, the template will skip over `ethernet_mac_address` if the catalogue doesn't have `macAddresses` defined:
https://github.com/airshipit/airshipctl/blob/master/manifests/function/hostgenerator-m3/hosttemplate.yaml#L85-L87

Can we just leave `macAddresses` out of the catalogue if we don't want to render any?  Or is there a use case where an empty (but present) `macAddresses` would be useful -

[2020-11-12 17:59] mattmceuen commented on #404
said differently, right now the generator is a passthrough - if macAddresses is null in the catalogue, ethernet_mac_addesses will be null in the BMH.  It's better to keep the generator a passthrough except when there is good reason do diverge (since that's more code to maintain) -- that's why I was asking about the use case.

[2020-11-12 19:46] bravinash82 opened #405 "'AirshipCTLSettings' does not exist anymore, documentation fix required"
**Describe the bug**
The documentation on plugins located here https://docs.airshipit.org/airshipctl/plugins.html#accessing-airshipctl-settings or here https://github.com/airshipit/airshipctl/blob/master/docs/source/plugins.md#accessing-airshipctl-settings is not relevant anymore since the whole subfolder 'environment' under "opendev.org/airship/airshipctl/pkg/" has been purged.

**Steps To Reprod

[2020-11-12 19:47] sb464f commented on #404
Okay if we can skip `macAddresses`. I ran into a scenario where I wanted to pass eno4 macaddress and skip all other interfaces mac addresses. Only for those kind of scenarios.

[2020-11-12 20:27] mattmceuen commented on #404
I think passing a subset of mac addresses ought to work fine - i.e. only eno4.  If that doesn't work as expected let me know though.

[2020-11-12 22:45] ak3216 opened #406 "Create kustomize patch to add tolerations for initinfra target components"
As an operator, I want the ability to define tolerations for the infrastructure components deployed in the initinfra phase for the target cluster, so that they can be allowed to run on the main node of the target cluster.

This issue should define add kustomize patches to all infrastructure components to apply tolerations to allow them to run on main (i.e. master) nodes. This is due to the fact th

[2020-11-12 22:52] ak3216 opened #407 "Create kustomize patch to apply nodeSelector labels for initinfra target components"
As an operator, I want the ability to define nodeSelectors for the infrastructure components deployed in the initinfra phase for the target cluster, so that they will be constrained the main node of the target cluster and not run on the worker nodes.

This issue should add kustomize patches to all infrastructure components to apply nodeSelector labels to steer them to run on main (i.e. master) nod

[2020-11-12 22:54] ak3216 commented on #406
This was reviewed on the 11/12 design call https://hackmd.io/QiEksO4fRk-MnBjwBFaAkQ#Thursday-Nov-12-2020

[2020-11-12 22:54] ak3216 commented on #407
This was reviewed on the 11/12 design call https://hackmd.io/QiEksO4fRk-MnBjwBFaAkQ#Thursday-Nov-12-2020

[2020-11-13 14:37] lb4368 opened #408 "Add Manifest Function for cert-manager"
**Problem description (if applicable)**
There is a need to be able to specify k8s tolerations for the cert-manager deployment in order to deploy it to the target control plane nodes.  Since it is currently brought up by clusterctl, we will have to add cert-manager as a function and then deploy it via init-infra phase.  Then clusterctl should be able to use the deployed cert-manager.

**Proposed ch

[2020-11-13 14:39] lb4368 commented on #408
Keep a watch on related issues #406 and #407 as similar tolerations and nodeSelector will need to be applied to cert-manager.

[2020-11-13 16:34] lb4368 opened #409 "Phase Status: Update executor definition to introduce. a status interface"
**Problem description (if applicable)**
As an operator, I want a way to see the state of the artifacts delivered by a phase.  Since the method of determining the state of a phase is dependent upon the executor used by the phase, each executor would be responsible for knowing how to report status.  We need an interface which executors will implement to report phase status.

**Proposed change**
Upda

[2020-11-13 16:44] lb4368 opened #410 "Phase Status: [Epic] Update executors to implement status interface"
**Problem description (if applicable)**
The new executor phase status introduced #409 needs to be implemented on the various executors where is makes sense to report a status.

**Proposed change**
Identify phase executor implementations that will implement the status interface.  Create sub-issues for implementation.

Design discussion:  See design discussion here: https://hackmd.io/eiVvMiCwR5KsZSK

[2020-11-13 16:58] lb4368 opened #411 "Phase Status: Introduce "phase status" Command"
**Problem description (if applicable)**
As an operator, I want a command for viewing the state of the artifacts delivered by a phase.

**Proposed change**
Introduce 'airshipctl phase status' command that would take a phase name/namespace argument to produce a user-friendly output indicating status of the phase.

This command would invoke the executor status interface introduced in #409 for the spe

[2020-11-13 18:29] lb4368 opened #412 "Phase Status: Introduce "plan status" sub-command"
**Problem description (if applicable)**
To expand upon #411 where a command for phase status is available, as an operator, I want a plan status command in order to access status information for all phases within a phase plan.

**Proposed change**
Introduce 'airshipctl plan status' command that would take a phase plan name/namespace argument to produce a user-friendly output indicating status of th

[2020-11-13 21:27] rkjain opened #413 "Phase run control plane gets stuck with docker provider"
**Description**

airshipctl phase run control-plane  with docker provider is not working with the latest code.
It gets stuck while deploying control plane. However, this is working fine, if I checkout a commit from Nov 10 (9c9369088c26e2fc7cea200e78a2966a3c173d68) - "Change image tags"

**Steps To Reproduce**

airshipctl phase run controlplane-ephemeral --debug --kubeconfig ~/.airship/kubeconfig
[

[2020-11-13 22:51] teoyaomiqui commented on #413
@rkjain This means that some resources are not reaching desired state, can you please paste output describing all objects in kubernetes that are delivered in this phase?

[2020-11-13 23:40] rkjain commented on #413
Yeah. Here you go
❯ airshipctl phase render controlplane-ephemeral
[code]

[2020-11-14 00:18] teoyaomiqui commented on #413
@rkjain i mean `kubectl describe` and `kubectl get` on those objects

[2020-11-14 00:33] rkjain commented on #413
[code]

[2020-11-14 00:42] rkjain commented on #413
[code]

[2020-11-14 00:43] rkjain commented on #413
[code]

[2020-11-14 00:47] rkjain commented on #413
[code]

[2020-11-16 15:03] seaneagan commented on #390
It looks like the github bot is not working, here is the implementation for release notes generation:
https://review.opendev.org/#/c/762714/

[2020-11-16 15:15] seaneagan commented on #354
It looks like the github bot is not working, here is the implementation for release notes generation:
https://review.opendev.org/#/c/762714/

Next steps for the release workflow would be:
1. image tagging, which would require adding an encrypted secret for the quay credentials to the airshipctl github repo: https://docs.github.com/en/free-pro-team@latest/actions/reference/encrypted-secrets
We coul

[2020-11-16 15:47] teoyaomiqui commented on #354
@seaneagan this looks nice. I see that this release has all the issues we had since the start? Will next releases contain only delta issues?

[2020-11-16 15:53] seaneagan commented on #354
@teoyaomiqui yes, it will diff against the previous tag when one exists

[2020-11-16 17:57] teoyaomiqui commented on #413
Issue appears to be gone with updates to versions catalogue @rkjain  please confirm, and we can close the issue

[2020-11-16 18:44] rkjain commented on #413
Looks like this was a temporary issue. Today, I did not face the same problem with the latest code.

[2020-11-16 23:06] seaneagan opened #414 "Publish release binaries"
**Problem description (if applicable)**

We are currently only publishing container images for airshipctl, and not binaries. At least when we cut a release, it would be useful to publish binaries as well, as these would be much easier to integrate into arbitrary pipelines and/or other container images.

**Proposed change**

Integrate with http://goreleaser.com to publish release binaries via githu

[2020-11-16 23:41] #390 closed

[2020-11-17 07:03] kozhukalov commented on #405
Let me fix this, please

[2020-11-17 12:43] ak3216 commented on #405
@kozhukalov all yours. Thanks!

[2020-11-18 00:46] rkjain commented on #413
The same problem happened again today.

[code]

We tested this with multiple providers. And observed that if we take out the below code from clusterctl.yaml, everything works fine.

[code]

[2020-11-18 14:48] sb1975 commented on #297
Inventory Interface is different from the Service Mesh related feature enhancement detailed in this issue.

[2020-11-18 15:05] raliev12 opened #415 "Use document filesystem to perform all file-related operations in airshipctl"
**Problem description (if applicable)**
Currently we do have several approaches in airshipctl how we do file related operations, using direct ones like ioutil-*/os-*/filepath-* makes mess in code and reduces quality of unit tests for functions since it's not possible to properly mock FS objects and methods. We have to switch all file-related operations in the code to use filesystem interface, and

[2020-11-18 15:18] jezogwza commented on #413
This was fixed.

[2020-11-18 15:48] dukov commented on #369
Uplift kustomize libraries versions https://review.opendev.org/#/c/763164/

[2020-11-18 17:33] bravinash82 opened #416 "airshipctl document pull has a default pull from treasuremap that is not documented"
**Describe the bug**
when "airshipctl document pull" is executed. Airshipctl automatically pulls/clones a default repository from treasuremap.

**Steps To Reproduce**
Execute "airshipctl document pull".

**Expected behavior**
Neither "https://docs.airshipit.org/airshipctl/cli/airshipctl_document_pull.html" nor the "airshipctl document pull --help" actually documents the fact that it does an automa

[2020-11-18 17:36] bravinash82 opened #417 "airshipctl document pull, pulls/clones repository in to /tmp/default/ which is volatile directory"
**Describe the bug**
airshipctl document pull, pulls/clones repository in to /tmp/default/ which is volatile directory.

**Steps To Reproduce**
Execute "airshipctl document pull".

**Expected behavior**
Any pull/clone must usually use the current directory where the command was executed or "/var/tmp/..." directory must be used. Using "/tmp/..." would cause the directory to be vanished if the opera

[2020-11-18 17:46] #384 closed

[2020-11-18 17:47] seaneagan opened #418 "Release automation: publish container images for airshipctl and krm-functions"
**Proposed change**

As part of #354 we should automate the publishing of container images tagged with the release version to quay for airshipctl and the krm-functions. Ideally we could pull the versions corresponding to the commit that was tagged, add the release version tag to each, and then push the tag back to quay, rather than rebuilding the images, if possible.

[2020-11-18 18:28] seaneagan opened #419 "Version pinning for krm-function invocations"
**Problem description (if applicable)**

Now that the kustomize plugins are no longer packaged into `airshipctl`, and we are using container images instead,
anywhere we are pinning to certain version of airshipctl (and its manifests) are no longer pinned to a corresponding version of these plugins, since currently we are just always referencing the `latest` tag, for example:

https://github.com/ai

[2020-11-18 19:04] mattmceuen commented on #315
This is complete with the Treasuremap change that has merged here: https://review.opendev.org/#/c/753684/

[2020-11-18 19:05] #315 closed

[2020-11-18 21:04] mattmceuen commented on #404
Just re-read your response @sb464f and now I understand the issue -- I agree that it makes sense to be able to pass one mac address for one interface but leave out mac address for another interface, if that's a real use case you were hitting.  I'll add that logic to the template!

[2020-11-19 04:40] sb464f commented on #404
Yes that is the use case @mattmceuen want to add eno4 mac address and leave out other interfaces.

[2020-11-19 12:02] mattmceuen commented on #404
@sb464f  just for curiosity's sake, what was the driver for this use case?  I'd like to better understand when the mac addresses are needed and when they're not.

Note to self: also consider add validation logic so that if there's en entry under macAddresses/ipAddresses that does not correspond to a defined network interface, throw an error.

[2020-11-19 13:45] seaneagan commented on #418
I decided not to publish release tags, at least for now, for the krm functions since we may want to give them their own versioning separate from that of airshipctl, see #419.

[2020-11-19 15:21] rkjain commented on #413
The issue still exists.  (https://review.opendev.org/#/c/763232/)
The script CONTROLPLANE_COUNT=1 TEST_SITE=docker-test-site ./tools/deployment/provider_common/30_deploy_controlplane.sh

failed on zuul.
[code]

[2020-11-19 15:37] rkjain commented on #413
To test the scripts locally one can do the following:

[code]

[2020-11-20 20:18] rkjain commented on #413
Here is a log of the local run of the above scripts. And they work fine. However, the problem exists on Zuul, when the phase run control plane get stcuk
[code]

[2020-11-23 16:16] mel1nn opened #420 "Missing configuration for the virtual media process in ironic function"
When installing Ironic with airshipctl and provision a bare metal server using the virtualmedia process, an error occurs in the Ironic pod: The isolinux.bin file is not found.

We need to specify the path of this file in the ironic configuration as set in https://github.com/metal3-io/ironic-image/blob/168207c1c2bdfa8761269bdf6434883b05647036/ironic.conf.j2#L39:

`isolinux_bin = /usr/share/syslinux

[2020-11-23 17:10] #401 closed

[2020-11-23 20:23] muly commented on #330
I have split the patchset into smaller patchsets. Below is the list of patchsets associated with this story.

https://review.opendev.org/c/airship/airshipctl/+/763265 - clusterctl client changes
https://review.opendev.org/c/airship/airshipctl/+/763300 - k8s applier changes
https://review.opendev.org/c/airship/airshipctl/+/763304 - pkg phase: cmd, client changes
https://review.opendev.org/c/airship

[2020-11-23 22:37] ak3216 commented on #314
We have an increasing number of people starting to trial airshipctl and are looking for some documentation on how to get started. It might be good to at least get the updated list of scripts to run on https://docs.airshipit.org/airshipctl/architecture.html#example-usage as what is out there today is not valid.

[2020-11-23 22:55] drewwalters96 commented on #314
@muly Is there anything we can do to help complete this issue?

[2020-11-23 23:13] mattmceuen commented on #420
Thank you for submitting this, @mel1nn!

@sb464f, have you run across this issue in your testing?

This may be something we should bake into our custom ironic image, which is on the menu for next Tuesday's design meeting.

[2020-11-23 23:19] mel1nn commented on #420
Yes and I fixed or by adding the file path of the isolinux_bin :)

[2020-11-24 15:35] sb464f commented on #420
@mattmceuen we override the ironic conf in our manifests with this config -> https://opendev.org/airship/airshipctl/src/branch/master/manifests/function/baremetal-operator/config-file/ironic.conf

but in the ironic logs only this entry for isolinux_bin
`2020-11-23 20:34:05.542 11 DEBUG oslo_service.service [-] isolinux_bin                   = /usr/lib/syslinux/isolinux.bin log_opt_values /usr/lib/

[2020-11-24 15:37] mel1nn commented on #420
Yes, and this specified file is not available in the docker image.

[2020-11-24 15:37] mattmceuen commented on #413
I think we need to see the output from the problematic run to be able to dig into this deeper @rkjain.  Can you add the debugging commands to the deployment script within your patchset?

[2020-11-24 16:00] mattmceuen commented on #420
@mel1nn I see the reference to `/usr/lib/syslinux/isolinux.bin` in my ironic logs, but I don't see an error for some reason, even though I confirmed that the file isn't in that location on the ironic container.  However, it's also absent from my `/usr/share/syslinux`!  So a couple questions:

1. I'm not familiar with how this file is used by ironic; do you have any idea why it would _conditionally

[2020-11-24 16:01] sb464f opened #421 "controlplane-target using old metal3machinetemplate object moved from ephemeral"
**Describe the bug**
kubeadmcontrolplane uses metal3machinetemplate as reference for qcow image url. and when kubeadmcontrolplane was scaled in target controlplane it is using the metal3machinetemplate that was moved from ephemeral cluster earlier.

`
  Normal  ProvisioningError       24s    metal3-baremetal-controller  host validation error: Validation of image href http://172.30.0.140:80/images/

[2020-11-24 16:04] mel1nn commented on #420
The error occurs only when you try to provision a baremetal host with the virtual media process.

And I use the latest ironic image `quay.io/metal3-io/ironic:latest`. In this image,  the `/usr/share/syslinux/isolinux.bin` is present !

[2020-11-24 17:10] muly commented on #394
please assign this to me

[2020-11-24 20:17] vetbijaya commented on #393
Please assign this issue to me.

[2020-11-24 21:23] eratnch commented on #413
Hey @mattmceuen,

All tests pass locally without any issues consistently.
Therefore, we can close this issue #413.
Will rerun the phases in Zuul and if the issue persists, will open a new issue.

[2020-11-25 17:51] bravinash82 opened #422 "Hardware Profile Guide has incorrect links to metal3"
**Describe the bug**
The hardware profile guide document located here https://github.com/airshipit/airshipctl/blob/master/docs/source/hardware_profile.md has incorrect links to the metal3 APIs.

**Steps To Reproduce**
Follow the links to the references made towards metal3 APIs

**Expected behavior**
All the link references to metal3 must actually be pointed to "https://github.com/metal3-io/baremet

[2020-11-27 09:12] mel1nn opened #423 "Problem of virtual media provisioning with Metal3/Ironic"
Using the baremetal operator function provided by airshipctl, I am not able to provision a server with the virtual media process.
An error occurs on the server during the boot of the kernel image.

Finally, I have succeeded to do it by setting the latest docker images version of ironic (latest) and bare metal operator (v0.4.1) and by changing the ironic configuration following the one specified in

[2020-11-27 09:15] #423 closed

[2020-11-27 09:17] mel1nn commented on #420
An error also occurs on the server during the boot of the kernel image.

Finally, I have succeeded to do it by setting the latest docker images version of ironic (latest) and bare metal operator (v0.4.1) and by changing the ironic configuration following the one specified in the [metal3/ironic-image](https://github.com/metal3-io/ironic-image/blob/master/ironic.conf.j2) repository.

Thanks for your

[2020-11-30 15:25] mf4716 commented on #19
@vetbijaya  - can you please provide status?

[2020-11-30 16:52] vetbijaya commented on #19
@mf4716 - got some review comments from Ruslan, will reach out to him to clear few doubts.

[2020-12-01 17:06] mattmceuen commented on #413
I'll go ahead and close this, we can open a new issue or reopen this one with more debugging info if the issue occurs.

[2020-12-01 17:37] lb4368 opened #424 "Secret stringData Encoding"
**Problem description**
We are using stringData as a human-friendly way to author Secret data, with the understanding that Kubernetes will change it into a b64-enc data (which it does).

However the kubectl library also adds a kubectl.kubernetes.io/last-applied-configuration annotation, which unfortunately includes the clear text secretData, which kind of defeats the point.

Is there some trick we

[2020-12-02 02:30] sb1975 commented on #314
https://review.opendev.org/c/airship/airshipctl/+/763923
The above PS outlines the instructions to build a All-in-one VM setup in Local machine alongwith steps towards how to validate the setup as well how to use the target cluster and deploy workloads on it.
This issue may be closed as completed.

[2020-12-02 12:55] ak3216 commented on #314
Closing per merge.

[2020-12-02 12:55] #314 closed

[2020-12-02 14:13] lb4368 commented on #358
Per design meeting on 12/1/20, there are updates to the design for the airshipctl phase list.  There are three variants to how the airshipctl phase list command is invoked.  All variants will return phase results in a tabular format:

phasnameA | phase fields clustername |…
phasnameB | phase fields clustername |…

The three variants are:

1)  Retrieve all phases in the current document set by pass

[2020-12-02 14:25] lb4368 commented on #385
Per design meeting on 12/1/20, the airshipctl plan list command would have an optional argument where a single plan can be specified and the output would list the single plan.

The output should be in a tabular format:

planA | fields clustername | description…
planB | fields clustername | description…

The

    Retrieve all phase plans in the current document set by passing no arguments.
    airs

[2020-12-02 14:55] lb4368 commented on #393
Per 12/1/20 design call, this command should be implemented by adding a yaml output option to the airshipctl phase list command from #358.  The command will output the phase artifacts in yaml output rather than tabular output.

Example:
airshipctl phase list -o yaml

[2020-12-02 14:56] lb4368 commented on #394
Per 12/1/20 design call, this command should be implemented by adding a yaml output option to the airshipctl plan list command from #385.  The command will output the phase plan artifacts in yaml output rather than tabular output.

Example:
airshipctl plan list -o yaml

[2020-12-02 15:43] seaneagan commented on #354
Here are the instructions on how to create a tag:

https://docs.opendev.org/opendev/infra-manual/latest/drivers.html#tagging-a-release

You need to be in this group to have permissions to push the tag:

https://review.opendev.org/admin/groups/1914,members

[2020-12-02 15:45] #420 closed

[2020-12-02 15:45] mattmceuen commented on #420
Glad to hear it's working for you with that configuration, thanks for reporting it back here @mel1nn.

[2020-12-02 15:56] eratnch opened #425 "Update CAPG Provider phases for airshipctl"
**Proposed change**
Update `CAPG` test-site, manifests, and add support for `phase run` .

[2020-12-02 15:57] eratnch commented on #425
/assign

[2020-12-02 16:49] mel1nn commented on #420
I still have a question, why airship does not provide the same configuration for ironic than the one specified in the [metal3/ironic-image repository](https://github.com/metal3-io/ironic-image/blob/master/ironic.conf.j2) ?

[2020-12-03 18:19] bravinash82 opened #426 "Robust Networking Options"
**Problem description (if applicable)**
As a enterprise operator and cluster deployment engineer, I would like airshipctl and its manifest to provide a mechanism to configure more than a single network for target cluster. This ensure proper segregation of traffic from specific function. For example, all node level storage traffic can be separated out to a dedicated network. A public egress network

[2020-12-03 19:24] eratnch commented on #413
Hi @mattmceuen

This particular issue is fixed now.
[PS 763232](https://review.opendev.org/c/airship/airshipctl/+/763232)

The fix was to set environment variable `KIND_EXPERIMENTAL_DOCKER_NETWORK` to "bridge". This was not being set properly in the scripts and because of that the deployment of `controlplane` was never able to reach target state and the status of the machine was always `provisioni

[2020-12-03 22:24] mf4716 commented on #403
@vetbijaya (Bijaya), here's the one we discussed, if you can please pick this one up.  Thanks.

[2020-12-03 22:46] vetbijaya commented on #403
Can you assign this issue to me?

[2020-12-04 14:04] ak3216 commented on #3
@Arvinderpal Rodolfo suggested we assign this one to you along with #377 as you may have something in the works. Can you please comment here so I can assign? Thanks!

[2020-12-04 15:08] drewwalters96 opened #427 "Cleanup architecture documentation"
**Problem description (if applicable)**
The Airshipctl [architecture documentation](https://docs.airshipit.org/airshipctl/architecture.html) uses commands that have been removed.

**Proposed change**
Replace the removed commands with `airshipctl phase run` or the appropriate equivalent.

[2020-12-04 16:18] Arvinderpal commented on #377
@ak3216 We are working out the details of the design. The proposal in meta3 and discussion can be found here: https://github.com/metal3-io/metal3-docs/pull/149

[2020-12-04 16:21] Arvinderpal commented on #3
@ak3216 Yes, please assign this to me. The issue https://github.com/kubernetes-sigs/cluster-api/issues/493 is still relevant and is now "open". I hope to get some traction in the capi community to move that forward.

Note that this should not be confused with BMH label syncs: https://github.com/airshipit/airshipctl/issues/377#event-4072831103

[2020-12-04 16:24] ak3216 commented on #3
Thanks @Arvinderpal . Agree they're different. Added a note in #377 awhile back to make sure they don't get confused.

[2020-12-04 21:00] bravinash82 opened #428 "Load balancer Targets"
**Problem description (if applicable)**
As a deployment engineer, I should be able to use airshipctl to deploy a multi-node HA K8s cluster and host the control plane API on a dedicated but optional load balancer node (or service, incase of hyperscaller) in addition to the control plane and worker nodes

**Proposed change**
airshipctl must provide a mechanism to setup the following with respect to

[2020-12-07 18:58] lb4368 opened #429 "Plugin Release Management"
**Proposed change**
Related to #419, need to develop a Release Management process for the kustomize plugins in airshipctl.

Per 12/7/2020 design discussion (https://hackmd.io/6hw3pJOUT7iNsEceovABgA#Discuss-Replacement-Transformer-Image-Versioning-YAML-Call-perhaps):

- Create a tag for each plugin , i.e. v1.0
- Plugin tag would be used across artifacts using the plugin (e.g. ReplacementTransformer

[2020-12-07 21:10] seaneagan commented on #429
Since we'll be implementing standalone versioning for each krm function, we'll need a strategy for how to organize this in git. I see two options:

1. separate git repos e.g. github.com/airshipit/replacement-transformer with e.g. a v1.0.0 tag.
2. separate git tag/branch "namespaces" within github.com/airshipit/airshipctl repo e.g. replacement_transformer-v1.0.0 tag and replacement_transformer-v1.0

[2020-12-07 22:22] ak3216 opened #430 "Develop Upstream Update Tool"
**Proposed change**
Airshipctl references & utilizes code from several other open source projects.  To support ongoing maintenance of these projects within airshipctl, there is a need to develop a tool to manage updating functions that are sourced from these other upstream projects.

As there may be different processes for each project, the goal of this tool would be to consolidate the domain know

[2020-12-08 14:05] ak3216 commented on #335
Changed priority due to need for this to be developed to support downstream project needs.

[2020-12-08 14:55] kozhukalov commented on #427
let me do this, please

[2020-12-08 14:59] kozhukalov commented on #417
assign it to me, please

[2020-12-08 14:59] drewwalters96 commented on #427
@kozhukalov thanks. All yours

[2020-12-08 15:00] kozhukalov commented on #416
please, assign it to me

[2020-12-08 16:50] #391 closed

[2020-12-08 19:48] mf4716 commented on #409
@vetbijaya - are you able to work this issue?

[2020-12-08 19:48] vetbijaya commented on #409
I can work on this, can someone please assign this to me?

[2020-12-08 19:55] mf4716 commented on #403
@teoyaomiqui (Kostiantyn), are you already working this issue?

[2020-12-08 21:17] ak3216 opened #431 "Implement Image Override for Cluster Components via clusterctl"
**Summary:**
Implement image override for all the cluster components via clusterctl images tag similar to cert-manager image override.

**Current implementation:**
- Clusterctl substitutes variable (IMAGE URL) with the ones provided by the user.
- Variables are defined in "additional-vars" section of clusterctl and used in the respective image patch files.
- The variables defined in the "additiona

[2020-12-08 21:20] ak3216 commented on #431
@sirajyasin please comment & I'll get you assigned. Let me know if the Manifests category label is correct or if this is more Core functionality related. Thanks.

[2020-12-09 00:09] sirajyasin commented on #431
@ak3216 yes, the label category is good for this issue. I am working on this issue, i will try to test and push a PS

[2020-12-09 03:06] raliev12 opened #432 "Move Executors implementation into one separate package"
**Problem description (if applicable)**
Currently all the executors are located to related packages, which causes a possibility for cyclic imports in the future. Also some executors methods like RegisterExecutor, handleErr, etc could be reused and combined.

**Proposed change**
All the executors should be moved to a single package (/pkg/phase/executors).

**Potential impacts**
No negative impacts

[2020-12-09 03:53] guhaneswaran commented on #402
A newer approach using Sprig/Templater/ReplacementTransformer/KRM/SOPS is in  progress and hence closing this issue

[2020-12-09 03:53] #402 closed

[2020-12-09 14:52] lb4368 opened #433 "Integrate clusterctl rollout into airshipctl"
**Proposed change**
Integrate airshipctl with _clusterctl rollout_ so that we can take advantage of the feature to rollout updates to the cluster currently being managed by airshipctl.

**clusterctl rollout**

- https://github.com/kubernetes-sigs/cluster-api/issues/3439
- clusterctl rollout command provides users with a convenient and consistent means through which to rollout an update, monitor th

[2020-12-09 15:23] jezogwza commented on #395
This still needs the actual implementation of the command. The patchset only introduces the subcommand entry point.

[2020-12-09 15:28] jezogwza commented on #297
This patchset was unrelated to this issue.

[2020-12-09 15:29] jezogwza commented on #168
This has been working for a while,  closing it.

[2020-12-09 15:29] #168 closed

[2020-12-09 15:40] lb4368 commented on #433
@Arvinderpal - I believe you were going to take this one

[2020-12-09 15:48] raliev12 commented on #432
Please assign this feature to me since I already prepared several PS in scope of this one.

[2020-12-09 15:52] jezogwza commented on #426
Let's move this to treasure map, where will be able to implement complex networking as part of the CNTT/Network Cloud Type.

[2020-12-09 16:00] jezogwza commented on #417
Although this is true for the default , user can configure this in the Manifest section of the airshipctl config.
Probable need documentation update to reflect that.

[2020-12-09 16:31] seaneagan opened #437 "Post-merge container image publishing job broken"
**Describe the bug**

It looks like [this change](https://review.opendev.org/c/airship/airshipctl/+/760511) [broke the post-merge image publish job](https://zuul.opendev.org/t/openstack/builds?job_name=airship-airshipctl-publish-image&project=airship/airshipctl).

[2020-12-09 17:07] ak3216 commented on #176
@sirajyasin can you take a look at the patchset & see if it addresses the issue? This was one of Stas' old issues. Thanks.

[2020-12-09 18:26] Arvinderpal commented on #433
Yes, please assign it to me.

[2020-12-09 18:50] sirajyasin commented on #176
@ak3216 , At this point we are not managing~/.airship/kubeconfig for our airshipctl phase based deployment. Airshipctl phase relies on the kubeconfig.yaml within the respective site directory(manifests/site/test-site/kubeconfig/kubeconfig.yaml). so this issue might be obsolete at this point and can be marked closed.

[2020-12-09 18:56] sirajyasin commented on #146
@ak3216, I can start looking into the PS https://review.opendev.org/c/airship/airshipctl/+/727479/ created by Stas and will continue the work. I see the reason for -2 is due to pending config refactor, now that it is taken care we should be able to resume this work.

[2020-12-09 18:57] ak3216 commented on #176
Thanks @sirajyasin. Closing as stale/obsolete.

[2020-12-09 18:57] #176 closed

[2020-12-09 18:59] ak3216 commented on #146
Thanks @sirajyasin. As this is in the "Nice to Have" category, I'd prioritize it last compared to anything else on your plate currently.

[2020-12-09 22:49] sb1975 commented on #416
Hope this helps - the url can be specified  in the variable below :
`: ${TREASUREMAP_PROJECT:="$(pwd)"}`
which is referred below :
`export AIRSHIP_CONFIG_PRIMARY_REPO_URL=${AIRSHIP_CONFIG_PRIMARY_REPO_URL:-"${TREASUREMAP_PROJECT}"}`

https://github.com/airshipit/treasuremap/blob/v2/tools/deployment/22_test_configs.sh#L18

[2020-12-14 20:48] sreejithpunnapuzha commented on #408
Commit (https://review.opendev.org/c/airship/airshipctl/+/765143) Containing the cert-manager manifest have merged. hence closing this issue

[2020-12-14 20:48] #408 closed

[2020-12-14 20:56] #431 closed

[2020-12-14 21:39] #413 closed

[2020-12-15 16:24] mf4716 commented on #358
@muly , Srini, are you (can  you) also partner with @niharikabhavaraju on this issue?

[2020-12-15 16:26] muly commented on #358
Yes @mf4716. I'm working with @niharikabhavaraju on this story

[2020-12-15 16:27] mf4716 commented on #330
@muly , how are things going?

[2020-12-15 16:49] ak3216 commented on #339
this should be done in conjunction with #335

[2020-12-15 18:52] sreejithpunnapuzha commented on #406
Commit (https://review.opendev.org/c/airship/airshipctl/+/762186) Containing the manifest for adding toleration have merged. hence closing this issue

[2020-12-15 18:52] #406 closed

[2020-12-16 08:05] SirishaGopigiri opened #438 "Regex support to templater"
**Problem description (if applicable)**
Adding regex feature to the templater krm-function helps create strings based on the regular expression specified

**Proposed change**
The changes will be added to the templater go code which would help create passphrases based on regular expression.

Usage:

[code]

Output:
[code]

[2020-12-16 09:10] kozhukalov commented on #427
https://review.opendev.org/c/airship/airshipctl/+/767171

[2020-12-16 13:58] kozhukalov commented on #417
I also suggest to change the default target path for the default manifest to $HOME/.airship/default

[2020-12-16 15:58] jezogwza commented on #438
Can we add a use case that explains how and when this is needed?

[2020-12-16 16:01] jezogwza commented on #428
Suggest we open this in treasuremap, and this is multiple issues.
Including :
- the need for HA in Network Cloud type
- the need for types for public cloud clusters
- the need for HA on public cloud clusters

[2020-12-17 15:47] kozhukalov commented on #417
https://review.opendev.org/c/airship/airshipctl/+/767571

[2020-12-17 16:19] kozhukalov commented on #416
https://review.opendev.org/c/airship/airshipctl/+/767571

[2020-12-17 21:42] teoyaomiqui commented on #403
closing the issue

[2020-12-17 21:42] #403 closed

[2020-12-17 23:33] eratnch commented on #425
All patch sets related to CAPG are merged.
This issue can be closed.
/close

[2020-12-21 22:14] sharathrrao opened #439 "Advanced Disk Scrubbing prior to ReUse to handle data privacy issues"
**Problem description (if applicable)**
Data Privacy is a big concern and potential Re-use of Bare Metal nodes allows for the possibility of the disks to retain prior data.  Typically many systems including ironic deletes just the  meta data on the disks prior to re-provisioning the node and does not wipe/clean the disk thoroughly.

**Proposed change**
In order to be more secure, all the disks in

[2020-12-22 14:00] vetbijaya commented on #411
Can someone please assign this issue to me?

[2020-12-22 15:24] kozhukalov opened #440 "Build ISO image using generic container executor"
**Problem description (if applicable)**
At the moment airshipctl builds bootstrap ISO image using a dedicated image building phase executor. On the other hand airshipctl has the generic container phase executor which can be used to build ISO image as well.

**Proposed change**
Reimplement ISO image build phase using generic container executor.

**Potential impacts**
No

[2020-12-22 15:24] kozhukalov commented on #440
Please assign it to me

[2020-12-30 21:08] sirajyasin opened #441 "Depoyment of test-site(metal3) fails due to expired client certifcate"
**Describe the bug**
kubernetes client certificate used for deployment has expired on Dec 25th 2020

**Steps To Reproduce**
Deploy test-site from master

**Expected behavior**
Regenerate client certificate with extended expiry date.

**Environment**
- airshipctl Version:
- Operating System:
- Kernel version:
- Kubernetes Version:
- Go version:
- Hardware specs (e.g. 4 vCPUs, 16GB RAM, bare metal v

[2021-01-04 14:11] sirajyasin commented on #441
The certificate is re-generated and deployment is success now. This issues can be marked closed

[2021-01-04 14:23] ak3216 commented on #441
Closing per code being merged.

[2021-01-04 14:23] #441 closed

[2021-01-04 17:55] seaneagan commented on #429
https://review.opendev.org/c/airship/airshipctl/+/762924

[2021-01-04 17:58] seaneagan commented on #419
https://review.opendev.org/c/airship/airshipctl/+/767179

[2021-01-04 18:01] seaneagan commented on #418
https://review.opendev.org/c/airship/airshipctl/+/762924

[2021-01-04 22:10] #368 closed

[2021-01-05 01:43] #438 closed

[2021-01-05 10:48] demonCoder95 commented on #317
I think this links with the wider issue #363 which suggests creating different ``VariableCatalog`` types. The type under discussion in this issue, say``EndpointVariableCatalog`` can be one Kind, or as @mattmceuen has suggested, we can have "oshEndpointVariableCatalog`` and ``AirshipEndpointVariableCatalog`` and so on. I suggest we proceed accordingly and update both issues going forward.

[2021-01-05 10:59] demonCoder95 commented on #422
Oh, I wrote that documentation. I can fix this one. Assign it to me @ak3216

[2021-01-05 12:45] ak3216 commented on #363
Updated the link in proposed change to the current location of the versions catalog.

[2021-01-05 17:37] gtsteffaniak commented on #424
I'll take this one

[2021-01-05 18:21] sb464f commented on #421
when changing/updating the url it is good to use a different metal3machine template rather than updating the old metal3machine template and referencing this new metal3machine template in KCP object. this issue can be closed now.

[2021-01-05 18:21] #421 closed

[2021-01-05 21:53] seaneagan opened #442 "Race condition in Tigera Operator gating"
There is a race condition with the tigera operator gating (https://jenkins.nc.opensource.att.com/job/development/job/Airshipctl/3913/console), if the `kubectl wait ...` gets called before any tigerastatus CRs are created, it fails since it doesn't wait for the resources themselves to exist (see https://github.com/kubernetes/kubernetes/issues/83242). We need to poll for the crd to be established an