[2021-01-05 22:16] seaneagan opened #443 "Support tigera operator wait logic in airshipctl"
**Problem description (if applicable)**

In https://review.opendev.org/c/airship/airshipctl/+/762773/ custom wait logic was added to the gate scripts for the Tigera Operator, but in order for the [plan run](#395) functionality to work, the custom wait logic would need to be integrated into `airshipctl` itself. It seems this would be along the lines of ignoring certain resources (e.g. `installation

[2021-01-05 22:33] ak3216 commented on #317
See updates to Proposed Change from 1/5/21 design call. Updated with endpoint format example & new item to provide capability to construct the URL from the component parts. New issue will be created for OpenStack-Helm endpoint catalog.

[2021-01-05 22:42] ak3216 opened #444 "Develop an OpenStack-Helm endpoints catalog"
**Problem description**
As an operator, I want the ability to specify OpenStack-Helm software/component endpoints in Airship 2 in a way that is consistent to how I manage OSH endpoints in Airship 1 today, so that I can maintain OSH endpoints in a manner that's consumable by OSH.

**Proposed change**
The OSH endpoint catalog should be formatted in a similar fashion to what's out there today with on

[2021-01-06 13:50] niharikabhavaraju commented on #393
please assign this to me

[2021-01-06 14:33] ak3216 commented on #393
@niharikabhavaraju you've been assigned as well.

[2021-01-06 15:32] jezogwza commented on #440
Please speak with Craig Anderson @craiganderson  about this , since this sounds like a possible duplicate effort.

[2021-01-06 15:33] sirajyasin commented on #442
It is an intermittent issue and i can work on this issue.

[2021-01-06 15:36] jezogwza commented on #439
Is the expectation for this to be a one and done configuration for ironic, or a mechanism that drives the behaviour starting with  the BMH cr.

[2021-01-06 16:56] sharathrrao commented on #439
I envisioned multiple different scenarios: 1. In a private cloud, its different groups of the same organization then maybe the admin will only run a clear but if the new tenant is a different end customer, the admin may want to run purge to clear up the data.
I assume based on this that having a mechanism is ideal rather than one and done in ironic.
 Also, wondering can this be expanded in future

[2021-01-06 20:17] sb1975 opened #445 "airshipctl config get-context should display the present context"
**Describe the bug**
When we run the command to display present context using  `airshipctl config get-context`

We get the below:
[code]

Now a quick look into the config file we can see all the context.

[code]

**Steps To Reproduce**
Visible in any environment.

**Expected behavior**
Output of  `$ sudo airshipctl config get-context`
should be the current context like - ephemeral-cluster

[2021-01-07 16:54] niharikabhavaraju commented on #412
please assign this to me

[2021-01-08 12:04] demonCoder95 commented on #317
Will do, thanks for the update @ak3216 !

[2021-01-08 16:59] seaneagan commented on #430
The above change shows how `kpt pkg sync` can be used to solve this problem, see: https://github.com/airshipit/airshipctl/blob/master/manifests/function/flux/README.md

[2021-01-08 20:04] #437 closed

[2021-01-11 22:57] ak3216 commented on #378
@teoyaomiqui with https://review.opendev.org/c/airship/airshipctl/+/761610/ getting merged, can we go ahead and close this issue out?

[2021-01-11 22:58] teoyaomiqui commented on #378
@ak3216 I think so, yes

[2021-01-11 22:59] ak3216 commented on #378
Closing per code merge

[2021-01-11 22:59] #378 closed

[2021-01-12 03:53] sirajyasin commented on #445
@sb1975
airshipctl config get-context => will display all available contexts
airshipctl config get-context **--current** => will display only current context information

So i assume it is working as expected. Please let us know if you still think it is an issue.

[2021-01-12 09:40] gorshunovr commented on #399
Complete. Closing.
Ref: https://quay.io/repository/airshipit/airshipctl?tab=tags

[2021-01-12 09:40] #399 closed

[2021-01-12 12:31] ak3216 commented on #442
Closing per Siraj as workaround in place with code merge.

[2021-01-12 13:28] ak3216 commented on #374
@raliev12, with both of these patchsets merging, can we close this issue?
https://review.opendev.org/c/airship/airshipctl/+/765890/
https://review.opendev.org/c/airship/airshipctl/+/759179/

[2021-01-12 14:18] ak3216 commented on #415
@raliev12 with merging https://review.opendev.org/762936  & https://review.opendev.org/763090 can we close this issue?

[2021-01-12 14:47] ak3216 commented on #252
@drewwalters96 can we go ahead & close this one out?

[2021-01-12 14:49] ak3216 commented on #166
@jezogwza what do we want to do with this issue? Close it? Refer it to Treasuremap?

[2021-01-12 14:50] drewwalters96 commented on #252
@ak3216 I think so, but I'm not sure if the requirements are met. As mentioned above, Zuul supports IPv6 and IPv4. @jezogwza, is there anything else we need to capture to satisfy this?

[2021-01-12 15:06] ak3216 commented on #340
@dukov with https://review.opendev.org/752490 & https://review.opendev.org/754109 merging, can we close this issue?

[2021-01-12 15:11] ak3216 commented on #299
@mattmceuen has this been resolved with the catalog work done to date, or should it remain open?

[2021-01-12 15:42] ak3216 commented on #432
@raliev12 multiple patchsets have merged, is this issue ready to close?

[2021-01-12 15:44] ak3216 commented on #425
Closing issue per patch set merges.

[2021-01-12 15:44] #425 closed

[2021-01-12 15:44] raliev12 commented on #432
There is one more left (https://review.opendev.org/c/airship/airshipctl/+/766634), once it gets merged this issue will be ready to close.

[2021-01-12 15:53] ak3216 commented on #296
@vetbijaya with the merging of https://review.opendev.org/762386 & https://review.opendev.org/762388 can we close this issue?

[2021-01-12 16:01] ak3216 commented on #385
@dukov with https://review.opendev.org/765527 merging, can we close this issue?

[2021-01-12 16:11] dukov commented on #385
Technically we can but [https://review.opendev.org/765527](https://review.opendev.org/765527) is just a frame. to meke this fully functional we need to have https://review.opendev.org/c/airship/airshipctl/+/766217 and https://review.opendev.org/c/airship/airshipctl/+/766756

[2021-01-12 16:12] #340 closed

[2021-01-12 16:15] ak3216 commented on #385
OK, we can leave it open until the other two patches merge. Thanks for the update.

Andrew

From: Dmitry Ukov <notifications@github.com>
Sent: Tuesday, January 12, 2021 10:12
To: airshipit/airshipctl <airshipctl@noreply.github.com>
Cc: KARANDJEFF, ANDREW <ak3216@att.com>; Comment <comment@noreply.github.com>
Subject: Re: [airshipit/airshipctl] Ability to support multiple phaseplans within the same

[2021-01-12 16:23] vetbijaya commented on #296
@ak3216 , yes we can close this issue. Thanks!

[2021-01-12 16:33] ak3216 commented on #296
Closing per code merge

[2021-01-12 16:33] #296 closed

[2021-01-12 16:39] ak3216 commented on #268
@teoyaomiqui I'm assuming there's still work to be done here. The related patchset was for kubectl, but does not appear to address adding the cluster update command. Can you please confirm? Thanks.

[2021-01-12 16:42] teoyaomiqui commented on #268
@ak3216 Yes, clusterctl has change a little, and there is no sure way how to proceed with this one for now

[2021-01-12 22:15] eratnch opened #446 "airshipctl phase command to deploy CNI for CAPG provider does not complete"
**Describe the bug**
The calico cni in the `target-cluster` for `CAPG` provider is deployed with the phase `initinfra-target`. This command does not complete and eventually times out.

**Steps To Reproduce**

Deploy a target-cluster on `CAPG` using airshipctl phase commands.
The output of the `airshipctl phase run initinfra-target` command is below -

[code]

**Expected behavior**
Calico CNI shoul

[2021-01-12 22:29] eratnch commented on #446
Please assign this issue to me.

[2021-01-12 23:31] raliev12 commented on #415
Not yet, there are some changes needs to be implemented to close this issue, for example this one (https://review.opendev.org/c/airship/airshipctl/+/757100)

[2021-01-12 23:34] raliev12 commented on #374
There is one more patch left on review - https://review.opendev.org/c/airship/airshipctl/+/765891

[2021-01-13 12:45] #432 closed

[2021-01-13 15:39] drewwalters96 commented on #445
From the flightplan, we can close this.

[2021-01-13 15:39] #445 closed

[2021-01-13 15:42] drewwalters96 commented on #446
@eratnch Siraj is working on fixing this at the moment. He will post his patch here

[2021-01-14 12:21] jingvar commented on #299
As I see, we still have hardcoded certificates.

[2021-01-15 14:36] mf4716 commented on #19
@vetbijaya - can you please provide status?

[2021-01-15 17:28] raliev12 commented on #19
Hey Mike,

you can assign this issue on me for a while, since I'm going to prepare some follow-up after my demo which I presented in December.

Thanks,
Ruslan

[2021-01-15 21:35] mf4716 commented on #248
@craiganderson , can you provide an update?

[2021-01-15 21:35] mf4716 commented on #249
@craiganderson , can you provide an update?

[2021-01-19 09:49] craiganderson commented on #248
Image-builder has been successfully implemented per PS linked in the description.
Also, the airshipctl integration for building ISOs has been successfully implemented per https://review.opendev.org/c/airship/airshipctl/+/758782

[2021-01-19 09:49] #248 closed

[2021-01-19 09:52] craiganderson commented on #249
This issue may be closed after merging of https://review.opendev.org/c/airship/airshipctl/+/765511 which is now awaiting the completion of code review.

[2021-01-19 14:21] mattmceuen opened #447 "Default airship config values getting added to user-specified config"
Somehow the hardcoded default airshipctl config file values, which are intended to be used when no config file (yet) exists, are also being mixed into a user's config file values at runtime when the file does exist.

As an example, when testing `airshipctl cluster list` from the following patchset, I get the error:
"open /tmp/default/treasuremap/manifests/site/test-site/metadata.yaml: no such file

[2021-01-19 14:30] gtsteffaniak commented on #424
This has been a limitation of the stringData, which is intended for non-encoded data, per their website:

"The values for all keys in the data field have to be base64-encoded strings. If the conversion to base64 string is not desirable, you can choose to specify the stringData field instead"  https://kubernetes.io/docs/concepts/configuration/secret/

So, the solution should be to start using data

[2021-01-19 16:45] jezogwza opened #448 "document pull fails with reference not found"
When trying to pull from Gerrit  downstream repo we get an error.

The airship config looks liike this :

apiVersion: airshipit.org/v1alpha1
contexts:
  default:
    contextKubeconf: ""
    managementConfiguration: default
    manifest: default
currentContext: default
encryptionConfigs: null
kind: Config
managementConfiguration:
  default:
    systemActionRetries: 30
    systemRebootDelay: 30

[2021-01-19 17:09] ak3216 opened #449 "Implement log collection in 3rd party gates for deployment success/failure tracking"
**Summary**
There is a need to implement log collection in third party gates for tools like Jenkins to track deployment success/failure.

**Description:**
- Create bash script or use existing ansible playbooks to collect logs from deployment environment for debug in third party gates.
-  Zuul uses Playbooks to collect logs as part of post job run. Log collection is missing in third party gating.
-

[2021-01-19 17:24] jezogwza commented on #448
Maybe this is just a low-level issue

This works, with a simple url change. So somehow the https gerrit url does not work, but ssh does.

    repositories:
      nc-release:
        checkout:
          branch: main
          commitHash: ""
          force: true
          localBranch: false
          tag: ""
        url: ssh://gerrit.mtn5.cci.att.com/nc-release
        auth:
          type: ssh-key

[2021-01-19 17:27] jezogwza commented on #448
This is a pilot error, when using https expects basic auth. My bad. closing.

[2021-01-19 17:27] #448 closed

[2021-01-19 17:36] mf4716 commented on #449
@sirajyasin , is this one you can take?

[2021-01-19 20:08] sirajyasin commented on #449
@mf4716  yes. I can start working on the the automation part of the issue. Can we add "Design Needed" label to discuss on the infra requirement to decide if we need a dedicated Artifactory or find a way to store within Jeninks and publish that URL to gerrit.

[2021-01-19 22:25] ak3216 commented on #449
@sirajyasin, I've added you to the issue & also added the design needed label as well. I'll leave the triage label on so maybe we can touch on it on Flight Plan tomorrow to see if we can close on the question there or if we need to review on Thursday's design call.

[2021-01-20 15:41] ak3216 opened #450 "Enhance cluster init to issue warning if cluster-api already initialized"
**Problem Description**
Currently if the cluster init command is run & the cluster-api has already been initialized, the command fails.

**Proposed Change**
If the cluster init command is run & cluster-api is already initialized, then issue a warning message that cluster-api already initialized but do not fail.

[2021-01-20 16:02] ian-howell opened #451 "Error checking for cobra commands doesn't compare error messages"
**Describe the bug**
The `testutil.CmdTest` has an `Error` field which can be used to verify that a command produces an error. Currently, the test only asserts that an error was either returned or not, but disregards the message of the expected error.

**Expected behavior**
Tests should fail if the actual error message is different from the expected error message.

[2021-01-21 02:35] rkjain opened #452 "target control plane stuck in provisioning state post clusterctl-move (capd)"
I am trying to add a phase - `initinfra-networking-target` to apply cni . Previously, cni was being applied as a post kubeadm command. I  notice that the  CNI gets applied properly . However, the target control plane gets stuck in
provisioning state after the `clusterctl-move` operation.  When CNI is applied with postkubeadm, this problem does not occur.

Patchset: https://review.opendev.org/c/air

[2021-01-21 07:39] demonCoder95 commented on #422
This issue has been patched and is currently awaiting a +2 and workflow label.

https://review.opendev.org/c/airship/airshipctl/+/769343

[2021-01-21 17:57] #422 closed

[2021-01-21 20:02] uberscott commented on #451
Assign to me, please.

[2021-01-22 23:25] mf4716 commented on #321
@niharikabhavaraju (Niharika), are you actively working on this bug?  Any assistance needed to move this forward?  I'll reach across offline too.

[2021-01-25 08:54] niharikabhavaraju commented on #321
I'm no longer able to reproduce this issue, The wip patch set mentioned in the issue description is now obsolete @mf4716

[2021-01-25 19:42] Arvinderpal commented on #377
Update on this:
The design doc ready to merge. Waiting on lazy consensus by end of this week: https://github.com/metal3-io/metal3-docs/pull/149
The PR for the feature is also under review: https://github.com/metal3-io/cluster-api-provider-metal3/pull/152

[2021-01-25 20:36] ak3216 commented on #321
Closing per not being able to reproduce the issue. Can reopen if it occurs again.

[2021-01-25 20:36] #321 closed

[2021-01-25 22:08] rkjain commented on #452
Hi, I have created to ps to fix this defect. Please assign this to me.

https://review.opendev.org/c/airship/airshipctl/+/771839

https://review.opendev.org/c/airship/airshipctl/+/772425

[2021-01-25 22:09] ak3216 commented on #452
@rkjain all yours. Thanks.

[2021-01-26 15:15] ak3216 opened #453 "Allow airshipctl phase render to display encrypted secrets"
**Problem description**
If a user does not have access to the secret encryption keys and they attempt to run a phase render for a document set that contains encrypted secrets, the phase render fails.

**Proposed change**
Rather than fail, phase render should display the secrets in their encrypted format.

**Potential impacts**
Given the secret data remains encrypted, there should not be any securi

[2021-01-26 15:22] ak3216 opened #454 "Prepare a secrets/encryption how-to-guide"
As an Airship 2.0 user, I want to have a guide for managing secrets, encryption & decryption via airshipctl, so that I can successfully perform the following:

- Basic encryption/decryption generation
- Inclusion in phase document sets
- Life-cycling secrets
- Best practices for grouping

Current patchsets (merged or otherwise) can be found here: https://review.opendev.org/q/topic:%22generator_sop

[2021-01-26 17:35] aodinokov commented on #453
@ak3216 , looks good. please assign it to me

[2021-01-26 17:37] aodinokov commented on #454
@ak3216 I can stab the initial version on that guide.. Probably it will be the easiest for everyone if you assign it to me

[2021-01-26 17:42] ak3216 commented on #454
Thanks @aodinokov. Assigned #453 and this one to you. Happy to help in any way you need.

[2021-01-27 06:04] Ashughorla opened #455 "Extend the HCC to detect and classify bmh hosts based on extra parameters"
**Proposed change**
HCC validates and classifies the hosts based on user hardware requirements
From the user perspective it will be helpful to classify matched host.

HCC should also compare and classify bare-metal hosts based on extra parameters in CPU ,DISK ,Firmware, NIC and SystemVendor.

**Previous work of HCC**
[Define Host Profile Document scope](https://github.com/airshipit/airshipctl/issu

[2021-01-27 15:16] jezogwza commented on #450
Speak with Kostiantyn Kalynovski if you need more information or details on how to fix.

[2021-01-27 17:26] #385 closed

[2021-01-27 19:43] vetbijaya commented on #409
This issue needs a lot of discussion and thinking,  we can hold it for now until we get a clear path forward.

[2021-01-27 19:46] vetbijaya commented on #411
I uploaded WIP PS for this issue: https://review.opendev.org/c/airship/airshipctl/+/771063
This issue is dependent on issue #409 and as soon as that covers, will update the PS.

[2021-01-28 15:57] ak3216 opened #456 "Set containerd as default CRI & systemd as the default cgroup driver"
As an Airship user, I want to have containerd as the default container runtime interface & systemd as the cgroup driver, so that we leverage industry standard drivers & future proof the platform.

Airship 2.0 currently uses docker as the default CRI (explicitly defined) & cgroupfs as the default cgroup driver (assumed default).

Docker being deprecated as k8s CRI v1.20
https://kubernetes.io/blog/2

[2021-01-28 16:55] jezogwza commented on #453
Modify airshipcctl to support the following flags:

- flag indicates dont fail if decryption fails https://github.com/airshipit/airshipctl/issues/453 of lack of keys
.....

[2021-01-28 17:11] vetbijaya commented on #392
I started working on this issue, trying to reproduce the error. Can someone assign this issue to me?

[2021-01-28 17:22] teoyaomiqui commented on #392
@vetbijaya , @drewwalters96 I think this needs to be discussed more, I dont see this as bug.

We use kustomize to download image and run container as plugin, so this error is part of kustomize as expected. I dont think we can intervene in the middle of kustomize execution, the best we can do is to parse error message, and try to figure something out from there, and this isn't the best idea imho

[2021-01-28 17:40] teoyaomiqui commented on #392
closing the issue, reopen if needed

[2021-01-28 17:40] #392 closed

[2021-01-28 18:57] lb4368 opened #457 "How to host KRM function containers out of private repos"
**Problem description**
We will have many many references like the following, across multiple repos to reference KRM functions used as kustomize plugins.  At render time, we may not have access to quay, and need to use a private repository.

config.kubernetes.io/function: |-
      container:
        image: quay.io/airshipit/replacement-transformer:latest

**Proposed change**
Options discussed on 1

[2021-01-28 19:05] aodinokov commented on #453
The PoC work has been done in manifests [1] and in sops plugin [2]. Will need to wait for the sops plugin PR to be merged.
In case of any issues I have a plan B, that will work in a bit different way, but it may be implemented with the current sops function version.

I think its good. that changes to airshipctl will be minimal

[1]
https://review.opendev.org/c/airship/airshipctl/+/772467/2/manifes

[2021-01-28 20:16] teoyaomiqui commented on #446
@eratnch can you confirm that this issue is not present anymore

[2021-01-28 21:39] #395 closed

[2021-01-29 03:23] eratnch commented on #446
Hi @teoyaomiqui, yes the fix was merged in PS https://review.opendev.org/c/airship/airshipctl/+/770483.
This issue can be closed.

[2021-01-29 04:51] teoyaomiqui commented on #446
closing the issue per comment https://github.com/airshipit/airshipctl/issues/446#issuecomment-769548325

[2021-01-29 04:51] #446 closed

[2021-01-29 14:55] SirishaGopigiri commented on #454
Hi
I think some part of the documentation is addressed in this PS: https://review.opendev.org/c/airship/airshipctl/+/772667
Please let me know your thoughts

[2021-01-29 15:00] SirishaGopigiri commented on #398
Regex support is added as part of templater so closing this issue
Thank you!

[2021-01-29 15:00] #398 closed

[2021-01-29 15:22] vetbijaya commented on #450
I'm started looking on this issue. Can someone assign this issue to me?

[2021-01-29 15:24] ak3216 commented on #450
@vetbijaya all yours!

[2021-01-29 19:18] #418 closed

[2021-02-02 17:25] aodinokov commented on #453
@mattmceuen maybe we should do vise-versa. we need to create a flag DONT_TOLERATE_DECRYPTION_FAILURES and use it in phase run. these commands need that because kubeconfig is a secret and it has to be encrypted/decrypted. and kubeconfig is part of bundle with phases.
That's because probably airshipctl phase list, plan list and other commands shouldn't fail.
alternatively we'll need to pass TOLERATE

[2021-02-03 12:39] niharikabhavaraju commented on #330
please assign it to me

[2021-02-03 12:40] niharikabhavaraju commented on #394
please assign it to me

[2021-02-03 12:46] ak3216 commented on #394
@niharikabhavaraju added you as well.

[2021-02-03 12:47] ak3216 commented on #330
@niharikabhavaraju I've added you.

[2021-02-03 14:54] teoyaomiqui commented on #397
interface has been implemented with patchset https://review.opendev.org/c/airship/airshipctl/+/772464

[2021-02-03 14:54] #397 closed

[2021-02-03 14:55] teoyaomiqui commented on #362
related change https://review.opendev.org/c/airship/airshipctl/+/772465

[2021-02-03 16:47] sreejithpunnapuzha commented on #407
Commit https://review.opendev.org/772940  has been merged. hence closing this issue

[2021-02-03 16:47] #407 closed

[2021-02-03 17:55] lb4368 opened #458 "GenericContainer Executor Enhancements for Privileged Container"
**Proposed change**
Need a new GenericContainer executor or extend current implementation for airshipctl that would be able to launch privileged containers and have absolute path mounts, to help integrate image builder.

[2021-02-03 20:28] mattmceuen commented on #457
The linked kpt issue is light on details, but looks promising.  If there will be a standard approach to this problem (and it feels like there would need to be) then it would be good to align to that rather than inventing our own thing.

Maybe we start with the easiest reasonable temporary implementation -- e.g. a Big Sed shell script -- and keep our eye on the kpt issue to see if it will fit the b

[2021-02-04 01:10] teoyaomiqui commented on #362
baremetal executor and phase is merged into the manifests, and can be used as part of the phase plan.
Closing commit: https://review.opendev.org/c/airship/airshipctl/+/772465

[2021-02-04 01:10] #362 closed

[2021-02-04 17:40] teoyaomiqui opened #459 "Allow rendering of the config bundle"
As manifest developer or deployer it would be very beneficial to have ability to render document bundles not only for a specific phase or its executor but also from entrypoint that contains all the config objects, such as phase, executor and kubeconfig objects.

The proposal is extend airshipctl phase render command with a **--source** flag that would specify source for the documents. After brief

[2021-02-04 17:48] teoyaomiqui commented on #459
related patchset: https://review.opendev.org/c/airship/airshipctl/+/773804

[2021-02-04 21:52] #459 closed

[2021-02-05 15:29] teoyaomiqui commented on #458
related patchset https://review.opendev.org/c/airship/airshipctl/+/774161

[2021-02-05 15:29] teoyaomiqui commented on #458
related patchset https://review.opendev.org/c/airship/airshipctl/+/774156/2

[2021-02-05 16:41] vs422h commented on #439
I have developed simple Go code which implements data shredding. At the first pass it encrypts the existing data on a device using AES256, at second pass - fills the device with zeros. I would like to discuss if we can use this code in the Airship 2.0.

[2021-02-05 17:26] vetbijaya commented on #409
I uploaded WIP PS for this issue: https://review.opendev.org/c/airship/airshipctl/+/774155
Still working on this.

[2021-02-05 20:33] aodinokov commented on #453
implemented in https://review.opendev.org/c/airship/airshipctl/+/773730

[2021-02-05 20:38] aodinokov commented on #454
Thank you @SirishaGopigiri !

here is some part that I've prepared https://docs.google.com/document/d/1d4hmwYVnvIWQnTVSezsni_VDVtduydapjUbGhU5CAMk/edit#heading=h.r49446441y20
as well. probably will need to combine everything together :)

[2021-02-08 16:52] teoyaomiqui commented on #458
patchset that would close the issue: https://review.opendev.org/c/airship/airshipctl/+/774503

[2021-02-08 22:21] aodinokov commented on #454
First draft https://review.opendev.org/c/airship/airshipctl/+/774543

[2021-02-09 03:51] teoyaomiqui commented on #458
Generic container interface was extended with a new, default type, airship and now it can be used in privileged mode and mounts can be specified as well.

[code]

Easiest way to access this `config` field from the executor definition is to use go framework that is designed specifically for working with this format:

- **Example**: https://review.opendev.org/c/airship/airshipctl/+/773678/7/krm-func

[2021-02-09 16:36] uberscott commented on #447
I'd like to take this one on.  it might be a good way to learn the system.

[2021-02-09 16:37] uberscott commented on #447
@mattmceuen if you can assign to me.

[2021-02-09 17:08] ak3216 commented on #447
@uberscott all yours.

[2021-02-09 18:44] sirajyasin commented on #375
@ak3216
We already have a option to pass custom kubeconfig to the phase command. We are using that to specify the dynamic kubeconfig created during the deployment.

From our last discussion if i remember correct, we do not have to persist the dynamic kubeconfig into filesystem and it will be the responsibility of the DE to save it.

Please correct me if my understanding is wrong.

[2021-02-09 18:52] teoyaomiqui commented on #369
I think this issue can be closed, please open it if needed

[2021-02-09 18:52] #369 closed

[2021-02-09 19:01] teoyaomiqui commented on #283
I think this bug was fixed long time ago, please reopen if not

[2021-02-09 19:01] #283 closed

[2021-02-09 19:04] teoyaomiqui commented on #344
This has been implemented, closing.
Related patchset: https://review.opendev.org/c/airship/airshipctl/+/772465

[2021-02-09 19:04] #344 closed

[2021-02-09 19:04] ak3216 commented on #375
@jezogwza @teoyaomiqui do we still need this issue? See Siraj's comment above. Thanks.

[2021-02-09 19:42] sirajyasin commented on #449
Log collection is implemented in the third party gating and is working as expected.

For enhancements we can create a new Issue and track the status of each.

 1. Log collection URL is now printed at the end of Pipeline. But it can be posted back to Gerrit when updating the Voting
 2. Need a configurable script to cleanup/archive the old logs ( > 5 days ) based on the available space
 3. Need to j

[2021-02-09 23:20] teoyaomiqui commented on #360
documentation about phases was updated in  https://review.opendev.org/755116.

[2021-02-10 00:08] teoyaomiqui commented on #375
@ak3216 i think this task can be closed as is. we have agreed at one of the design calls, that kubeconfig should have various sources instead of injection into kustomize.

So I would suggest that we close this one, and open new one

[2021-02-10 03:06] mf4716 commented on #299
@mattmceuen - can we confirm if this can be closed?

[2021-02-10 04:52] teoyaomiqui opened #460 "extend kubeconfig support in phases"
**Problem description (if applicable)**
As discussed multiple times on the design calls, airshipctl needs further kubeconfig integration into phases and phase plan:
This is needed to make sure that `# airshipctl plan run` can run seamlessly end to end.

Without this airshipctl appears to be incomplete and unfinished tool with a bunch of workarounds.

Such cases as
- **kubeconfig from KIND** cluste

[2021-02-10 12:58] ak3216 commented on #375
Closing per comments & #460 will provide updated approach.

[2021-02-10 12:58] #375 closed

[2021-02-10 13:44] lb4368 opened #461 "integrate loci based ironic image"
**Proposed change**
Integrate custom LOCI based ironic image to baremetal operator.  This is a follow-up for story https://github.com/airshipit/images/issues/2.

[2021-02-10 13:44] lb4368 commented on #461
Patchset here:  https://review.opendev.org/c/airship/airshipctl/+/761233

[2021-02-10 15:14] #379 closed

[2021-02-10 15:16] teoyaomiqui commented on #374
related new patchset: https://review.opendev.org/c/airship/airshipctl/+/774709/4

[2021-02-10 15:18] seaneagan commented on #429
Above patchset has merged, closing. #419 covers the usage of these releases.

[2021-02-10 15:18] #429 closed

[2021-02-10 15:19] jezogwza commented on #449
Closing we currently have log collection on the 3rd party gates.

[2021-02-10 15:19] #449 closed

[2021-02-10 15:19] vs422h commented on #456
Could you please assign this issue to me?

[2021-02-10 15:19] jezogwza commented on #427
Changes where merged.

[2021-02-10 15:19] #427 closed

[2021-02-10 15:20] jezogwza commented on #405
documentation was updated.

[2021-02-10 15:20] #405 closed

[2021-02-10 15:25] #320 closed

[2021-02-10 15:35] jezogwza commented on #202
Close, for now, any specific implementations or commands, subcommands that will use generic container. need to have explicit issues. created for them .i.e. the new refactoring of image builder iso generation integration using the generic container.

[2021-02-10 15:35] #202 closed

[2021-02-10 15:37] jezogwza commented on #179
This idea was deemed as not achievable with the kustomize implementation for plugins. Replacement transformer integration remains as is in airshipctl.

[2021-02-10 15:37] #179 closed

[2021-02-10 15:42] jezogwza commented on #458
Waiting for @craiganderson  to validate this works for the image builder qcow integration with the generic container. before closing.

[2021-02-10 20:42] ak3216 opened #462 "Third Party Gating log collection enhancements"
Enhance the third party gating log collection (implemented by #449) as follows:
•  Log collection URL is now printed at the end of Pipeline. Enhance the process to post the URL back to Gerrit when updating the Voting.
•  Create configurable script to cleanup/archive the old logs based on the available space and/or time duration.

[2021-02-10 22:22] #450 closed

[2021-02-10 22:22] sirajyasin commented on #462
@ak3216 , can you please assign this issue to me

[2021-02-11 00:45] teoyaomiqui opened #463 "Remove deprecated cluster init and move commands"
**Describe the bug**
We now rely on executors to handle cluster moves, these commands dont work anymore and should be removed from airshipctl.

[2021-02-11 00:52] teoyaomiqui opened #464 "Develop mock interface for pkg/phase/ifc/helper Helper interface"
**Problem description (if applicable)**
We heavily rely on modifying config to make sure helper returns values that we want. Instead, we could mock it and avoid, duplication of testdata, and complex modifications of config to make sure it fits test needs.

[2021-02-11 00:54] teoyaomiqui opened #465 "Develop mock interface for bundle"
Instead of having everything stored on the filesystem in testdata directory in each go package, we should develop a bundle mock that would return required values for us. Same as it is done for clusterctl client, remote client and container client.

[2021-02-11 14:34] sirajyasin commented on #359
@ak3216 @teoyaomiqui
I assume all the core logic to fetch inventory is already implemented, however the cli command 'airshipctl bare metal list' is still pending. If no one has started working on that yet, I can look into adding the new cli command. Please suggest

[2021-02-11 16:00] teoyaomiqui commented on #359
@sirajyasin that is partially correct. First would be to develop an underlying extension to remote interface to be printed as YAML: https://github.com/airshipit/airshipctl/blob/master/pkg/remote/ifc/ifc.go#L25-L38

this maybe a little tricky, because when client is initialized, no instructions are given to it about the BMH object here: https://github.com/airshipit/airshipctl/blob/master/pkg/remote

[2021-02-11 16:00] teoyaomiqui commented on #359
sorry clicked close accidentally :)

[2021-02-11 17:31] gorshunovr commented on #237
Confirming with @ianpittwood on where the bot actually runs at the moment. I have permanent VM where I can easily host it if needed.

[2021-02-11 18:52] gorshunovr commented on #237
Bot seems to be hosted on one of AT&T labs, however it does not work at the moment. Contact: Sirajudeen Mohammed Yasin.

[2021-02-11 22:07] matthew-fuller commented on #463
I can take this on if no one's currently working on it.

[2021-02-11 23:48] mattmceuen opened #466 "Update to capm3 v0.4.0 to fix clusterctl move BMH status bug"
Airshipctl currently integrates capm3 versions v0.3.1 and v0.3.2.  These versions have a bug, where when a clusterctl move operation migrates a BareMetalHost definition from the ephemeral to the target cluster, it "forgets" the Provisioned status.  This will cause the target cluster to reprovision the node.

We're currently working around this by labelling the BMH with a "paused" annotation.  Howe

[2021-02-11 23:53] mattmceuen opened #467 "Update sushy-tools to latest upstream"
Airshipctl currently uses a custom fork of sushy-tools, which worked around the booting issue described here:
https://storyboard.openstack.org/#!/story/2007689

This issue has been fixed, according to the following issue, so we should move back to upstream sushy-tools (assuming everything still works right with that change in place)

https://review.opendev.org/c/openstack/sushy-tools/+/733152

[2021-02-12 00:15] mattmceuen commented on #19
Thanks for re-enabling the script-based validation, @raliev12 -- that's really helpful

[2021-02-12 00:17] mattmceuen commented on #299
@mf4716 @ak3216 I think this can be closed.  Any additional ephemeral bits that may need cataloguing should be handled via a more targeted work when they're found.

[2021-02-12 00:55] matthew-fuller commented on #363
Please assign this to me.

[2021-02-12 00:57] ak3216 commented on #363
@matthew-fuller done

[2021-02-12 03:07] ak3216 commented on #299
Closing

[2021-02-12 17:04] matthew-fuller commented on #463
https://review.opendev.org/c/airship/airshipctl/+/775414

[2021-02-12 17:45] Golvanig commented on #413
Hello,
I just got the same issue with today 2021-02-12 version.
I installed the developer version "https://opendev.org/airship/airshipctl/src/branch/master/docs/source/developers.md"
I had the following message:

"[airshipctl] 2021/02/12 17:31:53 opendev.org/airship/airshipctl@/pkg/events/processor.go:84: Received error when applying errors to kubernetes timeout after 2000 seconds waiting for 8 re

[2021-02-12 17:53] teoyaomiqui commented on #463
@matthew-fuller hey, i forgot to mention here, that i had patchets already created :(
https://review.opendev.org/c/airship/airshipctl/+/773169
https://review.opendev.org/c/airship/airshipctl/+/774700/1
https://review.opendev.org/c/airship/airshipctl/+/774699/3

but i guess u can take over them :) if u rebase them

[2021-02-12 18:03] matthew-fuller commented on #463
@teoyaomiqui Oops! No worries, I can just abandon my PS and this can be assigned to you.

[2021-02-12 19:23] eratnch commented on #413
Hi @Golvanig, please follow the https://github.com/airshipit/airshipctl/blob/master/docs/source/developers.md guide.
This captures steps to deploy k8s cluster on bare metal host using airshipctl.
If you encounter any issue while following https://github.com/airshipit/airshipctl/blob/master/docs/source/developers.md guide, please feel free to ask in the airship slack channel or open a new issue. We

[2021-02-13 06:57] aodinokov commented on #419
@seaneagan FYI, maybe it's interesting for you...
krm-functions catalog now use semver https://github.com/GoogleContainerTools/kpt/issues/1358
so far we're using only sops from there
https://github.com/GoogleContainerTools/kpt-functions-catalog/releases/tag/ts%2Fsops%2Fv0.1.0

[2021-02-13 08:58] Golvanig commented on #413
Thanks eratnch,
This is exactly what I followed - I mean the step by step process, and got the issue equivalent to #413.

To complete the information, I ran also the "./tools/gate/20_run_gate_runner.sh", which gathers all the steps in one, and there it works.

[2021-02-16 04:41] aodinokov commented on #454
Updated (added more parts: encryption, troubleshooting)

[2021-02-17 06:03] aodinokov commented on #453
the remaining part is in https://review.opendev.org/c/airship/airshipctl/+/775737

[2021-02-17 15:10] jezogwza commented on #467
Given this statement from Mayy via email about sushy-fork, we. might be close this.

https://review.opendev.org/c/airship/airshipctl/+/775298

I think we can close this. Matt please?

[2021-02-17 16:05] vetbijaya commented on #409
Updated the patchset, need some feedback and then will work on unit-test cases.

[2021-02-17 17:44] sirajyasin commented on #237
We are working to get the BOT deployed on a VM from WWT lab. The PIP package(https://pypi.org/project/gerrit-to-github-issues/) works well, but we are trying to get the code from "airship/gerrit-to-github-bot" working which has few more additional parameters to manage project board. We will update the progress.

[2021-02-18 19:16] aodinokov commented on #454
this ^ has been merged and may be closed

[2021-02-18 19:47] ak3216 commented on #454
@aodinokov good deal. Thanks! Closing per code merge.

[2021-02-18 19:47] #454 closed

[2021-02-22 17:18] ian-howell commented on #457
work being tracked here: https://review.opendev.org/c/airship/airshipctl/+/776956

[2021-02-22 17:22] matthew-fuller commented on #317
Please assign this to me.

[2021-02-22 18:13] ak3216 opened #468 "Define a CRD/Schema Approach for the Networking Variable Catalogue"
**Proposed change**
Leveraging the work done in #363 for the Versions catalog, develop a similar CRD & schema for the Networking catalog.

[2021-02-22 18:32] ak3216 opened #469 "Provide support for additional Baremetal Operator replacements"
To allow users to better configure the Baremetal Operator, the following variables need to be added to a new or existing replacement catalog in https://github.com/airshipit/airshipctl/tree/master/manifests/function/baremetal-operator/replacements.

The parameters & their defaults follow:
IRONIC_AUTOMATED_CLEAN: “false”
HTTP_PORT: "80”
IRONIC_FAST_TRACK: "false"

DEPLOY_KERNEL_URL: http://172.30.0.

[2021-02-22 18:43] mattmceuen commented on #469
I'd forgotten that there are already existing ironic-vars substitutions here:
https://github.com/airshipit/airshipctl/blob/master/manifests/function/baremetal-operator/replacements/networking.yaml#L12-L41

In that case, probably best to add any additional ironic-vars substitutions to that same place, and to keep their sources all together in this section of the networking catalogue:
https://github

[2021-02-22 19:08] matthew-fuller commented on #468
Please assign this to me.

[2021-02-22 19:20] ak3216 commented on #468
@matthew-fuller all yours!

[2021-02-22 20:45] teoyaomiqui commented on #364
related patchset https://review.opendev.org/c/airship/airshipctl/+/774744

[2021-02-22 21:46] sirajyasin commented on #237
This issue can be marked closed. BOT is deployed in a WWT Lab and it is confiured to run every 20 minutes. Github issues are getting updated as expected. There is also a job to monitor the status of the BOT.

[2021-02-22 21:48] ak3216 commented on #237
Closing per above comment.

[2021-02-22 21:48] #237 closed

[2021-02-23 01:44] Arvinderpal commented on #3
@ak3216 Any idea what's going on here? Seems like airshipbot has gone a little crazy..

[2021-02-23 03:26] aodinokov commented on #453
https://review.opendev.org/c/airship/airshipctl/+/775737 has been merged and can be closed

[2021-02-23 09:15] gorshunovr commented on #237
Thank you, @sirajyasin!

[2021-02-23 09:23] gorshunovr commented on #157
How should implementation look like? Should bot add a comment to Gerrit change with a link, or should bot amend Git commit message and replace #xxx number with a hyperlink?
@demonCoder95 did you get it working?

[2021-02-23 12:29] ak3216 commented on #453
Closing per code merge

[2021-02-23 12:29] #453 closed

[2021-02-23 15:58] seaneagan commented on #443
2/23 design call discussion:
* Use generic container phase to wait for all expected tigerastatus CRs to exist and be [Available](https://github.com/airshipit/airshipctl/blob/6f16a2e84052db732227290c53a8e2c78634fd4b/manifests/function/cni/tigera-operator/v1.13.0/upstream/tigera-operator.yaml#L4072).

We also have another potential race condition (though I haven't seen it triggered yet) in that we a

[2021-02-23 17:07] sshiba opened #470 "kind: Secret - Replacement transformer does not provide option to replace base64 encoded data"
**Describe the bug**
Replacement transformer does not provide option to replace a certificate base64 encoded data for objects of `kind: Secret`.
It forces to assign non base64 encoded value, instead, which is not consistent with this object type, i.e., use the `data `field for base64 encoded values and use of `stringData `for _clear_ text data.
as it is hard-coded to encode any data prior to repla

[2021-02-23 18:42] aodinokov commented on #470
@sshiba , it provides( I just realized 1 day after our conversation):
if you use jsonpath syntax in fieldref it won't do base64. it will just copy the data.
Please try `"{.data}"` instead of `data`.

[2021-02-23 18:58] #467 closed

[2021-02-23 20:02] aodinokov opened #471 "GenericContainer with type: airship skips empty lines in stdout"
**Describe the bug**
Before switching back to GenericContainer type:krm (see [this patchset](https://review.opendev.org/c/airship/airshipctl/+/776494)) execution of

[code]

during gate script run produced file `/tmp/airship/airshipctl/manifests/site/test-site/target/generator/results/generated/secrets.yaml`
that contains:

[code]

The expected result should look like

[code]

**Steps To Reproduce

[2021-02-23 20:24] sirajyasin commented on #3
Sorry for the comments from BOT on this issue. It was wrongly updated due to an issue in the BOT. We are working to resolve the BOT issue and will update here once resolved.

[2021-02-23 20:25] eratnch opened #472 "Fix documentation for CAPG provider"
**Describe the bug**
Current documentation for provider CAPG at `https://github.com/airshipit/airshipctl/blob/master/docs/source/providers/cluster_api_gcp.md` is outdated and needs updating according to the latest `airshipctl phase` commands.

**Steps To Reproduce**
The current document has reference to obsolete `airshipctl` commands that no longer works.
Also the steps to create gcp-compatible im

[2021-02-23 20:27] eratnch commented on #472
Please assign this to me.

[2021-02-23 20:52] ak3216 commented on #472
@eratnch all yours!

[2021-02-24 01:56] eratnch commented on #472
Thanks @ak3216.

[Here](https://review.opendev.org/c/airship/airshipctl/+/776313) is the PS that'd fix this issue.

[2021-02-24 14:49] SirishaGopigiri commented on #466
Please assign this to me

[2021-02-24 14:51] ak3216 commented on #466
@SirishaGopigiri all yours

[2021-02-24 22:45] matthew-fuller commented on #469
Please assign this to me.

[2021-02-25 01:02] mf4716 commented on #456
@vs422h (Vladimir) - is there an update?

[2021-02-26 14:06] vs422h commented on #456
PS is on the review, but it seems like this issue could be closed as an outdated. All CRI deployments are implemented in the image-bulder module, and this piece of code looks duplicated and could be removed.
For the reference: https://github.com/airshipit/images/tree/master/image-builder
I'd like to request a short technical discussion.

[2021-02-26 14:28] mf4716 commented on #456
@ak3216 , @jezogwza , is what Vladimir is doing(done) duplicate, or obsolete?

[2021-02-26 15:46] kozhukalov commented on #440
https://review.opendev.org/c/airship/airshipctl/+/774350
Build ephemeral iso using generic container
 We build iso image in two steps
 1) We prepare cloud-init data using a krm function
    krm-functions/cloud-init which uses arishipctl capabilities
    to gather necessary data from the executor document bundle.
    Cloud-init data files are written into a directory mounted
    to the krm function

[2021-02-26 15:58] #313 closed

[2021-02-26 18:34] matthew-fuller commented on #469
The bot seems unaware of this change, but it's ready for review: https://review.opendev.org/c/airship/airshipctl/+/777490

[2021-02-26 18:42] mattmceuen commented on #471
@aodinokov I know you put in a workaround for this but which switches back to a KRM format until the Airship format is handled correctly.  With that in mind, what is the urgency on resolving this bug -- do you think it's required for Airship v2.0, or could it wait for a v2.1?

[2021-02-26 18:58] teoyaomiqui commented on #471
@mattmceuen, In my opinion, it is not urgent. Airship containers still can be used, as designed to perform all actions, for example, kubectl commands, or image building, while KRM containers are used to process YAMLs.

[2021-02-26 21:20] craiganderson commented on #440
No duplicate effort for me, to address Rodolfo's point. Approach here looks good. Only work I did was to update [image-builder](https://github.com/airshipit/images/commit/15d64e84badfbde16a12e81b30ad6f602f8c4bdf) to accept configuration with stdin in anticipation of generic-container which works this way. Setting "VERSION" environment variable to "v2" will cause image-builder to use this behavior

[2021-02-26 22:11] #457 closed

[2021-02-26 22:13] ian-howell commented on #470
Tested this and I can confirm @aodinokov's suggestion. [Documentation already states to use jsonpath](https://github.com/airshipit/airshipctl/tree/master/krm-functions/replacement-transformer#configuration-file-format), so I'm going to go ahead and close this.

[2021-02-26 22:13] #470 closed

[2021-02-26 22:46] #452 closed

[2021-02-27 06:01] aodinokov commented on #471
@mattmceuen I agree with @teoyaomiqui - KRM-based generic container is enough. Airship-generic container was the attempt to keep the same API, but extend features, e.g. be able to call container in privileged mode, that was necessary for image-builder. Since image-builder was integrated in another way, it's not urgent.

[2021-03-01 14:13] #151 closed

[2021-03-01 17:49] Arvinderpal commented on #377
Update: The design proposal was accepted and merged. The feature PR is currently under review.

[2021-03-01 20:10] teoyaomiqui commented on #458
I am closing this issue, as the container is working, and the image builder went different path for integration.

[2021-03-01 20:10] #458 closed

[2021-03-01 23:50] #472 closed

[2021-03-02 02:24] craiganderson commented on #249
Merged into airshipctl & completed

[2021-03-02 02:24] #249 closed

[2021-03-02 08:03] kozhukalov opened #473 "Remove `airshipctl image build` command"
**Problem description (if applicable)**
We currently use phases to build the ephemeral ISO image. There is no need for having `image build` command, which is currenty just an alias that runs phases under the hood. And there will be no need to maintain unnecessary piece of code if we remove it.

**Proposed change**
Let's remove `image build` command.

**Potential impacts**
No

[2021-03-02 08:03] kozhukalov commented on #473
Please assign this to me.

[2021-03-02 08:55] kozhukalov commented on #473
https://review.opendev.org/c/airship/airshipctl/+/778150

[2021-03-02 12:33] ak3216 commented on #473
@kozhukalov all yours, given you've already got a patch set for it, I'm going to go ahead and set it to a small effort. Let me know if you feel otherwise.

[2021-03-02 13:57] SirishaGopigiri commented on #466
PS related to this issue https://review.opendev.org/c/airship/airshipctl/+/777930

[2021-03-02 15:34] teoyaomiqui commented on #471
I don't think it is a good first issue, the fix may not be lengthy, but the design of the solution requires a deep understanding of go, docker SDK, krm functions, and airshipctl itself.
@jezogwza I will remove the `good first issue` label. If you think otherwise, please put it back :).

[2021-03-02 15:49] sirajyasin commented on #462
@ak3216 , This issue can be closed now. Both the tasks mentioned in the issue is implemented and working.

[2021-03-02 15:57] ak3216 commented on #462
Closing per @sirajyasin updates, verified links appearing in gerrit messages.

[2021-03-02 15:57] #462 closed

[2021-03-02 16:59] aodinokov commented on #471
I completely agree with @teoyaomiqui. Based on what I saw in it won't be so easy.

[2021-03-02 18:43] ak3216 commented on #456
@vs422h (@mf4716 & @jezogwza), I was verifying that CRI & CGroup driver are being set in image builder & it looks like the CGroup driver is being set to systemd here: https://github.com/airshipit/images/blob/master/image-builder/assets/playbooks/roles/osconfig/tasks/crio.yaml but CRI is not being set by Image Builder.

I double checked with Craig & he reminded me that in earlier versions of k8s it

[2021-03-03 03:31] raliev12 commented on #374
@ak3216 since the last related [PS](https://review.opendev.org/c/airship/airshipctl/+/774709/) was merged, this issue can be closed now.

[2021-03-03 05:45] #364 closed

[2021-03-03 12:28] ak3216 commented on #374
Closing per merging of https://review.opendev.org/c/airship/airshipctl/+/774709/

[2021-03-03 12:28] #374 closed

[2021-03-03 15:30] ian-howell commented on #451
PS here: https://review.opendev.org/c/airship/airshipctl/+/774164

[2021-03-03 18:22] StevTheDev opened #474 "CR status is Unknown when introduced in the same phase as its CRD"
**Description**
CR object status is not properly tracked if the CR is introduced in the same phase as the corresponding CRD.

**Steps To Reproduce**
- Check out and build treasuremap from [this PS](https://review.opendev.org/c/airship/treasuremap/+/769096).
- Observe during the initinfra-target phase:
  - `flux-system` composite is deployed from airshipctl
  - `lma-infra` composite is deployed fro

[2021-03-04 09:28] kozhukalov commented on #417
@bravinash82 could you please review the patch? Does it solve the issue?

[2021-03-04 09:28] kozhukalov commented on #416
@bravinash82 could you please review the patch? Does it solve the issue?

[2021-03-04 09:51] kozhukalov commented on #447
`cluster list` command relies on the cluster map object defined in the manifests https://github.com/airshipit/airshipctl/blob/master/manifests/phases/cluster-map.yaml
If config file already exists, it must properly define the path to the manifests.
The problem at the moment is that by default the config file is initialized with the following manifests field
[code]
and https://opendev.org/airship/t

[2021-03-04 10:27] kozhukalov commented on #464
Please assign this to me

[2021-03-04 10:28] kozhukalov commented on #465
Please assign this to me

[2021-03-04 10:39] kozhukalov opened #475 "airshipctl config get-context must show which of the contexts is current if there are more than one contexts"
**Problem description (if applicable)**
`airshipctl config get-context` gets something like this if there are two config contexts
[code]

**Proposed change**
It must be possible to see which of the shown contexts is currently in use.

**Potential impacts**
No

[2021-03-04 10:40] kozhukalov commented on #475
Small and easy to fix.

[2021-03-04 12:38] ak3216 commented on #465
@kozhukalov all yours. Just let me know t-shirt size and I'll add it as well. Thanks!

[2021-03-04 12:39] ak3216 commented on #464
@kozhukalov all yours. Please let me know t-shirt size once you've had a chance to evaluate it & I'll add. Thanks!

[2021-03-04 12:45] kozhukalov commented on #465
I think, it is Medium

[2021-03-04 12:45] kozhukalov commented on #464
It is Medium

[2021-03-04 13:01] ChumkiDas commented on #475
I would like to work on it. Please assign it to me.

[2021-03-04 13:04] ak3216 commented on #475
@ChumkiDas all yours. Vladimir had indicated this was a small effort, so I added that label. If you find it's more involved, let me know & I'll update. Thaks.

[2021-03-04 13:26] uberscott commented on #447
@kozhukalov thank you for bringing this up!   Are you on Slack sir?

[2021-03-04 13:43] kozhukalov commented on #447
Yes. I'm @vkozhukalov in slack chat.

[2021-03-04 15:29] ChumkiDas commented on #475
@kozhukalov  Can you please confirm if the below result is what you are expecting?

contextKubeconf: ""
managementConfiguration: default
manifest: default

contextKubeconf: ""
managementConfiguration: xxx
manifest: yyy

Current context:  default

[2021-03-04 18:05] matthew-fuller commented on #469
Related change has merged, this issue can be closed.

[2021-03-04 18:05] #469 closed

[2021-03-04 18:05] matthew-fuller commented on #468
Related change has merged, this issue can be closed.

[2021-03-04 18:05] #468 closed

[2021-03-04 18:06] lb4368 opened #476 "Add Catalogue Validation to Gating"
**Proposed change**
With the implementation of version and network catalogue schemas/CRDs from #363 and #468, would like to add catalogue schema validation to the gating scripts which validate site manifest documents, so that errors in catalogue format are identified early.

[2021-03-04 18:06] matthew-fuller commented on #363
Related change has merged, this issue can be closed.

[2021-03-04 18:06] #363 closed

[2021-03-04 18:06] lb4368 commented on #476
PS: https://review.opendev.org/c/airship/airshipctl/+/778076

[2021-03-04 18:07] matthew-fuller commented on #476
Please assign this to me.

[2021-03-04 23:17] ak3216 commented on #442
closing as this was reopened with testing.

[2021-03-04 23:17] #442 closed

[2021-03-05 01:48] #466 closed

[2021-03-05 18:01] lb4368 opened #477 "Update Airship-in-a-pod to allow specifying site manifest location"
**Proposed change**
Currently airship-in-a-pod works with the site manifest from the airshipctl test-site (manifests/site/test-site).  Update airship-in-a-pod to allow the site manifests location to be configurable.

[2021-03-05 18:20] lb4368 opened #478 "Add Airship-in-a-pod to Zuul Gates"
**Proposed change**
Add running airship-in-a-pod to the Zuul gating, so that working functionality is validated with each build.

[2021-03-06 00:50] matthew-fuller commented on #317
It's looking like a dedicated EndpointCatalogue may not be necessary for airshipctl. In researching this issue, most endpoint / URL keys appear to already have replacements defined in our NetworkCatalogue. There are some keys like `localAPIEndpoint` defined in CRDs like KubeadmConfigTemplate, but they don't appear to be used.

The prometheus/monitor has a hardcoded endpoint path of `/metrics`, but

[2021-03-08 15:36] StevTheDev opened #479 "`airshipctl document pull` does not work if a repo has a detached HEAD"
**Describe the bug**
`airshipctl document pull` does not work if a repo has a detached HEAD.

**Steps To Reproduce**

- Have a detached head (eg from Gerrit PS Checkout)
[code]
- Observe the correct SHA in the config generated by gating script `22_test_configs.sh`
[code]
- Run `airshipctl document pull --debug` and observe `reference not found`
[code]

- Attach the HEAD to some branch `git checkou

[2021-03-08 20:37] drewwalters96 commented on #280
The work on this has been dated, and we should reprioritize this on the flight plan call, especially since there is a team writing documentation now.

[2021-03-08 20:53] jezogwza commented on #166
Did this downstream at some point last yer. We simply need to move this to treasuremap. However, this is not urgent since valid dual-stack is not beta until k8s 1.22 I think.

[2021-03-08 21:31] lb4368 commented on #79
Closing this.  New HCC features are taken care in #455.

[2021-03-08 21:31] #79 closed

[2021-03-09 15:21] vetbijaya commented on #370
I would like to work on this issue.

[2021-03-09 16:01] ak3216 commented on #370
@vetbijaya all yours, just let us know tshirt & we'll add that, too. Thanks!

[2021-03-09 17:05] teoyaomiqui opened #480 "Create WorkDir method in airshipctl config"
**Problem description (if applicable)**
We have multiple places in airshipctl where it needs to save files, primarily for temporary files and maybe container mounts in the future. Config object doesn't provide any methods to retrieve this directory.
We use phase.Helper.WorkDir() to get it; however, it may return a directory that doesn't exist.

**Proposed change**
Add WorkDir() (string, error) met

[2021-03-10 03:03] #480 closed

[2021-03-10 13:17] ChumkiDas commented on #475
Hi @kozhukalov Could you please reply to my previous post?Once confirmed, I can proceed with the next steps.

[2021-03-10 15:36] teoyaomiqui opened #481 "Introduce Validate() method to ClusterMap interface"
**Problem description (if applicable)**
A ClusterMap interface can have multiple clusters defined in it, but there is no validation.

Validation is a very important step for ClusterMap, because clusters define parent-child dependencies. We should develop Validate() interface that would, at minimum, make sure that no circular parent-child dependencies are introduced in it.

**Proposed change**
Deve

[2021-03-10 16:09] teoyaomiqui commented on #415
Closing as [Related Change](https://review.opendev.org/757100) was merged.

[2021-03-10 16:09] #415 closed

[2021-03-10 16:23] SirishaGopigiri commented on #281
Please assign this to me, thank you!

[2021-03-10 16:27] ak3216 commented on #280
@SirishaGopigiri all yours! This one is listed with a size xl currently but we moved away from using that. Once you assess, please let me know and I'll update the size label. Thanks!

[2021-03-10 16:28] ak3216 commented on #281
@SirishaGopigiri all yours, as well! I removed the blocked label as you're working it in conjunction with 280 & just let me know the size when you have a chance. Thanks!

[2021-03-10 20:10] ak3216 commented on #268
Closing per 3/10 Flight Plan call.

[2021-03-10 20:10] #268 closed

[2021-03-10 20:19] rkjain opened #482 "airshipctl phase run clusterctl-move failing with docker provider (capd)"
**Description**
 airshipctl phase run clusterctl move is failing with docker provider, even though  dry run works successfully.  The problem does not exist when clusterctl move is used.

[code]
**Steps To Reproduce**
Follow the deployment document at https://review.opendev.org/c/airship/airshipctl/+/777210

**Expected behavior**

[code]
**Environment**
- airshipctl Version:
- Operating System: 18.

[2021-03-10 20:22] lb4368 commented on #55
Closing per 3/10/21 flight plan.

[2021-03-10 20:22] #55 closed

[2021-03-10 20:52] lb4368 opened #483 "airshipctl remotedirect-ephemeral phase should have an option to wait"
**Problem description**
The remotedirect-ephemeral phase defined in airshipctl baremetal deployment issues a baremetal remote-direct command but does not wait for the ephemeral node and cluster to be fully available.

**Proposed change**
Update the remotedirect-ephemeral phase/RemoteDirectEphemeral executor to allow waiting for the ephemeral node and cluster to be fully available.

This issue repl

[2021-03-10 20:54] lb4368 commented on #236
baremetal remotedirect is now done as part of an airshipctl phase.  Closing this issue and new implementation specified in #483.

[2021-03-10 20:54] #236 closed

[2021-03-11 01:24] StevTheDev commented on #475
I think it would be nice if this command displayed the name of the contexts too. See how they're shown in the airship config file?

[code]

[2021-03-11 21:07] raliev12 opened #484 "Allow GenericContainer executor to mount relative path"
**Problem description (if applicable)**
Docker containers can only mount directories by its absolute path. We are bypassing mount options to the docker api, therefore pointing relative path causes an error. We need to have an ability to use relative paths to be able to mount site manifests, repos, etc. It was partially implemented in airshipctl code, but for some reason removed during refactoring

[2021-03-11 21:22] raliev12 opened #485 "GenericContainer executor fails if documentEntryPoint is not specified in related Phase"
**Describe the bug**
If there is no specific documentEntryPoint in phase definition and this phase uses GenericContainer executor it causes the following error:
`"documentEntryPoint is not defined for the phase '%s' in namespace '%s'"`
However, the presence of this parameter is optional for this type of executor and we can pass empty document. This behavior forces us to create pointless empty kust

[2021-03-11 21:31] raliev12 commented on #484
Related change - https://review.opendev.org/c/airship/airshipctl/+/779876

[2021-03-11 21:34] raliev12 commented on #485
Related changes:
https://review.opendev.org/c/airship/airshipctl/+/779861 - required to be able to process appropriate error properly
https://review.opendev.org/c/airship/airshipctl/+/779638 - fix

[2021-03-11 21:45] #409 closed

[2021-03-12 18:37] sureshl opened #486 "kubeconfig flag is no longer available in airshipctl"
**Describe the bug**
airshiptcl command with kubeconfig option was working previously but now has stopped working and throws the below error message.
# airshipctl phase run clusterctl-init-ephemeral --debug --kubeconfig ${KUBECONFIG}
**unknown flag: --kubeconfig**

**Steps To Reproduce**
Execute the below command
# export KUBECONFIG="${HOME}/.airship/kubeconfig"
# airshipctl phase run clusterctl-i

[2021-03-12 20:50] drewwalters96 opened #487 "Missing group, value, kind in rendering errors"
**Describe the bug**
[code]

**Steps To Reproduce**
1. Checkout patchset 3 of [this change](https://review.opendev.org/c/airship/treasuremap/+/780121)
2. Execute `airshipctl phase render workers-target`

**Expected behavior**
If there is a rendering issue, airshipctl needs to provide more information about the patches that failed to apply. The error above is not specific enough to pinpoint where t

[2021-03-15 05:27] raliev12 commented on #487
@drewwalters96 The issue you described isn't related to rendering itself. To be able to render documents using an executor as source, airshipctl tries to create appropriate Executor object. To create it, airshipctl need to have a bundle object inside, and this bundle is formed by related phase's documentEntryPoint. So basically, NewBundle() function called, which throws an error from inner call of

[2021-03-15 14:03] drewwalters96 commented on #487
@raliev12 The error from Kustomize gives us a little bit more to go on, revealing where the faulty patches are. Is there anything we can do to show this via airshipctl?

[code]

[2021-03-15 15:56] #451 closed

[2021-03-15 18:22] mf4716 commented on #317
@matthew-fuller  - Matt, is there an update?  Are we close(r) to finishing?

[2021-03-15 18:34] mf4716 commented on #476
@matthew-fuller - Matt, are we close(r) to finishing?

[2021-03-15 18:35] mf4716 commented on #456
@vs422h - Vladimir, are we closer to finishing, or confirming if this is dup/or moved to another issue #?

[2021-03-15 18:36] mf4716 commented on #388
@sreejithpunnapuzha - Sreejith, are we close(r) to finishing this issue?

[2021-03-15 18:41] teoyaomiqui commented on #388
@mf4716 we can close this issue, it was fixed some time ago

[2021-03-15 18:41] #388 closed

[2021-03-15 18:49] mf4716 commented on #475
@ChumkiDas - are we close(r) to finishing?

[2021-03-15 19:09] sirajyasin commented on #146
@drewwalters96 , could you please help to evaluate if this issue is still required.

As per me most of the sub commands of config are already removed after the config refactor work. Also we have different issues created to address the yaml output wherever required.

Example:
https://review.opendev.org/c/airship/airshipctl/+/769392

[2021-03-15 19:16] teoyaomiqui commented on #486
@sureshl we have removed the flag from the command, now it works only declaratively. If you want to use ur site specific kubeconfig, you must specify path to it in clustermap for the specific cluster, here is example. U can also simply put your kubeconfig to that lcoation

[2021-03-15 19:24] drewwalters96 commented on #146
@sirajyasin I agree, I'm not sure we need to parse command output. Through waits and exit codes, the CI jobs have interacted with airshipctl in a predictable manner

[2021-03-15 20:03] raliev12 commented on #487
@drewwalters96 The Kustomize output really depends on its version. What version of Kustomize do you have?
For example, version 3.8.5 produces output you mentioned (uses kustomize api v.0.6.3):

`root@ubuntu-airship:~/src/treasuremap# kustomize version
{Version:kustomize/v3.8.5 GitCommit:4052cd4fd8c76a17b5f64e32509f3fba9713fe75 BuildDate:2020-10-08T02:45:59Z GoOs:linux GoArch:amd64}
root@ubuntu-air

[2021-03-15 20:09] drewwalters96 commented on #487
Ah I see. I had 3.8.5 (same as your example output above). That's disappointing, but seeing as though we're limited in this situation, I suppose we have no other choice than to close this issue. This might be a good item for our upcoming troubleshooting guide @abailey011.

Thanks @raliev12

[2021-03-15 20:09] #487 closed

[2021-03-15 20:10] rkjain commented on #486
@teoyaomiqui  can you share the example. I will test them with docker provider.

[2021-03-15 20:56] ak3216 commented on #146
Closing per above discussion

[2021-03-15 20:56] #146 closed

[2021-03-15 21:05] teoyaomiqui commented on #486
@rkjain Really sorry, that I didn't paste it the first time, I actually thought I did. here is example:
https://github.com/airshipit/airshipctl/blob/master/manifests/phases/cluster-map.yaml#L9-L15

In this example , if you put ur kubeconfig to ~/.airship/config, it will pick it up from there. But keep in mind that you also need to specify context in that kubeconfig for the specific cluster.

[2021-03-15 21:44] rkjain commented on #486
@teoyaomiqui Thank you. I will test it and let you know how it goes.

[2021-03-15 22:30] mf4716 commented on #447
@uberscott - Scott, what t-shirt size would you give this issue (e.g. S (<=1 day), M (2-5 days), L (5-7+ days))?

[2021-03-15 23:11] raliev12 opened #488 "Airshipctl makes several NewBundle() calls with the same path"
**Describe the bug**
Many phase related commands in airshipctl like _phase run_ or _phase render -s executor_ during execution make several document.NewBundleByPath() calls, and most of them with the same path (phaseBundleRoot). Let's look at how _phase run_ executed:
1. [Lookup phase by ID](https://github.com/airshipit/airshipctl/blob/master/pkg/phase/helper.go#L75) - phaseBundleRoot as argument

[2021-03-15 23:12] raliev12 commented on #488
Related PS - https://review.opendev.org/c/airship/airshipctl/+/780500

[2021-03-16 00:28] uberscott commented on #447
Large please!!!

On Mon, Mar 15, 2021, 5:30 PM MICHAEL FIX ***@***.***> wrote:

[2021-03-16 00:39] uberscott commented on #447
@mf4716 let's give this a large if for no other reason that I am still trying to understand what airship is doing...

[2021-03-16 12:28] ChumkiDas commented on #475
Yes @mf4716 I have finished making the changes. Just working on the final checkings (linting etc.)..Will push the code tomorrow for review.

[2021-03-16 13:37] ak3216 opened #489 "Enhance user experience for secret decryption"
**Problem description**
Airshipctl currently lacks the mechanism for identifying & decrypting individual secret artifacts

**Proposed change**
Provide a mechanism for users to search for & decrypt specific secret artifacts

**Potential impacts**
Ensure that this doesn't provide an attack vector where anyone can decrypt secrets

[2021-03-16 13:38] ak3216 commented on #489
This issue was created from the 3/16/2021 Design Call. It was determined to be a future enhancement & will likely require Design Call discussion to work out the approach.

[2021-03-16 15:31] gtsteffaniak commented on #481
please assign me this.

[2021-03-16 16:26] teoyaomiqui commented on #488
It seems to be an enhancement

[2021-03-16 16:31] teoyaomiqui commented on #483
@lb4368 are you sure this belongs to V2 ?  I think we discussed at the flight plan that this is out of scope, but I am not sure on this one

[2021-03-16 16:35] lb4368 commented on #483
@teoyaomiqui This is currently marked with the "Future" milestone for later design/implementation

[2021-03-16 17:10] seaneagan commented on #474
@StevTheDev Even if the CRs were created and reconciled successfully on a specific attempt, creating them in the same phase as the CRD is still a race condition, and may fail on some subsequent attempt. The CRD must be established before attempting to create its CRs. I don't think the status library we are using would want to add support for correct waiting when the race condition happens to be av

[2021-03-16 17:31] seaneagan commented on #419
@aodinokov it looks like we still have some references in the airshipctl repo pointed at your local repo for SOPS:
https://github.com/airshipit/airshipctl/search?q=aodinokov

should these be updated to point to gcr.io/kpt-fn-contrib/sops:v0.1.0?

[2021-03-16 17:40] StevTheDev commented on #474
@seaneagan I was discussing this with @teoyaomiqui, and we came to the same conclusion. Separating the documents into different phases seems like a good way to handle this situation

[2021-03-16 18:23] aodinokov commented on #419
@seaneagan , yes, you're absolutely right. all that places have to point to gcr.io/kpt-fn-contrib/sops:v0.1.0 (0.1.0 is the latest version). let me correct that 2 places (that are just examples though) :)

[2021-03-17 14:25] jezogwza commented on #482
The fact that you are using airshipctl phase run clusterctl-move \
--kubeconfig "/tmp/merged_target_ephemeral.kubeconfig" --debug --progress --wait-timeout 100s
the veersion that uses kubeconfig argumeent, means you have the oldder version of airshipctl.  Can you update and try again. Keep in mind that kubeconfig is now provided declaratively.

[2021-03-17 14:30] teoyaomiqui commented on #482
@rkjain can you please paste the kubeconfig context when you are making a move. It appears to me that you have the wrong kubeconfig because the IP address for the cluster is wrong

[2021-03-17 14:39] jezogwza commented on #474
Closing given that we agree this is handled by sing separate phases.

[2021-03-17 15:33] teoyaomiqui commented on #370
@lb4368 when the community designed this command originally, airshipctl had a completely different architecture. Back then, we expected to have only one bundle with all documents that a site would contain. So this command tries to get those documents and go to k8s to check their status.

Current airshipctl architecture has phases; each phase may or may not have a document bundle; also, airshipctl

[2021-03-17 16:05] mattmceuen opened #490 "Airshipctl containers are no longer tagged with git commit hash"
Up until 16 days ago, airshipctl container builds would be tagged with commit hash when they are pushed to quay.io.  Now, although the image is still pushed, it's no longer tagged with the commit, making it difficult to correlate git commits to particular image builds.  We should get this working again.

https://quay.io/repository/airshipit/airshipctl?tab=tags

[2021-03-17 16:41] lb4368 opened #491 "Redesign `airship cluster status` command"
**Problem description**
The current `airshipctl cluster status` command needs to be redesigned for the current architecture of airshipctl taking into account phases and multiple clusters.

**Proposed change**
Need to revisit the `airshipctl cluster status` command design to determine it use in the current airshipctl architecture.

[2021-03-17 16:43] lb4368 commented on #370
@vetbijaya @teoyaomiqui   I created #491 to address the new design for the command.  To close this issue let's implement:

- Change the command to return `not implemented` error.

[2021-03-17 17:12] vetbijaya commented on #370
@lb4368 @teoyaomiqui thank you.

[2021-03-17 18:21] rkjain commented on #482
@jezogwza @teoyaomiqui I took the latest code, and followed the example @teoyaomiqui  shared on #486 . I was able to deploy the target cluster control plane, and move is also working.  Now, I am trying to deploy workers using the target cluster. I will let you know how that goes.  Meanwhile, we can close #486. :) Thank you all !

[2021-03-17 19:34] rkjain commented on #482
@jezogwza @teoyaomiqui The worker nodes are also getting deployed. (just that I had to copy the merged_kubeconfig which has contexts of target cluster and ephemeral cluster) to ~/.airship/kubeconfig . I have updated all the steps in https://review.opendev.org/c/airship/airshipctl/+/777210.  Let me know what you think, if there is a better way to manage the kubeconfigs.

[2021-03-17 19:46] drewwalters96 opened #492 "Broken Kustomize entrypoint in infra composite"
**Describe the bug**
The replacements defined within the [infra composite](https://github.com/airshipit/airshipctl/blob/master/manifests/composite/infra/replacements/kustomization.yaml) link to a function that no longer exists.

**Steps To Reproduce**
Use the replacements as a transformer and try rendering using `kustomize` or `airshipctl`.

[2021-03-17 20:26] teoyaomiqui commented on #482
@rkjain Thank you for addressing this. It is great to see this working!

I am trying to update the scripts as well; thank you for your input and review!

[2021-03-17 20:54] seaneagan commented on #354
Semver release automation is almost complete for airshipctl and krm functions, everything in the this (airshipctl) repo.

Open questions:
1) Which other airship repos do we want to implement this semver release automation for?
2) Do we want to commit to a strict semver policy?
3) Just to confirm, each tool should have its own fully independent semantic versioning / branching?
4) Where to start ver

[2021-03-17 21:05] seaneagan commented on #414
Implemented by above patchset

[2021-03-17 21:05] #414 closed

[2021-03-17 23:59] raliev12 commented on #492
@drewwalters96 I think this directory could be safely removed because:
1. We use tigera-operator for deploy calico and "../../../function/cni/calico/v3/replacements" link was removed in [this commit](https://github.com/airshipit/airshipctl/commit/8328dbd607ba8b7fe2b7f5533c06ab0d8a0e4fb7)
2. There are no no references to composite/infra/replacements in airshipctl manifests
3. kustomization.yaml fil

[2021-03-18 01:08] raliev12 commented on #490
@mattmceuen Who has the admin rights to airshipit space in quay.io? It seems this issue is related to permissions.
As you can see from [build history](https://zuul.opendev.org/t/openstack/builds?job_name=airship-airshipctl-publish-image), this job started to fail after new krm function introduction in [this commit](https://review.opendev.org/c/airship/airshipctl/+/774350). If you take a look at er

[2021-03-18 01:17] teoyaomiqui commented on #463
Closing the issue, all associated code was removed :
https://review.opendev.org/c/airship/airshipctl/+/774699

[2021-03-18 01:17] #463 closed

[2021-03-18 13:40] drewwalters96 commented on #492
@raliev12 that sounds like a good plan to me. It's also unused in Treasuremap AFAIK

[2021-03-18 15:30] geokal opened #493 "Concrete example in airship in a pod Readme"
**Problem description (if applicable)**
Am new in airshipctl and because "**airship in a bottle**" would not play well, i was advised to try "**airship in a pod**" but i m trying to find some info on which container should i run the airshipctl

**Proposed change**
Maybe an example of `/root/.airship/config` would be nice as well a little more detailed guide on how to run airshipctl , from which co

[2021-03-18 15:33] sshiba commented on #447
Based on Vladmir's possible solution comment, would it be just to update the file pkg/config/constant.go with following changes?

[2021-03-18 16:54] matthew-fuller commented on #447
I think this is what I'm remembering from when I looked at this earlier: https://github.com/airshipit/airshipctl/blob/master/pkg/config/config.go#L77

In the factory, NewConfig() is getting called to create a Config object, but it populates all the default values. So even if the factory then finds and loads a valid config file, the defaults are already in there and don't get replaced by the file c

[2021-03-18 17:55] matthew-fuller commented on #317
Closing this issue, and opening a new one in treasuremap to create an endpoints catalogue that can accommodate the airship/charts endpoint format. This will likely be targeted for future release.

[2021-03-18 17:55] #317 closed

[2021-03-18 21:04] eratnch opened #494 "Create a calicoctl container to be used from airshipctl"
**Problem description (if applicable)**
Currently there's no way to use `calicoctl` from airshipctl. `calicoctl` is needed for deploying/managing network policies with `apiVersion` `projectcalico.org/v3`.

**Proposed change**
We need to have the ability to deploy network policies using `calicoctl`.
Currently we can use `calicoctl` as a binary or run it as a pod in the cluster in order to deploy ca

[2021-03-19 15:33] #460 closed

[2021-03-19 17:48] #360 closed

[2021-03-19 18:36] ak3216 commented on #299
Closing due to being reopened by abandoned patchset

[2021-03-19 18:36] #299 closed

[2021-03-19 18:36] ak3216 commented on #298
Closing due to being reopened by abandoned patchset

[2021-03-19 18:36] #298 closed

[2021-03-19 18:37] ak3216 commented on #160
Closing due to being reopened by abandoned patchset

[2021-03-19 18:37] #160 closed

[2021-03-19 18:37] ak3216 commented on #24
Closing due to being reopened by abandoned patchset

[2021-03-19 18:37] #24 closed

[2021-03-19 18:37] ak3216 commented on #8
Closing due to being reopened by abandoned patchset

[2021-03-19 18:37] #8 closed

[2021-03-22 07:55] SirishaGopigiri commented on #280
@ak3216 Size would be 'L'. Thank you!

[2021-03-22 07:55] SirishaGopigiri commented on #281
@ak3216 Size would be 'L'. Thank you!

[2021-03-22 13:43] teoyaomiqui opened #495 "Add "target-file" and "merge" flag to `airshipctl cluster get-kubeconfig` command"
**Problem description (if applicable)**
In addition to writing kubeconfig to stdout, it would be convenient to append kubeconfig or overwrite it.

If you use redirect kubeconfig to a file, `airshipctl cluster get-kubeconfig > ~/.airship/kubeconfig`, redirect `>` immediately removes the content of the target file, which makes airshipctl unable to use it.

The flag would allow using the flag and the

[2021-03-22 17:13] lb4368 commented on #447
Closing.  Bot reopened it for some reason.

[2021-03-22 17:13] #447 closed

[2021-03-22 17:46] vetbijaya commented on #479
I can work on this one. Please assign this issue to me.

[2021-03-22 17:49] ak3216 commented on #479
@vetbijaya done, please let us know t-shirt size once you've had a chance to evaluate. Thanks!

[2021-03-22 20:40] lb4368 commented on #424
@gtsteffaniak   Patchset here:  https://review.opendev.org/c/airship/airshipctl/+/780317.   Did you see comments in patchset?

[2021-03-23 12:23] vetbijaya commented on #479
@ak3216, for now you can put as Medium t-shirt size.

[2021-03-23 15:09] vladiskuz commented on #494
Can someone assign this issue to me please?

[2021-03-23 20:13] rkjain opened #496 "Max width harcoded in sphinx rtd_theme"
**Description**
The sphinx rtd theme has max width hard-coded.
As a result a lot of space goes unused when docs are viewed on large screen monitors.

**Steps To Reproduce**
Minimal steps to reproduce the issue.
Check documentation.  https://docs.airshipit.org/airshipctl/

![image](https://user-images.githubusercontent.com/7967938/112211300-f4ba9f00-8bd8-11eb-849f-3137a5204164.png)

**Expected beha

[2021-03-23 20:13] rkjain commented on #496
I can take this issue. I have create a ps to fix it.

[2021-03-24 02:33] raliev12 opened #497 "Implement plan validate command"
**Problem description (if applicable)**
airshipctl needs `plan validate <PLAN_NAME>` command to be able to validate each phase in a plan.

**Proposed change**
Implement appropriate CLI command, bind it to appropriate method in pkg module (which is [already exists](https://github.com/airshipit/airshipctl/blob/master/pkg/phase/client.go#L224)).

**Potential impacts**
None.

[2021-03-24 06:11] manojkva commented on #477
Please assign this to me.

[2021-03-24 11:28] ak3216 commented on #477
@manojkva it's yours. Thanks

[2021-03-24 13:44] ak3216 opened #498 "True up versions catalog for any missing images"
**Problem description (if applicable)**
There may be additional image references in the manifests which do not have entries in the versions catalog. We need to true up the catalog to account for any missing images.

**Proposed change**
- Search for all the images in use in the manifests.
- Compare against the https://github.com/airshipit/airshipctl/blob/master/manifests/function/airshipctl-base-ca

[2021-03-24 14:13] jezogwza commented on #477
Relates to #493

[2021-03-24 14:16] jezogwza commented on #490
Can close this was a bug that was fixed.
Cloud init image wasn't properly pushed to quay repo. This ended up been a permission issue.

[2021-03-24 14:16] #490 closed

[2021-03-24 15:05] manojkva commented on #493
Please assign this to me.

[2021-03-24 15:12] ak3216 commented on #493
@manojkva all yours. If you have a t-shirt size to add, just let us know. Thanks.

[2021-03-24 16:57] lb4368 commented on #492
@raliev12   Can this be closed?  Patchset is is merged, but it looks like the bot reopened the issue for some reason.

[2021-03-24 17:24] #482 closed

[2021-03-24 18:17] demonCoder95 commented on #84
RAID and BIOS specifications have been merged into metal3 BMO and the development work is almost complete, testing in progress.

@ak3216 This issue can be closed, and I'll open a new one that will track the status of the dev work to be finished and ready for airship usage.

[2021-03-24 18:30] demonCoder95 opened #499 "metal3-io/baremetal-operator RAID and Firmware config implementation"
**Problem description (if applicable)**

**This issue is only to keep track of the upstream metal3-io/baremetal-operator work.**

It is in progress and to be later consumed by airship as part of the RAID/Firmware configuration efforts that have already been added to airshipctl (support for rendering these parameters). Documentation on that is available [here](https://docs.airshipit.org/airshipctl/

[2021-03-24 18:43] demonCoder95 commented on #157
I had evaluated both approaches and didn't work on them enough to get either of them working, my bad. I've been stomped with work, I'll get back to this one real soon.

However, I'm thinking adding a comment would be much easier than modified the commit message (since that requires changes either to the Gerrit setup i.e. you need to add that script in the hosted Gerrit instance, which being in con

[2021-03-24 19:50] ak3216 commented on #84
Closing per the above comment & new issue referenced in #499

[2021-03-24 19:50] #84 closed

[2021-03-25 11:15] ak3216 commented on #485
Reclosing as it looks like this was reopened in error.

[2021-03-25 11:15] #485 closed

[2021-03-25 11:33] ak3216 commented on #419
Re-closing as this was re-opened in error.

[2021-03-25 13:11] teoyaomiqui commented on #495
@vetbijaya all urs

[2021-03-25 13:12] vetbijaya commented on #495
@teoyaomiqui , thank you.

[2021-03-25 16:06] seaneagan commented on #354
The release automation flow for:
1. release notes
2. quay image tagging
3. binary publishing (airshipctl only)

is complete for everything in this repo (airshipctl, krm functions). Let's open github issues for any other repos (see above) that we want this automation in.

In the 3/23 design call i think we landed on the following release process:

# Minor release (v2.x.0)
1. push matching semver fo

[2021-03-25 16:11] seaneagan commented on #354
Closing per above comment.

[2021-03-25 16:11] #354 closed

[2021-03-25 16:20] teoyaomiqui opened #500 "Cleanup kubeconfig building logging"
**Problem description (if applicable)**
Airshipctl provides over verbose logging when building kubeconfig

**Proposed change**
Change log.Printf calls to log.Debugf in pkg/k8s/kubeconfig/builder.go

[2021-03-25 17:16] sb464f opened #501 "Node restarts without pause label in capm3- v0.4.0"
Capm3 was updated to v0.4.0 in efforts of performing `clusterctl move` without pause label on the bmh object.
After using latest version I am able to perform a `clusterctl move` without pause label and it works fine.

But after applying the `target-controlplane` phase where we expand the target cluster the node is getting restarted which is causing interruption in deployment.

To resolve this we a

[2021-03-25 20:16] niharikabhavaraju commented on #393
changes related to this issue are made in #358 , PS:    https://review.opendev.org/c/airship/airshipctl/+/769392
and https://review.opendev.org/c/airship/airshipctl/+/769251

[2021-03-26 11:28] ak3216 commented on #370
Closing due to code merge

[2021-03-26 11:28] #370 closed

[2021-03-26 11:35] ak3216 opened #502 "Airshipbot appears to be reopening issues right after closing them"
**Describe the bug**
Several recent issues have been closed upon code merge & then immediately reopened by the Airshipbot. Examples are #482, #485, #370 & #419. ~~Initially thought it might be due to there being both the "Relates-To:" and "Closes:" tags in the commit message but #419 does not appear to have both tags. The other three examples do.~~ Per comments below, does not appear to be commit

[2021-03-26 18:01] lb4368 commented on #456
Related PS:  https://review.opendev.org/c/airship/airshipctl/+/775945

[2021-03-26 18:27] raliev12 commented on #492
@lb4368 yes, please close this one.

[2021-03-26 18:30] #492 closed

[2021-03-26 22:48] raliev12 commented on #502
@ak3216 I've investigated this issue a little bit, and it seems it has no relations with `airshipctl` code and `update-github-issues` job. This bug reproduces as sequence of the following events:
1. Once a commit merged into master, it triggers airshipbot to close this issue
2. post and promote jobs are starting; as part of promote job we run update-github-issues.py script, which leaves a comment

[2021-03-26 22:53] #484 closed

[2021-03-27 19:31] raliev12 opened #503 "Several test sites in airshipctl manifests are outdated"
**Describe the bug**
We have several test sites in airshipctl manifests, but we have only one which configured and tested properly - `test-site`. Another ones, `az-test-site`, `docker-test-site`, `gcp-test-site` and `openstack-test-site` are outdated, we don't test them properly against our CI, we don't deploy them and they have misconfigured phase plans. The quick static validation of those test

[2021-03-29 11:21] ak3216 commented on #502
@raliev12, thanks for looking into this. @sirajyasin, can you please see if something is going on with the airshipbot? Thanks.

[2021-03-29 23:09] mf4716 commented on #440
@kozhukalov , what's the latest status?  Can this be closed?  We are looking to finish all V2.0 on 3/30.

[2021-03-29 23:20] mf4716 commented on #417
@kozhukalov , @bravinash82 , what is the latest status?  PS https://review.opendev.org/c/airship/airshipctl/+/767571  is pending core reviews and workflow.  Needed for V2.0 which closes 3/30?

[2021-03-29 23:22] mf4716 commented on #416
@kozhukalov , @bravinash82 , what is the latest status? PS https://review.opendev.org/c/airship/airshipctl/+/767571 is pending core reviews and workflow. Needed for V2.0 which closes 3/30?

[2021-03-29 23:24] mf4716 commented on #411
@vetbijaya - status?  Can this be closed?  I see Issue #409 closed and this PS was abandoned:  https://review.opendev.org/c/airship/airshipctl/+/771063

[2021-03-30 10:10] niharikabhavaraju commented on #330
All the patch sets related to phase validation have been merged. This issue can be closed.

[2021-03-30 11:21] ak3216 commented on #330
Closing per patchsets merging

[2021-03-30 11:21] #330 closed

[2021-03-30 11:35] niharikabhavaraju commented on #358
PS's related to phase list command have been merged, this issue can be closed

[2021-03-30 11:37] ak3216 commented on #358
Closing due to all the patchsets merging.

[2021-03-30 11:37] #358 closed

[2021-03-30 11:41] niharikabhavaraju commented on #393
PS's related to this phase list -o yaml changes are made in #358  https://review.opendev.org/c/airship/airshipctl/+/769392 and https://review.opendev.org/c/airship/airshipctl/+/769251 , these PS's are merged. This issue can be closed.

[2021-03-30 11:55] ak3216 commented on #393
Closing per patchset merges

[2021-03-30 11:55] #393 closed

[2021-03-30 12:20] vetbijaya commented on #411
@mf4716 , yes one of the related PS got merged. This merged PS only provides skeleton for phase implementation but still need design discussion on how to implement status actually.

[2021-03-30 14:39] ak3216 commented on #440
Closing per patchset merge

[2021-03-30 14:39] #440 closed

[2021-03-30 15:09] lb4368 commented on #417
Adding Design Needed label to discuss if this is the implementation we want.

- What should the default location be in the .airship/config when created?
- What should happen if targetPath is not specified in .airship/config?  Maybe value should be required?

[2021-03-30 15:11] lb4368 commented on #416
This issue is dependent upon final design for #417.

[2021-03-30 15:45] #411 closed

[2021-03-30 15:51] lb4368 commented on #410
Added design needed label.  Need to discuss output of phase status command in relation to implementation of status for executors and create new related issues.

[2021-03-30 16:55] ak3216 opened #504 "Documentation updates for v2.0"
This is a general catch-all issue to support any additional patchsets which will provide documentation updates needed for v2.0.

[2021-03-30 18:01] rkjain commented on #486
This can be closed. The issue is no  longer valid.

[2021-03-30 18:03] rkjain commented on #503
hi, I can take docker-test-site, gcp-test-site

[2021-03-30 18:04] #486 closed

[2021-03-30 18:06] rkjain commented on #503
I can may be help test this out with docker and gcp

[2021-03-31 02:23] #497 closed

[2021-03-31 03:35] #488 closed

[2021-03-31 12:19] ak3216 opened #505 "Airshipctl Usability Improvement: airshipctl config get-manifest should display the name of the manifest"
Currently `airshipctl config get-manifest` displays the contents of the config, but not the name of the manifest itself. Users can make edits as needed within the displayed contents, but when it comes time to run the `airshipctl config set-manifest` command, the name of the manifest is required. Enhance the `get-manifest` sub-command to also display the manifest name.

From the 3/25 Design Call

[2021-03-31 12:29] ak3216 opened #506 "Airshipctl Usability Improvement: default gpg key configuration & requirements for running commands"
With the introduction of SOPS encryption, there is a need to generate a gpg key to handle encryption/decryption of secrets. This is currently not included in the default configuration and there is an expectation that users would perform this as a separate task. If a user has not read the documentation, they would be unfamiliar with this & will likely run into issues when attempting to configure &

[2021-03-31 12:30] #476 closed

[2021-03-31 14:04] ak3216 commented on #348
Closing per code merge.

[2021-03-31 14:04] #348 closed

[2021-03-31 14:10] ak3216 commented on #323
Closed based on code merge

[2021-03-31 14:10] #323 closed

[2021-03-31 15:01] #500 closed

[2021-03-31 20:06] mattmceuen opened #507 "Enhance KubeadmControlPlane in base function to support bare metal"
Our bare metal lab definition is currently redefining the contents of the KubeadmControlPlane resource at the site level:
https://review.opendev.org/c/airship/treasuremap/+/772737/25/manifests/site/stl3-site/ephemeral/controlplane/patch_controlplane.yaml

This is not ideal, and will result in the definition being duplicated across various site definitions.  Instead we should do one of the followin

[2021-03-31 20:22] mattmceuen opened #508 "Enhance ironic-entrypoints ConfigMap in base function to support bare metal"
Our bare metal lab definition is currently redefining the contents of the ironic-entrypoints resource at the site level:
https://review.opendev.org/c/airship/treasuremap/+/772737/25/manifests/site/stl3-site/ephemeral/initinfra/ironic_entry.yaml

This is not ideal, and will result in the definition being duplicated across various site definitions. Instead we should do one of the following:

1. If t

[2021-03-31 20:25] mattmceuen commented on #507
Note that after updating the function, both of these patches should be removed:
https://review.opendev.org/c/airship/treasuremap/+/772737/25/manifests/site/stl3-site/ephemeral/controlplane/patch_controlplane.yaml
https://review.opendev.org/c/airship/treasuremap/+/772737/25/manifests/site/stl3-site/target/controlplane/patch_controlplane.yaml

[2021-03-31 20:29] mattmceuen opened #509 "Enhance base ironic-vars & deployment to support bare metal"
Our bare metal lab definition is currently redefining the contents of the ironic-vars ConfigMap at the site level:
https://review.opendev.org/c/airship/treasuremap/+/772737/25/manifests/site/stl3-site/target/initinfra/patch_bmo_config.yaml
Likewise for the ironic deployment:
https://review.opendev.org/c/airship/treasuremap/+/772737/25/manifests/site/stl3-site/target/initinfra/patch_ironic.yaml

Th

[2021-03-31 21:51] mattmceuen opened #510 "Enhance KubeadmConfigTemplate in base function to support bare metal"
Our bare metal lab definition is currently redefining the contents of the KubeadmConfigTemplate resource at the site level:
https://review.opendev.org/c/airship/treasuremap/+/772737/25/manifests/site/stl3-site/target/workers/kubeadmconfigtemplate.yaml

This is not ideal, and will result in the definition being duplicated across various site definitions. Instead we should do one of the following:

[2021-04-01 11:24] ak3216 commented on #494
Re-closing as this was re-opened in error.

[2021-04-01 11:24] #494 closed

[2021-04-01 18:45] vetbijaya commented on #479
@StevTheDev, I followed the steps in treasuremap which works fine for me. So, unable to reproduce the error.
Steps followed:
1. clone treasuremap repo and run airshipctl document pull --debug
2. Git checkout as detached HEAD from Gerrit and rerun document pull --debug
 Can we close this issue if this has been resolved? Thanks.

[2021-04-02 12:46] vetbijaya commented on #498
Can someone assign this issue to me?

[2021-04-02 12:49] ak3216 commented on #498
@vetbijaya all yours.

[2021-04-02 14:02] teoyaomiqui commented on #359
@sirajyasin do u still want to work on it?

[2021-04-02 20:55] ak3216 opened #511 "Enhance VersionsCatalogue schema to support helm image format"
The VersionsCatalogue CRD needs to be enhanced to support schema validation for the helm-style image format that requires separate keys for repository and tag/hash.

[2021-04-02 21:01] matthew-fuller commented on #511
Please assign this to me.

[2021-04-03 17:09] teoyaomiqui opened #512 "Airship interface with generic container is not passing hostnetworking"
**Describe the bug**
When creating a phase with GenericContainer executor spec.HostNetwork setting is ignored by airship container.

**Steps To Reproduce**
Create a phase and executor:

[code]

1) Run `airshipctl phase run kubectl-wait-node-ephemeral` command

**Expected behavior**
Airship successfully reaching the ephemeral cluster and waiting for the node to come up

**Actual behavior**
Airship

[2021-04-05 11:19] ak3216 commented on #474
It appears that this issue was reopened by an abandoned patchset, so I'm going to close it again.

[2021-04-05 11:19] #474 closed

[2021-04-05 13:47] teoyaomiqui opened #513 "Airship interacting with generic container hangs"
**Describe the bug**
Sometimes airshipctl would hang indefinitely without actually starting the docker container.

**Steps To Reproduce**
The bug is floating, and it seems to be working, however, sometimes it hags.

Create a phase with the executor of type airship:

[code]

run the phase:
[code]

**Expected behavior**
airshipctl tries to execute script specified in `kubectl-wait-node` ConfigMap

*

[2021-04-05 16:13] lb4368 commented on #504
Patchsets merged.  Closing this

[2021-04-05 16:13] #504 closed

[2021-04-05 22:48] mattmceuen opened #514 "Move KRM functions away from dockerhub-hosted base images"
Docker hub ratelimiting continues to be a thorn in our side.  Our reference manifests now only point to a few remaining images in dockerhub.

This issue is to investigate / implement a switch away from dockerhub when possible/appropriate, by re-basing our KRM functions on something other than alpine (assuming there's not some reason we need alpine).

[2021-04-06 18:49] michael-beaver commented on #478
I'll take this one, please assign this to me

[2021-04-06 19:07] ak3216 opened #515 "Updates to support base image override"
We need the ability to override the base image as defined in airshipctl Dockerfile RELEASE_IMAGE argument. This will allow for downstream customization & is needed to support release automation.

The follow changes would be required:
1. Update https://opendev.org/airship/airshipctl/src/branch/master/zuul.d/projects.yaml to add a variable for the base image override
2. Update https://opendev.org/ai

[2021-04-07 00:25] onlysource opened #516 "Provision target baremetal nodes with vm-inra-bridge (vino-br)"
*Problem description (if applicable)**
Baremetal nodes requires a linux bridge created for underlying Virtual Machines communication.

**Proposed change**
Under site manifest, the linux bridge will need to be created as part of 'pre-kubernetes' provisioning. Perhaps this also can go under site networking catalogue.

https://github.com/airshipit/airshipctl/blob/master/manifests/site/test-site/targe

[2021-04-07 03:20] teoyaomiqui opened #517 "Use `airshipctl plan run` in gates"
**Problem description (if applicable)**
In the `airshipctl/tools/deployment` directory, we have numerous scripts that dictate how we deploy airship. The scripts handle phase sequencing and wait logic for certain objects.

This approach is a bash-driven deployment.

**Proposed change**
Use `airshipctl plan run` instead, implement each step in `tools/deployment` as a phase and then use the `airshipc

[2021-04-07 14:46] eak13 opened #518 "Upgrade CAPI to v1alpha4 & CAPM3 to v1alpha5 for Bare Metal"
Once it is been released for GA, upgrade CAPI components from v0.3.x to v0.4.x (aka v1alpha4). There will also be a need to uplift a corresponding version of CAPM3 from v0.4.2 to v0.5.0 (aka v1alpha5) at the same time.

When upgrading, the following need to be taken into consideration:
- Are there breaking changes that require coding/configuration changes for the CAPI components?
- Are there bug f

[2021-04-07 14:56] jezogwza commented on #499
@demonCoder95  can you explain if this means the ability to define raid and bios at the BMH , now translate to a full ETE experience. Meaning BMO, notifies Ironic, and the raid and bios are appropriately configured as per the YAML definition?

[2021-04-07 15:01] vladiskuz commented on #517
Can someone assign it to me?

[2021-04-07 15:03] demonCoder95 commented on #499
Yes, that's exactly what this means. As of today, the RAID functionality has been merged upstream and the RAID config is fully functional. We're now working on quickly getting the BIOS functionality merged.

[2021-04-07 19:22] #512 closed

[2021-04-08 10:02] manojkva commented on #477
Ready for review https://review.opendev.org/c/airship/airshipctl/+/783533

[2021-04-08 10:47] gorshunovr commented on #515
Working.

[2021-04-08 11:39] ak3216 commented on #515
@gorshunovr added you as the assignee. Thanks.

[2021-04-08 16:33] pgoyal01 opened #519 "[airshipctl] airshipctly Syntax Issue"
The typical airshipctl command syntax is of the form

airshipctl [TYPE] [command] [sub-command] [flags]

where TYPE = {baremetal, cluster, config, plan, ...}, and the commands, sub-commands and flags, except for help, are specific to the TYPE.

However, airshipctl completion SHELL doesn't follow the syntax. This is not a documentation issue as it requires a change in the code.

[2021-04-08 23:38] gorshunovr commented on #515
Would appreciate help to understand and fix problem with Jenkins job failing on this [#785396](https://review.opendev.org/c/airship/airshipctl/+/785396) and related parent [#785522](https://review.opendev.org/c/airship/airshipctl/+/785522) changes.

[2021-04-09 01:18] Arvinderpal commented on #377
This feature has landed in capm3: https://github.com/metal3-io/cluster-api-provider-metal3/pull/152

[2021-04-09 11:42] ak3216 commented on #515
@gorshunovr it looks like both of those have passed now?

[2021-04-09 12:26] gorshunovr commented on #515
@ak3216 no, ATT Airship2.0 CI is failing on [#785396](https://review.opendev.org/c/airship/airshipctl/+/785396) is stuck on the following error [here](https://jenkins.nc.opensource.att.com/job/development/job/Airshipctl/7118/console):
[code]

[2021-04-09 13:07] ak3216 commented on #515
@gorshunovr got it, sorry, saw the +1s and missed the failure message. Have you asked in slack by any chance?

[2021-04-09 13:26] gorshunovr commented on #515
No, would do it. I'm comparing logs in Excel spreadsheet now, to spot what the issue begins with.

[2021-04-09 14:33] gorshunovr commented on #419
There is one place left where we haven't pinned function to `:v2`, but left it as `:latest`: [manifests/function/bootstrap/template.yaml](https://github.com/airshipit/airshipctl/blob/master/manifests/function/bootstrap/template.yaml#L8). This seems to be causing the following (rare) error during docs validation:
[code]
, which I have attempted to fix in [#785522](https://review.opendev.org/c/airsh

[2021-04-09 14:43] teoyaomiqui commented on #419
@seaneagan please take a look at the comment https://github.com/airshipit/airshipctl/issues/419#issuecomment-816726446

We need your advise

[2021-04-09 20:06] gorshunovr commented on #400
Closing. Re-open later if needed.

[2021-04-09 20:06] #400 closed

[2021-04-09 20:21] seaneagan commented on #419
@teoyaomiqui If we use `latest` tags in master, if we need to make breaking changes to krm functions, we can fix those breaks in the same commit for airshipctl manifests, since they happen to be in the same repo currently, but we would not be able to for treasuremap or other manifests, which would necessarily be broken until they can be updated to account for the changes, and if we use `latest` in

[2021-04-12 07:30] #419 closed

[2021-04-13 08:35] gorshunovr commented on #515
Done.

[2021-04-13 10:44] ak3216 commented on #515
Closing again because the dumb bot keeps reopening it.

[2021-04-13 10:44] #515 closed

[2021-04-13 15:01] lb4368 commented on #417
From 4/13/21 design meeting:

- default targetPath location will be a sub-directory of .airship ($HOME/.airship/default) as implemented in patchset above
- The targetPath for config manifests should be a required field.  If omitted, an error should occur from the document pull

Removing design needed label.

[2021-04-13 15:47] uberscott commented on #331
@ian-howell  @matthew-fuller  @seaneagan  I think I could help with this one.

[2021-04-13 15:54] uberscott commented on #491
@lb4368  I can take on this issue, although I may need a deeper explain of what is going on and how to fix.

[2021-04-13 17:27] ak3216 commented on #228
SHould have stable VMs now. Removing blocked label.

[2021-04-13 18:34] lb4368 opened #520 "Enhance ReplacementTranformer to Allow Replacing into Multiple Targets"
**Problem description**
There are use cases where we need to ReplacementTransform the same source data into multiple target paths – e.g. replacing an IP address into many network policy rules. It would be helpful for the RT to support this natively.

**Proposed change**
Enhance the ReplacementTransformer KRM function to support specifying multiple targets so that a single source can be replaced in

[2021-04-13 18:46] lb4368 opened #521 "Enhance ReplacementTransformer to Allow Global Substring Replacement"
**Proposed change**
Enhance the ReplacementTransformer KRM function to allow for global substring replacements across a document in addition to the path-based substring replacement currently supported.  Allow specification of a pattern that does not have a specific target.

[2021-04-13 20:23] matthew-fuller commented on #509
Please assign this to me.

[2021-04-13 20:25] ak3216 commented on #509
@matthew-fuller all yours

[2021-04-14 14:05] teoyaomiqui opened #522 "Templater latest image is not working"
**Describe the bug**
Phases where templater image: quay.io/airshipit/templater:latest is used are not rendering and failing during run

**Steps To Reproduce**
Try to run `airshipctl phase render secret-generate` in treasuremap with a site that includes airship-core

**Expected behavior**
Phase to render documents properly

**Actual behavior**
Failure with error:
[code]

Main reason for failing is

[2021-04-14 16:31] ak3216 opened #523 "Airshipctl and Cluster API GCP Provider Integration updates"
Provide an updated version of the "Airshipctl and Cluster API GCP Provider Integration" guide

[2021-04-14 16:32] ak3216 commented on #523
PS https://review.opendev.org/c/airship/airshipctl/+/785422
@eratnch can you please comment here so I can assign you? Thanks!

[2021-04-14 16:38] eratnch commented on #523
Hi @ak3216 , please assign to me. Thanks!

[2021-04-14 16:42] lb4368 opened #524 "Enhance Gating to Test KRM Function Updates"
**Problem description**
Current airshipctl gating uses pinned versions of the KRM function images rather than building the KRM functions from the current code.  Therefore, code updates to the KRM functions are not being tested in the gate scripts and undetected problems can be pushed to image repositories.

**Proposed change**
Need a plan for testing the KRM functions in gate scripts.  Some option

[2021-04-14 17:36] ak3216 commented on #503
@uberscott do you want to give this issue a shot? Thanks.

[2021-04-14 19:39] uberscott commented on #503
@ak3216 SURE! give it to me.  Thank you!

[2021-04-14 19:41] ak3216 commented on #503
@uberscott all yours! Thanks!

[2021-04-15 15:48] kathirigayathri48 commented on #519
I want to work on it. Please assign this to me.

[2021-04-15 16:10] ak3216 commented on #519
@kathirigayathri48 all yours

[2021-04-15 22:00] sreejithpunnapuzha opened #525 "airshipctl exits with error when expanding controlplane nodes"
when we deploy multi node environment, airshipctl exists with below error when adding second controlplane node

[airshipctl] 2021/04/15 20:50:10 opendev.org/airship/airshipctl@/pkg/events/processor.go:84: Received error when applying resources to kubernetes: polling for status failed: etcdserver: request timed out
Error events received on channel, errors are:
[polling for status failed: etcdserver

[2021-04-16 13:17] SirishaGopigiri opened #526 "Fix `airshipctl config get-context` maximum args"
**Bug Description**
The `airshipctl config get-context` command currently doesn't limit on the number of arguments that can be passed. So when we pass more that one parameter(example as show below) it returns all the contexts.

`airshipctl config get-context ephemeral-cluster target-cluster`

**Steps To Reproduce**
Sample airship config file
[code]

For the above config file if we issue `airshipct

[2021-04-16 13:51] SirishaGopigiri commented on #526
Please assign this to me and here is the PS related to this fix https://review.opendev.org/c/airship/airshipctl/+/786654

Thank you!

[2021-04-16 16:07] sirajyasin commented on #502
@ak3216 , I can look into this issue. Could you please assign this issue to me.

[2021-04-16 16:10] ak3216 commented on #502
All yours @sirajyasin, thanks!

[2021-04-19 12:43] sirajyasin commented on #522
I can start working on this if no one has started yet.
/assign

[2021-04-19 16:21] ak3216 opened #527 "Bring az-test-site to be current with current airshipctl deployment & gating"
Building on the work being done in #503, update az-test-site to be current with the airshipctl deployment & ensure it will pass the gating & can be successfully deployed.

[2021-04-19 16:22] ak3216 opened #528 "Bring gcp-test-site to be current with current airshipctl deployment & gating"
Building on the work being done in #503, update gcp-test-site to be current with the airshipctl deployment & ensure it will pass the gating & can be successfully deployed.

[2021-04-19 16:23] ak3216 opened #529 "Bring openstack-test-site to be current with current airshipctl deployment & gating"
Building on the work being done in #503, update openstack-test-site to be current with the airshipctl deployment & ensure it will pass the gating & can be successfully deployed.

[2021-04-19 19:05] eratnch commented on #528
Documentation to deploy gcp-test-site is being updated as per #523 in PS https://review.opendev.org/c/airship/airshipctl/+/785422.

[2021-04-20 16:34] eratnch commented on #528
I can take this if no one has started on gcp provider.

[2021-04-20 17:05] lb4368 commented on #528
Thanks @eratnch!

[2021-04-20 20:31] rkjain commented on #529
Hi, I can take this issue, if no one else is working on it.

[2021-04-20 21:09] lb4368 commented on #529
Thanks @rkjain

[2021-04-21 14:26] jezogwza commented on #525
While etcd is coming up, the kubernetes api becomes unresponsive or unavailable for a brief moment. The wit logic in the KubernetesApplye executor is unable to discern, that the api server will be back after a brief moment. This issue is about thinking about whether we need or can enhance the wait logic to understand there could be sporadic periods of unresponsiveness and work through them. Does t

[2021-04-21 15:11] vetbijaya commented on #498
@ak3216 , we can close this issue as related code got merged. Thanks.

[2021-04-21 15:48] sirajyasin commented on #520
I can start working on this issue if no one has started yet. @lb4368 can you please assign this issue to me

[2021-04-21 15:51] lb4368 commented on #520
@sirajyasin Done.  Thanks!

[2021-04-21 16:11] ak3216 commented on #498
@vetbijaya will, do thanks! Closing per code merge.

[2021-04-21 16:11] #498 closed

[2021-04-21 18:46] jezogwza opened #530 "Metadata.yaml should be a complete kubernetes style yaml"
Need to add kind, etc to the file .

apiVersion: airshipit.org/v1alpha1
kind: AirshipMetadata
metadata:  name: airship-metadata
spec:
  phase: 
     docEntryPointPrefix: manifests/site/test-site 
  path: manifests/site/test-site/phases
inventory: 
  path: manifests/site/test-site/host-inventory
--

[2021-04-21 20:49] sshiba commented on #527
Hi Andrew, as I have worked in the past integrating capz/az-test-site, I can work on this one if nobody wants. Just note that I can only spare 10-20% on this for now while completing the Dex issues.

[2021-04-21 21:37] ak3216 commented on #527
@sshiba I'll go ahead & add you understanding DEX is the priority. Thanks.

[2021-04-22 12:58] sirajyasin commented on #524
@lb4368 ,I can start working on this after the design discussion.

My Initial thought for implementation:
1. Have a nightly job in Third Party Jenkins to validate the test-site deployment in airshipctl using latest version of plugins.
2. In the Pipeline just after cloning the code, execute "./tools/deployment/update-krm-images" to set the new plugin images to use latest instead of v2.
3. Execute r

[2021-04-22 14:07] Arvinderpal commented on #518
Here are [my notes from the PTG](https://hackmd.io/qdTfhNj8RSuQOM0QZL0JOA) on upgrading. Please let me know if further info is needed.

## Upgrade to v0.4 (aka v1alpha4)

### Upgrading CAPI and Provider Components (e.g. v0.3.16 --> v0.4.0)
The `clusterctl upgrade` command can be used to upgrade the version of the Cluster API providers (CRDs, controllers) installed into a management cluster. See [C

[2021-04-22 19:05] sirajyasin commented on #502
The Related PSs for this Fix are merged. Will observe the BOT behavior for few days before closing the issue.

[2021-04-23 03:09] mf4716 commented on #519
@kathirigayathri48 , what t-shirt size would you estimate the work effort to be to finish?

- <=1 days | Small | refactor, 1 function, documentation
- 2-5 days | Medium | moderate complexity, generic code, or enhancement to existing   feature
- 5-7+ days | Large | multiple functional areas; complex function or capability, or   multiple PSs

[2021-04-23 13:51] SirishaGopigiri commented on #526
Size is 'S', thank you.

[2021-04-24 01:26] sshiba commented on #503
I have update the scripts for az-test-site but cannot run gating in Zuul. See https://review.opendev.org/c/airship/airshipctl/+/787648.

Had plenty of time in between trying to deploy baremetal target cluster for testing Dex, so use the waiting time to multi-task.

Instead, I have updated the scripts to run in an "automated" fashion so the validate the deployment.
In the past we have created Jenki

[2021-04-26 18:00] teoyaomiqui commented on #513
The issue was fixed by the merged patchset.

[2021-04-26 18:00] #513 closed

[2021-04-26 19:20] teoyaomiqui opened #531 "Worker MachineTemplates are missing worker labels"
**Describe the bug**
Worker MachineTemplates missing labels to target workers:

https://github.com/airshipit/airshipctl/blob/master/manifests/site/test-site/target/workers/provision/metal3machinetemplate.yaml

**Steps To Reproduce**
Add multiple BMH hosts and add scale Worker MachineDeployment to more than one

**Expected behavior**
Only workers with  appropriate label to be selected for the machi

[2021-04-26 19:46] teoyaomiqui opened #532 "Generate VersionsCatalogue and NetworkCatalogue schemas via kubebuilder"
**Problem description (if applicable)**
Right now we are manually maintaining and expanding schemas for the VersionsCatalogue and NetworkCatalogue. This job can be done by kubebuilder instead.

**Proposed change**

- Develop Go representation of the VersionsCatalogue and NetworkCatalogue in pkg/api package
- Create a make target that will generate Schema definitions from GO objects

**Examples**
S

[2021-04-26 20:36] aostapenko commented on #524
+ @ak3216
We should switch to moving tag (latest) and build images in the same buildset, share them via buildset registry and use them during the testing.
Similar to what we're planning to try for airship/images https://github.com/airshipit/images/issues/18
It may actually make a sense for me to start it here. Since it's not a trivial solution POC may be required.

[2021-04-26 20:44] ak3216 commented on #524
@aostapenko this one is yours.

[2021-04-26 21:51] #511 closed

[2021-04-27 16:32] teoyaomiqui opened #533 "Make executors respect timeouts"
**Problem description (if applicable)**
Not every executor respects timeout from the command line or phase definitions from manifests. For example, GenericContainer and Clusterctl don't know anything about the timeouts and simply ignore them

**Proposed change**
Design and implement support for timeouts for every executor that doesn't support it.

[2021-04-27 19:14] hem2 opened #534 "Replacement transformer fails for list"
**Describe the bug**
Replacement transformer fails for list with "Error: wrong Node Kind for  expected: ScalarNode was SequenceNode: value: <value>. " error.

**Steps To Reproduce**
Change L47 to a list https://github.com/airshipit/airshipctl/blob/master/krm-functions/replacement-transformer/local-resource/example-use.yaml and run "kustomize fn run local-resource/example-use.yaml" and it fails wit

[2021-04-27 21:22] jgu17 opened #535 "In Anuket lab, airshipctl go-redfish sets incorrect content-length and cause iLO redfish to fail"
**Describe the bug**
airshipctl remotedirect-ephemeral phase run fails due to a redfish error in Anuket lab

The issue is the golang json encoder adds a new line at the end (https://github.com/golang/go/issues/37083).  Applications don't handle the end of file new line in a consistent way unfortunately.  Go-redfish sets the content-length including the new line character so it is over counted comp

[2021-04-27 21:53] ak3216 opened #536 "Airshipbot posting "The Change that closes this issue was merged." to airshipctl for treasuremap patchsets"
Airshipbot appears to be posting "The Change that closes this issue was merged." with the patchset to airshipctl issues when a treasuremap patchset merges.

Take https://review.opendev.org/c/airship/treasuremap/+/787406/ as an example. The closed message went to https://github.com/airshipit/airshipctl/issues/123.

The treasuremap issue is being closed, but there should not also be an airshipctl po

[2021-04-27 22:49] mattmceuen opened #537 "Functionalize metal3 worker definition"
Alex H made a patchset for moving the majority of worker node generation into a function, for DRY. It never made it past the finish line, and needs to be adopted and rounded out.

https://review.opendev.org/c/airship/airshipctl/+/778931/21

[2021-04-28 03:28] #2 closed

[2021-04-28 03:28] #19 closed

[2021-04-28 13:39] kathirigayathri48 commented on #519
Please tag "Large"

[2021-04-28 14:51] jezogwza commented on #530
Will follow the same model of using the API generation model discussed in the other issue about Catalog Schema.

[2021-04-28 17:07] matthew-fuller commented on #509
This issue doesn't appear to be necessary anymore. The PS referenced in the description is obsolete, and all of the site-level patching was removed in the final reference site PS[0]. I've confirmed with @imarijitbose that there's no further work for this issue, but I'm placing it in Ready for Review in case @mattmceuen or anyone else wants to weigh in.

[0] https://review.opendev.org/c/airship/tre

[2021-04-28 18:04] mattmceuen commented on #509
Looks good to me, glad we got all of this one taken care of and into the v2.0 release.  Thanks, closing this.

[2021-04-28 18:04] #509 closed

[2021-04-28 18:11] #523 closed

[2021-04-28 20:01] sirajyasin commented on #532
I can start working on this issue. could someone assign it to me

[2021-04-28 20:20] ak3216 commented on #532
@sirajyasin all yours!

[2021-04-28 21:15] matthew-fuller commented on #537
Please assign this to me.

[2021-04-28 21:23] ak3216 commented on #537
@matthew-fuller all yours

[2021-04-28 23:01] lb4368 commented on #524
@aostapenko  This issue is added to the agenda for 4/29/21 design call for discussion

[2021-04-29 04:15] #526 closed

[2021-04-29 11:55] lb4368 opened #538 "Merge v2.0 Branch Updates"
There are several patchsets that have merged to v2.0 branch that should be merged into master as needed.

https://review.opendev.org/c/airship/airshipctl/+/786498
​https://review.opendev.org/c/airship/airshipctl/+/785914
​https://review.opendev.org/c/airship/airshipctl/+/786068
​https://review.opendev.org/c/airship/airshipctl/+/785943
​https://review.opendev.org/c/airship/airshipctl/+/785256

[2021-04-29 12:20] ak3216 commented on #502
Closing this out as it appears to be resolved. No longer seeing issues being reopened.

[2021-04-29 12:20] #502 closed

[2021-04-29 12:47] lb4368 opened #539 "Spike: Verify Triple Nested Virtualization of ViNO BMH CR Will Work in Zuul"
As the ViNO and SIP operators are introduced into the multi-tenant site type for creating sub-clusters, we will need a way to run the sub-cluster build in our Zuul gates.  This will required triple nested virtualization as Zuul runs within a VM, and the target cluster nodes are deployed as VMs within Zuul, and VMs are created when a ViNO CR is deployed to the target cluster nodes to be used by sub

[2021-04-29 14:06] seaneagan commented on #419
The ideal solution would be to externalize the krm function versions in some way, like we do for all other images:

1) Could the new kustomize functionality allow use to use the Replacement Transformer for this:
https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/#transformed-transformers

2) Config file with container image overrides:
[code]

[2021-04-29 15:25] #522 closed

[2021-04-29 15:40] vetbijaya commented on #508
I can give a try to this one. Can someone assign this to me?

[2021-04-29 16:39] seaneagan commented on #524
# Proposal: Externalize krm function versions

Managing the krm function versions would become a lot easier if we can specify them in a single place, outside of the manifests, rather than at each call site within the manifests as we currently do. This could be accomplished by having the manifests (airshipctl, treasuremap, downstream) reference krm function image tags which are only available local

[2021-04-29 17:06] aodinokov commented on #520
https://review.opendev.org/c/airship/airshipctl/+/788405 - merged, can be closed

[2021-04-29 17:17] ak3216 commented on #520
Closing per code merge above.

[2021-04-29 17:17] #520 closed

[2021-04-29 17:44] teoyaomiqui commented on #524
@seaneagan, just a thought.
What if we create a specific release repository, like treasuremap, where we put all plugin declaration. Add this repository as a separate repository in arishipctl.config.manifest.repository:

This new repository will have its own tags that would

[code]

This **kustomize-plugins** repo holds all plugin declaration in a nice directory structure that is easy to understand

[2021-04-29 18:29] seaneagan commented on #524
@teoyaomiqui i don't think we can move the plugin call sites, where the plugin container image versions are specified, to a separate manifest repo, doesn't each manifest repository need to be able to contribute its own plugin call sites to either transform its own manifests (or that of dependencies) or generate new ones, to make the manifest repository functional in its own right?

[2021-04-29 19:18] teoyaomiqui commented on #524
@seaneagan I looked at the examples that we use currently, host generator for example, here:
https://github.com/airshipit/airshipctl/tree/master/manifests/function/hostgenerator-m3

It doesn't have anything but the plugin definitions. and it is included here:
https://github.com/airshipit/airshipctl/blob/master/manifests/site/test-site/target/workers/hostgenerator/kustomization.yaml

So instead of

[2021-04-29 19:27] teoyaomiqui commented on #524
Also, I think that we need another repository for KRM functions. While airshipctl can run these containers, they are not an integral part of it. KRM functions would have their own simplified CI based on our use cases.

In this repository, they will be tested as kustomize plugins, that they actually can perform substitution, transformation etc...

If they will be in a separate repository, I believe

[2021-04-29 19:53] seaneagan commented on #524
@teoyaomiqui i may be misunderstanding, some questions:

1) Don't we want to try to keep the input data to be the variable catalogues, as opposed to the actual transformer/generator configs? For example I don't think we would want to duplicate these in multiple repositories:
https://github.com/airshipit/airshipctl/blob/master/manifests/function/hostgenerator-m3/replacements/hosts.yaml
https://gith

[2021-04-30 00:05] jgu17 commented on #535
The content-length and json body (with new line at the end) turns out to be a false issue. The root cause is that iLO serer throws an EOF error when go redfish client sends a POST request using an existing idle http connection in the idle connection pool. I am not able to get logs from the iLO Redfish to understand the server side issue and will try to get the HPE iLO engineering team to look  int

[2021-04-30 00:05] #535 closed

[2021-04-30 00:10] jgu17 opened #540 "Add support of iLO Redfish api"
**Problem description (if applicable)**
In the Anuket lab, the only servers with Redfish support is HPE DL 380 Gen 10 servers. The support for iLO v5 Redfish api is needed in Airship for anuket RI-2 development.

**Proposed change**
Test and Support iLO redfish api in airshipctl v2.0 (which is used for Anuket RI-2). This can be done by Anuket developers with the guidance of Airship developers.

**

[2021-04-30 00:12] jgu17 commented on #540
Issue #1:  iLO serer throws an EOF error when go redfish client sends a POST request using an existing idle http connection in the idle connection pool. I am not able to get logs from the iLO Redfish to understand the server side root cause and will try to get the HPE iLO engineering team to look into it.  A temporary workaround is here: https://review.opendev.org/c/airship/airshipctl/+/788852 .

[2021-04-30 12:38] lb4368 commented on #539
Moving this to treasuremap

[2021-04-30 15:02] niharikabhavaraju commented on #394
related commit https://review.opendev.org/c/airship/airshipctl/+/771286 has been merged. This issue can be closed.

[2021-04-30 16:17] jgu17 commented on #540
Issue #2: "airship" BMC user doesn't have permission to change boot sequence in the anuket lab.
Request:
{"Name":"","@odata.type":"","@odata.id":"","Bios":{},"Processors":{},"Memory":{},"EthernetInterfaces":{},"SimpleStorage":{},"Status":{},"Boot":{"BootSourceOverrideTarget":"Cd"},"ProcessorSummary":{"Status":{}},"MemorySummary":{"Status":{}},"Links":{},"Actions":{"#ComputerSystem.Reset":{}}}

Res

[2021-05-01 03:13] aostapenko commented on #524
@seaneagan actually raised my concerns as well.

To avoid manual uplift of KRM functions in airshipctl, we'll need to be able to run the same tests on possible new repo that we run on airshipctl. If we anticipate frequent cases of strongly dependent changes for these repositories - we'll have much more pain with it. I see we either should agree on manual uplift in the case of separate repository o

[2021-05-03 14:46] teoyaomiqui opened #541 "Airshipctl fails to cleanup kubeconfig in KubernetesApply executor"
**Describe the bug**
Sometimes `airshipctl phase run <phase name>` command doesn't clean-up temporary kubeconfig file in ~/.airship/ directory.

**Steps To Reproduce**
Look at zuul job log airship-airshipctl-gate-script-runner of the merged patchsets, logs have files `~/.airship/kubeconfig-*<random number>`. for example here in logs tab inprimary/.airship directory https://zuul.opendev.org/t/opens

[2021-05-03 16:22] sirajyasin commented on #538
I can start working on this issue. Please assign this to me

[2021-05-03 22:00] #508 closed

[2021-05-03 22:00] mattmceuen commented on #508
Looks like this is no longer needed -- the latest STL3 manifests no longer have an ironic_entry.yaml, and instead are using the current airshipctl version defined in the baremetal-operator function.  Closing this issue.

[2021-05-04 01:37] teoyaomiqui opened #542 "Kustomize fails rendering Baremetal Operator function"
**Describe the bug**
Baremetal Operator function fails when rendering or building by kustomize with error:

[code]

**Suspected root cause**
Kustomize fails to handle quotes like this `“` even if they are in the comments.

**Steps To Reproduce**

1. clone airshipctl master repository
2. Install kustomize binary
3. run `kustomize build manifests/function/baremetal-operator/ --enable-alpha-plugins`

[2021-05-04 14:22] vetbijaya commented on #530
I can try on this one. Can someone assign this to me?

[2021-05-04 14:31] aodinokov commented on #542
Seems like a known issue in kustomize, e.g. https://github.com/kubernetes-sigs/kustomize/issues/3778

the attempt to fix that was done here (tried to update go-yaml, but this resulted in other issues)
https://github.com/kubernetes-sigs/kustomize/pull/3789

so far the root-cause isn't fixed and we probably just need to keep our manifests in a state so kustomize would pass as @teoyaomiqui made.

[2021-05-04 17:10] sshiba commented on #503
The scripts used to deploy az-test-site have been updated and validated through deploying using a remote VM on Azure.
https://review.opendev.org/c/airship/airshipctl/+/787648

Jenkins CI Pipeline for az-test-site deployment, which is used to automate the deployment of Target cluster on Azure cloud.
This pipeline uses the updated scripts in the above patchset.
https://review.gerrithub.io/c/att-comd

[2021-05-04 18:43] sirajyasin commented on #538
https://review.opendev.org/c/airship/airshipctl/+/786498 => This change is applied as part of this PS (https://review.opendev.org/c/airship/airshipctl/+/785260), Cherry pick not required.
https://review.opendev.org/c/airship/airshipctl/+/785914 => Cherry picked to master and pending merge
https://review.opendev.org/c/airship/airshipctl/+/786068 => Cherry picked to master and merged
https://review.

[2021-05-04 18:49] #542 closed

[2021-05-04 19:42] matthew-fuller commented on #537
Please ignore ^789624, gerrit created a new issue instead of amending the commit for the original change (778931).

[2021-05-04 21:11] sshiba commented on #527
**Ready for review:**

The scripts used to deploy az-test-site have been updated and validated through executing the scripts on a clean validation VM instantiated on Azure cloud.
https://review.opendev.org/c/airship/airshipctl/+/787648

Jenkins CI Pipeline for az-test-site deployment, which is used to automate the deployment of Target cluster on Azure cloud.
This pipeline uses the updated scripts

[2021-05-05 12:33] sirajyasin commented on #538
@lb4368 , All the above mentioned PSs are cherry picked from v2.0 to master and merged. I also double checked if there are any more PSs that needs to be cherry picked from V2.0, nothing other than these identified. This issue can be marked closed.

[2021-05-05 12:47] lb4368 commented on #538
Thanks @sirajyasin.  Closing.

[2021-05-05 12:47] #538 closed

[2021-05-05 14:11] jgu17 commented on #540
There were two causes for issue #2. One is the airship user permission. It was fixed the LFN LaaS lab team. The second issue is within the openapi generated code. For the optional fields in ComputerSystem, the variables in the model have an "empty" value as default, instead of nil. So the json encoder included them in the request body in the patch request to the redfish server, e.g., processors: {

[2021-05-05 14:11] jgu17 commented on #540
issue #3: go-redfish api schema doesn't include the "Disabled" enum value in BootSourceOverrideEnabled property.

[2021-05-05 14:39] jgu17 commented on #540
issue #2 and issue #3: https://review.opendev.org/c/airship/go-redfish/+/789847

[2021-05-05 20:30] matthew-fuller commented on #514
Please assign this to me.

[2021-05-05 21:01] seaneagan commented on #524
Updated proposal based on last meeting:

# Proposal: Externalize krm function versions

- Use a local tag e.g. `localhost/replacement-transformer` for each function in all manifests (airshipctl, treasuremap, downstream)
- In master branches, build krm functions from airshipctl code under test (airshipctl patchset or AIRSHIPCTL_REF of treasuremap patchset), assigned to `latest` tags as per existing

[2021-05-05 21:18] lb4368 commented on #514
Done.  Thanks @matthew-fuller!

[2021-05-06 16:02] raliev12 commented on #505
Please assign this issue to me

[2021-05-07 19:59] #541 closed

[2021-05-07 20:04] lb4368 commented on #394
Closed per patchset merge

[2021-05-07 20:04] #394 closed

[2021-05-10 15:43] sirajyasin commented on #507
The Site specific STL3 PSs referenced in the description is obsolete, and all of the site-level patching was removed in the final reference site PS[0]. I've confirmed with @imarijitbose. Looks like there is not any work on this issue at this point.
[0] https://review.opendev.org/c/airship/treasuremap/+/784619

@mattmceuen , could you please suggest if we can close this issue ?

[2021-05-10 23:36] #532 closed, assigned to sirajyasin

[2021-05-11 10:07] gnana03 commented on #534
I would like to pick this

[2021-05-11 11:32] ak3216 commented on #534
@gnana03 - it's all yours. Thanks.

[2021-05-11 19:25] mf4716 commented on #534
@gnana03 , what t-shirt size would you estimate this effort to be?

- <=1 days | Small | refactor, 1 function, documentation
- 2-5 days | Medium | moderate complexity, generic code, or enhancement to existing feature
- 5-7+ days | Large | multiple functional areas; complex function or capability, or multiple PSs

[2021-05-11 20:28] seaneagan commented on #524
https://review.opendev.org/c/airship/treasuremap/+/790813

[2021-05-11 20:45] ak3216 commented on #417
@kozhukalov are we able to close this issue & #416? Looks like the patchset has merged. Thanks!

[2021-05-11 20:51] raliev12 commented on #534
This issue seems invalid. We don't have to change object types, source and target fields types must match, so transformer behavior looks expected in described case. This is kind of protection measure - mixing types can cause multiple issues. Also, static validation (which we have enabled) verifies object type and its value as well, in case of mismatch - the error will be thrown. OpenAPIv3 schema d

[2021-05-12 11:59] ak3216 commented on #534
@hem2 Reddy, can you take a look at Ruslan's comments & let us know if this is still an issue?

[2021-05-12 14:43] mattmceuen commented on #507
No work to do (it's already done) - closing

[2021-05-12 14:43] #507 closed

[2021-05-13 17:01] hem2 commented on #534
@ak3216  I agree with Ruslan. Let's close this. Thank you.

[2021-05-13 17:25] ak3216 commented on #534
@hem2 thanks! Closing per comments above.

[2021-05-13 17:25] #534 closed

[2021-05-13 21:50] raliev12 opened #543 "Remove "Kind"-based validation of documents with start of phases in dry run mode"
**Describe the bug**
Since we have kubebal validation enabled and working, the old validation approach should be deleted as less effective and time-consuming. The final goal of static validation was to replace old one.

**Steps To Reproduce**
Run `./tools/validate_docs` script.

**Expected behavior**
`airshipctl plan validate` performs the validation of specific site within `./tools/validate_docs`

[2021-05-13 22:28] jgu17 commented on #540
Issue #4: the script 30 appears to be hung and no action is seen on the first target node. Suspects it's the ironic driver configuration for ilo is missing.

[2021-05-14 11:32] eak13 opened #544 "Generic Container Timeout support"
As laid out in #533, timeouts are currently ignored by the executors. To begin provide this support, this issue asks the following:

1) Update the Airshiptctl API interface to add a variable to pass a timeout value (likely seconds).
2) Update the the Generic Container framework accept the timeout variable & then inject it into the container to prompt the operation to finish gracefully. At this poi

[2021-05-14 11:34] eak13 opened #545 "Generic container timeout validation & enforcement"
Building on #544, provide a compliance mechanism to validate the timeout has been acknowledged & action has been taken.

[2021-05-14 14:44] jgu17 commented on #540
Issue #5: The ephemeral node comes up with unexpected network interface names than it would get it from stock ubuntu os image or the interface names on the controller nodes.

[2021-05-14 17:50] vs422h commented on #456
The patchset is ready to review: https://review.opendev.org/c/airship/airshipctl/+/787290

[2021-05-14 20:34] lb4368 commented on #443
@sirajyasin @seaneagan
Doesn't the implementation of the kubectl-wait-tigera GenericContainer executor used by the kubectl-wait-tigera-ephemeral/kubectl-wait-tigera-target phases in the PS above  (https://review.opendev.org/c/airship/airshipctl/+/784383) already account for the potential race condition?  See https://review.opendev.org/c/airship/airshipctl/+/784383/11/manifests/function/phase-helpe

[2021-05-17 19:35] jessegler commented on #531
I'm seeing a similar issue in Treasuremap, where if I render the machine template, the worker label is still missing.

[2021-05-17 19:58] teoyaomiqui commented on #544
From the proposed airship design discussion, here are key directions:

### airshipctl container executor implementation has to pass the timeout to container implementation:
- [Executor implementation](https://github.com/airshipit/airshipctl/blob/master/pkg/phase/executors/container.go#L85-L137)
- [Container API interface](https://github.com/airshipit/airshipctl/blob/master/pkg/container/api.go#L42

[2021-05-17 20:44] sirajyasin commented on #443
@lb4368 , the issue mentioned in this Bug ( custom wait logic ) is addressed in the mentioned PS with Generic container. But we are still deploying the CR and CRD as part of the same phase "initinfra-networking". As @seaneagan mentioned it is always a good idea to separate CR and CRD into different phase to avoid any race condition. May be we can create a new issue ( enhancement ) to separate CR a

[2021-05-17 21:49] teoyaomiqui opened #546 "Add container cleanup to airship executor containers"
**Problem description (if applicable)**
When run phases that are built on top of GenericContainer executor with airship container as a back end, containers are never deleted.

At the time of implementation, this was intentionally left on the user to do, because of the simplified debugging. However now we need to make sure that there are no leftovers are running the container.

**Proposed change**

[2021-05-17 21:55] lb4368 opened #547 "Optimize Kubeconfig Building During Airshipctl Phase"
**Problem description (if applicable)**
Currently the entire site kubeconfig is built during each phase run.  When we will have sub-clusters that are not available yet, airshipctl is going wait ~9 minutes each phase run to generate the site kubeconfig including every sub-cluster because clusterctl timeout currently is not configurable.

**Proposed change**
Update the phase run to, by default, only

[2021-05-17 21:59] lb4368 commented on #547
PS Here:  https://review.opendev.org/c/airship/airshipctl/+/791808

[2021-05-17 22:39] teoyaomiqui commented on #531
@jessegler Could you add a little more information about this? What is the site you are working on in TM also which phase are you rendering?

I am quite sure that the issue in TM will be solved as soon as we uplift airshipctl to the version that functionalizes worker provisioning here https://review.opendev.org/c/airship/airshipctl/+/778931

[2021-05-17 23:46] jessegler commented on #531
@teoyaomiqui I looked into this a little more and found the root cause of what I'm seeing. manifests/site/test-site/target/workers/provision/kustomize.yaml isn't inheriting from airshipctl but rather sets the resources directly -- including the machine template.

It looks like that patchset should fix it. :)

[2021-05-18 01:13] #543 closed

[2021-05-18 14:23] vladiskuz commented on #544
Can someone assign it to me?

[2021-05-18 17:15] lb4368 opened #548 "Provide Configurable Timeout for Getting Kubeconfig During Phase Run"
**Problem description**
The clusterctl client that is used to retrieve the kubeconfig for site cluster(s) currently does not provide any way to specify a wait timeout so a long default (300 seconds) is used.  This can cause the ``airshipctl cluster get-kubeconfig`` command or any phase that gets the kubeconfig for one or more clusters to run long when a kubeconfig is inaccessible.  There is an ups

[2021-05-18 19:01] seaneagan commented on #443
The race condition comes into play when deploying the CR before waiting for the CRD to be established. With this implementation we are explicitly waiting for the CRD to become ready first, so in this case there is no race condition. So personally I think putting them in the same phase is ok, however since they cannot be parallelized another phase should not really slow things down, so that would b

[2021-05-18 19:08] #547 closed

[2021-05-19 15:14] #537 closed

[2021-05-20 19:43] mattmceuen commented on #510
Hey @sirajyasin I agree with you on both counts.  The /provision change is cosmetic, and better to err on the side of simplicity. And now that there's a workers-capm3 in airshipctl, a followon step will be to remove the treasuremap version of the function and configure treasuremap types to use the Airship version.  MattF and Manoj are both aware of this plan and anticipating it.

[2021-05-20 21:15] StevTheDev commented on #479
Hey @vetbijaya sorry for the prolonged delay - but I'm just getting back to work with airshipctl, and observed the same problem today. The command fails when not attached to any branch, but after doing so, the command is successful:

[code]

[2021-05-24 21:34] mattmceuen opened #549 "Add replacements for `composite/infra`"
As it stands today:
* the cert-manager function doesn't specify any `/replacements`
* the tigera-operator function has `/replacements`, but they're not getting used anywhere afaict

In order to ensure proper replacement of container image refs, this story is to implement the following:
1. add the three images used in the cert-manager function to `airshipctl-base-catalogues/airshipctl-versions.yaml

[2021-05-24 21:35] #281 closed

[2021-05-25 18:10] lb4368 opened #550 "Flux source-controller Function Proxy Var Replacement Not Working"
**Describe the bug**
When rendering the _source-controller_ manifest function with the _env-vars_ replacements, the proxy environment variables are not included in the environment for the _source-controller_ Deployment resource.  Because of this, when applying this manifest function behind a proxy, HelmRepository resources created do not have access to URLs through the proxy.

**Steps To Reproduce

[2021-05-25 18:44] lb4368 opened #551 "Clusterctl Move & the CA"
**Problem description**
Notes from 5/25/21 design call:

The target cluster CA that is used for generating Dex certs is currently generated on the ephemeral cluster, then clusterctl moved over to target. It is created in the default NS, so that’s where it winds up; can we create it in a more appropriate namespace, or is default special somehow?

- clusterctl move moves from ephemeral NS X to targe

[2021-05-25 18:48] lb4368 commented on #551
Comments from email from https://github.com/sanjib-35:

During the design discussion it was discussed to have a target-infra NS in ephemeral cluster and use that namespace for movement of resource from ephemeral to target cluster.

This is a well thought design approach to have a common behavior but Dex is a different and special case all together.

Dex needs to have access to this secret (via Iss

[2021-05-26 13:21] ak3216 commented on #456
Closing per patchset merges.

[2021-05-26 14:25] mattmceuen commented on #551
We discussed further and landed on this plan
1) move the CAPI resources (and therefore target cluster CA) in the ephemeral cluster to the `target-infra` namespace.  This story will implement this step and confirm that everything continues to work.
2) In a followon story: create a regular cert-manager Issuer to the `target-infra` ns in the target cluster, for the sake of target cluster Dex
3) Creat

[2021-05-26 14:32] mattmceuen commented on #550
This is a bug that we should resolve but is lower priority, because in all real deployments we'll be using the helm chart collator.
Note: we need to tweak our reference manifests to consistently use the helm chart collator!

[2021-05-26 14:38] sirajyasin commented on #549
I can start working on this issue. can someone assign this to me

[2021-05-26 19:59] raliev12 opened #552 "airshipctl hangs when apply CRD and CR together within one phase"
**Describe the bug**
If airshipctl applies a bundle with brand new CRD (which was never introduced on k8s cluster) and appropriate CR right away - apply process hangs until timeout with the following logs:

`
airshipctl phase run test-phase
customresourcedefinition.apiextensions.k8s.io/stars.example.crd.com created
star.example.crd.com/sun created
2 resource(s) applied. 2 created, 0 unchanged, 0 c

[2021-05-26 21:37] lb4368 commented on #443
Closing this issue based upon https://review.opendev.org/c/airship/airshipctl/+/784383.  If at some point there is a need/desire to split the tigerastatus CRD and CR into separate phases, a new issue can be created.

[2021-05-26 21:37] #443 closed

[2021-05-26 22:36] matthew-fuller commented on #551
Please assign this to me.

[2021-05-27 14:54] raliev12 opened #553 "Allow to configure possible options for k8s client"
**Problem description (if applicable)**
As of now, k8s client is only allow to configure kubeconfig path and context to build a client Interface:

[https://github.com/airshipit/airshipctl/blob/63421c8fcc11426e7af10d58733dfcaef6ad8589/pkg/k8s/utils/utils.go#L33](https://github.com/airshipit/airshipctl/blob/63421c8fcc11426e7af10d58733dfcaef6ad8589/pkg/k8s/utils/utils.go#L33)

However, the are multip

[2021-05-27 15:02] raliev12 commented on #548
Hi @lb4368,

I can work on this one, at least to prepare a workaround you mentioned.

[2021-05-27 15:20] lb4368 commented on #548
Hi @raliev12.  Thanks!

[2021-05-27 16:36] #531 closed

[2021-05-27 18:21] #456 closed

[2021-05-27 20:47] #552 closed

[2021-05-28 00:46] #501 closed

[2021-06-01 13:44] jgu17 opened #554 "Upgrade capm3, bmo and ironic version to v0.4.2"
**Problem description (if applicable)**
metal3 cluster api provider (capm3, baremetal oprator) has released v0.4 (latest v0.4.2 released on June 1st, 2021). There are a list of new features available: https://github.com/metal3-io/cluster-api-provider-metal3/releases.

v0.4.0
V1alpha4 API Support for Metadata and Network data in Cloud-init
Metadata and network data templating for Machine deployment

[2021-06-01 13:48] jgu17 commented on #554
A few notes:
- In bmo v0.4, the ironic deployment manifests become standalone. Following suite in AS2
- after kubebuider changes in BMO, some of the images become distroless, and no longer have shell. entry point needs adjusted.
- don't see the hardware profile properties in the  bmo crd from upstream. Do we still to keep a local crd schema as it is in AS 2.0?

[2021-06-01 14:03] ak3216 commented on #554
@jgu17, we have this issue #518 to investigate upgrading the components but wanted to wait until after v2.1 was out the door to understand what impact the upgrades might have in Airship before proceeding. Thinking we might be able to combine these 2 issues. If you're OK with it, I can just copy over the #518 description to this issue seeing you've provided more detail here. LMK if that's ok.

[2021-06-01 14:07] jgu17 commented on #554
WIP: https://review.opendev.org/c/airship/airshipctl/+/793254

[2021-06-01 14:11] jgu17 commented on #554
@ak3216 Sure, makes sense to combine. It doesn't matter to me which one you want to keep.

[2021-06-01 14:20] ak3216 commented on #554
Before upgrading we need to understand the following (pulled over from #518).

- Do we want to expand this to include all of CAPI?
- Are there breaking changes that require coding/configuration changes for Metal3 and CAPI components?
- Are there bug fixes in the upgrades of either CAPI or Metal3 that fix issues encountered when deploying? If so, are there workarounds in place today that would need

[2021-06-01 14:24] ak3216 commented on #554
Notes from @Arvinderpal from #518
Here are [my notes from the PTG](https://hackmd.io/qdTfhNj8RSuQOM0QZL0JOA) on upgrading. Please let me know if further info is needed.

## Upgrade to v0.4 (aka v1alpha4)

### Upgrading CAPI and Provider Components (e.g. v0.3.16 --> v0.4.0)
The `clusterctl upgrade` command can be used to upgrade the version of the Cluster API providers (CRDs, controllers) installed

[2021-06-01 14:35] jgu17 commented on #554
@digambar's comments: "CAPM3 has hard dependency on BMO and ip-address-manager so you end up getting dependency mismatch error if you don't upgrade both the controller. I recommend to upgrade both CAPM3 and ip-address-manager along with BMO."

It starts to look like that we may need to have a single patchset to upgrade capm3, bmo, ironic and ipam because of the hard dependency among them.

[2021-06-01 15:19] ak3216 opened #555 "Upgrade Kubernetes from v1.18.6 to v1.20 for Bare Metal"
Airship 2 currently supports Kubernetes version 1.18.6. It is failing some of the Anuket conformance testing which requires a higher version.  Recommend upgrading Kubernetes to the v1.20 release for the bare metal instance of Airshipctl.

Release Announcement: https://kubernetes.io/blog/2020/12/08/kubernetes-1-20-release-announcement/
v1.20 Change Log: https://github.com/kubernetes/kubernetes/blob

[2021-06-01 20:03] mattmceuen opened #556 "Run Airship Certified Kubernetes conformance status against k8s 1.20"
Issue #555 is for upgrading k8s to v1.20.  However, there may be value in upgrading to v1.20 in the meantime, for the sake of Kubernetes Conformance.  This story can be implemented if we think #555 needs to wait till later.

Airship has passed its certification tests against the v1.18 version of the tests, and we've learned from the CNCF that our ability to use this as justification for saying "Ai

[2021-06-01 21:35] #553 closed

[2021-06-01 23:05] rkjain commented on #556
I can take this, and generate the results with docker provider as we did earlier.

[2021-06-02 12:13] eak13 opened #557 "Upgrade sonobuoy to v0.51"
To provide additional automated testing support for Airship 2, we need to upgrade Sonobuoy from v0.18.2 to v0.51.

From the Sonobuoy release notes, this is an incremental release, but utilizes a new release numbering schema.
https://sonobuoy.io/sonobuoy-v0-50/
Previously the Sonobuoy version number was coupled with the Kubernetes release number. As part of the march toward version v1.0, we decided

[2021-06-02 12:15] ak3216 commented on #557
Patchset https://review.opendev.org/c/airship/airshipctl/+/782614
@rkjain please comment so I can assign you. Thanks!

[2021-06-02 13:31] rkjain commented on #557
I will take the issue. Thank you :)

[2021-06-02 14:27] jezogwza commented on #556
Depends on. #555  and should fast follow with  Certification against 1.20. This should buy us certification until around Dec 2021 or so.

[2021-06-02 14:42] hem2 commented on #555
I can work on this. Can someone assign it to me?

[2021-06-03 08:28] ChumkiDas commented on #550
@mattmceuen Can you assign this to me?

[2021-06-03 11:20] ak3216 commented on #550
@ChumkiDas all yours.

[2021-06-03 11:52] ak3216 opened #558 "BMO & Ironic & Ironic-Inspector fail Clair scans for high risk vulnerabilities"
**Describe the bug**
Clair scans have identified several high risk vulnerabilities in  BMO, Ironic-Inspector &  Ironic. See attached for details.
This is being tracked via https://github.com/metal3-io/ironic-image/issues/266.
This is a tracking issue to ensure that the images used by Airshipctl are updated once the vulnerabilities have been resolved.

**Steps To Reproduce**
Run Clair scan against

[2021-06-03 11:56] ak3216 opened #559 "Etcd fails Clair scan for high risk vulnerabilities"
Describe the bug
Clair scans have identified several high risk vulnerabilities in Etcd. See attached for details.
This is a tracking issue to ensure that the images used by Airshipctl are updated once the vulnerabilities have been resolved.

Steps To Reproduce
Run Clair scan against the images.

Expected behavior
No high risk security vulnerabilities are found.
[etcd-4198ba6-2021-05-31_15-52-04.tx

[2021-06-03 11:59] ak3216 opened #560 "Kube RBAC Proxy fails Clair scans for high risk vulnerabilities"
**Describe the bug**
Clair scans have identified a high risk vulnerability in Kube RBAC Proxy. See attached for details.
This is a tracking issue to ensure that the images used by Airshipctl are updated once the vulnerabilities have been resolved.

**Steps To Reproduce**
Run Clair scan against the images.

**Expected Behavior**
No high risk security vulnerabilities are found.
[kube-rbac-proxy-2978

[2021-06-04 06:15] raliev12 opened #561 "Decouple implementation and unit tests in pkg/container module"
**Problem description (if applicable)**
Implementations and unit tests of `pkg/container` module are located in the same go package, however unit tests should follow black-box approach and rely only on public interfaces and implementations. It guarantees that the public interfaces, which are used in imports, have the expected behavior independently of knowing, and even mutating, private state. Mor

[2021-06-04 06:27] raliev12 opened #562 "Enable static validation against all available phase plans in site"
**Problem description (if applicable)**
Currently, static validation is limited to only `phasePlan` named plan and we should proceed with all the available plans instead. Since plan names started changing, currently static validation doesn't work at all. We should fix it be enabling validation against each plan per site.

**Proposed change**
Remove [this condition](https://github.com/airshipit/air

[2021-06-04 06:39] raliev12 opened #563 "Improve static validation solution"
**Problem description (if applicable)**
There are several changes/improvements required to bring static validation to the last related design call state.

**Proposed change**
- move validation configuration from site documents and make it part of airshipctl api (phase/plan structs);
- import additional CRDs only as kustomize entrypoints and provide them along with documents for validation;
- do no

[2021-06-04 19:51] mattmceuen opened #564 "Align other site definitions to use plans (and fix the failing docker gate)"
Issue #517 adjusted the test-site site definition to run deployments via phase plans, and deleted the per-phase scripts accordingly.

However, the other site definitions still need to be updated accordingly.  One practical issue demonstrated by this is that the (non-voting) docker-test-site gate is failing, because its zuul config points at the deleted scripts.

[2021-06-07 14:05] lb4368 commented on #517
Closing per patchset merges above.  Work continuing for treasuremap via https://github.com/airshipit/treasuremap/issues/166.

[2021-06-07 14:05] #517 closed

[2021-06-07 14:15] eratnch commented on #564
Please assign to me.

[2021-06-07 21:07] eratnch commented on #564
With the deletion of per-phase scripts, the deployment of each provider test sites needs to be adjusted/validated. I think it would be better to split this issue into multiple issues for tracking.

This issue #564 can be tracked for fixing CAPD deployment/zuul failures.
Similarly, 3 separate issues can be created as below:

- Fix/test CAPG test-site to switch to phasePlan
- Fix/test AZ test-site t

[2021-06-08 16:42] niharikabhavaraju commented on #550
please assign it to me

[2021-06-08 16:43] niharikabhavaraju commented on #550
please assign this to me

[2021-06-08 16:45] ak3216 commented on #550
@niharikabhavaraju all yours! Thanks!

[2021-06-08 18:49] rkjain opened #565 "clusterctl-init-ephemeral failing (docker provider)"
**Description**
clusterctl-init-ephemeral is failing with capd (docker provider)

[code]

**Steps To Reproduce**
[code]

[2021-06-08 19:03] eratnch commented on #565
The phase kustomization of docker-test-site is trying to find `function/airshipctl-base-catalogues` .  This was recently added in
 https://review.opendev.org/c/airship/airshipctl/+/790202/4/manifests/site/docker-test-site/phases/kustomization.yaml#L3.

In order to fix this, the path of the ``function/airshipctl-base-catalogues` needs to be corrected in all of the provider test-sites.

[2021-06-08 22:18] raliev12 opened #566 "It's impossible to set 0 wait timeout in <phase run> CLI options"
**Describe the bug**
Zero timeout value if set via CLI options will be never applied since we use only non-zero values:

https://github.com/airshipit/airshipctl/blob/ebfca696433a3696eb38e2bb3898966721df5d34/pkg/phase/executors/k8s_applier.go#L94-L97

And also, we don't check whether the CLI option was intentionally set to zero, or zero value in corresponding struct was initialized by default. We s

[2021-06-08 22:32] rkjain commented on #565
Fixing the path is now giving another error.

[code]

[2021-06-08 22:38] eratnch commented on #565
Please assign this issue to me.
I created a PS https://review.opendev.org/c/airship/airshipctl/+/795403 to fix the errors reported above.

[2021-06-09 01:10] ak3216 commented on #565
@eratnch done

[2021-06-09 06:58] raliev12 opened #567 "Allow to specify multiple clusters per get-kubeconfig command"
**Problem description (if applicable)**
Currently it is possible to request kubeconfig for entire site (contains contexts with all clusters) or with just one context. No possibility to retrieve kubeconfig with variable amount of contexts of desired clusters.

**Proposed change**
Allow to specify multiple clusters per get-kubeconfig request and return kubeconfig with appropriate contexts.

**Potent

[2021-06-09 14:23] raliev12 opened #568 "Use clusterctl binary to perform related operations (init, move, etc)"
**Problem description (if applicable)**
Currently we use API approach to perform clusterctl operations, which has some disadvantages:

- it creates a dependency on cluster-api in airshipctl, and since cluster-api itself has kind of "slow" moving forward on next releases (they still use k8s libraries of version 0.17.9 in latest release), which basically prevents us from upgrade kustomize and k8s ve

[2021-06-09 14:50] raliev12 commented on #567
Please assign this one to me. The work in progress PS is here https://review.opendev.org/c/airship/airshipctl/+/794904

[2021-06-09 14:51] raliev12 commented on #568
Please assign this one to me. PoC patchset - https://review.opendev.org/c/airship/airshipctl/+/793701

[2021-06-09 14:52] raliev12 commented on #563
Related PS - https://review.opendev.org/c/airship/airshipctl/+/789398

[2021-06-09 14:52] raliev12 commented on #561
Related PS - https://review.opendev.org/c/airship/airshipctl/+/794703

[2021-06-09 14:54] raliev12 commented on #562
Related PS - https://review.opendev.org/c/airship/airshipctl/+/794701

[2021-06-09 15:08] raliev12 commented on #566
Please assign this one to me.

[2021-06-09 17:32] ak3216 opened #569 "Upgrade Kubernetes from v1.18 to v1.20 for Azure"
As part of the Airshipctl kubernetes v1.18 to v1.20 upgrade outlined in issue #555, upgrade Kubernetes to v1.20 for the Azure provider.

[2021-06-09 17:32] #551 closed

[2021-06-09 17:33] ak3216 opened #570 "Upgrade Kubernetes from v1.18 to v1.20 for GCP"
As part of the Airshipctl kubernetes v1.18 to v1.20 upgrade outlined in issue #555, upgrade Kubernetes to v1.20 for the Google Cloud Platform (GCP).

[2021-06-09 17:34] ak3216 opened #571 "Upgrade Kubernetes from v1.18 to v1.20 for Openstack"
As part of the Airshipctl kubernetes v1.18 to v1.20 upgrade outlined in issue #555, upgrade Kubernetes to v1.20 for the Openstack provider.

[2021-06-09 17:52] lb4368 commented on #524
Closing per patchsets merge.

[2021-06-09 17:52] #524 closed

[2021-06-09 18:01] ak3216 opened #572 "Allow for image replacement in the iso-build-image executor"
We need the ability to override/replace the image parameter value in the the iso-build-image executor. It's currently a static value & common to all phases but needs to be a variable.
https://opendev.org/airship/airshipctl/src/branch/master/manifests/phases/executors.yaml#L252

Tasks:
1. Create the image replacement transformer
2. Add the replacement reference to phases/kustomization.yaml
3. Add t

[2021-06-09 18:06] #424 closed

[2021-06-09 18:15] pallavgupta commented on #572
I can look into this issue. Pls assign it to me.

[2021-06-09 20:12] lb4368 commented on #564
@eratnch Below are hackmd notes from today's Flight Plan call related to this issue.  From this design the first step seems to be to build the base phase plans.yaml for all providers into the `gating` type that the test-site can eventually patch.  Based upon this design would you still think we need separate issues per provider?

`Normalize the phase plans across the different airshipctl sites, by

[2021-06-09 20:24] seaneagan opened #573 "`make manifests` tries and fails to generate manifests for other API types"
**Describe the bug**

In #532 we added `make manifests` which does successfully generate network/version catalogue CRD schemas, however it also attempts to generate CRDs for several other airshipctl API types, some of which fail:

**Steps To Reproduce**

[code]

**Expected behavior**

It should not fail, and should only generate CRDs for the intended types.

**Environment**
- airshipctl Version: 5

[2021-06-09 20:38] seaneagan opened #574 "Generate additional CRDs for validation of airshipctl API types"
**Problem description (if applicable)**

As per #573  `make manifests` is currently trying to generate manifests for several api types which are beyone network/version catalogues that we have not actually committed to the repo yet. If we could fix the issues with those, perhaps they could be used to validate e.g. krm function configs (replacement transformer, templater, etc) as well as "config bun

[2021-06-09 20:46] lb4368 opened #575 "Fully Implement `gating` Type for Use By All Provider Types"
**Problem description**
In #564 work will be done to create a normalized phase plan for all provider types in the `gating` type.  Need to build out the rest of the type so that common entrypoints and manifests are managed at a common type level.

**Proposed change**
Make the `gating` type a fully-fledged type by moving the meat of the phase payload entrypoints from the site level to the type level

[2021-06-09 21:11] seaneagan opened #576 "Align with community image overrides format"
**Problem description (if applicable)**

The charts in this repository have an image overrides format which uses a format such as:

https://github.com/airshipit/charts/blob/510ead0632c880e8bb61cff55fa1f0077bf4bcaf/charts/dex-aio/values.yaml#L7-L10

instead of the more common format from the community:

https://github.com/prometheus-community/helm-charts/blob/5f585df3bc13ab525f3841638f939f9fab018ec

[2021-06-09 21:27] mattmceuen opened #577 "`kubectl-wait-pods-any-ephemeral` phase never completes"
When running the airshipctl gating locally, the phase plan progresses until the `kubectl-wait-pods-any-ephemeral` phase, which launches a generic container to wait for at least one pod to exist.  I see from the airshipctl output that pods are successfully seen and the script appears to get to the end.  However, airshipctl doesn't report that the phase is complete, and stalls there.

I get the same

[2021-06-09 22:12] hem2 commented on #569
@ak3216, can you assign this to me? Thanks.

[2021-06-09 22:44] mattmceuen opened #578 "Unable to run Airship-in-a-Pod on bare metal machines"
On multiple bare metal machines (Ubuntu and Debian) I am unable to successfully launch AIAP in a kind cluster.  The libvirt pod fails with the issue: `Error: failed to create containerd task: failed to create shim: OCI runtime create failed: container_linux.go:380: starting container process caused: process_linux.go:545: container init caused: setctty: operation not permitted: unknown`

I discusse

[2021-06-09 23:18] pallavgupta commented on #572
https://review.opendev.org/c/airship/airshipctl/+/795713

[2021-06-10 16:03] #549 closed

[2021-06-11 17:02] mattmceuen commented on #578
Well, I've now hit this issue running aiap in a VM as well, so it must not be a bare metal-specific thing.

[2021-06-11 19:19] hem2 commented on #571
@ak3216 , can you assign this to me? Thanks.

[2021-06-11 22:01] matthew-fuller commented on #577
I can take a stab at this one. Please assign this to me.

[2021-06-11 22:34] mattmceuen commented on #578
I made this change to disable the tty on the libvirt container, which resolves the issue: https://review.opendev.org/c/airship/airshipctl/+/796072

I'm not sure why `tty: true` causes libvirt to fail as above in some environments.  I suspect it shares a root cause with the fact that `virsh console` fails in some environments due to tty connection problems, which I have not pieced together either.

[2021-06-11 23:14] matthew-fuller commented on #577
Hmm... maybe I just got lucky (or the problem has been resolved since this issue was created), but I haven't been able to reproduce this locally either by running the `deploy-gating` plan or by running the `kubectl-wait-pods-any-ephemeral` phase separately. In each case, the phase completes as expected as long as there's at least one pod in the cluster.

I'll check with @mattmceuen to see if this

[2021-06-12 06:54] #563 closed

[2021-06-14 05:30] raliev12 opened #579 "Enable tolerance to timed out poll requests"
**Problem description (if applicable)**
There is quite a common situation when apply process interrupts due to timed out poll request, i.e.:

` [airshipctl] 2021/06/01 21:09:28 opendev.org/airship/airshipctl/pkg/events/processor.go:84: Received error when applying resources to kubernetes: polling for status failed: etcdserver: request timed out
 Error events received on channel, errors are:
 [poll

[2021-06-14 05:31] raliev12 commented on #579
Related PS - https://review.opendev.org/c/airship/airshipctl/+/794087

[2021-06-14 15:58] #572 closed

[2021-06-14 16:00] eratnch opened #580 "Allow extracting kubeconfig and other steps in phase run"
**Problem description (if applicable)**

For infrastructure providers such as capd, the airshipctl phase run involves doing some additional steps in between 2 phases. For instance, following operation is performed between phase `controlplane-ephemeral` and `initinfra-networking-target` .

[code]

Additionally untainting of control plane nodes, setting of contexts (ephemeral and target clusters) ar

[2021-06-14 19:53] ian-howell opened #581 "Airship In A Pod exhibits NodeDiskPressure from the target node"
**Describe the bug**
The target node is running out of disk space during deployment. We should uplift the specifications for VMs in `airship-in-a-pod` to match those of our upstream gates.

[2021-06-14 19:56] ian-howell commented on #581
This is being tracked here: https://review.opendev.org/c/airship/airshipctl/+/796316

[2021-06-14 19:56] #565 closed

[2021-06-14 23:41] Arvinderpal commented on #568
Not in disagreement with this approach. When we first integrated "clusterctl as a library", we assumed that that the tighter level of integration would come with some benefits; however, that hasn't really panned out.

I do however wonder if such a change is necessary given that we will likely make the shift to the CAPI mgmt operator. In that case, much of this work will be unnecessary.

Also, note

[2021-06-15 01:44] raliev12 commented on #568
Unfortunately, `move` action will still require CLI:

So proposed approach will be used at least to perform `move` operation.

Yeah, I know v0.4.x will use v0.21.1 k8s version, however there is no point to have a dependency on cluster api in our go code taking into account points I mentioned in task description.

[1] https://hackmd.io/qdTfhNj8RSuQOM0QZL0JOA#CAPI-Management-Cluster-Operator

[2021-06-15 19:42] #514 closed

[2021-06-15 20:05] #578 closed

[2021-06-16 16:44] seaneagan opened #582 "Pattern to override helm chart source repository during development"
**Problem description (if applicable)**

The helm-controller allow HelmReleases to source charts from via the following type:
https://fluxcd.io/docs/components/helm/api/#helm.toolkit.fluxcd.io/v2beta1.HelmChartTemplateSpec
which references:
https://fluxcd.io/docs/components/helm/api/#helm.toolkit.fluxcd.io/v2beta1.CrossNamespaceObjectReference

In general we want to source all helm charts from a l

[2021-06-16 17:05] seaneagan commented on #582
https://review.opendev.org/c/airship/airshipctl/+/796710

[2021-06-16 17:19] lb4368 opened #583 "Create CI/CD Pipeline for Azure Cloud Platform Deployment"
**Problem description**
Per issues #564 and #575 a common site type and phase plan will be created for use by all provider types.   We need a CI/CD pipeline which validates end-to-end phase plan deployment of target cluster using CAPZ provider using this common site type.

**Proposed change**
Build a CI/CD pipeline which demonstrates successful end-to-end deployment of _az-test-site_ leveraging th

[2021-06-16 17:19] lb4368 opened #584 "Create CI/CD Pipeline for GCP Deployment"
**Problem description**
Per issues #564 and #575 a common site type and phase plan will be created for use by all provider types.   We need a CI/CD pipeline which validates end-to-end phase plan deployment of target cluster using CAPG provider using this common site type.

**Proposed change**
Build a CI/CD pipeline which demonstrates successful end-to-end deployment of _gcp-test-site_ leveraging t

[2021-06-16 17:19] lb4368 opened #585 "Create CI/CD Pipeline for Openstack Deployment"
**Problem description**
Per issues #564 and #575 a common site type and phase plan will be created for use by all provider types.   We need a CI/CD pipeline which validates end-to-end phase plan deployment of target cluster using CAPO provider using this common site type.

**Proposed change**
Build a CI/CD pipeline which demonstrates successful end-to-end deployment of _openstack-test-site_ levera

[2021-06-16 23:31] jgu17 commented on #525
This has becomes a blocking issue for bare metal phase plan because there is no manual wait in the automated phase plan that the user is able to do in v2.0 before run the next script.

[2021-06-17 03:44] teoyaomiqui commented on #525
If that is so, we should create a separate phase, that actually waits for ETCD to become stable. This can be done really simple by using a generic container and bash script.

[2021-06-17 14:21] gtsteffaniak commented on #510
Please assign to me

[2021-06-17 14:36] DannyMassa commented on #570
Assign to me please.

[2021-06-17 15:09] jezogwza commented on #525
This appears to be a duplicate, https://github.com/airshipit/airshipctl/issues/579. There is a patchset associated with it Related PS - https://review.opendev.org/c/airship/airshipctl/+/794087

[2021-06-17 15:41] #581 closed

[2021-06-17 16:21] Arvinderpal commented on #525
Sorry I missed the discussion on this in the morning call.
Couple of things come to mind:

1. etcd is very [resource hungry](https://etcd.io/docs/v3.3/op-guide/hardware/). How large is the disk on our control-plane node? I assume disk bandwidth and memory are ample since this is baremetal.
2. The issue may be caused by our HA load-balancer. What solution are we using? For example, are we using hap

[2021-06-17 16:24] teoyaomiqui commented on #525
@Arvinderpal every time we scale up/down with a phase, the phase would have the ability to wait for, etc to get back to normal, scale up-down of databases is a procedure that usually requires extra steps to wait for synchronization etcd..

[2021-06-17 16:36] Arvinderpal commented on #525
Yes, but etcd is designed to handle member additions/removals gracefully. If it's going down every time membership changes then something is clearly wrong.

[2021-06-17 16:54] teoyaomiqui commented on #525
You are right, but adding members to an existing cluster with size 1 is something different than adding members to a 3 node cluster.

The balancing may be the issue here as well, definitely worth investigating

[2021-06-18 21:41] #548 closed

[2021-06-19 03:17] #579 closed

[2021-06-21 19:54] matthew-fuller commented on #574
Please assign this to me.

[2021-06-22 19:28] eak13 opened #586 "SOPS GPG Key Management"
**Problem description**
We currently do not have a robust solution for storing & managing the SOPS GPG keys that are used for encryption & decryption within Airship. Current downstream implementations involve generating & storing secrets through Jenkins pipelines and are less than ideal.

**Proposed change**
Define an integration solution to provide GPG key management. It should be a system that p

[2021-06-22 20:48] rkjain opened #587 "phase run initinfra-networking-target failing (docker provider)"
**Description**
Phase initinfra-networking-target is not working with the latestmaster.

**Porblem**
[code]

[2021-06-23 15:40] Arvinderpal commented on #525
FYI, I came across this issue recently. https://github.com/kubernetes-sigs/cluster-api/issues/2535
But you're assumption seems correct -- there can be a temporary disruption when scaling from 1 -> 2 control-planes. Clusterctl handles this through a mix of wait and retry logic. I think we should do the same in airshipctl.

[2021-06-23 15:45] eratnch commented on #587
Please assign this to me since I am already working on fixing CAPD deployment.

[2021-06-23 18:17] ak3216 commented on #587
@eratnch done

[2021-06-23 21:03] #546 closed

[2021-06-24 14:15] SirishaGopigiri commented on #554
please assign it to me

[2021-06-24 14:16] SirishaGopigiri commented on #518
please assign this to me

[2021-06-24 14:27] jgu17 commented on #554
@SirishaGopigiri I already started the work on it: https://review.opendev.org/c/airship/airshipctl/+/793254. Had been on a temporary hold because I needed to have a virtual dev env to continue testing/development and also it is planned only for 2.2 release. I just rebased the PS yesterday and was going to resume the work now that I got a lab env. Do you want to work on it together since it is actu

[2021-06-24 14:27] ak3216 commented on #518
@SirishaGopigiri done!

[2021-06-24 14:37] mf4716 commented on #554
@jgu17 , please include either the Relates-To or Closes tags in your PS(s) as they're related to issues.  This tag helps us track and correlate the issues-to-PSs. And, if the Closes tag is used, a bot will automatically close the respective GitHub issue. https://github.com/airshipit/airshipctl/blob/master/CONTRIBUTING.md#submitting-changes.  Thanks.

[2021-06-24 15:41] ak3216 opened #588 "Remove airshipctl secret command"
**Problem description (if applicable)**
With the move to executing encryption via SOPS through phases, the airshipctl secret generate command is no longer needed & should be abandoned. Also, there are two cluster sub-commands: rotate-sa-token & check-expiration which are also deprecated & are non-functioning.

**Proposed change**
Remove the airshipctl secret generate command and the rotate-sa-toke

[2021-06-24 15:54] raliev12 commented on #588
@ak3216 please assign this one to me.

[2021-06-24 15:57] ak3216 commented on #588
@raliev12 done. Thanks!

[2021-06-24 16:11] matthew-fuller commented on #574
Not sure why the bot didn't pick this one up, but here's the PS related to this issue: https://review.opendev.org/c/airship/airshipctl/+/797358

[2021-06-24 16:25] eak13 opened #589 "Kubernetes uplift to v1.21 & Establish general pattern for K8s upgrades"
**Problem description**
Kubernetes has a cadence of posting a new release every 3 to 6 months. A release has roughly a 12 - 14 month lifespan. To maintain CNCF certification, conformance (like Anuket)  & currency with the latest releases, Airship needs to establish an ongoing cadence to continually uplift the supported Kubernetes version.

v1.21 was released for GA on 5/12/2021. While there are cu

[2021-06-24 17:42] raliev12 commented on #525
I believe we've already implemented retry logic for "request timed out" polling error, which is important. I'm trying to modify wait part accordingly.

[2021-06-24 19:23] drewwalters96 opened #590 "Add Tigera Installation Registry to Versions Catalogue Schema"
**Problem description (if applicable)**
The Tigera Operator includes a [document](https://github.com/airshipit/airshipctl/blob/16da661959b69ae54be83266cf7db0920083a2d4/manifests/function/cni/tigera-operator/v1.15.0/custom-resources.yaml) of `kind: Installation` that allows users to change the location of the container image repository used for deployment of Tigera images. This pattern does not fit

[2021-06-25 03:11] hem2 commented on #571
PS: https://review.opendev.org/c/airship/airshipctl/+/798032

[2021-06-25 14:59] shon-phand commented on #590
I can start working on this issue, please assign it to me

[2021-06-25 18:21] ak3216 opened #591 "Clean up documentation for Airshipctl & CAPG integration"
**Problem description**
As changes have occurred in the Airship deployment process as it relates to GCP, the documentation has not been kept up to date.
https://docs.airshipit.org/airshipctl/providers/cluster_api_gcp.html

**Tasks:**
- Review the CAPG documentation while working through the deployment process
- Make any updates to the documentation md
- Push the update to the website (which will h

[2021-06-25 18:23] DannyMassa commented on #591
Assign to me plz.

[2021-06-25 18:57] hem2 commented on #571
Tested with CAPO v0.3.1, Ubuntu 20.04 (build server and ephemeral and target cluster) and K8S 1.20.7

[2021-06-25 19:57] mattmceuen opened #592 "Remove unused patch_bmo_config.yaml"
There is a leftover patch_bmo_config.yaml in the airshipctl manifests; it used to be used but no longer appears to be.

This issue is to
1. identify the phase the file lives in
2. render the phase, and save the output for later comparison
3. delete the file
4. rerender the phase, and save the output
5. diff the pre-change and post-change outputs to confirm the deletion had no effect

This issue is

[2021-06-25 21:43] #495 closed

[2021-06-25 22:29] seaneagan opened #593 "Generate / publish API docs for airshipctl api documents"
**Problem description (if applicable)**

It would be useful to have autogenerated api documentation for the airshipctl API documents.

**Proposed change**

Once we are generating CRDs for all of the airshipctl API types (#574), we can use those to generate / publish api docs,
similar to how we are doing this in sip and vino:
https://github.com/airshipit/sip/blob/master/docs/api/sipcluster.md
https

[2021-06-25 22:30] seaneagan commented on #593
https://review.opendev.org/c/airship/airshipctl/+/798167

[2021-06-28 13:14] EduardoRivera96 commented on #592
I will be picking up this issue.

[2021-06-28 14:22] ak3216 opened #594 "Configure K8s API server & Controller Manager settings"
**Enhancement description**
We want the ability to provide out-of-the-box configuration of the Kubernetes API Server & Controller Manager. This can be performed by updating Cluster Control Plane, Metal3 Machine Template.

See the attached document for the configuration changes.

**Proposed change**
- Update the Control Plane Metal3 Machine Template to add the additional configurations for both the

[2021-06-28 14:23] ak3216 commented on #594
@pallavgupta has https://review.opendev.org/c/airship/airshipctl/+/797324 in progress. Pallav, please comment so I can assign you.

[2021-06-28 14:24] pallavgupta commented on #594
sure, pls assign it to me.

[2021-06-28 16:22] mf4716 commented on #525
Related PS to address issue:  https://review.opendev.org/c/airship/airshipctl/+/794087 .  Can close issue.

[2021-06-28 16:22] ak3216 commented on #525
Closing per above patchset

[2021-06-28 16:22] #525 closed

[2021-06-28 16:30] ak3216 commented on #416
Closing per patchset merge

[2021-06-28 16:30] #416 closed

[2021-06-28 16:30] ak3216 commented on #417
Closing per patchset merge

[2021-06-28 16:31] sirajyasin commented on #530
@lb4368 ,
The related [PS](https://review.opendev.org/c/airship/airshipctl/+/792060) is already merged and this issue can be marked closed.

[2021-06-28 16:39] #530 closed

[2021-06-28 16:44] #417 closed

[2021-06-28 18:08] #477 closed

[2021-06-28 22:19] raliev12 opened #595 "`initinfra-networking` phases should be properly applied"
**Describe the bug**
`initinfra-networking` phases use no-wait executor which leads to overcomplicated wait logic in wait-tigera phase helper:

https://github.com/airshipit/airshipctl/blob/master/manifests/function/phase-helpers/wait_tigera/kubectl_wait_tigera.sh#L17-L22

Also this phase helper doesn't work properly with timeout.

**Steps To Reproduce**
Apply any `initinfra-networking` phase.

**E

[2021-06-29 00:18] #574 closed

[2021-06-29 05:33] SirishaGopigiri commented on #518
Size would be 'L'

[2021-06-29 21:39] pallavgupta commented on #594
https://review.opendev.org/c/airship/airshipctl/+/797324

[2021-06-29 22:23] matthew-fuller commented on #575
Please assign this to me.

[2021-06-30 13:49] manojkva commented on #493
Updated Readme.md in a related PS for https://github.com/airshipit/airshipctl/issues/477 which is closed. Could this too be closed.

[2021-06-30 14:12] ak3216 commented on #493
closing per above merge

[2021-06-30 14:12] #493 closed

[2021-06-30 19:03] ak3216 commented on #528
Closing per merge.

[2021-06-30 19:03] #528 closed

[2021-07-01 15:39] sirajyasin commented on #573
@ak3216 ,
The [PS](https://review.opendev.org/c/airship/airshipctl/+/797358) takes care of resolving issues with make manifests as well as adding generated CRDs for schema validations. So this issues is already taken care and it can be marked closed

[2021-07-01 16:14] ak3216 commented on #573
Thanks @sirajyasin ! Closing per above.

[2021-07-01 16:14] #573 closed

[2021-07-01 18:35] eratnch commented on #527
Please assign to me. PS ready for review https://review.opendev.org/c/airship/airshipctl/+/790896.

[2021-07-01 18:36] ak3216 commented on #527
@eratnch. done.

[2021-07-01 18:44] eratnch commented on #529
Please assign to me. PS ready for review https://review.opendev.org/c/airship/airshipctl/+/790896.

[2021-07-01 22:36] sshiba commented on #559
Hi Andrew, can you assign this issue to me? Thanks

[2021-07-01 23:09] sshiba commented on #559
Here is what I found for kubernetes v1.20 for etcd:

[code]
Run Clair in jenkins job (**etcd:3.4.13-0**) and it passed (https://jenkins-nc.wnv2b.cci.att.com/job/images/job/open-images/1401/console).

What should be the next step? Provide recommendations for kubernetes v1.20.x?

[2021-07-02 15:31] sshiba commented on #560
Hey Andrew, can you assign this issue to me? Thanks

[2021-07-02 15:55] sshiba commented on #560
We will need kubebuilder/kube-rbac-proxy:v0.8.0 to pass Clair vulnerability tests.
The latest **Cluster API for Metal3** operator is also using **v0.8.0**.

sx3394@airship:~/projects/**cluster-api-provider-metal3**$ grep -r kube-rbac-proxy .
./config/manager/manager_auth_proxy_patch.yaml:      - name: kube-rbac-proxy
./config/manager/manager_auth_proxy_patch.yaml:        image: gcr.io/**kubebuilde

[2021-07-02 16:26] ak3216 commented on #560
@sshiba thanks for the analysis. This should be handled by the CAPI/Metal3 uplift planned in v2.2.

[2021-07-02 16:48] sshiba commented on #558
Hi Andrew, assign this issue to me. Thanks.

[2021-07-02 16:49] sshiba commented on #558
The **metal3-io/ironic-inspector:latest** image still didn't pass the test.
See https://jenkins-nc.wnv2b.cci.att.com/job/images/job/open-images/1415/console

The quay.io registry also detected vulnerabilities. See  https://quay.io/repository/metal3-io/ironic-inspector/manifest/sha256:7bb3423b81f8d316463727af25ec70591bf8e984b5cf93634c98657aeb214e6e?tab=vulnerabilities

The **metal3-io/ironic:latest

[2021-07-06 17:44] #550 closed

[2021-07-06 19:31] ns5254 opened #596 "Spike : Investigate load balancer impacts to support Kubernetes API TLS"
**Problem description**
It is unknown if there are any load balancer impacts in supporting TLS v1.2 on Kubernetes API.

**Proposed change**
Determine if load balancer updates are needed to support  TLS v1.2 Kubernetes API.  If impacted, update to support or define necessary implementation stories if larger effort.

[2021-07-07 10:26] kozhukalov commented on #491
It seems barely possible to implement this at the moment. Airship phase engine is stateless, we don't use any operator to deal with phases/phase plans. We don't deploy phase CRs anywhere. We also don't store phase run results/errors anywhere. A user who runs a phase plan can see which of the phases were successful and thus cluster status. But we can not have a separate command to gather the cluste

[2021-07-07 11:50] manojkva commented on #545
I could take this up.

[2021-07-07 11:51] ak3216 commented on #545
@manojkva all yours. Thanks.

[2021-07-07 12:45] ak3216 commented on #491
@kozhukalov I'll add this to the design call agenda for Thursday 7/8 & we can discuss the path forward for this issue. Thanks for identifying the challenges.

[2021-07-07 14:14] jezogwza commented on #503
We need to focus on docker and azure.

[2021-07-07 14:17] jezogwza commented on #479
We are going to recommend closing this, if another user encounters this problem again we can reopen it. But at the moment it feels that this is fixed.

[2021-07-07 14:17] #479 closed

[2021-07-07 14:36] jezogwza commented on #430
Identify where else we. need to use kpt .

[2021-07-07 14:45] mattmceuen commented on #510
This issue is still valid, looks like there are duplicate `workers-capm3` functions in both airshipctl and treasuremap.  @gtsteffaniak how is this looking; are they one-to-one?

[2021-07-07 20:31] #594 closed

[2021-07-07 21:13] matthew-fuller commented on #575
https://review.opendev.org/c/airship/airshipctl/+/799902

[2021-07-08 14:32] kozhukalov opened #597 "Airship specific implementation of KRM Function Specification"
**Problem description (if applicable)**
At the moment Airship uses two types of generic containers: krm (kyaml/runfn) and airship (airship specific docker wrapper). kyaml/runfn has some limitations that do not allow to use it everywhere. For example, sometimes we want a container to be run from a privileged user. Also kyaml/runfn does not provide some of the functionality we potentially would like

[2021-07-08 14:32] kozhukalov commented on #597
Please assign this to me

[2021-07-08 14:38] Arvinderpal commented on #518
v0.4.0 of CAPI has arrived. However, we should probably not rush to incorporate it. In particular, we should wait for the CAPM3 release -- v0.5.0 -- which will incorporate the required changes for v1alpha4 of CAPI.

[2021-07-08 17:27] vetbijaya commented on #576
Can someone assign this to me? Thank you.

[2021-07-08 17:29] ak3216 commented on #576
@vetbijaya all yours

[2021-07-08 19:10] shon-phand commented on #590
https://review.opendev.org/c/airship/airshipctl/+/798942

[2021-07-08 21:18] #280 closed

[2021-07-09 18:28] ak3216 commented on #554
We need this uplift as a stepping stone before #518 so we're not skipping versions from 0.3.x to 0.5.x. Additionally, upgrading should address #558 & #559, though #558 has a dependency on https://github.com/metal3-io/ironic-image/issues/266

[2021-07-09 18:58] eak13 opened #598 "Upgrade KPT from v0.37.1 to v1.0.0-beta.x"
**Problem description**
In an effort to keep Airship current with the latest updates of its supporting components, upgrade KPT (Kubernetes Package Toolkit) from v0.37.1 to v1.0.0-beta. In making this upgrade, we will need to ensure that KPT continues to perform component package/component upgrades as well.

Documentation for version >= v1.0 - https://kpt.dev/ < May be blocked if trying to access i

[2021-07-09 19:50] eak13 opened #599 "Upgrade CAPD to v1alpha4 for the Docker provider"
**Problem description (if applicable)**
In an effort to keep Airship current with the latest updates of its supporting components, upgrade CAPD (Cluster-API for Docker provider) to v1alpha4.

https://github.com/kubernetes-sigs/cluster-api/tree/master/test/infrastructure/docker

As CAPD is bundled in with Cluster API itself, this issue would need to be addressed in conjunction with #518

**Proposed

[2021-07-09 19:57] eratnch commented on #599
Please assign this to me. Thanks.

[2021-07-10 19:11] raliev12 commented on #588
@ak3216 all the related commits were merged. The issue can be closed.

[2021-07-12 11:23] ak3216 commented on #588
Closing per merges.

[2021-07-12 11:23] #588 closed

[2021-07-12 11:44] ak3216 commented on #599
@eratnch done

[2021-07-12 11:55] eak13 opened #600 "Upgrade CAPZ to version v0.5.0 with Cluster API v1alpha4 support"
**Problem description**
In an effort to keep Airship current with the latest updates of its supporting components, upgrade the CAPZ (Cluster-API for Azure provider) to v0.5.0 with Cluster API v1alpha4 support. The current Azure Provider is v0.4.x supporting Cluster API v1alpha3.

CAPZ github repo can be found here: https://github.com/kubernetes-sigs/cluster-api-provider-azure

**Proposed change**

[2021-07-12 11:57] ak3216 commented on #555
The plan is to pause on this & shift to v1.21 k8s upgrade which will be tracked under #589

[2021-07-12 11:58] ak3216 commented on #556
The plan is to pause on the upgrade to v1.20 & shift to v1.21 k8s upgrade which will be tracked under #589. Believe the work to date on this issue has provided a Docker k8s v1.19 version which was needed to bring conformance current.

[2021-07-12 11:59] ak3216 commented on #569
The plan is to pause on this & shift to v1.21 k8s upgrade which will be tracked under #589

[2021-07-12 11:59] ak3216 commented on #570
The plan is to pause on this & shift to v1.21 k8s upgrade which will be tracked under #589

[2021-07-12 11:59] ak3216 commented on #571
The plan is to pause on this & shift to v1.21 k8s upgrade which will be tracked under #589

[2021-07-12 13:20] ak3216 opened #601 "Upgrade Kustomize to the latest version"
**Problem description**
In an effort to keep Airship current with the latest updates of its supporting components, upgrade Kustomize to the latest version (currently v4.2.0)

Kustomize information can be found here:
- https://kustomize.io/
- https://github.com/kubernetes-sigs/kustomize/
- https://github.com/kubernetes-sigs/kustomize/releases

**Proposed change**
- Upgrade Kustomize to v4.2.0
- Val

[2021-07-12 13:29] eak13 opened #602 "Spike: Use CAPI to upgrade an existing Kubernetes cluster"
**Problem description**
As part of ongoing operations, we need the ability to perform various component upgrades & understand the behavior of the clusters when these upgrades occur. When it comes to upgrading Kubernetes for an existing cluster, the plan is to use Cluster API to deliver the K8s upgrade to the cluster.

**Proposed change**
- Test & document the pre-reqs prior to upgrade (i.e. deploy

[2021-07-12 15:06] eak13 opened #603 "Spike: Upgrade containerd for an existing Kubernetes cluster"
**Problem description**
As part of ongoing operations, we need the ability to perform various component upgrades & understand the behavior of the clusters when these upgrades occur. When it comes to upgrading containerd for an existing cluster, the plan is to use Cluster API  & Metal 3 to deliver a new image with the upgraded containerd version.

**Proposed change**
- Generate a new image via imag

[2021-07-12 15:13] ak3216 opened #604 "Deliver OS/Kernel Patches for an existing site"
**Problem description**
As part of ongoing operations, we need the ability to perform various component upgrades & understand the behavior of the site/clusters when these upgrades occur. When it comes to OS/Kernel patches for an existing site, the plan is to use Cluster API & Metal 3 to deliver a new image with the upgrades.

**Proposed change**
- Generate a new image via image-builder with a kern

[2021-07-12 15:59] ak3216 opened #605 "Upgrade Dell i40e driver for an existing site"
**Problem description**
As part of ongoing operations, we need the ability to perform various component upgrades & understand the behavior of the clusters when these upgrades occur. When it comes to upgrading the i40e driver for an existing cluster running on Dell servers, the plan is to use Cluster API & Metal 3 to deliver a new image with the upgraded driver version.

**Proposed change**
- Gener

[2021-07-12 17:27] aodinokov commented on #601
Here is what we can do:

The main issue with 4.1.3 and further (4.2.0) is that there will be conflicting dependencies.
I elaborated on that some time ago [here](https://hackmd.io/QiEksO4fRk-MnBjwBFaAkQ#Upgrade-to-kustomize-413-issues-Alexey-O). here is another PR https://review.opendev.org/c/airship/airshipctl/+/788582 that worked some time ago, but since we were not going in that direction it is

[2021-07-12 17:30] ak3216 commented on #601
Just to note, for patchset 793701, the corresponding issue is #568. Assuming we proceed that way, once merged & we close #568 then we can proceed with this issue.

[2021-07-12 17:46] eak13 opened #606 "Spike: Deliver Ubuntu OS Upgrades for an existing site"
**Problem description**
As part of ongoing operations, we need the ability to perform various component upgrades & understand the behavior of the site/clusters when these upgrades occur. When it comes to Ubuntu OS upgrades for an existing site, the plan is to use Cluster API & Metal 3 to deliver a new image with the upgrades.

**Proposed change**
- Generate a new image via image-builder with a new

[2021-07-12 18:12] sshiba commented on #600
Can I be assigned to this issue?

[2021-07-12 18:35] ak3216 opened #607 "Update Helm Controller & Source Controller to the latest versions"
**Problem description (if applicable)**
In an effort to keep Airship current with the latest updates of its supporting components, upgrade Helm Controller & Source Controller to the latest supported versions. We are currently on v0.4.3 for Helm Controller & v0.5.3 of the Source Controller. As part of this effort, we also want to understand the impacts to upgrading Helm Controller & Source Controll

[2021-07-12 19:04] sshiba commented on #600
CAPZ supporting CAPI v1alpha4 was supposed to be released last week but a bug was identified and is currently being discussed in Slack [here](https://kubernetes.slack.com/archives/CEX9HENG7/p1625839765424400).

[2021-07-12 19:53] eak13 opened #608 "Spike: Understand CoreDNS upgrades for an existing cluster"
**Problem Statement**
We need to get a better understanding of the implications of upgrading the CoreDNS component in a brownfield scenario.

https://coredns.io/
https://coredns.io/2021/05/28/coredns-1.8.4-release/ < latest release notes

**Proposed Change**
- Can you upgrade CoreDNS independent of a kubernetes upgrade via CAPI?
- How disruptive is an upgrade? (i.e. no-op vs. reboot cluster?)
- Ca

[2021-07-12 20:30] lb4368 opened #609 "Spike: CAPI Component Upgrades for Brownfield Sites"
**Problem description**
Would like to understand the implications of an update to existing CAPI components (Cluster API, Bootstrap Provider, and Control Plane Provider) in a site (brownfield scenario).

https://cluster-api.sigs.k8s.io/tasks/upgrading-cluster-api-versions.html

**Proposed change**
Investigate and document a plan for an upgrade of CAPI components (currently to latest `v1alpha4` vers

[2021-07-12 21:06] seaneagan commented on #607
https://review.opendev.org/c/airship/airshipctl/+/800307

[2021-07-12 21:25] seaneagan commented on #607
there should be no special brownfield impacts to updating these components as far as i am aware. once the CRDs transition from beta to GA, there will be a one time migration process that we would need to implement.

[2021-07-12 21:52] lb4368 opened #610 "Spike: Metal3.io Upgrade for Brownfield Site"
**Problem description**
Would like to understand the implications of an upgrade to the Metal3.io infrastructure provider in a site (brownfield scenario).  This is related to #609 which addresses upgrade of CAPI components.

**Proposed change**
Investigate and document a plan for an upgrade of the Metal3 CAPI provider (https://github.com/metal3-io/cluster-api-provider-metal3/releases) on an existin

[2021-07-12 22:20] matthew-fuller commented on #598
Please assign this to me.

[2021-07-13 01:19] ak3216 commented on #598
@matthew-fuller done

[2021-07-13 11:28] ak3216 commented on #600
@sshiba, it looks like their github was updated yesterday to reflect the v1alpha4 support & release v0.5.0 of CAPZ. Updated the issue.

[2021-07-13 11:38] ak3216 opened #611 "Upgrade CAPG to version v0.3.1 with Cluster API v1alpha4 support"
**Problem description**
In an effort to keep Airship current with the latest updates of its supporting components, upgrade the CAPG (Cluster-API for GCP provider) to v0.3.1 with Cluster API v1alpha4 support. The current GCP Provider is v0.3.0.

CAPG github repo can be found here: https://github.com/kubernetes-sigs/cluster-api-provider-gcp

**Proposed change**
- Upgrade CAPG version to v0.3.1 with

[2021-07-13 11:49] eak13 opened #612 "Upgrade CAPO with Cluster API v1alpha4 support"
**Problem description**
In an effort to keep Airship current with the latest updates of its supporting components, upgrade the CAPO (Cluster-API for OpenStack provider) the version with Cluster API v1alpha4 support when it is available. The current OpenStack Provider is v0.3.4.

CAPG github repo can be found here: https://github.com/kubernetes-sigs/cluster-api-provider-openstack

**Proposed change

[2021-07-13 13:33] eratnch commented on #611
I can take this one.

[2021-07-13 14:19] SirishaGopigiri commented on #609
Please assign it to me, as I am working on upgrade #518 so I will look at this as well.

[2021-07-13 16:26] gtsteffaniak commented on #510
@mattmceuen  https://review.opendev.org/c/airship/treasuremap/+/800067 is waiting on feedback and reviews.

[2021-07-13 17:33] drewwalters96 opened #613 "Ironic provisioning fails during write_image step"
**Describe the bug**
In airshipctl master, Ironic provisioning intermittently fails when writing the controlplane QCOW image. This happens in Jenkins and Zuul CI.

From the Ironic logs:

[code]

[2021-07-13 18:04] seaneagan commented on #576
@vetbijaya i guess airshipbot is not working, here is the patchset i have for this: https://review.opendev.org/c/airship/airshipctl/+/795702

[2021-07-13 18:05] lb4368 opened #614 "Spike: Metal3.io Support for BIOS/Firmware Updates and RAID Configuration Changes"
**Problem description**
Need to understand how much Metal3.io supports today for BIOS & Firmware upgrades and RAID configuration changes.

**Proposed change**

- Identify current support in Metal3.io for managing BIOS/Firmware upgrades and RAID configuration changes for an existing cluster
- Prepare recommendations for updates in Metal3.io community for support of these upgrades

[2021-07-13 18:18] vetbijaya commented on #576
@seaneagan, seems like that,  thank you for checking.

[2021-07-13 18:29] lb4368 opened #615 "Spike: Validate Node Label changes can be made through Metal3 BMH"
**Proposed change**
The PR (https://github.com/metal3-io/cluster-api-provider-metal3/pull/152) in CAPM3 allows for configuration of labels to be synced between BMH resources and K8s nodes and is included in CAPM3 version 0.4.2.  Would like to confirm this capability in Airship to make node label changes via BMH.

[2021-07-14 04:06] aodinokov commented on #601
@ak3216 , right... I've rebased 794269 on top of 793701 (made a separate PR: https://review.opendev.org/c/airship/airshipctl/+/800722 - it's in WIP, but looks like at least airshipctl can be compiled with new dependencies including kustomize)