[2021-07-14 13:51] jgu17 commented on #554
upgrade bmo and ironic is working to the extent that capm3 is throwing an error about node01 not found when updating the baremetal. I suspect it could a version mismtach issue. so I am going to update capm3 version to the same subminor version as the bmo and ironic. @SirishaGopigiri I want to double check with you if you already have an y work in progress in capm3 version upgrade?

[2021-07-14 14:00] SirishaGopigiri commented on #554
@jgu17 the [intention](https://github.com/airshipit/airshipctl/issues/518#issuecomment-876495856) is to use capm3 0.5.0 version, but I think it is still not out. So I haven't started anything yet.

[2021-07-14 14:07] jezogwza commented on #614
Some related issues

- https://github.com/metal3-io/baremetal-operator/issues/206

- https://github.com/metal3-io/baremetal-operator/pull/292

[2021-07-14 14:35] jezogwza commented on #596
We. can close this, it appears to be. related to the subclusters LB for k8s api.

[2021-07-14 14:35] #596 closed

[2021-07-14 14:35] Arvinderpal commented on #554
@jgu17 Can you paste the exact error in capm3? Make sure that capm3 and bmo are installed in the same namespace - for exampl: `capm3-system`

[2021-07-14 14:37] raliev12 commented on #595
https://review.opendev.org/c/airship/airshipctl/+/798391

[2021-07-14 15:02] seaneagan commented on #607
Patchset merged

[2021-07-14 15:02] #607 closed

[2021-07-14 16:24] jgu17 commented on #554
@Arvinderpal here the error message from the capm3 pod: I0714 06:16:01.350175       1 metal3cluster_controller.go:108] Metal3Cluster-controller "msg"="Reconciling metal3Cluster" "cluster"="tget-cluster" "metal3-cluster"={"Namespace":"target-infra","Name":"target-cluster"}
I0714 06:16:01.350717       1 metal3machine_manager.go:721] controllers/Metal3Machine/Metal3Machine-controller "msg"="Annotated

[2021-07-14 16:30] drewwalters96 commented on #615
Since I am implementing airshipit/treasuremap#186 with this one, I can also verify that the new controller syncs the labels when the BMHs are updated

[2021-07-14 16:59] vetbijaya commented on #612
Can someone assign this to me? Thanks

[2021-07-14 18:01] Arvinderpal commented on #554
What is `{"Namespace":"tart-infra",` ? Is that a typo?

All the resources should be in the same namespace. For example, M3M and BMH should be in the same namespace (e.g. `metal3`). Can you `kubectl get` on those two and see if they are in the same namespace?

[2021-07-14 19:54] jgu17 commented on #554
tart-infra must have been a copy and paste error when I pasted the logs here.  The namespaces for the capm3 and bmo/ironic are actually different even before this upgrade effort. here is the kubectl output for the capm3 pods and bom/ironic pods (same namespace names before and after the bmo version upgrade):
capm3-system                        capm3-controller-manager-6d8c546c5-86lhd

[2021-07-14 20:27] Arvinderpal commented on #554
Ok. The second part of my question was where do the M3M and BMH resources reside? The error you pasted says that the capm3 could not find the BMH in `target-infra/node01`. Do you see node01 in target-infra?
Also it might just be easier to jump on a call to debug this further.

[2021-07-15 14:57] aodinokov commented on #601
https://review.opendev.org/c/airship/airshipctl/+/800722 is on top of 793701. it's complete and green. need to merge 793701, and rebase it and merge

[2021-07-15 15:27] ak3216 commented on #589
Discussion of approach from 7/15 design call:
- Follow the release notes to identify any potential changes, incorporate in the uplift - https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md
- Update common versions yaml to v1.21.2 - https://github.com/airshipit/airshipctl/blob/master/manifests/function/airshipctl-base-catalogues/versions-airshipctl.yaml
- Run validate do

[2021-07-15 19:06] michael-beaver commented on #430
Please assign this one to me.

[2021-07-15 20:05] matthew-fuller commented on #598
https://review.opendev.org/c/airship/airshipctl/+/800827

[2021-07-15 20:44] matthew-fuller commented on #598
I've been able to successfully update individual packages after converting Kptfiles to the new format, such as `manifests/function/flux/base/upstream/policies`, but the new v1.0-beta doesn't seem to support the notion of a local top-level package that lists dependent upstream packages, so there's no easy way to update everything at once. It requires running something like `kpt pkg update upstream/

[2021-07-15 22:10] #481 closed

[2021-07-16 17:23] #590 closed

[2021-07-16 21:00] lb4368 opened #616 "Implement `remoteRef` Configuration Option for Use in Document Pull"
**Problem description**
For development/debugging purposes it would be useful to be able to specify to check out a gerrit patchset as part of an 'airshipctl document pull' configuration.  There is a `remoteRef` attribute available in the repository checkout section of the airship configuration file that is intended to allow specification of a git reference to be checked out as part of the document

[2021-07-19 13:25] manojkva commented on #616
Please assign this to me. Thanks

[2021-07-20 17:31] gtsteffaniak commented on #521
please assign to me

[2021-07-20 19:34] seaneagan opened #617 "Drive workload node selection via workload-specific node labels?"
**Problem description (if applicable)**

In Airship 1 we were driving node selection via workload-specific labels applied to nodes, so that nodeSelectors rarely needed to be changed:
https://github.com/airshipit/treasuremap/blob/v1.9/global/profiles/host/cp.yaml#L57-L116
https://github.com/airshipit/treasuremap/blob/v1.9/global/profiles/host/dp.yaml#L57-L64

**Proposed change**

Is that the same a

[2021-07-20 19:35] drewwalters96 commented on #617
Transferred to airshipctl, as this feature will be included in the BaremetalHost generator function.

[2021-07-21 21:57] #561 closed

[2021-07-22 11:46] patilsuraj767 opened #618 "Error while running airshipctl cluster get-kubeconfig."
In Airshipctl and Cluster API Docker Integration while running the command `airshipctl cluster get-kubeconfig`  gives below error.

[code]

**Steps To Reproduce**
After creating the target cluster (phase controlplane-ephemeral) run the below command.
`# airshipctl cluster get-kubeconfig`

**Expected behavior**
Command should output kubeconfig details.

We are getting error because secret is gettin

[2021-07-22 11:47] patilsuraj767 commented on #618
Please assign this issue to me.

[2021-07-22 13:53] eratnch commented on #583
Please assign to me.

[2021-07-22 14:19] rkjain commented on #583
I will be pairing up with ratnopam on this. Please add me as well.

[2021-07-22 16:13] pallavgupta commented on #603
pls assign it to me.

[2021-07-23 14:33] manojkva commented on #616
Had a discussion with Ruslan Aliev and here are his comments
"that's a complicated issue, talks about supporting remoteRef were started 1.5 years ago and still there is no solution. there are limitations and complication in go-git module, there is need to deep dive into go-git api, gerrit refs and so on, I can't give any clues unfortunately, it requires a complete research, if it were easy this fu

[2021-07-23 18:25] #591 closed

[2021-07-25 18:45] vladiskuz commented on #544
Move cloud-init KRM to image-builder https://review.opendev.org/c/airship/image-builder/+/802046

[2021-07-26 17:44] eratnch commented on #583
Please assign size L.

[2021-07-26 20:12] DannyMassa commented on #570
@ak3216 Since priorities have changed, can I be absolved of this?

[2021-07-26 20:14] ak3216 commented on #570
Closing this issue as we'll be upgrading to v1.21 & taking a slightly different implementation approach outlined in #589

[2021-07-26 20:14] #570 closed

[2021-07-26 20:15] ak3216 commented on #569
Closing this issue as we'll be upgrading to v1.21 & taking a slightly different implementation approach outlined in #589

[2021-07-26 20:15] #569 closed

[2021-07-26 20:15] ak3216 commented on #571
Closing this issue as we'll be upgrading to v1.21 & taking a slightly different implementation approach outlined in #589

[2021-07-26 20:15] #571 closed

[2021-07-26 20:16] ak3216 commented on #555
Closing this issue as we'll be upgrading to v1.21 & taking a slightly different implementation approach outlined in #589

[2021-07-26 20:16] #555 closed

[2021-07-26 20:17] ak3216 commented on #556
@rkjain we've taken this one as far as it needs for now, correct? We got the CNCF compliance via v1.19 upgrade. If that's the case, thinking we can go ahead & close this one & use #589 to track the v1.21 k8s upgrade. Please let me know if you feel different. Thanks.

[2021-07-27 00:04] rkjain commented on #556
@ak3216 Yes. I agree. We can close this and use #589 to track the v1.21 k8s upgrade

[2021-07-27 11:39] ak3216 commented on #556
Closing as the purpose of this issue has been met & will track the v1.21 k8s upgrade via #589

[2021-07-27 11:39] #556 closed

[2021-07-27 17:23] eratnch commented on #611
Please assign size L. Thanks.

[2021-07-27 17:46] diwrajchitoor commented on #589
Can someone assign this to me

[2021-07-28 16:26] pallavgupta commented on #618
@patilsuraj767 once target cluster is up and running, do you have any purpose to re-run phase "controlplane-ephemeral" again? could you pls explain how did you deploy target-cluster?

[2021-07-28 22:09] #568 closed

[2021-07-29 20:00] aodinokov commented on #601
done in https://review.opendev.org/c/airship/airshipctl/+/800722 . We have kustomize 4.2.0 now. Can be closed.

[2021-07-30 22:20] #566 closed

[2021-08-02 07:13] patilsuraj767 commented on #618
@pallavgupta I am following the steps mentioned in the below document.
[https://docs.airshipit.org/airshipctl/providers/cluster_api_docker.html](https://docs.airshipit.org/airshipctl/providers/cluster_api_docker.html)

[2021-08-02 15:37] aaronsheffield commented on #601
Closing based on the above merge.

[2021-08-02 15:37] #601 closed

[2021-08-02 15:40] aodinokov commented on #586
I can work on it

[2021-08-03 13:32] ermurugesanbe opened #619 "airshipctl v2.0 and below version build failing"
**Describe the bug**
When try to build airshipctl v2.0 then ./tools/deployment/21_systemwide_executable.sh step getting failed with below error

/root/go/pkg/mod/sigs.k8s.io/kustomize/kyaml@v0.11.0/filesys/fsondisk.go:105:21: undefined: os.ReadDir
note: module requires Go 1.16
...
The command '/bin/sh -c /usr/local/go/bin/go build -v -o /usr/local/bin/config-function ./' returned a non-zero code:

[2021-08-03 13:34] ermurugesanbe commented on #619
Please assign to me

[2021-08-03 14:09] ermurugesanbe commented on #619
https://review.opendev.org/c/airship/airshipctl/+/803345

[2021-08-03 15:50] vs422h commented on #439
Please assign this issue to me. Thank you.

[2021-08-04 11:04] SaurabhArora86 commented on #608
I can work on it, please assign it to me.

[2021-08-04 11:33] sanjib-35 commented on #614
Please assign it to me

[2021-08-05 14:05] SaurabhArora86 commented on #608
@ak3216 What are we thinking for the outcome of this Issue. Hackmd link or some kind of document

[2021-08-05 14:57] ak3216 commented on #608
@SaurabhArora86 that would be great, or you can just update in the comments here. Would also ask that you add a topic to the design call agenda so we can review with the broader team.

[2021-08-09 11:27] ak3216 commented on #475
Closing per code merge

[2021-08-09 11:27] #475 closed

[2021-08-09 13:07] ermurugesanbe commented on #619
The related PS has been merged and closing the issue.

[2021-08-09 13:07] #619 closed

[2021-08-10 22:09] #616 closed

[2021-08-13 23:04] #478 closed

[2021-08-16 07:42] patilsuraj767 commented on #606
Please assign this issue to me.

[2021-08-16 11:34] SaurabhArora86 commented on #608
[coreDNS.docx](https://github.com/airshipit/airshipctl/files/6992004/coreDNS.docx)
This is a WIP copy

[2021-08-16 16:28] joshuaherrera commented on #464
It looks like @kozhukalov may be working on something else at the moment, I can take this issue on as I currently have capacity.

[2021-08-16 16:28] joshuaherrera commented on #465
It looks like @kozhukalov may be working on something else at the moment, I can take this issue on as I currently have capacity.

[2021-08-17 15:20] drewwalters96 opened #620 "Empty ReplacementTransformer source value causes panic"
**Describe the bug**
Operators can specify a string source value in the `ReplacementTransformer` rather than a path. For example:

[code]

When this source value is an empty string, airshipctl panics:
[code]

[code]

**Steps To Reproduce**
Use an empty string as a source in a `ReplacementTransformer`.

**Expected behavior**
Should be able to use an empty string as a replacement source without airs

[2021-08-17 15:43] eak13 commented on #560
Assigned to @SirishaGopigiri - can you please comment here so I can update the assignee upstream?

[2021-08-17 15:48] SirishaGopigiri commented on #560
Please assign this to me

[2021-08-17 15:54] eak13 commented on #558
@SirishaGopigiri can you please also comment here so I can update assignment? Thanks!

[2021-08-17 16:04] SirishaGopigiri commented on #558
Please assign this to me, thank you!

[2021-08-17 17:20] gtsteffaniak commented on #620
assign to me

[2021-08-17 20:04] PratikDhanave commented on #519
@eak13 @kathirigayathri48 Please assign to me. I like to work on it.

[2021-08-17 20:04] Arvinderpal commented on #433
Update:
With v0.4.0, the `rollout` command is part of clusterctl. There are a couple of sub-commands, namely `status` and `history` that still need to be implemented. They are dependent https://github.com/kubernetes-sigs/cluster-api/issues/3486 which I'm also working on. Progress has been slow due to a lack of reviewers within the CAPI community.

Also, in airship, we have recently switched to usi

[2021-08-17 21:18] eak13 commented on #377
Closing per above.

[2021-08-17 21:18] #377 closed

[2021-08-18 22:50] #595 closed

[2021-08-23 21:07] joshuaherrera commented on #465
@teoyaomiqui @kozhukalov I have some patch sets out there for this issue, would it be possible if either of you could review and tell me if I am on the right path? It seems like we just want to remove the testdata directories and replace with mock variables where possible, but I just want to make sure I don't miss anything.

https://review.opendev.org/c/airship/airshipctl/+/804928
https://review.o

[2021-08-25 12:35] lb4368 commented on #613
Issue is no longer occurring.

[2021-08-25 12:35] #613 closed

[2021-08-25 14:11] mattmceuen commented on #30
Unassigning for now as this is low priority

[2021-08-25 14:12] mattmceuen commented on #521
@gtsteffaniak how is this one going, can you provide a status update?

[2021-08-25 14:22] mattmceuen commented on #3
For the Label part of this, it should be covered by the recently added M3 (0.4.2) support for label management, I believe.  There is a spike story out there to verify this: #615

For for the Taint part, I'm not sure that it's priority; this would be a nice feature but I'm not sure whether we have an immediate use case for it.

[2021-08-25 14:27] mattmceuen commented on #404
I lost track of this.  The work needed for this is to adjust the hostgenerator function template to *contitionally* set the ethernet_mac_address, only when the catalogue has a value defined for it, rather than blindly copying in the value from the catalogue (even when the value is missing).

[2021-08-25 14:29] sirajyasin commented on #404
@lb4368 , i can work on this issue. Can you please assign this to me

[2021-08-25 14:47] gtsteffaniak commented on #620
PS : https://review.opendev.org/c/airship/airshipctl/+/805085

[2021-08-27 13:35] eak13 opened #621 "Develop mechanism to apply a new image for Day 2 upgrades"
**Problem description**
As a follow on to the investigative work done in #603, #604, #605 & #606, develop a process to apply a new image to an existing node to allow for upgrading/patching containerd, Dell i40e drivers, OS/Kernel patches & Ubuntu.

There is a requirement for CAPI to be upgraded to v1alpaha4 & CAPM3 to be upgraded to v1alpha5 via issue #518

**Proposed change**
Reference: https://h

[2021-08-30 17:06] eak13 opened #622 "Day 2 Operations - Generate new QCOW bundle with upgrades"
*Problem description*
As a follow on to the investigative work done in #603, #604, #605 & #606, develop a process to apply a new image to an existing node to allow for upgrading/patching containerd, Dell i40e drivers, OS/Kernel patches & Ubuntu.

The new process is outlined in its entirety in issue #621 & here - https://hackmd.io/@Pallav/BkU2FuWZY.

*Proposed change*
This issue will address the fi

[2021-08-30 19:08] ian-howell opened #623 "AIAP: Utilize `document pull` command for arbitrary refspecs"
**Problem description (if applicable)**
We would like to be able to use AIAP with manifests other than the current upstream master gating site. As of https://github.com/airshipit/airshipctl/commit/cb080a20664196e61b0586b7ef7ecdb3a1090c88, We now have the ability to specify an arbitrary refspec for the `document pull` command. I would like to be able to use that feature in AIAP so that I could test

[2021-08-30 19:20] raliev12 opened #624 "Add possibility to wait for certain state when applying particular resources"
**Problem description (if applicable)**
There are some resources (like `BareMetalHost`) which by default considered in current state right after applying, however we have to implement separated bash logic in different phases to wait them for appropriate state (like `provisioned`). It causes inconveniences and delays in deploy process, but custom wait logic could be implemented and generalized in a

[2021-08-30 19:21] raliev12 commented on #624
Please assign this one to me. There is a WIP related PS: https://review.opendev.org/c/airship/airshipctl/+/804472

[2021-08-31 16:18] ian-howell opened #625 "AIAP: Investigate what causes the `tty` setting to be required for some deployments"
Dependent upon the environment in which AIAP is deployed to, the `infra-builder` container will occasionally fail when trying to create libvirt objects with the following error message:

[code]

This error can be bypassed by setting the `tty` flag of the `libvirt` container to `true`, as seen here: https://github.com/airshipit/airshipctl/blob/4750ab169cdb76fd5d5fc704e2b4ec87c03a745f/tools/airship-

[2021-09-01 08:04] #404 closed

[2021-09-01 16:21] SaurabhArora86 commented on #608
As per what was discussed in Design call, it is best to upgrade CoreDNS as a part of Kubernetes upgrade in CAPI rather than upgrading CoreDNS individually.

Majorly because:
1. CAPI has feature of handling Corefile upgrade along with CoreDNS rather than manually updating Corefile (in case of Only CoreDNS upgrade).

2. Updating only CoreDNS image in KCP spec, causes entire CAPI to reconcile and spi

[2021-09-02 12:36] shon-phand commented on #610
https://hackmd.io/UT9IKTDLR2u3P06axwuSvA?view

[2021-09-02 14:42] SirishaGopigiri commented on #560
The gcr.io/kubebuilder/kube-rbac-proxy:v0.8.0 image is passing clair scans and the capi, capm3 manifests are updated to use this image as part of uplift PS. #518
However the HWCC is still using an older version of kube-rbac-proxy, we need to check on that.

[2021-09-02 14:45] SirishaGopigiri commented on #558
The quay.io/metal3-io/baremetal-operator:capm3-v0.5.0 image is passing the clair scan and the manifests are updated to use it as part of capi and capm3 uplift #518
Other images are still failing with vulnerability issues, needs to be fixed from upstream metal3 community.

[2021-09-02 15:21] ian-howell opened #626 "AIAP: Cause AIAP to fail faster"
**Problem description (if applicable)**
Currently, when a container within AIAP runs into an error, it continues to silently run, without actually doing anything (via tail-ing /dev/null). This creates a problem when watching for failures in a deployment (e.g. gating), since there's no way to know whether the deployment has failed or not without operator intervention.

**Proposed change**
I would l

[2021-09-02 17:38] ian-howell opened #627 "AIAP: Allow access to manifests in private repos"
**Problem description (if applicable)**
AIAP currently can only pull manifests from public repos.

**Proposed change**
I would like to be able to pull my manifests from a private repo. This will require a mechanism to specify the type of authentication I want to use (e.g. ssh vs basic auth) as well as the credentials for that auth type (e.g. ssh key paths, usernames, password, etc.)

[2021-09-02 19:11] aodinokov commented on #586
I've demonstrated the approach on the design call. now this PR is ready for review: https://review.opendev.org/c/airship/airshipctl/+/806992

[2021-09-02 19:14] wahlstedtw commented on #622
I am currently working on this.

[2021-09-03 09:09] PratikDhanave commented on #519
patch set created

[2021-09-03 10:11] PratikDhanave commented on #339
@eak13 please assign this to me.

[2021-09-03 12:03] PratikDhanave commented on #359
@eak13 please assign to me.

[2021-09-03 17:35] ian-howell opened #628 "AIAP: Parameterize the base image for containers"
**Problem description (if applicable)**
The base image for the AIAP containers is currently hard-coded to quay.io/airshipit/aiap-base:latest. This makes using a downstream container registry difficult.

**Proposed change**
Parameterize the location of the base image for the required containers.

[2021-09-03 18:21] #603 closed

[2021-09-03 18:48] ian-howell opened #629 "AIAP: Switch to a readiness probe for the docker and libvirt containers"
**Problem description (if applicable)**
The `artifact-setup` and `infra-builder` containers are using a naive approach of simply sleeping for 30 seconds, with the expectation that the libvirt and docker services will become available in that time before they begin execution:
* https://github.com/airshipit/airshipctl/blob/362cc4b88039deaba5b43ae3fdef091d3c067255/tools/airship-in-a-pod/artifact-setu

[2021-09-03 18:53] ian-howell commented on #629
After thinking about this for a minute, a readiness probe may not be the exact mechanism for this task. However, it would still be nice to have a more intelligent waiting mechanism than `sleep`

[2021-09-03 19:00] ian-howell opened #630 "Implement `airshipctl version`"
**Problem description (if applicable)**
`airshipctl version` currently reports that it is v0.1.0, no matter when or how the binary was created.

**Proposed change**
Borrow from a more mature project such as [helm](https://github.com/helm/helm/blob/main/Makefile#L34-L68) or [kustomize](https://github.com/kubernetes-sigs/kustomize/blob/2bfc7cc1b0bf0afb7b87594c8be48b6d17454923/api/provenance/provenan

[2021-09-03 22:01] #628 closed

[2021-09-07 16:31] lb4368 commented on #608
https://hackmd.io/iogRxOGfSZWu7ypHq-w9mw?view

[2021-09-07 16:54] lb4368 commented on #554
Closing this as upgrade is being handled via #518 and #558.

[2021-09-07 16:54] #554 closed

[2021-09-07 17:04] #627 closed

[2021-09-07 20:17] jgu17 commented on #540
(Merged) go-redfish repo patchset: https://review.opendev.org/c/airship/go-redfish/+/789847
(In review) airshipctl repo patchset: https://review.opendev.org/c/airship/airshipctl/+/803520, updates airshipctl remotedirect package to use the new api's from go-redfish

[2021-09-08 11:50] #608 closed

[2021-09-08 15:47] sureshl opened #631 "AIAP: Error changing power state at libvirt URI "qemu:///system""
Airship-In-a-Pod doesn't come up on an Azure VM (v3 - supports virtualization). Below is the error message observed in the runner container.

Runner container logs :  `kubectl  logs -f airship-in-a-pod -c runner`
.....
.....
Deploy gating
[airshipctl] 2021/09/08 14:58:29 opendev.org/airship/airshipctl/pkg/phase/client.go:295: executing phase: remotedirect-ephemeral
{"Message":"Starting remote oper

[2021-09-08 16:09] ian-howell commented on #631
Hey @sureshl, could you update with how k8s was deployed to the VM?

[2021-09-08 16:19] sureshl commented on #631
Installed minikube:
`curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
sudo install minikube-linux-amd64 /usr/local/bin/minikube`

Start minikube as root user:
`minikube start --driver=none`

[2021-09-08 16:27] #623 closed

[2021-09-08 16:35] #626 closed

[2021-09-08 19:58] ian-howell opened #632 "AIAP: Allow pulling a private airshipctl binary repo"
**Problem description (if applicable)**
We can pull airship manifests from a private repo, but that functionality doesn't currently exist for the binary repo itself.

**Proposed change**
Modify the `artifact-setup` container to implement authorization so that we can pull an airshipctl binary from a private repository

[2021-09-09 15:06] sirajyasin commented on #632
I can start working on this issue. Can someone assign this issue to me ?

[2021-09-09 15:14] sreejithpunnapuzha commented on #632
@sirajyasin all yours

[2021-09-09 15:15] sirajyasin commented on #629
I can start working on this issue.

[2021-09-09 15:17] sreejithpunnapuzha commented on #629
@sirajyasin all yours

[2021-09-09 20:14] joshuaherrera commented on #544
It looks like @vladiskuz may be working on something else currently, I can take on finishing this as I have capacity.

[2021-09-09 20:16] eak13 commented on #544
@joshuaherrera added you to this issue

[2021-09-10 13:07] vladiskuz commented on #544
@joshuaherrera
This issue is almost done. I need to change a minor comment here https://review.opendev.org/c/airship/airshipctl/+/792801
Also we have another patch set for container timeout https://review.opendev.org/c/airship/airshipctl/+/805619

[2021-09-10 16:27] joshuaherrera commented on #583
Hi, please assign this to me.

[2021-09-10 16:28] joshuaherrera commented on #544
@vladiskuz Since it is close to completion, I will unassign myself so you can finish this issue. Apologies.

[2021-09-13 15:32] ian-howell commented on #630
Here's what I was talking about with linker flags on the Flight Plan call: https://www.digitalocean.com/community/tutorials/using-ldflags-to-set-version-information-for-go-applications

[2021-09-13 16:12] patilsuraj767 commented on #602
Please assign this issue to me.

[2021-09-14 03:06] raliev12 opened #633 "Allow to specify poll interval for k8s apply phases"
**Problem description (if applicable)**
Currently it's not possible to specify poll interval - how often we should poll for the status of resources. By default, it's 2 seconds - it could create excessive load on k8s cluster and we should have a possibility to tune this interval (it's allowed in cli utils API).

**Proposed change**
Add `PollInterval`  property to k8s_applier executor.

**Potential

[2021-09-14 03:07] raliev12 commented on #633
Please assign this issue to me. Related PS is here - https://review.opendev.org/c/airship/airshipctl/+/808528

[2021-09-14 12:36] kozhukalov commented on #597
https://review.opendev.org/q/topic:%22krm_function_spec%22+(status:open%20OR%20status:merged)

[2021-09-14 14:21] eak13 opened #634 "Run Airship Certified Kubernetes conformance status against k8s v1.21"
Issue #589 is for upgrading k8s to v1.21. With it's delivery, we need to quickly follow on with certification for Kubernetes Conformance which is due by October 1, 2021. Airship has passed its certification tests against the v1.19 version of the tests but we need to resubmit with a newer version of k8s.

At a minimum, this issue is to use the Airship 2 docker instance of k8s at v1.21, to successfu

[2021-09-14 15:22] raliev12 opened #635 "Dockerhub pull rate limit error for golang images"
**Describe the bug**
Since we switched to golang images located in [Dockerhub ](https://hub.docker.com/_/golang) we can hit the pull rate limit error in our CI (if there are multiple jobs running simultaneously within short amount of time - [for instance this log](https://jenkins.nc.opensource.att.com/job/development/job/AirshipCtl/job/Airshipctl/1022/console)). We should switch to our own golang

[2021-09-14 15:30] joshuaherrera commented on #464
It seems airshipbot has not captured my patchset for this issue, so I am going to add itto this comment. I am still waiting for reviews as of 09/14/21.

Use helper mock with phase client tests - https://review.opendev.org/c/airship/airshipctl/+/807402

[2021-09-14 16:06] sanjib-35 commented on #614
https://hackmd.io/LuE4l1PrTSaUvnOJyfKSsQ?view/

[2021-09-14 19:53] gtsteff commented on #521
@lb4368 @mattmceuen I believe this one can be closed. After reviewing the design, we determined the use-case is pretty limited for this feature in contrast to the extensive change in code required. Since the replacements plugin function needs specific key items specified for each replacement operation, designing a global function would require rewriting most of the program. We also do not have man

[2021-09-14 21:22] eratnch commented on #634
Please assign this issue to me and Rishabh.

Also, below PS need to be merged for running CNCF tests successfully from zuul with CAPD and latest airshipctl.

`https://review.opendev.org/c/airship/airshipctl/+/795319`
`https://review.opendev.org/c/airship/airshipctl/+/795582`
`https://review.opendev.org/c/airship/airshipctl/+/782614`

Thanks.

[2021-09-14 21:57] raliev12 commented on #635
Proposed solution:
The images PS: https://review.opendev.org/c/airship/images/+/809006
The airshipctl PS: https://review.opendev.org/c/airship/airshipctl/+/809007

[2021-09-15 01:59] SirishaGopigiri commented on #609
Related hackmd.io https://hackmd.io/8OXbEcpQTY-P-aoRqFG_WA

[2021-09-15 11:33] eak13 commented on #609
Closing per above

[2021-09-15 11:33] #609 closed

[2021-09-15 21:26] ian-howell opened #636 "AIAP: Passwords and tokens are stored as plaintext"
**Describe the bug**
When providing a password or personal access token to AIAP, the value is used as an environment variable, meaning that it is easily accessible via a `kubectl describe` of the pod

**Steps To Reproduce**
Deploy an instance of AIAP with a specified password.

**Expected behavior**
Passwords should not be visibile

[2021-09-15 21:28] ian-howell opened #637 "AIAP: Support for ssh keys when pulling manifests from a private repository"
**Problem description (if applicable)**
AIAP does not currently have the capability of providing ssh keys for cloning documents from a private repository

**Proposed change**
Implement the functionality to use an ssh key.

[2021-09-15 23:45] #629 closed

[2021-09-16 15:47] eak13 opened #638 "Uplift K8s Docker provider to v1.21"
As part of the general k8s uplift outlined in #589, uplift the Docker provider to v1.21 as well.

[2021-09-16 15:48] eak13 commented on #638
From @rkjain: The patch set to uplift docker version to 1.21 is here - https://review.opendev.org/c/airship/airshipctl/+/795582
Please comment and I'll assign you. Thanks.

[2021-09-16 15:51] rkjain commented on #638
Hi, Please assign this to me. @eak13  Thank you

[2021-09-16 20:30] #575 closed

[2021-09-16 20:30] #635 closed

[2021-09-16 21:28] raliev12 commented on #633
Can be closed since PS https://review.opendev.org/c/airship/airshipctl/+/808528 was successfully merged.

[2021-09-16 21:44] eak13 commented on #633
Closing per merge

[2021-09-16 21:44] #633 closed

[2021-09-16 21:56] lb4368 opened #639 "Set containerd as default CRI for Ephemeral Cluster Node"
**Problem description**
Issue #456 set containerd as the CRI for the target cluster nodes, but this has not yet been configured for the ephemeral cluster.  Docker is deprecated as a CRI as of v1.20.

**Proposed change**
Configure containerd as the CRI for the ephemeral node as part of ephemeral cloud-init.

[2021-09-17 13:54] eratnch commented on #587
This issue can be closed. Fix for this issue has been merged.

[2021-09-17 13:55] eratnch commented on #580
This issue can be closed. Fix for this issue has been merged.

[2021-09-17 13:56] eratnch commented on #564
This issue can be closed. Fix for this issue is merged.

[2021-09-17 14:05] PratikDhanave commented on #359
work in progress https://review.opendev.org/c/airship/airshipctl/+/808750

[2021-09-17 14:07] PratikDhanave commented on #339
work in progress
references :
[1] - https://hackmd.io/PvDMCjAATzK9BOf2zFuniw

[2021-09-17 14:51] wahlstedtw commented on #639
I'll be working on this.

[2021-09-17 16:05] lb4368 commented on #510
Patchsets https://review.opendev.org/c/airship/treasuremap/+/800067 and https://review.opendev.org/c/airship/treasuremap/+/808807 merged

[2021-09-17 16:05] #510 closed

[2021-09-18 06:30] #567 closed

[2021-09-18 06:51] #586 closed

[2021-09-20 12:53] sirajyasin commented on #631
I can validated aiap in a azure VM and look into any deployment issue. Can someone assign this to me ?

[2021-09-20 13:58] manojkva opened #640 "Support for MAC address when VM count > 0 in AIAP"
Current AIAP implementation has support for multiple VMs for target/worker with an attribute "count". But this is not supported for corresponding new MAC addresses. The current implementation has mac address fixed for one target node/one worker node.

Change in the ansible playlist to handle MAC addresses as list should support this feature.

Possible implementation : https://review.opendev.org/c/

[2021-09-20 15:08] michael-beaver commented on #430
Current changes out to add KPT to more functions:

capo: https://review.opendev.org/c/airship/airshipctl/+/808526
capz: https://review.opendev.org/c/airship/airshipctl/+/808525
capi: https://review.opendev.org/c/airship/airshipctl/+/808524
capg: https://review.opendev.org/c/airship/airshipctl/+/808523
cacpk: https://review.opendev.org/c/airship/airshipctl/+/808522
cabpk: https://review.opendev.org

[2021-09-21 14:23] sirajyasin commented on #632
PS https://review.opendev.org/c/airship/airshipctl/+/809290 in review

[2021-09-21 14:39] sirajyasin commented on #592
PS https://review.opendev.org/c/airship/airshipctl/+/810265
Validation steps:
 1) ./airshipctl phase render initinfra-target > initinfra-target.yaml
 2) rm manifests/site/test-site/target/initinfra/patch_bmo_config.yaml
 3) ./airshipctl phase render initinfra-target > initinfra-target_without_bmo_patch.yaml

4) Check Diff of rendered files before and after deleting patch_bmo_config.yaml

	airship@

[2021-09-21 15:21] sshiba commented on #621
@eak13 , I have self-assigned https://itrack.web.att.com/browse/CPVYGR-687, which references this issue. Also notices that you and Larry will cover this subject in the design call scheduled for 09/23.

Should I leave CPVYGR-687 alone and focus on something else until your design topic is covered?

[2021-09-21 17:14] sreejithpunnapuzha commented on #630
Commit https://review.opendev.org/c/airship/airshipctl/+/810128 Pushed with the changes.

[2021-09-21 18:35] sreejithpunnapuzha commented on #630
Commit https://review.opendev.org/c/airship/airshipctl/+/810128 is merged. hence closing this issue.

[2021-09-21 18:35] #630 closed

[2021-09-21 21:33] #592 closed

[2021-09-21 21:51] lb4368 opened #641 "First Target Node BMH Image HREF Should Not Reference Ephemeral Host"
**Problem description**
During initial deployment of a target cluster, the first control plane node is provisioned from the ephemeral cluster.  Therefore, the BMH resource for this node references an image href endpoint on the ephemeral host.  Since the ephemeral host is removed, this causes issues in certain scenarios like a Day 2 BMO upgrade (#610) when the BMH resources are validated causing th

[2021-09-22 16:05] joshuaherrera commented on #583
related PS https://review.opendev.org/c/airship/airshipctl/+/810129

[2021-09-22 17:17] lb4368 opened #642 "Docker Provider - Force to Use Quay.io Clusterctl image"
**Problem description (if applicable)**
In order to fix issue when uplifting to CAPI v0.4.2 (#518), we need the Docker provider to use the krm supporting clusterctl: 0.3.22 version instead of latest.  The reason is when uplifting to CAPI v0.4.2, the clusterctl krm image is build using clusterctl:0.4.2 binary, which may be causing Zuul to fail during docker provider test.

**Proposed change**
The p

[2021-09-22 17:42] shon-phand commented on #642
I can work on this, please assign it to me

[2021-09-23 13:26] sirajyasin commented on #636
This PS (https://review.opendev.org/c/airship/airshipctl/+/809290) will address this issue.

[2021-09-23 13:58] manojkva commented on #640
I already have  PS for this. Could this be assigned to me. Thanks

[2021-09-23 19:57] ian-howell opened #643 "`airshicptl` claims to support ssh username/password authentication, but it does not"
**Describe the bug**
The `airshipctl` config file indicates that it can pull documents via ssh using only a username and password, but [go-git](https://github.com/go-git/go-git) does not support that functionality.

**Steps To Reproduce**
Create a config file which specifies `ssh-pass` as the auth type, as in the following:

[code]

run `airshipctl document pull -n --debug`

**Expected behavior**

[2021-09-24 13:10] SaurabhArora86 commented on #614
Hackmd link updated as per design discussion outcomes, this story can be closed now.

[https://hackmd.io/LuE4l1PrTSaUvnOJyfKSsQ?view/](url)

[2021-09-24 13:54] shon-phand commented on #642
https://review.opendev.org/c/airship/airshipctl/+/810728

[2021-09-24 20:55] #614 closed

[2021-09-24 21:55] ian-howell commented on #643
Closing as invalid

I encountered this issue when attempting to clone from GitHub, which does not support password authentication over ssh.

Additionally, when attempting to clone from GH via ssh keys, it's important to note that the username must be "git". Not sure if this is common knowledge or not, so I don't think we should update documentation, but it was new to me.

[2021-09-24 21:55] #643 closed

[2021-09-27 14:38] lb4368 opened #644 "Fix Broken Links in Airshipctl Docs"
**Describe the bug**
The docs broken link finder has identified the following broken links in airshipctl documentation.  Review and update documentation as needed to resolve.

airshipctl\CONTRIBUTING.md
FAIL: https://doc.airshipit.org/airshipctl/developers.html
airshipctl\docs\source\phases.rst
FAIL: https://godoc.org/opendev.org/airship/airshipctl/pkg/clusterctl/client#ClusterctlExecutor
FAIL: ht

[2021-09-27 15:04] sirajyasin commented on #631
Tried to deploy aiap on a Azure VM and could not recreate the same issue. We had few other issues due to recent changes, but then the deployment proceeded past this stage. We will try to redeploy and update the status here.

[2021-09-27 15:21] vetbijaya commented on #644
I can work on this one. I already started working to fix for Openstack provider: https://review.opendev.org/c/airship/airshipctl/+/810452

[2021-09-27 16:26] lb4368 commented on #610
Spike result documented at https://hackmd.io/UT9IKTDLR2u3P06axwuSvA?view

Closing this.

[2021-09-27 16:26] #610 closed

[2021-09-27 16:33] #640 closed

[2021-09-27 16:51] joshuaherrera commented on #583
related PS: https://review.opendev.org/c/airship/airshipctl/+/810957

[2021-09-27 20:32] joshuaherrera commented on #641
Hi, I can take this issue.

[2021-09-27 21:57] eak13 opened #645 "AiaP - Develop a method to support caching on a remote node"
**Proposed change**
Airship in a Pod provides the ability for users to cache items like binaries, ISO images, manifests, etc. This allows users to skip time consuming steps like having to build the image each time AiaP is run.

The current mechanism only supports caching within the current node where AiaP is running. AiaP needs the ability to support caching outside of the local node so cached fil

[2021-09-28 20:43] sirajyasin commented on #636
The related PS https://review.opendev.org/c/airship/airshipctl/+/809290 is merged. This issue can be marked completed

[2021-09-28 21:04] sirajyasin commented on #632
The related PS https://review.opendev.org/c/airship/airshipctl/+/809290 is merged. This issue can be marked completed

[2021-09-28 21:53] Arvinderpal commented on #621
On the topic of control-plane node upgrades, KCP recently added support for scale-in upgrades -- basically to handle the situation where there is no standby node available.

This is not documented to well. For example, [CAPI Book](https://cluster-api.sigs.k8s.io/tasks/upgrading-clusters.html) does not mention this. However, as noted in this [design doc on KCP](https://github.com/kubernetes-sigs/cl

[2021-09-29 12:19] vetbijaya commented on #612
Related patchset: https://review.opendev.org/c/airship/airshipctl/+/802924

[2021-09-29 12:29] eak13 commented on #632
Closing per code merge

[2021-09-29 12:29] #632 closed

[2021-09-29 12:33] eak13 commented on #636
Closing per above.

[2021-09-29 12:33] #636 closed

[2021-09-29 14:07] raliev12 opened #646 "Use KRM based k8s applier"
**Problem description (if applicable)**
Currently, k8s applier code is a part of airshipctl core functionality. However, this implementation is bulky, contains a lot of useless abstractions and imposes on us many restrictions and inconveniences. Among them:
1. dependencies in airshipctl core functionality
2. impossible to use or choose different backends for apply
3. no appropriate log integration

[2021-09-29 15:40] raliev12 commented on #646
This one can be assigned to me.

[2021-09-29 17:51] drewwalters96 opened #647 "Update Docker Provider to CAPI v0.4.2 and the lastest clusterctl image"
**Problem description (if applicable)**
Since #642, the Docker provider uses an older clusterctl image and CAPI version. The Docker provider should be updated as soon as possible to match CAPI v0.4.2 when https://review.opendev.org/c/airship/airshipctl/+/802025 merges.

[2021-09-29 18:41] mf4716 commented on #644
Thanks @vetbijaya (Bijaya) for picking this one up.

[2021-09-29 20:15] vetbijaya commented on #644
Looks like Airshipbot isn't working properly. Related PS: https://review.opendev.org/c/airship/airshipctl/+/811218

[2021-09-29 20:31] mattmceuen commented on #558
I left a note in PS 804834, but bringing it up here so it doesn't get lost:  I think we need to build an update ironic-python-agent (ipa) image, to match the version of ironic that we're updating to.  However the patchset appears to also be adding an additional image for the same thing, so I think we need to sort out 1) why did we build that image ourselves, 2) do we want to keep building it, 3) i

[2021-09-30 00:11] #642 closed

[2021-09-30 14:00] patilsuraj767 opened #648 "build-gate playbook does not evaluate MACs and bootMode properly."
**Describe the bug**
In airship-airshipctl-build-gate.yml - [here](https://github.com/airshipit/airshipctl/blob/26e9b0dafb1a494dec80b522469ca049996c3b2c/playbooks/airship-airshipctl-build-gate.yaml#L71) we only consider hosts in `ephemeral/controlplane` and **not** from `target/controlplane`.
Also, `get-vm-config.yaml` will fail at this point - [here](https://github.com/airshipit/airshipctl/blob/2

[2021-09-30 14:01] patilsuraj767 commented on #648
Please assign this issue to me.

[2021-09-30 20:30] #624 closed

[2021-10-01 06:07] raliev12 opened #649 "validate_docs script should not substitute $SITE env variable"
**Describe the bug**
`./tools/validate_docs` script is used to validate multiple sites against kubeval KRM validator. We also use black list of sites that we don't want to validate as well as substituted $SITE variable to point which particular site we want to validate. These two approaches can't live simultaneously since we have to choose either from list of sites that don't want to validate or s

[2021-10-01 16:42] aaronsheffield commented on #519
https://review.opendev.org/c/airship/airshipctl/+/807847

[2021-10-01 23:59] #649 closed

[2021-10-04 14:32] ian-howell commented on #519
I'm not sure this issue is valid.

Why are we supposing that `completion` isn't a TYPE of command?

[2021-10-04 18:26] lb4368 opened #650 "Support multiple versions of clusterctl"
**Problem description (if applicable)**
In order to support multiple CAPI providers (capm3, capz, capo, etc) and their associated release schedules, airshipctl needs to support multiple versions of CAPI concurrently.  The current **clusterctl** KRM function only supports a single clusterctl CLI version.

**Proposed change**

- Provide support within airshipctl for multiple versions of clusterctl
-

[2021-10-04 20:31] shon-phand commented on #650
Please assign this to me, I am working on it.

[2021-10-04 21:17] #644 closed

[2021-10-05 00:05] #620 closed

[2021-10-05 16:59] rkjain commented on #638
The patch set https://review.opendev.org/c/airship/airshipctl/+/81078, includes changes to update k8s version from 1.18.6 to 1.21.2. As a result I have abandoned the patch set https://review.opendev.org/c/airship/airshipctl/+/795582 I had shared earlier.

[2021-10-05 17:04] rkjain commented on #647
Please assign this to me

[2021-10-05 17:14] rkjain commented on #647
I see snehal has already created a patchset for this issue. https://review.opendev.org/c/airship/airshipctl/+/811714
She can comment here, and get it assigned to her

[2021-10-06 14:16] mattmceuen commented on #650
There have been discussions around keeping the latest versions as simply "clusterctl", and only using version numbers for exception cases, when a CAPI provider needs to use an old version.  Just want to make sure, @raliev12 are you and Alexey aligned to this?

[2021-10-06 14:44] ian-howell opened #651 "AIAP: Document the requirements for the infrastructure builder image"
**Problem description (if applicable)**
Airship-in-a-Pod uses the [`infra-builder`](https://quay.io/repository/airshipit/aiap-infra-builder) container, which sets up 3 VMs (one used as the ephemeral node, one as a control plane node, and one as a worker node). While this works great for basic testing, we would like to be able to specify different architectures for different needs (e.g. 3 control p

[2021-10-06 14:47] ian-howell opened #652 "AIAP: Create a multi-node `infra-builder` image"
**Problem description (if applicable)**
The default `infra-builder` image in AIAP uses 1 control plane node and 1 worker node. We would like to have an additional image which creates 3 control planes and 2 workers.

This issue will likely go hand-in-hand with #648 and #651

[2021-10-06 15:06] aodinokov commented on #650
@mattmceuen yes, we're aligned.. the patchset from Ruslan makes it work that way

[2021-10-06 16:20] patilsuraj767 commented on #648
I have patch-set ready for this. - [https://review.opendev.org/c/airship/airshipctl/+/812100](https://review.opendev.org/c/airship/airshipctl/+/812100)

[2021-10-06 18:35] sshiba commented on #615
Review of hackmd.io document added to the [Design Review of Oct 19th](https://hackmd.io/QiEksO4fRk-MnBjwBFaAkQ?both#Spike-Validate-Node-Label-changes-can-be-made-through-Metal3-BMH-Sidney-S).

[2021-10-07 19:02] drewwalters96 opened #653 "AIAP: Using the `.git` suffix on repository names causes runner pod failure"
**Describe the bug**
Sometimes the `.git` suffix is included in repository URLs, e.g. `https://github.com/airshipit/airshipctl.git`. Because AIAP parses the end of the repository URL when creating directories, the .`git` suffix can incidentally be included in some but not all directory paths.

[code]

**Steps To Reproduce**
Change the airshipctl manifest repo url to `https://github.com/airshipit/a

[2021-10-09 05:54] dinesh14nish commented on #598
Matthew, Are you working on this? if not can you please assign it me so i can take it forward from here.

[2021-10-10 18:57] eak13 commented on #634
@eratnch we're good to close this, correct?

[2021-10-10 18:59] eak13 commented on #557
Closing per above

[2021-10-10 18:59] #557 closed

[2021-10-11 00:24] eratnch commented on #634
Thank @eak13 ; yes we can close this one as the CNCF tests passed on CAPD with 1.21.2 k8s version.
If we need to run tests for bare-metal specifically in future, we can create a new issue to track that.

[2021-10-12 14:34] eak13 commented on #622
Here is the patchset that was merged. https://review.opendev.org/c/airship/image-builder/+/807192. Closing this issue.

[2021-10-13 05:51] jgu17 opened #654 "AIAP: support non test GPG keys"
**Problem description (if applicable)**

AIAP can only deploy using the Mozilla SOPS gpg key for testing purpose.

**Proposed change**
Add support in AIAP to use a production gpg key for secret encryption and decryption.

**Potential impacts**
Potential security or performance related impacts.

[2021-10-14 13:37] #518 closed

[2021-10-17 11:30] manojkva opened #655 "Provide Calico CNI IPv4/v6/Dual Stack Support in Airshipctl"
The calico Installation CR for tigera-operator currently supports only IPv4.

Propose to move the current Issue in Treasuremap (https://github.com/airshipit/treasuremap/issues/22) to airshipctl as it will provide flexibility to override the calico IPv4/v6 or Dual stack at site level.

Working demo : https://review.opendev.org/c/airship/airshipctl/+/810449
I have used AIAP with a private IPv6 netwo

[2021-10-17 11:35] manojkva opened #656 "AIAP : Support for DualStack IPv6"
The current AIAP is restricted for use with IPv4 network only. Propose to enable it for use with dualstack.

The changes are very minimal vis a vis AIAP. But when dualstack support is implemented in airshipctl (https://github.com/airshipit/airshipctl/issues/655), it will turn AIAP to become a very useful testing tool.

Working demo : https://review.opendev.org/c/airship/airshipctl/+/810449

I have

[2021-10-18 15:32] sirajyasin commented on #631
We tried again to deploy AIAP in a Azure VM and we cannot recreate the same issue. So this issue is not reproducible.

[2021-10-19 13:14] pallavgupta commented on #652
@eak13 pls assign this issue to me. Thanks.

[2021-10-19 21:14] raliev12 opened #657 "Install latest docker version within build_gate.sh script"
**Problem description (if applicable)**
We currently install and use older version of docker packages: [docker.io runc](https://github.com/airshipit/airshipctl/blob/master/roles/docker-install/tasks/main.yaml#L18-L19)
They are outdated and must be replaced by new ones: [docker-ce docker-ce-cli containerd.io](https://docs.docker.com/engine/install/ubuntu/)

**Proposed change**
Modify appropriate an

[2021-10-20 21:21] eak13 opened #658 "Enable extraction of target/workload cluster artifacts"
As a prerequisite to decommissioning the existing script-based airshipctl gates and moving to use AiaP, we need to enable the extraction of target/workload cluster artifacts (logs etc).

Suggested approach is to reuse the existing gate scripting that does this, perhaps extracting the kubeconfig out of the runner container (if that can be made to work), or running the collector script inside the ru

[2021-10-20 21:23] eak13 opened #659 "AIAP: Shift gates to use AIAP"
We need to shift our upstream gates to use AIAP exclusively as the functional testing gate in our Airshipctl Zuul and Jenkins systems, so that we are using the same testing mechanism end to end. This requires #658 to be in place first before this can be implemented.

[2021-10-20 21:25] eak13 opened #660 "AIAP: Documentation redirect"
We need to change the documentation so the removed AIAP link in docs redirects to the new link. This will satisfy Bing’s cached #1 search result & ensure the correct documentation appears.

[2021-10-22 13:02] patilsuraj767 opened #661 "source|target version replacement for qcow_bundle is missing."
**Describe the bug**
In [ironic-deployment-versions-replacements](https://github.com/airshipit/airshipctl/blob/master/manifests/function/ironic-deployment/v0.5.0/replacements/versions.yaml) source|target replacement for qcow_bundle is missing because of which qcow_bundle  version mentioned in `airshipctl-base-catalogues/versions-airshipctl.yaml` is not reflecting  in capm3-ironic deployment templa

[2021-10-26 16:38] manojkva opened #662 "AIAP : Add support for IPV6 infra to test Airship-in-a-pod in Zuul Gates"
The current test in Zuul Gates for AIAP is limited to IPV4. With the new changes to support dualstack, there is need to upgrade the Zuul Gates setup to provide a IPV6 infra to ensure test for each of IPV4/IPV6  and dualstack (IPV4+IPV6) capabilities.

[2021-11-02 09:55] patilsuraj767 opened #663 "10_build_gate.sh fails to locate ensure-docker ansible role"
**Describe the bug**
Getting below error while running ./tools/gate/10_build_gate.sh
[code]

[2021-11-02 09:56] patilsuraj767 commented on #663
Please assign this issue to me.

[2021-11-02 10:01] patilsuraj767 commented on #663
PS - https://review.opendev.org/c/airship/airshipctl/+/816314

[2021-11-02 13:34] manojkva commented on #662
Working PS = https://review.opendev.org/c/airship/airshipctl/+/816089

[2021-11-03 14:11] eak13 commented on #589
https://review.opendev.org/c/airship/image-builder/+/812013/ merged

[2021-11-03 14:11] #589 closed

[2021-11-03 14:13] eak13 commented on #647
Patchset https://review.opendev.org/c/airship/airshipctl/+/811714 has merged.

[2021-11-03 15:53] rkjain commented on #638
This patchset can be closed. The work for this ps overlaps with changes done by snehal for capdv1alpha4 (k8s v1.21)work (https://github.com/airshipit/airshipctl/issues/647). This patchet focused on changing the cluster templates for v1alpha3 and k8sv1.21. Now, that the cluster templates have already moved to v1alpha4, this work is not required.

[2021-11-03 16:20] eratnch commented on #599
PS related to this https://review.opendev.org/c/airship/airshipctl/+/812133 is ready for review.
The other PS  https://review.opendev.org/c/airship/airshipctl/+/811714 is already merged.

[2021-11-03 16:37] lb4368 commented on #663
Patchset merged.  Closing

[2021-11-03 16:37] #663 closed

[2021-11-03 20:42] lb4368 commented on #647
Reopening awaiting merge of PS https://review.opendev.org/c/airship/airshipctl/+/812133

[2021-11-03 21:04] lb4368 commented on #637
PS: https://review.opendev.org/c/airship/airshipctl/+/811439

[2021-11-03 21:27] lb4368 commented on #600
Patchsets merged:
https://review.opendev.org/c/airship/airshipctl/+/810039
https://review.opendev.org/c/airship/airshipctl/+/812235

[2021-11-04 13:48] #600 closed

[2021-11-04 14:45] lb4368 commented on #638
Closing per above.  Issue covered in #599 and #647.

[2021-11-04 14:45] #638 closed

[2021-11-04 16:12] #564 closed

[2021-11-05 17:00] raliev12 opened #664 "`make manifests` target doesn't work"
**Describe the bug**
An attempt to regenerate CRDs using `make manifests` results in following error:

/root/go/bin/controller-gen crd:crdVersions=v1 rbac:roleName=manager-role webhook paths="./..." output:crd:artifacts:config=manifests/function/airshipctl-schemas
/root/go/pkg/mod/sigs.k8s.io/kustomize/kyaml@v0.11.0/resid/gvk.go:21:2: encountered struct field "isClusterScoped" without JSON tag in

[2021-11-05 20:14] raliev12 commented on #664
PS which solves the issue - https://review.opendev.org/c/airship/airshipctl/+/816768

[2021-11-05 20:26] aodinokov commented on #658
@eak13 , @michael-beaver
a little comment to this:

if I remember correctly our discussion on PTG we decided to PREPARE for that, but don't disable the script based approach until AIAP will be comfortable to work with by developers.
So it's ok to improve AIAP jobs, but please don't touch the legacy job :)
This is just to make sure that we won't turn them off based on the description of that task :

[2021-11-08 17:34] shon-phand commented on #483
Is this  still a valid issue? I can see we have GenericContainer/Phase-helpers in place to check if ephemeral node is running state and then only deployment proceeds further.  If not what should be the approach to tackle this issue.

[2021-11-08 17:55] raliev12 opened #665 "Create zuul job which performs make generate/make manifests"
**Problem description (if applicable)**
Currently we don't have any checks whether `make manifests` and `make generate` targets work or not. Additionally, if a patchset introduce API changes, we do not enforce whether the appropriate changes were committed in autogenerated files.

**Proposed change**
Create a zuul job which will run `make generate` and `make manifests` targets and enforce that all

[2021-11-08 18:12] raliev12 opened #666 "Develop new kubeconfig workflow"
**Problem description (if applicable)**
Current kubeconfig management and workflow in airshipctl has outdone itself.
There are several common problems that we have with kubeconfigs right now:
1. kubeconfigs are generated and dumped to filesystem per each phase, however it only slows deployment process and adds unnecessary complication since most of the time kubeconfig remains the same and we need

[2021-11-08 18:20] raliev12 commented on #666
The issue can be assigned to me.

[2021-11-08 21:59] lb4368 commented on #483
@shon-phand   I tend to agree.  This issue was written before the full phase plan was implemented with the GenericContainer phases to check that the ephemeral cluster is up and is probably out-of-date.  The only thing to consider would be if we would want the remote-direct task and check to be within the same phase, but I don't think this is necessary at this time.  I will go ahead and close this,

[2021-11-08 21:59] #483 closed

[2021-11-10 07:02] raliev12 opened #667 "Allow to resume phase plan execution from a certain phase"
**Problem description (if applicable)**
It's a common scenario when `airshipctl plan run` command fails before finish. If desired, the user should be able to resume the execution of the plan from a certain phase.

**Proposed change**
Introduce `--resume-from <phase_name>` CLI option for the `plan run` subcommand, which will skip all phases in the plan before the specified one.

**Potential impacts

[2021-11-10 07:15] dinesh14nish commented on #667
Can you please assign this to me.

[2021-11-10 08:31] raliev12 commented on #667
I'm sorry, but I already prepared a solution for this one - https://review.opendev.org/c/airship/airshipctl/+/817361

[2021-11-10 12:51] sanjib-35 commented on #503
Could please assign to me for docker-test-site if noone has worked on this?

[2021-11-10 13:57] lb4368 commented on #661
@patilsuraj767   Since patchset is merged can this be closed?

[2021-11-10 15:09] eak13 commented on #666
Review on next design call.

[2021-11-10 15:12] eak13 commented on #661
Closing per patchset merge

[2021-11-10 15:12] #661 closed, assigned to patilsuraj767

[2021-11-10 15:17] gtsteffaniak commented on #545
assign to me please

[2021-11-11 11:48] dinesh14nish commented on #598
Change made to https://review.opendev.org/c/airship/airshipctl/+/800827

[2021-11-11 20:38] mf4716 commented on #544
@vladiskuz , @joshuaherrera , Relates to: #597 is mentioned in the commit message for the PS above -  https://review.opendev.org/c/airship/airshipctl/+/805619.  Is 805619 related to this 544 issue here, or 597?

[2021-11-11 20:46] gtsteffaniak commented on #544
please assign to me

[2021-11-11 23:50] #647 closed

[2021-11-12 13:45] lb4368 commented on #599
@eratnch   Above patchsets are merged.  Can this be closed?

[2021-11-12 14:46] eratnch commented on #599
@lb4368 yes, this can be closed.

[2021-11-12 14:54] #599 closed

[2021-11-12 15:43] sanjib-35 commented on #625
please assign to me

[2021-11-12 16:40] #664 closed

[2021-11-15 22:20] #598 closed

[2021-11-15 23:53] raliev12 commented on #545
Per Slack discussion, please assign this issue to me for finalizing.

[2021-11-15 23:53] raliev12 commented on #544
Per Slack discussion, please assign this issue to me for finalizing.

[2021-11-16 02:40] dinesh14nish commented on #598
PS https://review.opendev.org/c/airship/airshipctl/+/800827 is merged.

[2021-11-17 21:54] #641 closed

[2021-11-19 01:41] #544 closed

[2021-11-19 01:41] #545 closed

[2021-11-19 01:41] #597 closed

[2021-11-19 15:10] sshiba commented on #621
Here is the url for WIP documentation: https://hackmd.io/qSLa-qb5SBOuz5I-d6I1Pg.
Note that this document was not read proof but it is an initial draft.

[2021-11-19 16:09] sshiba commented on #621
Also documented how to setup the testing environment with [Metal3-dev-env](https://hackmd.io/5g5JzFpUTJynBU-Ak5AYQQ) here.

[2021-11-19 19:27] gedrivera commented on #660
Can no longer replicate the issue. After redundant readme was removed, links are now pointing to the correct AIAP documentation as first result. Correct link is now showing as Bing #1 search result, and have cross-referenced with other browsers as well. This story can be closed out.

[2021-11-24 09:39] sanjib-35 commented on #625
Tried to deploy AIAP multiple times on local VM and could not reproduce the same issue.
As discussed with Ian, we can close this issue.

[2021-11-24 15:26] #625 closed

[2021-11-29 12:38] eak13 commented on #660
Closing per above.

[2021-11-29 12:38] #660 closed

[2021-11-30 20:38] joshuaherrera commented on #471
I can work on this, please assign to me.

[2021-11-30 21:04] aodinokov commented on #471
@joshuaherrera , I don't think it's relevant anymore,
since we copied runfn and plan to have only 1 implementation that can do everything instead of 2: Airship-based and kyaml-based as we had before.

cc @raliev12

[2021-11-30 22:00] joshuaherrera commented on #471
@aodinokov ok if this isn't relevant I will work on another issue. Thank you.

[2021-12-01 00:22] sshiba commented on #621
@eak13 , the [hackmd document](https://hackmd.io/qSLa-qb5SBOuz5I-d6I1Pg?both) describing the upgrading process has been completed and ready for your review.

[2021-12-01 18:52] eak13 commented on #471
@aodinokov do we want to go ahead & close this then? Thanks.

[2021-12-01 19:03] joshuaherrera commented on #582
I have capacity to work on this, please assign to me.

[2021-12-01 21:42] aodinokov commented on #471
We were supposed to get rid of Airship type of generic containers in https://github.com/airshipit/airshipctl/issues/597
Since it's closed, I guess we can close this as well.

cc: @raliev12

[2021-12-02 15:41] sanjib-35 commented on #593
please assign to me

[2021-12-03 16:17] sirajyasin commented on #654
This Issue can be marked completed/Closed. Both the related PSs are merged now.

[2021-12-03 16:30] eak13 commented on #654
closing per merge

[2021-12-03 16:30] #654 closed

[2021-12-03 22:59] #658 closed

[2021-12-06 14:33] sirajyasin commented on #659
I can see the issue #658 is now completed. I can test log extraction feature and enable voting for aiap zuul gate. can someone assign this issue to me ?

[2021-12-06 16:35] michael-beaver commented on #659
@sirajyasin Sorry I didn't get this assigned to me, I am already working this as well as #658

[2021-12-17 15:20] pallavgupta commented on #228
@eak13  Pls assign it to me. PS https://review.opendev.org/c/airship/airshipctl/+/816844

[2021-12-17 15:21] pallavgupta commented on #652
https://review.opendev.org/c/airship/airshipctl/+/816844

[2021-12-21 01:29] #656 closed

[2021-12-21 08:23] #662 closed

[2021-12-21 12:23] #665 closed

[2021-12-22 16:09] gtsteffaniak commented on #651
Could you assign to me?

[2022-01-07 21:11] wahlstedtw commented on #645
Patchset was merged to solve this issue: https://review.opendev.org/c/airship/airshipctl/+/820580

[2022-01-07 21:12] eak13 commented on #645
Thanks. we can close this one out

[2022-01-07 21:12] #645 closed

[2022-01-11 16:24] gtsteffaniak commented on #651
PS: https://review.opendev.org/c/airship/airshipctl/+/824200/

[2022-01-19 17:47] joshuaherrera commented on #659
This related patchset (https://review.opendev.org/c/airship/airshipctl/+/824738) is needed so that the /var/local-path-provisioner exists for the persistent volume and persistent volume claim.

The Zuul job was timing out because this directory was not found. With this PS, the AIAP Zuul job no longer times out, but it seems to still fail, so the failures would need to be resolved before shifting t

[2022-01-21 17:20] gtsteffaniak commented on #651
@eak13 This PS is still active and needs reviews, but I have moved away from the feature team working on this. Someone else may need to take ownership for merging.

[2022-02-02 06:55] patilsuraj767 opened #669 "Fail to create kubeval-validator image."
**Describe the bug**
Creating kubeval-validator image from Dockerfile fails while building airshipctl using 10_build_gate.sh.

**Steps To Reproduce**
Run ./tools/gate/10_build_gate.sh

Below errors are observed -

[code]

[code]

[2022-02-02 06:55] patilsuraj767 commented on #669
Please assign this issue to me.

[2022-02-02 07:10] patilsuraj767 commented on #669
Proposed solution:
Airshipctl PS: [https://review.opendev.org/c/airship/airshipctl/+/827417](https://review.opendev.org/c/airship/airshipctl/+/827417)

[2022-02-25 15:48] #602 closed

[2022-02-25 15:48] #606 closed

[2022-03-09 22:24] #228 closed

[2022-03-09 22:24] #652 closed

[2022-03-29 15:29] lianzxu opened #670 "namespace-v1.json is missing when running "airshipctl plan validate deploy-gating""
**Describe the bug**

We are in the process of installing airship following the instructions at https://docs.airshipit.org/airship2/site-deployment.html. We got stuck at the step of "Validating Documents".

It gives error:

stdin: Failed initializing schema https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master//v1.18.6-standalone-strict/namespace-v1.json: Get "https://raw.githubuse

[2022-03-30 19:34] lianzxu commented on #670
I found the unreachable directory is referenced in airshipctl/krm-functions/kubeval-validator/image/main.go:

defaultSchemaLocation       = "https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/"

I also found in GutHub the new schema location:

"https://raw.githubusercontent.com/louygan/kubernetes-json-schema_yannh/master/"

I tried to build airshipctl binary following instructio

[2022-03-31 20:59] lianzxu commented on #670
I updated the defaultSchemaLocation to point to the new one: https://raw.githubusercontent.com/louygan/kubernetes-json-schema_yannh/master. But I still have errors at arishipctl/tools/validate_docs \< site \> . It might be related to the proxy setting but I do have http proxy and https proxy set up on my machine. I am able to curl the address "https://raw.githubusercontent.com/louygan/kubernetes-j

[2022-04-01 23:07] lianzxu commented on #670
Is there any way to pass http_proxy/https_proxy to airshipctl command? I tried "https_proxy=<ip:port> airshipctl --airshipconf /tmp/tmp.sI2TQuBUna/\<site\>.cfg plan validate deploy-gating" but it didn't help.

[2022-04-05 19:21] lianzxu commented on #670
The issue was fixed by adding the following lines in /opt/airship/airshipctl/krm-functions/kubeval-vali
dator/image/main.go:

func main() {

        os.Setenv("HTTPS_PROXY", "IP:port")

.....
}

[2022-04-05 19:21] #670 closed